﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolViewModel
@{
    int readmode = (Model.pageMode == "EDIT") ? 0 : 1;
    if (TempData["isCMVP"] == null) {
        TempData["isCMVP"] = false;
    }
    if (TempData["isSCVP"] == null) {
        TempData["isSCVP"] = false;
    }
    if (TempData["isTNVP"] == null) {
        TempData["isTNVP"] = false;
    }
}
@using (Html.BeginForm()) {
    <div class="wrapper-detail">
        <div>
            <h1>Consensus approval</h1>
        </div>
        <form action="" method="post" enctype="multipart/form-data">

            @Html.Hidden("hdfSCVPAction")
            @Html.Hidden("pageType")
            @Html.Hidden("hdfNoteTNVPAction")
            @Html.Hidden("EventButton", "0")
            @Html.HiddenFor(model => model.comment.scep_flag)
            @Html.HiddenFor(model => model.comment.scsc_flag)
            @Html.HiddenFor(model => model.comment.revise_scvp)
            @Html.HiddenFor(model => model.comment.revise_cmvp)
            @Html.HiddenFor(model => model.comment.revise_tnvp)
            <h2>Request information</h2>
            <hr />
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.name, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Purchase no.</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.purchase_no, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Area/unit</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.area_unit, new { @class = "form-control essential_submit", @readonly = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Workflow status</label>
                            <div class="col-md-6">
                                @if (((bool)TempData["isCMVP"] || (bool)TempData["isSCVP"]) && Model.requester_info.workflow_status != "CANCEL") {
                                    if (Model.requester_info.status_cmvp != null && (Model.requester_info.status_cmvp == "CMVP Request to Revise" || Model.requester_info.status_cmvp == "REVISE PURCHASE COMMENT") 
                                        && (bool)TempData["isCMVP"]) {
                                        @Html.TextBoxFor(model => model.requester_info.status_cmvp, new { @class = "form-control essential_submit", @readonly = "true" })
                                        @Html.HiddenFor(model => model.requester_info.status_sc_description)
                                        @Html.Hidden("requester_info.currentStatus", @Model.requester_info.status_sc_description)
                                    } else if ((bool)TempData["isCMVP"]) {
                                        @Html.TextBoxFor(model => model.requester_info.status_sc_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                        @Html.Hidden("requester_info.currentStatus", @Model.requester_info.status_sc_description)
                                    } else {
                                        @Html.TextBoxFor(model => model.requester_info.status_sc_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                        @Html.Hidden("requester_info.currentStatus", @Model.requester_info.status_sc)
                                    }
                                    @Html.HiddenFor(model => model.requester_info.status_sc)
                                } else if ((bool)TempData["isTNVP"]) {
                                    @Html.TextBoxFor(model => model.requester_info.status_tn_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                    @Html.HiddenFor(model => model.requester_info.status_tn)
                                    @Html.Hidden("requester_info.currentStatus", @Model.requester_info.status_tn_description)
                                } else {
                                    @Html.TextBoxFor(model => model.requester_info.workflow_status_description, new { @class = "form-control essential_submit", @readonly = "true" })
                                    @Html.HiddenFor(model => model.requester_info.workflow_status)
                                    @Html.Hidden("requester_info.currentStatus", @Model.requester_info.workflow_status_description)
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Create date/time</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.requester_info.date_purchase, new { @class = "form-control essential_submit input-date-picker date_purchase", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="display:none;">
                            <label class="col-md-3 control-label">Workflow priority</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.requester_info.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.requester_info.workflow_priority), "-- Select --", new { @class = "form-control", @style = "display:none" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h2>Crude information</h2>
                    <hr />
                    <table id="CrudeInformation" class="table table-hover display" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width:100px">Crude name</th>
                                <th rowspan="2" style="width:50px">Country</th>
                                <th rowspan="2" style="width:100px">Buying type</th>
                                <th rowspan="2" style="width:100px">Loading month</th>
                                @if (Model.stateModel == "1") {
                                    <th colspan="2" style="width:200px">Discharging date</th>
                                } else {
                                    <th rowspan="2" style="width:100px">Discharging date</th>
                                }
                                @*<th rowspan="2" style="width:50px">Country</th>*@
                                @*<th rowspan="2" style="width:100px">LP Result</th>
                                    <th rowspan="2" style="width:100px">Final CAM</th>*@
                                <th colspan="3" style="width:300px">Proposed by CMCS</th>
                                <th colspan="1" style="width:100px">Recommended by SCEP</th>
                                @*@if (Model.stateModel == "1")
                                    {
                                        <th colspan="2" style="width:200px">Discharging Date</th>
                                    }
                                    else
                                    {
                                        <th rowspan="2" style="width:100px">Discharging Date</th>
                                    }*@
                                <th rowspan="2" style="width:100px">LP result</th>
                                <th rowspan="2" style="width:100px">Final CAM</th>
                            </tr>
                            <tr>
                                <th style="width:100px">Propose price ($/bbl)</th>
                                <th style="width:100px">Volume (kbbl)</th>
                                <th style="width:100px">Volume (kT)</th>
                                <th style="width:100px">Maximum buying price($/bbl)</th>
                                @if (Model.stateModel == "1") {
                                    <th style="width:100px">From</th>
                                    <th style="width:100px">To</th>
                                }
                        </thead>
                        <tbody>
                            <tr>
                                @Html.HiddenFor(model => model.crude_info.benchmark_price)
                                @Html.HiddenFor(model => model.crude_info.crude_ref)
                                @Html.HiddenFor(model => model.crude_info.incoterm)
                                @Html.HiddenFor(model => model.crude_info.loading_date_from)
                                @Html.HiddenFor(model => model.crude_info.loading_date_to)
                                @Html.HiddenFor(model => model.crude_info.origin)
                                @Html.HiddenFor(model => model.crude_info.premium)
                                @Html.HiddenFor(model => model.crude_info.purchased_by)
                                @Html.HiddenFor(model => model.crude_info.purchase_date)
                                @Html.HiddenFor(model => model.crude_info.purchase_method)
                                @Html.HiddenFor(model => model.crude_info.quantity_kbbl_max)
                                @Html.HiddenFor(model => model.crude_info.supplier)
                                @Html.HiddenFor(model => model.crude_info.tpc_plan_month)
                                @Html.HiddenFor(model => model.crude_info.tpc_plan_year)
                                @Html.HiddenFor(model => model.comment.cmcs_request)
                                @Html.HiddenFor(model => model.comment.evpc)
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.crude_name)
                                    @Model.crude_info.crude_name
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.origin)
                                    @Model.crude_info.origin
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.purchase_type)
                                    @Model.crude_info.purchase_type
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.tempLoadingDate)
                                    @Model.tempLoadingDate
                                </td>
                                @if (Model.stateModel == "1") {
                                    <td>@Html.TextBoxFor(model => model.crude_info.discharging_date_from, new { @class = "form-control input-date-picker datedischarging" })</td>
                                    <td>@Html.TextBoxFor(model => model.crude_info.discharging_date_to, new { @class = "form-control input-date-picker datedischarging" })</td>
                                } else {
                                    <td>
                                        @Model.crude_info.discharging_date_from to @Model.crude_info.discharging_date_to
                                        @Html.HiddenFor(model => model.crude_info.discharging_date_from)
                                        @Html.HiddenFor(model => model.crude_info.discharging_date_to)
                                    </td>
                                }
                                @*<td>
                                        @Html.HiddenFor(model => model.crude_info.origin)
                                        @Model.crude_info.origin
                                    </td>*@
                                @*<td><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">[View]</a></td>
                                    <td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.formula_price)
                                    @Model.crude_info.formula_price
                                </td>
                                @Html.HiddenFor(model => model.crude_info.quantity_kbbl_max)
                                @Html.HiddenFor(model => model.crude_info.quantity_kt_max)
                                <td>@Model.crude_info.quantity_kbbl_max</td>
                                <td>@Model.crude_info.quantity_kt_max</td>
                                <td>
                                    @Html.HiddenFor(model => model.crude_info.benchmark_price)
                                    @Html.HiddenFor(model => model.crude_info.premium_maximum)
                                    @Html.HiddenFor(model => model.crude_info.incoterm)
                                    @string.Format("{0}+{1} {2}", Model.crude_info.benchmark_price, Model.crude_info.premium_maximum, Model.crude_info.incoterm)
                                </td>
                                @*@if (Model.stateModel == "1")
                                    {
                                        <td>@Html.TextBoxFor(model => model.crude_info.discharging_date_from, new { @class = "form-control input-date-picker datedischarging" })</td>
                                        <td>@Html.TextBoxFor(model => model.crude_info.discharging_date_to, new { @class = "form-control input-date-picker datedischarging" })</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Model.crude_info.discharging_date_from to @Model.crude_info.discharging_date_to
                                            @Html.HiddenFor(model => model.crude_info.discharging_date_from)
                                            @Html.HiddenFor(model => model.crude_info.discharging_date_to)
                                        </td>
                                    }*@
                                <td><a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">[View]</a></td>
                                @*<td><a href="javascript:void(0)" onclick="OpenModal()" data-toggle="modal" data-target=".bs-example-modal-lg2">[View]</a></td>*@
                                <td><a target="_blank" href="FinalCAM?tempFinalCAM=@(Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM_Encrypt) ? Model.tempFinalCAM_Encrypt : string.Empty)">[View]</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (!(bool)TempData["isTNVP"]) {
                @*<h2>CMCS Comment on request date</h2>
                    <hr />
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.comment.cmcs_request, new { @class = "form-control txtExplanationROnly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <h2>CMCS comment on proposed discharge date</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.comment.cmcs_propose_discharge, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>SCEP comment</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.comment.scep, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if ((bool)TempData["isTNVP"]) {
                <h2>TN comment</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.comment.tn, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (!(bool)TempData["isTNVP"]) {
                <h2>SCSC comment</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.comment.scsc, new { @class = "form-control txtExplanationROnly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if ((bool)TempData["isCMVP"]) {
                <h2 id="show_cmvp_error" style="display:none;"><span class="label label-danger">CMVP comment, please input value.</span></h2>
                <h2 id="hide_cmvp_error">CMVP comment</h2>
            }
            @if ((bool)TempData["isTNVP"]) {
                <h2 id="show_tnvp_error" style="display:none;"><span class="label label-danger">TNVP comment, please input value.</span></h2>
                <h2 id="hide_tnvp_error">TNVP comment</h2>
            }
            @if ((bool)TempData["isSCVP"]) {
                <h2 id="show_scvp_error" style="display:none;"><span class="label label-danger">SCVP comment, please input value.</span></h2>
                <h2 id="hide_scvp_error">SCVP comment</h2>
            }
            <hr />
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                @if ((bool)TempData["isCMVP"]) {
                                    if (Model.pageMode == "READ") {
                                        @Html.TextAreaFor(m => m.comment.cmvp, new { @class = "form-control txtExplanationROnly" })
                                    } else {
                                        @Html.TextAreaFor(m => m.comment.cmvp, new { @class = "form-control txtExplanation" })
                                    }
                                } else {
                                    @Html.HiddenFor(model => model.comment.cmvp)
                                }
                                @if ((bool)TempData["isTNVP"]) {
                                    if (Model.pageMode == "READ") {
                                        @Html.TextAreaFor(m => m.comment.tnvp, new { @class = "form-control txtExplanationROnly" })
                                    } else {
                                        @Html.TextAreaFor(m => m.comment.tnvp, new { @class = "form-control txtExplanation" })
                                    }
                                } else {
                                    @Html.HiddenFor(model => model.comment.tnvp)
                                }
                                @if ((bool)TempData["isSCVP"]) {
                                    if (Model.pageMode == "READ") {
                                        @Html.TextAreaFor(m => m.comment.scvp, new { @class = "form-control txtExplanationROnly" })
                                    } else {
                                        @Html.TextAreaFor(m => m.comment.scvp, new { @class = "form-control txtExplanation" })
                                    }
                                } else {
                                    @Html.HiddenFor(model => model.comment.scvp)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-button" id="buttonDiv">
                @if (Model.comment.lp_run_attach_file != "") {
                    @Html.Hidden("fileSupportingDocument", Model.comment.lp_run_attach_file as object)
                } else {
                    @Html.Hidden("fileSupportingDocument")
                }
                @if (Model.buttonMode == "AUTO") {
                    @*<input id="btnDraft_TN" type="submit" value="DRAFT" class="btn btn-primary" name="action:SaveDraft"/>
                        <input id="btnSubmit_TN" type="submit" value="SUBMIT" class="btn btn-primary" name="action:Submit" />*@
                    @*<input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />*@
                    <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
                } else {
                    @Html.Hidden("hdfEventClick")
                    @Html.Raw(@Model.buttonCode)
                }
            </div>
        </form>
    </div>
    @Html.HiddenFor(a => a.crude_info)

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title" id="myLargeModalLabel">LP Result</h3>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-md-3">Maximum buying price ($/bbl) :</label>
                                    <label class="col-md-9">@string.Format("{0}+{1} {2}", Model.crude_info.benchmark_price, Model.crude_info.premium_maximum, Model.crude_info.incoterm)</label>
                                    @*@Model.crude_info.formula_price*@
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-md-3">Rusult summary :</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(m => m.comment.lp_run_summary, new { @class = "form-control txtExplanationROnly" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Attach files</label>
                                        @if (Model.pageMode == "EDIT" && (bool)TempData["isCanEditAttachFile"]) {
                                            @*<button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>*@
                                            <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div id="fileSupportingDocumentUploaded" class="col-md-9 col-md-offset-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="width: 80%; padding: 17px; padding-right: 0px; " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title" id="myLargeModalLabel">Final CAM</h3>
                </div>
                <div class="modal-body" style="height:500px">
                    @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM)) {
                        @Html.Partial("GenerateView", Model.tempFinalCAM ?? string.Empty)
                    } else {
                        @Html.Raw("Cannot load the final CAM document, this crude and country is not found in COOL system.")
                        <br />
                        @Html.Raw("For more information, please contact administrator.")
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
                    @if (Model != null && !string.IsNullOrEmpty(Model.tempFinalCAM)) {
                        <button type="button" class="btn btn-primary clickable-file" style="float:right;" data-dismiss="modal" data-href="@Model.tempFinalCAM">Print</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["res_message"] != null) {
    if (TempData["returnPage"] != null) {
        <script type="text/javascript">
    OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
       $("#EventButton").val("0");
   });
        </script>
    } else {
        <script type="text/javascript">
   OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

@* For attach files *@
<script>

        // DOCUMENT READY //
    $(function () {
        LoadFileSupportingDocument();


    if (@Json.Encode(@TempData["isCMVP"]) === true) {
            $("#pageType").val("CMVP");
        }

        if (@Json.Encode(@TempData["isSCVP"]) === true) {
            $("#pageType").val("SCVP");
        }


        if (@Json.Encode(@TempData["isTNVP"]) === true) {
            $("#pageType").val("TNVP");
        }

    });

    // SAVE ITEM: FILE SUPPORTING DOCUMENT //
    function SaveFileSupportingDocument() {
        $('#fileSupportingDocument').val('');
        var supportingDocument = "";
        $('.SupportingDocument').each(function () {
            var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
            supportingDocument += $(this).attr('value') + "|";
        });
        $('#fileSupportingDocument').val(supportingDocument);
    }

    // LOAD ITEM: FILE SUPPORTING DOCUMENT //
    function LoadFileSupportingDocument() {
        if ($('#fileSupportingDocument').val()) {
            var ItemFile = $('#fileSupportingDocument').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(ItemFile[i]));
                }
            }
            DeleteFileSupportingDocument();
        }

    }
    // UPLOAD FILE SUPPORTING DOCUMENT //
    function UploadFileSupportingDocument() {
        $("#fileSupportingDocumentFile").click();
    }

    $('#fileSupportingDocumentFile').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000063",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path));
                            DeleteFileSupportingDocument();
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    // DELETE ITEM: FILE SUPPORTING DOCUMENT //
    function DeleteFileSupportingDocument() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
    }

    var doc_count = 0;
    // MAKE ITEM: FILE SUPPORTING DOCUMENT //
    function MakeUploadFileSupportingDocument(filePath) {
        var i = 0, length = filePath.length;
        var tmpFilePath = filePath;
        for (i; i < length; i++) {
            tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
        }
        var fullFileName = tmpFilePath.split("|");
        var fileName = fullFileName[fullFileName.length - 1];
        var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
        itemFileSupportingDocument += '<table><tr><td>';
        itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
        @if (Model.pageMode == "EDIT" && (bool)TempData["isCanEditAttachFile"])
        {
            <text>
            itemFileSupportingDocument += '<div class="cancel">';
            itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove"></span>';
            itemFileSupportingDocument += '</div>';
            </text>
        }
        itemFileSupportingDocument += '<a target="_blank" href="' + getWebSitePath() + "/" + filePath + '">' + fileName + '</a>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</td><td>';
        itemFileSupportingDocument += '</td><tr><table>';
        return itemFileSupportingDocument;
    }

        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
</script>

<script>
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $(".clickable-file").click(function () {
        var path = getWebSitePath();
        window.document.location = path + '/' + $(this).data("href");
    });

    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    function OpenModal() {
        $("#spreadsheet_SSTC_T1").click();
        $("#spreadsheet_SSTC_T0").click();

        //setTimeout(function () {
        //    $("#spreadsheet_SSTC_T0").click();
        //}, 200);
    }

    function OpenBoxBungerPrompt(MSG, Event) {

       SaveFileSupportingDocument();
       if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
           if ($("#hdfEventClick").length != 0) {
               $("#hdfEventClick").val(Event);
           }
       }

       if (Event.toUpperCase() == "SUBMIT" || Event.toUpperCase() == "APPROVE") {
           if (!ValidateEssentialSubmit()) return false;
           RemoveValidateEssentialSubmit();

           bootbox.confirm({
               message: "Are you sure to submit?",
               buttons: {
                   confirm: {
                       label: 'Yes',
                   },
                   cancel: {
                       label: 'No',
                   }
               },
               callback: function (result) {
                   if (result) {
                       $('form').attr('target', '_self');
                       $("#btnMANUAL").click();
                       LoadingProcess();
                   }
               }
           });
       }
       else if (Event.toUpperCase() == "REJECT") {
           //if (!ValidateEssential()) return false;
           MSG = 'Warning : If you "REJECT", this workflow will be terminated and required be created again.<br\>'+
               'In case you wish to only revise your subordinate work, please click "REQUEST TO REVISE" instead.<br\><br\>' +
               'Please state reasons for reject below.';
           bootbox.prompt(MSG, function (result) {
               if (result === null || result === "") {
                   //Do nothing (cancel button pressed)
                   if (result === "") {
                       OpenBoxPopup("Please Key Reason for Reject.");
                   }
                   $('#EventButton').val("0");
               } else {

                   $("#hdfNoteTNVPAction").val(result);

                   $('form').attr('target', '_self');
                   if (Event == "SaveDraft") {
                       $("#btnSaveDraft").click();
                   } else {
                       $("#btnMANUAL").click();
                   }
                   LoadingProcess();
               }
           });
       }
       else if (Event.toUpperCase() == "REQUEST TO REVISE") {
           //if (!ValidateEssential()) return false;
           MSG = 'Note : The transaction can be resubmitted by your subordinate and reapproved by you again.<br\><br\>' +
               'Please state reasons for revise below.';
           if ("@TempData["isSCVP"]" == "True") {
               var reviseHtml = '<form class="bootbox-form"><div class="form-group"><div><div class="col-md-6"><input class="bootbox-input bootbox-input-checkbox" type="checkbox" id="ChkSCEP" value="Request to SCEP"/>Request to SCEP</div><div class="col-md-6"><input class="bootbox-input bootbox-input-checkbox" type="checkbox" id="ChkSCSC" value="Request to SCSC"/>Request to SCSC</div></div></div><div class="form-group"><input class="bootbox-input bootbox-input-text form-control" autocomplete="off" id="reason" type="text"></div></form>';
               bootbox.dialog({title : MSG , message : reviseHtml,
                   buttons: {
                       'confirm': {
                           label: 'OK',
                           className: 'btn btn-primary pull-right',
                           callback: function (result) {
                               debugger;
                               if ($('#reason').val() === null || $('#reason').val() === "") {
                                   //Do nothing (cancel button pressed)
                                   if ($('#reason').val() === "") {
                                       OpenBoxPopup("Please key reason for revise.");
                                   }
                                   $('#EventButton').val("0");
                               } else {

                                   $("#hdfNoteTNVPAction").val($('#reason').val());
                                   if ($('#ChkSCEP').is(":checked"))
                                   {
                                       $('#comment_scep_flag').val("W");
                                   } else {
                                       $('#comment_scep_flag').val("");
                                   }
                                   if ($('#ChkSCSC').is(":checked"))
                                   {
                                       $('#comment_scsc_flag').val("W");
                                   } else {
                                       $('#comment_scsc_flag').val("");
                                   }
                                   if (!$('#ChkSCEP').is(":checked") && !$('#ChkSCSC').is(":checked")) {
                                       OpenBoxPopup("Please chosse either SCSC or SCEP.");
                                       $('#EventButton').val("0");
                                   } else {
                                       $('#comment_revise_scvp').val($('#reason').val());
                                       $('form').attr('target', '_self');
                                       if (Event == "SaveDraft") {
                                           $("#btnSaveDraft").click();
                                       } else {
                                           $("#btnMANUAL").click();
                                       }
                                       LoadingProcess();
                                   }
                                  
                               }
                           }
                       },
                       'cancel': {
                           label: 'Cancel',
                           className: 'btn btn-default pull-right'
                       }
                   }});
           }
           else if("@TempData["isTNVP"]" == "True"){
               bootbox.prompt(MSG, function (result) {
                   if (result === null || result === "") {
                       //Do nothing (cancel button pressed)
                       if (result === "") {
                           OpenBoxPopup("Please key reason for revise.");
                       }
                       $('#EventButton').val("0");
                   } else {

                       $('#comment_revise_tnvp').val(result);
                       $('form').attr('target', '_self');
                       if (Event == "SaveDraft") {
                           $("#btnSaveDraft").click();
                       } else {
                           $("#btnMANUAL").click();
                       }
                       LoadingProcess();
                   }
               });
           }
           else{
               bootbox.prompt(MSG, function (result) {
                   if (result === null || result === "") {
                       //Do nothing (cancel button pressed)
                       if (result === "") {
                           OpenBoxPopup("Please key reason for revise.");
                       }
                       $('#EventButton').val("0");
                   } else {

                       $('#comment_revise_cmvp').val(result);
                       $('form').attr('target', '_self');
                       if (Event == "SaveDraft") {
                           $("#btnSaveDraft").click();
                       } else {
                           $("#btnMANUAL").click();
                       }
                       LoadingProcess();
                   }
               });
           }

       }
           // CASE: SAVE DRAFT
       else {
           $('form').attr('target', '_self');
           if (Event == "Upload") {
               $("#btnUpload").click();
           } else if (Event == "SaveDraft") {
               $("#btnSaveDraft").click();
           } else if (Event == "Submit") {
               $("#btnSubmit").click();
           } else {
               $("#btnMANUAL").click();
           }
           LoadingProcess();
       }
    }

    function ValidateEssential() {
        var i = 0;



        if (@Json.Encode(@TempData["isCMVP"]) === true) {
            var editor_cmvp = tinyMCE.get('comment_cmvp');
            if (editor_cmvp) {
                var content_cmvp = editor_cmvp.getContent();
                if (content_cmvp == '') {
                    $("#show_cmvp_error").show();
                    $("#hide_cmvp_error").hide();
                    i++;
                }
                else {
                    $("#show_cmvp_error").hide();
                    $("#hide_cmvp_error").show();
                }
            }
            $("#hdfSCVPAction").val("CMVP");
        }

        if (@Json.Encode(@TempData["isSCVP"]) === true) {
            alert('test')
            var editor_scvp = tinyMCE.get('comment_scvp');
            if (editor_scvp) {
                var content_scvp = editor_scvp.getContent();
                if (content_scvp == '') {
                    $("#show_scvp_error").show();
                    $("#hide_scvp_error").hide();
                    i++;
                }
                else {
                    $("#show_scvp_error").hide();
                    $("#hide_scvp_error").show();
                }
            }
            $("#hdfSCVPAction").val("SCVP");
        }


        if (@Json.Encode(@TempData["isTNVP"]) === true) {
            var editor_tnvp = tinyMCE.get('comment_tnvp');
            if (editor_tnvp) {
                var content_tnvp = editor_tnvp.getContent();
                if (content_tnvp == '') {
                    $("#show_tnvp_error").show();
                    $("#hide_tnvp_error").hide();
                    i++;
                }
                else {
                    $("#show_tnvp_error").hide();
                    $("#hide_tnvp_error").show();
                }
            }
            $("#hdfSCVPAction").val("TNVP");
        }

        if (i > 0)
            return false;
        return true;
    }


    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }

    function ValidateEssentialSubmit() {
        RemoveValidateEssentialSubmit();
        var i = 0;

        $(".essential_submit").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input value.");
            }
        });
        if (i > 0)
            return false;
        return true;
    }

    function RemoveValidateEssentialSubmit() {
        $(".essential_submit").removeClass("input-error");
    }

   $(function () {
       tinymce.init({
           selector: '.txtExplanationROnly',
           theme: 'modern',
           plugins: ['textcolor colorpicker  '],
           height: 200,
           menubar: false,
           toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
           statusbar: true,
           image_advtab: true,
           paste_data_images: true,
           readonly: true,
           textcolor_map: [
               "000000", "Black",
               "993300", "Burnt orange",
               "333300", "Dark olive",
               "003300", "Dark green",
               "003366", "Dark azure",
               "000080", "Navy Blue",
               "333399", "Indigo",
               "333333", "Very dark gray",
               "800000", "Maroon",
               "FF6600", "Orange",
               "808000", "Olive",
               "008000", "Green",
               "008080", "Teal",
               "0000FF", "Blue",
               "666699", "Grayish blue",
               "808080", "Gray",
               "FF0000", "Red",
               "FF9900", "Amber",
               "99CC00", "Yellow green",
               "339966", "Sea green",
               "33CCCC", "Turquoise",
               "3366FF", "Royal blue",
               "800080", "Purple",
               "999999", "Medium gray",
               "FF00FF", "Magenta",
               "FFCC00", "Gold",
               "FFFF00", "Yellow",
               "00FF00", "Lime",
               "00FFFF", "Aqua",
               "00CCFF", "Sky blue",
               "993366", "Red violet",
               "FFFFFF", "White",
               "FF99CC", "Pink",
               "FFCC99", "Peach",
               "FFFF99", "Light yellow",
               "CCFFCC", "Pale green",
               "CCFFFF", "Pale cyan",
               "99CCFF", "Light sky blue",
               "CC99FF", "Plum"
           ]
       });

       tinymce.init({
           selector: '.txtExplanation',
           theme: 'modern',
           plugins: ['textcolor colorpicker  '],
           height: 200,
           menubar: false,
           toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
           statusbar: true,
           image_advtab: true,
           paste_data_images: true,
           readonly: @readmode,
           textcolor_map: [
               "000000", "Black",
               "993300", "Burnt orange",
               "333300", "Dark olive",
               "003300", "Dark green",
               "003366", "Dark azure",
               "000080", "Navy Blue",
               "333399", "Indigo",
               "333333", "Very dark gray",
               "800000", "Maroon",
               "FF6600", "Orange",
               "808000", "Olive",
               "008000", "Green",
               "008080", "Teal",
               "0000FF", "Blue",
               "666699", "Grayish blue",
               "808080", "Gray",
               "FF0000", "Red",
               "FF9900", "Amber",
               "99CC00", "Yellow green",
               "339966", "Sea green",
               "33CCCC", "Turquoise",
               "3366FF", "Royal blue",
               "800080", "Purple",
               "999999", "Medium gray",
               "FF00FF", "Magenta",
               "FFCC00", "Gold",
               "FFFF00", "Yellow",
               "00FF00", "Lime",
               "00FFFF", "Aqua",
               "00CCFF", "Sky blue",
               "993366", "Red violet",
               "FFFFFF", "White",
               "FF99CC", "Pink",
               "FFCC99", "Peach",
               "FFFF99", "Light yellow",
               "CCFFCC", "Pale green",
               "CCFFFF", "Pale cyan",
               "99CCFF", "Light sky blue",
               "CC99FF", "Plum"
           ]
       });
   });
</script>