﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolSearchViewModel
@{
    ViewBag.Title = "Search";

    List<SelectListItem> tpc_plan_month = new List<SelectListItem>();
    List<SelectListItem> loading_month = new List<SelectListItem>();
    loading_month.Add(new SelectListItem { Text = "All", Value = "All" });
    loading_month.Add(new SelectListItem { Text = "Jan", Value = "Jan" });
    loading_month.Add(new SelectListItem { Text = "Feb", Value = "Feb" });
    loading_month.Add(new SelectListItem { Text = "Mar", Value = "Mar" });
    loading_month.Add(new SelectListItem { Text = "Apr", Value = "Apr" });
    loading_month.Add(new SelectListItem { Text = "May", Value = "May" });
    loading_month.Add(new SelectListItem { Text = "Jun", Value = "Jun" });
    loading_month.Add(new SelectListItem { Text = "Jul", Value = "Jul" });
    loading_month.Add(new SelectListItem { Text = "Aug", Value = "Aug" });
    loading_month.Add(new SelectListItem { Text = "Sep", Value = "Sep" });
    loading_month.Add(new SelectListItem { Text = "Oct", Value = "Oct" });
    loading_month.Add(new SelectListItem { Text = "Nov", Value = "Nov" });
    loading_month.Add(new SelectListItem { Text = "Dec", Value = "Dec" });
    tpc_plan_month = loading_month;

    List<SelectListItem> tpc_plan_year = new List<SelectListItem>();
    List<SelectListItem> loading_year = new List<SelectListItem>();
    int year = DateTime.Now.Year;
    int max_year = year + 5;
    int min_year = year - 5;
    loading_year.Add(new SelectListItem { Text = "All", Value = "All" });
    for (int i = max_year; i >= min_year; i--)
    {
        loading_year.Add(new SelectListItem { Text = i + "", Value = i + "" });
    }
    tpc_plan_year = loading_year;
    string month_now = DateTime.Now.ToString("MMM");
}

<style>
    .status {
        display: block;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 20px;
        color: #0a7ab1;
        padding-top: 5px;
    }
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

@using (Html.BeginForm("SearchResult", "VCool", FormMethod.Post, new { @class = "form-horizontal", @name = "searchForm", @id = "searchForm" }))
{
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">TPC plan<span style="color:red">*</span></label>
                    <div class="col-md-3">
                            @Html.DropDownListFor(model => model.tpc_plan_month, tpc_plan_month, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                            @Html.DropDownListFor(model => model.tpc_plan_year, tpc_plan_year, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Loading</label>
                    <div class="col-md-6">
                        @*<input type="text" id="loading_date" value="@Model.loading_date" class="form-control essential input-date-picker" placeholder="DD-MMM-YYYY to DD-MMM-YYYY" maxlength="26" />*@
                        @Html.TextBoxFor(m => m.loading_date, new { @class = "form-control input-date-picker", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Crude name</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.crude_name, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Country/origin</label>
                    <div class="col-md-6">
                            @Html.TextBoxFor(model => model.origin, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="form-group">
    @if (Model.pageMode == "EDIT")
    {
        <div class="pull-left">
            @Html.ActionLink("Add", "Index", new { controller = "VCool" }, new { @class = "btn btn-success" })
        </div>
    }    
    <div class="pull-right">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
            <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date/status</th>
                        <th>Crude name</th>
                        <th>Country/origin</th>
                        <th>Purchase no.</th>
                        <th>Purchase date</th>
                        <th>Discharging date</th>
                        <th>Incoterm</th>
                        <th>Formula price</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.VCoolTransaction != null && Model.VCoolTransaction.Any())
                    {
                        foreach (var group in Model.VCoolTransaction)
                        {
                            <tr class="drafts" style="cursor: pointer;">
                                @if (group.status == "DRAFT")
                                {
                                    <td  class="clickable-row" data-href="../VCool?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else if (group.status == "WAITING RUN LP" || group.status == "WAITING APPROVE RUN LP" || group.status == "REVISE LP RUN" || group.status == "REVISE LP VERIFICATION" || group.status == "REVISE APPROVED RUN LP")
                                {
                                    <td  class="clickable-row" data-href="../VCool/LPRun?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else if (group.status == "WAITING PROPOSE ETA DATE" || group.status == "WAITING EDIT ETA DATE" || group.status == "WAITING APPROVE PRICE" || group.status == "WAITING CONFIRM PRICE" || group.status == "WAITING APPROVE SUMMARY" || group.status == "REVISE PROPOSE ETA")
                                {
                                    <td  class="clickable-row" data-href="../VCool/PCAFinalPrice?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>

                                }
                                else if (group.status == "WAITING CHECK TANK" || group.status == "WAITING APPROVE TANK" || group.status == "REVISE TANK AVAILABILITY" || group.status == "REVISE TANK VERIFICATION" || group.status == "REVISE TANK APPROVED")
                                {
                                    <td  class="clickable-row" data-href="../VCool/SCSCTank?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else if (group.status == "WAITING CHECK IMPACT")
                                {
                                    <td  class="clickable-row" data-href="../VCool/TNCheckTech?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else if (group.status == "WAITING CONFIRM PRICE" || group.status == "WAITING APPROVE PRICE")
                                {
                                    <td  class="clickable-row" data-href="../VCool/PCAFinalPrice?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else if (group.status == "WAITING CMVP SCVP APPROVE" || group.status == "WAITING TNVP APPROVE" || group.status == "CONSENSUS APPROVAL" || group.status == "CHECK IMPACT APPROVED" || group.status== "CHECK TANK APPROVED" || group.status== "WAITING SCVP APPROVE" || group.status == "WAITING CMVP APPROVE")
                                {
                                    <td  class="clickable-row" data-href="../VCool/Consensus?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }
                                else
                                {
                                    <td  class="clickable-row" data-href="../VCool?TranID=@group.Transaction_id_Encrypted&Tran_Req_ID=@group.Req_transaction_id_Encrypted&PURNO=@group.Purchase_no_Encrypted&Reason=@group.reason_Encrypted">@group.date_purchase <span class="status" style="font-size:medium">@group.status_description</span></td>
                                }


                                <td>@group.product_name</td>
                                <td>@group.origin</td>
                                <td>@group.purchase_no</td>
                                <td>@group.date_purchase</td>
                                <td>@group.discharging_period</td>
                                <td>@group.incoterm</td>
                                <td>@group.formula_p</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

@if (TempData["res_message"] != null)
            {
                if (TempData["returnPage"] != null)
                {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}


<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                {
                    "targets": [2],
                    "orderable": false
                }
            ],
            "scrollCollapse": true,
            "orderable": false,
            "bSort": false,
        });
    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $('#loading_date').dateRangePicker(
        {
            autoClose: true,
            singleDate: false,
            showShortcuts: false,
            format: 'DD-MMM-YYYY',
            time: { enabled: false }
        });
    //loading_date

</script>
