﻿@using ProjectCPAIEngine.Utilities;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VCoolTrackingViewModel
@{

    ViewBag.Title = "Workflow tracking";

    List<SelectListItem> tpc_plan_month = new List<SelectListItem>();
    List<SelectListItem> loading_month = new List<SelectListItem>();
    loading_month.Add(new SelectListItem { Text = "All", Value = "All" });
    loading_month.Add(new SelectListItem { Text = "Jan", Value = "Jan" });
    loading_month.Add(new SelectListItem { Text = "Feb", Value = "Feb" });
    loading_month.Add(new SelectListItem { Text = "Mar", Value = "Mar" });
    loading_month.Add(new SelectListItem { Text = "Apr", Value = "Apr" });
    loading_month.Add(new SelectListItem { Text = "May", Value = "May" });
    loading_month.Add(new SelectListItem { Text = "Jun", Value = "Jun" });
    loading_month.Add(new SelectListItem { Text = "Jul", Value = "Jul" });
    loading_month.Add(new SelectListItem { Text = "Aug", Value = "Aug" });
    loading_month.Add(new SelectListItem { Text = "Sep", Value = "Sep" });
    loading_month.Add(new SelectListItem { Text = "Oct", Value = "Oct" });
    loading_month.Add(new SelectListItem { Text = "Nov", Value = "Nov" });
    loading_month.Add(new SelectListItem { Text = "Dec", Value = "Dec" });
    tpc_plan_month = loading_month;

    List<SelectListItem> tpc_plan_year = new List<SelectListItem>();
    List<SelectListItem> loading_year = new List<SelectListItem>();
    int year = DateTime.Now.Year;
    int max_year = year + 5;
    int min_year = year - 5;
    loading_year.Add(new SelectListItem { Text = "All", Value = "All" });
    for (int i = max_year; i >= min_year; i--) {
        loading_year.Add(new SelectListItem { Text = i + "", Value = i + "" });
    }
    tpc_plan_year = loading_year;
    string month_now = DateTime.Now.ToString("MMM");
}

<style type="text/css">

    .table > tbody > tr > td {
        vertical-align: middle;
    }

        .table > tbody > tr > td > div {
            /*float: left;
            padding: 5px;*/
            min-width: 50px;
        }

    div.tooltip-inner {
        text-wrap: normal;
        text-align: left;
        font-size: inherit;
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: none;
    }

    span.approve:before {
        content: '\f111';
        display: inline-block;
        color: #2e8b57;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        align-items: center;
        text-align: center;
    }

    span.waiting:before {
        content: '\f111'; /*'\f058';*/
        display: inline-block;
        color: #ffa500;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.noapprove:before {
        content: '\f111'; /*'\f058';*/
        display: inline-block;
        color: #ff6a6a;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.cancel-status:before {
        content: '\f111'; /*'\f058';*/
        display: inline-block;
        color: #C0C0C0;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.cancel:before {
        content: '\f014';
        display: inline-block;
        color: #e21789;
        font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ui-autocomplete {
        max-height: 200px;
        /*overflow-y: auto;*/
        /* prevent horizontal scrollbar */
        /*overflow-x: hidden;*/
        overflow-y: auto;
        overflow-x: hidden;
        width: 400px;
        font-size: 10pt;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }

    .status {
        display: block;
        font-family: 'HelvethaicaMonX-65Med';
        font-size: 20px;
        color: #0a7ab1;
        padding-top: 5px;
    }

    .modal-lg {
        width: 100%;
        padding: 17px;
        padding-right: 0px;
        max-height: 250px;
    }

    .modal-dialog {
        margin: 0 auto;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-menu .ui-menu-item {
        font-size: 13px;
    }

    .custom-dropdown {
        font-size: 14px !important;
    }

    .page-header.search-result {
        margin-top: 0px !important;
    }

    .trimright {
        padding-right: 0px !important;
    }

    .trimleft {
        padding-left: 0px !important;
    }

    #searchReportTable > thead > tr > th {
        padding: 3px !important;
    }
</style>

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Purchase no.</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.purchase_no, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.tpc_plan_month_from, "TPC month from", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7 trimleft trimright">
                        <div class="col-md-6 trimleft">
                            <div class="col-md-11 trimleft trimright">
                                <div class="col-md-6 trimright">
                                    @Html.DropDownListFor(model => model.tpc_plan_month_from, new SelectList(tpc_plan_month, "Value", "Text", Model.tpc_plan_month_from), new { @class = "form-control essential" })
                                </div>
                                <div class="col-md-6 trimright">
                                    @Html.DropDownListFor(model => model.tpc_plan_year_from, new SelectList(tpc_plan_year, "Value", "Text", Model.tpc_plan_year_from), new { @class = "form-control essential" })
                                </div>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                @Html.Label("To", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="col-md-6 trimright">
                            @{
                                object htmlAttributes = new { @class = "form-control essential", disabled = "disabled" };
                                if (string.IsNullOrEmpty(Model.tpc_plan_month_to) || string.IsNullOrEmpty(Model.tpc_plan_year_to) || Model.tpc_plan_month_to.Equals("All") || Model.tpc_plan_year_to.Equals("All")) {
                                    //Reset TPCMonthYearTo case not selected togeter
                                    Model.tpc_plan_month_to = string.Empty;
                                    Model.tpc_plan_year_to = string.Empty;
                                }
                                if (!string.IsNullOrEmpty(Model.tpc_plan_month_from) && !string.IsNullOrEmpty(Model.tpc_plan_year_from) && !Model.tpc_plan_month_from.Equals("All") && !Model.tpc_plan_year_from.Equals("All")) {
                                    htmlAttributes = new { @class = "form-control essential" };
                                }
                            }
                            <div class="col-md-6 trimleft">
                                @Html.DropDownListFor(model => model.tpc_plan_month_to, new SelectList(tpc_plan_month, "Value", "Text", Model.tpc_plan_month_to), htmlAttributes)
                            </div>
                            <div class="col-md-6 trimleft">
                                @Html.DropDownListFor(model => model.tpc_plan_year_to, new SelectList(tpc_plan_year, "Value", "Text", Model.tpc_plan_year_to), htmlAttributes)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Loading date</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(m => m.tempLoadingDate, new { @class = "form-control input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Discharging date</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @*@Html.TextBox("datePurchaseField", null, new { @class = "form-control input-date-picker", @id = "date-range-start" })*@
                            @Html.TextBoxFor(m => m.tempDischargingDate, new { @class = "form-control input-date-picker ", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "26" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Crude name</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.products, new SelectList(Model.ddlCrudeName, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Country</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.origin, new SelectList(Model.ddlCountry, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-bottom:0px">
                <div class="col-md-12 text-center">
                    <input type="submit" id="btnTracking" class="btn btn-primary" name="action:TrackingResult" value="Search" />
                    <input type="submit" id="btnCancel" style="display: none;" name="action:CancelResult" />
                </div>
            </div>
        </div>
    </div>
    <div class="page-header" style="margin-top:0px">
        <h1 style="margin:0px">Search result</h1>
    </div>

    <div class="task-box">
        <div class="wrapper-table collapse in">
            <table id="workflowTrackingResultTable" class="table table-hover display" cellspacing="0">
                <thead>
                    <tr>
                        <th rowspan="2" style="width:50px">Action</th>
                        <th rowspan="2" style="width:160px">Purchase no.</th>
                        <th rowspan="2" style="width:160px">Crude name</th>
                        <th rowspan="2" style="width:160px">Country</th>
                        <th rowspan="2" style="width:160px">TPC month</th>
                        <th rowspan="2" style="width:320px">Loading date</th>
                        <th rowspan="2" style="width:320px">Discharging date</th>
                        <th colspan="11">Work status</th>
                    </tr>
                    <tr>
                        <th style="width:100px">Run LP</th>
                        <th style="width:100px">Proposed ETA date</th>
                        <th style="width:100px">Check available tank</th>
                        <th style="width:100px">Check technical impact</th>
                        <th style="width:100px">Edit ETA date</th>
                        <th style="width:100px">SCVP approval</th>
                        <th style="width:100px">CMVP approval</th>
                        <th style="width:100px">TNVP approval</th>
                        <th style="width:100px">Confirm final price</th>
                        <th style="width:100px">Approve final price</th>
                        <th style="width:100px">Crude sufficient check</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.VCoolTrackingTransaction != null && Model.VCoolTrackingTransaction.Any()) {
                        foreach (var item in Model.VCoolTrackingTransaction) {
                            var Link = "";
                            if (item.status == "DRAFT") {
                                Link = @Url.Content("~/CPAIMVC/VCool");
                            } else if (item.status == "WAITING RUN LP" || item.status == "WAITING APPROVE RUN LP" || item.status == "REVISE LP RUN" || item.status == "REVISE LP VERIFICATION") {
                                Link = @Url.Content("~/CPAIMVC/VCool/LPRun");
                            } else if (item.status == "WAITING PROPOSE ETA DATE" || item.status == "WAITING EDIT ETA DATE" || item.status == "WAITING APPROVE PRICE" || item.status == "WAITING CONFIRM PRICE" || item.status == "WAITING APPROVE SUMMARY" || item.status == "REVISE PROPOSE ETA" || item.status == "REVISE PURCHASE COMMENT") {
                                Link = @Url.Content("~/CPAIMVC/VCool/PCAFinalPrice");
                            } else if (item.status == "WAITING CHECK TANK" || item.status == "WAITING APPROVE TANK" || item.status == "REVISE TANK VERIFICATION" || item.status == "REVISE TANK AVAILABILITY") {
                                Link = @Url.Content("~/CPAIMVC/VCool/SCSCTank");
                            } else if (item.status == "WAITING CHECK IMPACT") {
                                Link = @Url.Content("~/CPAIMVC/VCool/TNCheckTech");
                            } else if (item.status == "WAITING CONFIRM PRICE" || item.status == "WAITING APPROVE PRICE") {
                                Link = @Url.Content("~/CPAIMVC/VCool/PCAFinalPrice");
                            } else if (item.status == "WAITING CMVP SCVP APPROVE" || item.status == "WAITING TNVP APPROVE" || item.status == "CONSENSUS APPROVAL" || item.status == "CHECK IMPACT APPROVED" || item.status == "CHECK TANK APPROVED" || item.status == "WAITING SCVP APPROVE" || item.status == "WAITING CMVP APPROVE") {
                                Link = @Url.Content("~/CPAIMVC/VCool/Consensus");
                            } else {
                                Link = @Url.Content("~/CPAIMVC/VCool");
                            }


                            <tr class="drafts" style="cursor: pointer;">
                                @* CANCEL ACTION *@
                                @if (item.status != ConstantPrm.ACTION.CANCEL && item.status != ConstantPrm.ACTION.APPROVED && TempData["isEVPC"] != null && (bool)TempData["isEVPC"]) {
                                    <td style="width:50px" class="clickable-cancel" data-href="@item.Transaction_id_Encrypted|@item.Req_transaction_id_Encrypted"><span class="cancel"></span></td>
                                } else {
                                    <td style="width:50px">-</td>
                                }

                                <td style="width:160px">
                                    <a href="@String.Format("{0}?TranID={1}&Tran_Req_ID={2}&PURNO={3}&Reason={4}&Type={5}",Link,item.transaction_id.Encrypt(),item.req_transaction_id.Encrypt(), item.purchase_no.Encrypt(), item.reason.Encrypt(), item.type.ToUpper().Encrypt())">@item.purchase_no</a>
                                
                                    </td>
                                <td style="width:160px">@item.product_name</td>
                                <td style="width:160px">@item.origin</td>
                                <td style="width:160px">@item.tpc_month @item.tpc_year</td>
                                <td style="width:320px">@item.loading_period</td>
                                <td style="width:320px">@item.discharging_period</td>

                                @*CPAIConstantUtil.STATUS_WAITING_RUN_LP*@
                                @if (item.status != null) {
                                    if (item.status == "DRAFT" || item.status == "WAITING RUN LP") {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>

                                    } else if (item.status == "WAITING APPROVE RUN LP")      // Status 2
                                    {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="waiting"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    } else if (item.status == "WAITING PROPOSE ETA DATE")        // Status 3
                                    {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    } else if (item.status == "WAITING CONFIRM PRICE") {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    } else if (item.status == "WAITING APPROVE PRICE") {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    } else if (item.status == "WAITING APPROVE SUMMARY") {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    } else if (!String.IsNullOrEmpty(item.vco_data_status) && (item.vco_data_status == "TERMINATED" || item.vco_data_status == "NOT PURCHASED")) {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="cancel-status"></span>
                                            </div>
                                        </td>
                                } else if (item.status == "APPROVED") {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="approve"></span>
                                            </div>
                                        </td>
                                        } else if (item.vco_data_status == "CONSENSUS APPROVAL"  || item.status== "WAITING CMVP SCVP APPROVE"
                                    || item.status == "WAITING CMVP APPROVE" || item.status == "WAITING SCVP APPROVE")//parallel
                                    {
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.vco_revise_scep_status == "REVISE LP RUN") {
                                            <span class="noapprove"></span>
                                                } else if (item.vco_revise_scep_status == "REVISE LP VERIFICATION") {
                                            <span class="waiting"></span>
} else {
                                            <span class="approve"></span>
}
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.cm_status != "REVISE PURCHASE COMMENT") {
                                            <span class="approve"></span>
} else {
                                            <span class="noapprove"></span>
}
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                
                                                @if (item.vco_revise_scsc_status == "REVISE TANK AVAILABILITY" || item.vco_revise_scsc_status == "REVISE PROPOSE ETA" ||
        item.sc_status == "WAITING CHECK TANK" || item.sc_status == "WAITING EDIT ETA DATE") {
                                            <span class="noapprove"></span>
} else if (item.vco_revise_scsc_status == "REVISE TANK VERIFICATION" || item.sc_status == "WAITING APPROVE TANK") {
                                            <span class="waiting"></span>
} else {
                                            <span class="approve"></span>
}
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.tn_status != "WAITING CHECK IMPACT") {
                                                    <span class="approve"></span>
                                                } else {
                                                    <span class="noapprove"></span>
                                                }
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                
                                                @if (item.vco_revise_scsc_status != "REVISE PROPOSE ETA" && item.sc_status != "WAITING EDIT ETA DATE") {
                                                    <span class="approve"></span>
                                                } else {
                                                    <span class="noapprove"></span>
                                                }
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.sc_status == "WAITING CMVP APPROVE" || item.sc_status == "CHECK TANK APPROVED"
                                                    || item.status == "WAITING CMVP APPROVE") {
                                                    <span class="approve"></span>
                                                } else {
                                                    <span class="noapprove"></span>
                                                }
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.cm_status == "WAITING SCVP APPROVE" || item.status == "CHECK TANK APPROVED"
                                                        || item.status == "WAITING SCVP APPROVE" ) {
                                                    <span class="approve"></span>
                                                } else {
                                                    <span class="noapprove"></span>
                                                }
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                @if (item.tn_status == "WAITING CHECK IMPACT" || item.tn_status == "WAITING TNVP APPROVE"
                                                     || item.status == "WAITING TNVP APPROVE") {
                                                    <span class="noapprove"></span>
                                                } else {
                                                    <span class="approve"></span>
                                                }
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <div data-toggle="tooltip" data-container="body">
                                                <span class="noapprove"></span>
                                            </div>
                                        </td>
                                    }
                                }

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<script>
        $('input[type="checkbox"]').on('change', function () {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
        });
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
        function myFunction() {
            var dupLinkField = document.getElementsByName("dupLinkField");
            var dupChk = document.getElementsByName("dup");
            var dubCopyHref = document.getElementsByName("dubCopy");
            for (var i = 0; i < dupLinkField.length; i++) {
                if (dupChk[i].checked) {
                    dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                    break;
                } else {
                    dubCopyHref[0].setAttribute('href', "#");
                }
            }
        }

        function chkChecked() {
            var dupChk = document.getElementsByName("dup");
            var dubCopyHref = document.getElementsByName("dubCopy");
            var status = true;
            if (dupChk.checked) {
                return true;
            }
        }

        function setTPCMonthTo() {
            var $tpcMonthFrom = $('#' + inputTPCMonthFromId);
            var $tpcYearFrom = $('#' + inputTPCYearFromId);
            var $tpcMonthTo = $('#' + inputTPCMonthToId);
            var $tpcYearTo = $('#' + inputTPCYearToId);

            var monthFromIndex = $tpcMonthFrom.prop('selectedIndex');
            var monthToIndex = $tpcMonthTo.prop('selectedIndex');
            var yearFromIndex = $tpcYearFrom.prop('selectedIndex');
            var yearToIndex = $tpcYearTo.prop('selectedIndex');

            $tpcMonthTo.children().show();
            //ถ้าช่วงปีเดียวกัน เดือนหลังต้องไม่น้อยกว่าเดือนต้น
            if (yearToIndex == yearFromIndex) {
                for (var i = 0; i < monthFromIndex - 1; i++) {
                    $tpcMonthTo.children().eq(i + 1).hide();
                }

                //ถ้าเดือนหลังที่เลือกมีค่าน้อยกว่าเดือนต้น ในปีเดียวกัน ให้เลือกเดือนหลังใหม่
                if (monthToIndex < monthFromIndex && yearToIndex == yearFromIndex) {
                    $tpcMonthTo.prop('selectedIndex', 0);
                    return true;
                }
            }
            return false;
        }

        function setTPCYearTo() {
            var $tpcYearFrom = $('#' + inputTPCYearFromId);
            var $tpcYearTo = $('#' + inputTPCYearToId);

            var yearFromIndex = $tpcYearFrom.prop('selectedIndex');
            var yearToIndex = $tpcYearTo.prop('selectedIndex');

            $tpcYearTo.children().show();

            //ซ่อนปีหลังที่มีเลขปีน้อยกว่า
            var lenYearFrom = $tpcYearTo.children().length;
            for (var i = yearFromIndex; i < lenYearFrom; i++) {
                $tpcYearTo.children().eq(i + 1).hide();
            }
            //ถ้าปีหลังที่เลือกมีค่าน้อยกว่าปีต้น ให้เลือกปีหลังใหม่ (ค่าน้อยมี Index ตำแหน่งสูงกว่า)
            if (yearToIndex > yearFromIndex) {
                $tpcYearTo.prop('selectedIndex', 0);
                return true;
            }
            return false;
        }

        function resetForm() {
            document.getElementById("searchForm").reset();
            $("#tempLoadingDate").val("");
            $("#tempDischargingDate").val("");
            $("#sOwner").val("");
            $("#sCreateBy").select2("val", "");
        }

        $("#sCreateBy").select2();
        $('#sCreateBy').change(function () {

            var create = "";
            $("#sCreateBy option:selected").each(function () {
                create = create + $(this).val() + "|";
                //console.log($(this).val());
            });
            //console.log(create);
            $("#sCreateBySelected").val(create.substr(0, create.length - 1));

            $('.select2-search__field').keydown(function (e) {
                if ($(this).val() == "") {
                    if (e.keyCode == 8) {
                        return false;
                    }
                }
            });
        });

        // CANCEL ACTION //
        $(".clickable-cancel").click(function () {
            var data = $(this).data("href").split('|');
            if (data.length > 1) {
                var taskID = data[0];
                var reqID = data[1];
                $("#taskID").val(taskID);
                $("#reqID").val(reqID);
            }

            bootbox.prompt({
                title: "Reason for cancel : The transaction cannot be reused.",
                inputType: 'textarea',
                maxlength: 1000,
                callback: function (result) {
                    if (result) {
                        $("#hdfNoteAction").val(result);
                        $("#btnCancel").click();
                        LoadingProcess();
                    }
                }
            });
        });


        // CANCEL ACTION //
        $(".clickable-cancel").click(function () {
            var data = $(this).data("href").split('|');
            if (data.length > 1) {
                var taskID = data[0];
                var reqID = data[1];
                $("#taskID").val(taskID);
                $("#reqID").val(reqID);
            }

            bootbox.prompt({
                title: "Reason for cancel : The transaction cannot be reused.",
                inputType: 'textarea',
                maxlength: 1000,
                callback: function (result) {
                    if (result) {
                        $("#hdfNoteAction").val(result);
                        $("#btnCancel").click();
                        LoadingProcess();
                    }
                }
            });
        });

        // DOCUMENT READY
        $(function () {

            var table = $('#workflowTrackingResultTable').DataTable({
                "autoWidth": true,
                //"columnDefs": [
                //    //Disble sort on Action Colum
                //    { "targets": [0], "width": "60" },
                //    { "targets": [1], "width": "200" },
                //    { "targets": [2], "width": "200" },
                //    { "targets": [3], "width": "200" },
                //    { "targets": [4], "width": "200" },
                //    { "targets": [5], "width": "200" },
                //    { "targets": [6], "width": "200" },
                //    { "targets": [7], "width": "60" },
                //    { "targets": [8], "width": "60" },
                //    { "targets": [9], "width": "60" },
                //    { "targets": [10], "width": "60" },
                //    { "targets": [11], "width": "60" },
                //    { "targets": [12], "width": "60" },
                //    { "targets": [13], "width": "60" },
                //    { "targets": [14], "width": "60" },
                //    { "targets": [15], "width": "60" },
                //    { "targets": [16], "width": "60" },
                //    { "targets": [17], "width": "60" },
                //    { "targets": [18], "width": "60" },
                //],
                "scrollCollapse": true,
                "orderable": false,
                "bSort": false,
                "scrollY": "400px",
                "scrollX": true,
            });

            $('#searchReportTable_length>label>select').css('padding-top', '0px');

            setTimeout(function () {
                table.columns.adjust().draw();
            }, 1000);
        });

        var inputLoadingDatesId = '@(Html.IdFor(model => model.tempLoadingDate))';
        var inputDischargingDatesId = '@(Html.IdFor(model => model.tempDischargingDate))';

        var inputTPCMonthFromId = '@(Html.IdFor(model => model.tpc_plan_month_from))';
        var inputTPCYearFromId = '@(Html.IdFor(model => model.tpc_plan_year_from))';
        var inputTPCMonthToId = '@(Html.IdFor(model => model.tpc_plan_month_to))';
        var inputTPCYearToId = '@(Html.IdFor(model => model.tpc_plan_year_to))';

        $('#' + inputLoadingDatesId).dateRangePicker({ autoClose: true, singleDate: false, showShortcuts: false, format: 'DD-MMM-YYYY', time: { enabled: false } });
        $('#' + inputDischargingDatesId).dateRangePicker({ autoClose: true, singleDate: false, showShortcuts: false, format: 'DD-MMM-YYYY', time: { enabled: false } });
        $('#' + inputTPCMonthFromId + ',#' + inputTPCYearFromId).change(function () {
            //var $tpcMonthFrom = $('#' + inputTPCMonthFromId);       // tpc_plan_month_from
            //var $tpcYearFrom = $('#' + inputTPCYearFromId);
            //var $tpcMonthTo = $('#' + inputTPCMonthToId);
            //var $tpcYearTo = $('#' + inputTPCYearToId);

            var $tpc_plan_month_from = $('#' + inputTPCMonthFromId);       // tpc_plan_month_from
            var $tpc_plan_year_from = $('#' + inputTPCYearFromId);
            var $tpc_plan_month_to = $('#' + inputTPCMonthToId);
            var $tpc_plan_year_to = $('#' + inputTPCYearToId);

            //reset
            $tpc_plan_month_to.children().show();
            $tpc_plan_year_to.children().show();

            var monthFromIndex = $tpc_plan_month_from.prop('selectedIndex');
            var yearFromIndex = $tpc_plan_year_from.prop('selectedIndex');
            if (monthFromIndex > 0 && yearFromIndex > 0) {
                //เมื่อเลือกเดือนต้นและปีต้น อนุญาตให้เลือกเดือนและปีหลังได้
                $tpc_plan_month_to.prop("disabled", false);
                $tpc_plan_year_to.prop("disabled", false);

                setTPCYearTo();
                setTPCMonthTo();
            }
            else {
                $tpc_plan_month_to.prop("disabled", true).prop('selectedIndex', 0);
                $tpc_plan_year_to.prop("disabled", true).prop('selectedIndex', 0);
            }
        });
        $('#' + inputTPCYearToId).change(function () {
            var isReset = setTPCMonthTo();
            if (isReset) {
                var $tpc_plan_month_from = $('#' + inputTPCMonthFromId);
                var $tpc_plan_month_to = $('#' + inputTPCMonthToId);

                var monthFromIndex = $tpcMonthFrom.prop('selectedIndex');
                if (monthFromIndex > 0) {
                    $tpc_plan_month_to.prop('selectedIndex', monthFromIndex);
                }
            }
        });

        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<div>")
                    .attr("id", "ddlCrudeName")
                    .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";
                var wasOpen = false;

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("style", "background: url(../../Content/images/bg/bg-select.png) no-repeat 98% 10px; background-color: white;")
                    .attr("placeholder", "-- Select --")
                    .addClass("form-control")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        $(ui.item.option.parentNode).val(ui.item.value).change();
                        ui.item.value = ui.item.label;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },
                    autocompletechange: "_removeIfInvalid",
                    "mousedown": function () {
                        wasOpen = this.input.autocomplete("widget").is(":visible");
                    },
                    "click": function () {
                        this.input.trigger("focus");
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        this.input.autocomplete("search", "");
                    }

                });
            },

            _source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    var value = $(this).val();

                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: value,
                            option: this
                        };
                }).slice(0, 10));
            },

            _removeIfInvalid: function (event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Clear value
                if (value == "") {
                    this.input.val("")
                    this.element.val("");
                    this.input.autocomplete("instance").term = "";
                }

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input.val("")
                this.element.val("");
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $("#products").combobox();
        $("#origin").combobox();

        //Render TPCMonthYearTo after search
        setTPCYearTo();
        setTPCMonthTo();
</script>

