﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.DisChannelViewModel

@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Distribution Channel";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Distribution Channel";
    }
}

<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">DIS CHANNEL ID :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.disChannel_Detail.MDCDC, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.disChannel_Detail.MDCDC, htmlAttributes: new { @class = "form-control", @required = "required" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">DIS CHANNEL ZONE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.disChannel_Detail.MDCZone, htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2">DESCRIPTION :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.disChannel_Detail.MDCDescription, htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.disChannel_Detail.boolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName != "VIEW")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                        }
                        @Html.ActionLink("BACK", "Search", new { controller = "DisChannel" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>


        </div>
    </div>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Close", "Search", new { controller = "DisChannel" }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}
<script>

    $(function () {
        checkboxToogle();

    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
   }


    //System JSON
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

</script>