﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.DisChannelViewModel
@{
    ViewBag.Title = "Index";
}


<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@using (Html.BeginForm("Search", "DisChannel", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Distribution Channel</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">DIS CHANNEL ID:</label>
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.disChannelIDJSON, htmlAttributes: new { @class = "disChannelIDJsonData" })
                    @Html.TextBoxFor(model => model.disChannel_Search.sMDCDC, htmlAttributes: new { @class = "form-control disChannel-id-json", @onfocus = "getDisChannelIDJSON()", @autocomplete = "off" })

                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">ZONE:</label>
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.disChannelZoneJSON, htmlAttributes: new { @class = "disChannelZoneJsonData" })
                    @Html.TextBoxFor(model => model.disChannel_Search.sMDCZone, htmlAttributes: new { @class = "form-control disChannel-zone-json", @onfocus = "getDisChannelZoneJSON()", @autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">STATUS:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.disChannel_Search.sMDCStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CREATED DATE:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.disChannel_Search.sMDCDateFromTo, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "DisChannel" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>DIS CHANNEL ID</th>
            <th>ZONE</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
            <th>CREATED DATE</th>
            <th>CREATED BY</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.disChannel_Search == null)
        {
            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.disChannel_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.disChannel_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dMDCDC</td>
                        <td>@v.dMDCZone</td>
                        <td>@v.dDescription</td>
                        <td>@v.dMDCStatus</td>
                        <td>@v.dMDCCreatedDate</td>
                        <td>@v.dMDCCreatedBy</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "DisChannel", new { MDC_DC = @v.dMDCDC  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "DisChannel", new { MDC_DC = @v.dMDCDC })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        //$('#laycanDateSelect').dateRangePicker(
        //{
        //    startOfWeek: 'monday',
        //    format: 'DD-MM-YYYY',
        //});
        //$('#example').DataTable();
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [6],
                    "orderable": false
                }
            ]
        });
    });

    //Get ID Automplete
    function getDisChannelIDJSON() {
        var availableData = JSON.parse($(".disChannelIDJsonData").val());
        //alert($(".companyCodeJsonData").val());
        $(".disChannel-id-json").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End ID Autocomplete

    //Get Zone Automplete
    function getDisChannelZoneJSON() {
        var availableData = JSON.parse($(".disChannelZoneJsonData").val());
        //alert($(".companyCodeJsonData").val());
        $(".disChannel-zone-json").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Zone Autocomplete


</script>