﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingFrameworkViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-detail">
    <div class="form-horizontal">
        <h1>Annual Hedging Framework Search</h1>
        @using (Html.BeginForm("SearchResult", "HedgingFramework", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Active date</label>
                        <div class="col-md-6">
                            <div class="box-date">
                                @Html.TextBoxFor(m => m.hedgingFramework_Search.sActiveDate, new { @id = "sActiveDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Underlying</label>
                        <div class="col-md-6">
                            <div class="box-date">
                                @Html.DropDownListFor(model => model.hedgingFramework_Search.sUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "Select All", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-6">
                            <div class="box-date">
                                 @Html.DropDownListFor(model => model.hedgingFramework_Search.sStatus, new SelectList(Model.ddlStatus, "Value", "Text"), "Select All", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-left">
                        <a class="btn btn-success" href="~/CPAIMVC/HedgingFramework/Index" id="addBtn" name="addBtn" role="button">Add</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear</button>
                    </div>
                    <div class="col-md-4 text-right">
                        <a class="btn btn-info" href="#" id="buttonCopy" name="buttonCopy" role="button" onclick="chkChecked()">Copy</a>
                    </div>
                </div>
            </div>
        }
        <div class="page-header">
            <h1>Search Result</h1>
        </div>
        <div class="task-box">
            <table id="searchtable" class="table table-hover display dataTable no-footer">
                <thead>
                    <tr>
                        <th>Active date</th>
                        <th>Underlying</th>
                        <th>Description</th>
                        @*<th>Status</th>*@
                        <th>Create date</th>
                        <th>Create by</th>
                        <th>Copy</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.hedgingFramework_Search.sSearchData != null)
                    {
                        foreach (var list in Model.hedgingFramework_Search.sSearchData)
                        {
                            <tr class="drafts" style="cursor: pointer;">
                                <td class="clickable-row" data-href="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID">@list.dActiveDate<span>@list.dStatus</span></td>
                                <td class="clickable-row" data-href="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID">@list.dUnderlying</td>
                                <td class="clickable-row" data-href="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID">@list.dDescription</td>
                                @*<td class="clickable-row" data-href="../HedgingFramework/Index?ActiveDate=@list.dActiveDate&Underlying=@list.dUnderlying&Desctiption=@list.dUnderlying&Status=@list.dStatus">@list.dStatus</td>*@
                                <td class="clickable-row" data-href="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID">@list.dCreateDate</td>
                                <td class="clickable-row" data-href="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID">@list.dCreateBy</td>
                                <td>
                                    <input type="hidden" name="copydata" class="form-control" value="../HedgingFramework/ViewDetail?OrderID=@list.dOrderID&isDup=true" hidden="hidden" />
                                    <input name="copy" type="checkbox" value="true" onclick="Copyfunction();" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="waiting">
                            <td colspan="10">Waiting for search</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
    $(function () {
        $('#sActiveDate').dateRangePicker(
        {
            autoClose: true,
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        $('#searchtable').DataTable({
            "ordering": false
        });
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });

    });

    function Copyfunction() {
        var copyLinkField = document.getElementsByName("copydata");
        var copyCheckbox = document.getElementsByName("copy");
        var copyHerf = document.getElementsByName("buttonCopy");
        for (var i = 0; i < copyLinkField.length; i++) {
            if (copyCheckbox[i].checked) {
                copyHerf[0].setAttribute('href', copyLinkField[i].value);
                break;
            } else {
                copyHerf[0].setAttribute('href', "#");
            }
        }
    }
    function resetForm() {
        document.getElementById("searchForm").reset();
        debugger;
        $("#sActiveDate").val("");
        $("#hedgingFramework_Search_sUnderlying").val("");
        $("#hedgingFramework_Search_sStatus").val("");
    }
    function chkChecked() {
        var dupChk = document.getElementsByName("copy");
        var dubCopyHref = document.getElementsByName("buttonCopy");
        var status = true;
        if (dupChk.checked) {
            return true;
        }
        }
</script>
