﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.GIClearLineViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "Update GI";
}

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h3><u>@page_title</u></h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-md-1 control-label">Type</label>
                <div class="col-md-2">                 
                  
                    @Html.DropDownListFor(m => m.GIClearLine_Search.sType, new SelectList(Model.ddl_Type, "Value", "Text"), "-- Select --", new { @onchange = "setTableSearch();", @class = "form-control", @id = "ddl_Type" })
                </div>
            </div>    
            <div>
                <label class="col-md-1 control-label">Trip No.</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.GIClearLine_Search.sTripNo, new { @class = "form-control", @id = "txtTripNo" })                    
                </div>
            </div>            
            <div>
                <label class="col-md-1 col-md-offset-1 control-label">Delivery Date</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.GIClearLine_Search.sDeliveryDate, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @Style = "width:230px" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="padding-top:10px;">
        <div style="text-align:center">
            <button type="submit" class="btn btn-primary" name="action:Search">Search</button> 
            <button type="button" class="btn btn-primary" onclick="clearSearch()" name="">Clear</button>
        </div>               
    </div>
}

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
        <table id="searchResultTable" class="table table-hover display" cellspacing="0">
            @Html.HiddenFor(m => m.GIClearLine_Search.sTripNo, new { @id = "hTripNo" })         
            @Html.HiddenFor(m => m.GIClearLine_Search.sType, new { @id = "hsType" })      

            @Html.HiddenFor(m => m.GIClearLine_Search.sDeliveryDate, new { @id = "hsDeliveryDate" })
          
        

            <thead>
                <tr>
                   @* "text-align:center"*@
                    <th></th>
                    <th style="text-align:center" id="trTripNo">Trip No.</th>  

                    <th style="width:130px;text-align:center" id="trDO_NO">DO No.</th> 

                    <th style="text-align:center" id="trDeliveryDate">Delivery Date</th> 

                    <th style="text-align:center" id="trPlant">Plant</th> 

                    @if (Model.GIClearLine_Search.sType == null || Model.GIClearLine_Search.sType == "GI Clear Line" )
                    {
                         <th style="text-align:center" id="trProduct">Product</th> 
                    }
                    @if( Model.GIClearLine_Search.sType == "Swap")
                    {
                    <th style="text-align:center" id="trVolumeBBL">Outturn Volume (BBL)</th> @*GI Clear Line/Boorw/Swap*@

                    <th style="text-align:center" id="trVolumeMT">Outturn Volume (MT)</th> @*GI Clear Line/Boorw/Swap*@

                    <th style="text-align:center" id="trVolumeLitres">Outturn Volume (Litres)</th>@*GI Clear Line/Boorw/Swap*@

                    }
                    @if( Model.GIClearLine_Search.sType == "GI Clear Line" || Model.GIClearLine_Search.sType == "Borrow")
                    {
                    <th style="text-align:center" id="trVolumeBBL">Volume (BBL)</th> @*GI Clear Line/Boorw/Swap*@

                    <th style="text-align:center" id="trVolumeMT">Volume (MT)</th> @*GI Clear Line/Boorw/Swap*@
                   
                     <th style="text-align:center" id="trVolumeLitres">Volume (Litres)</th>@*GI Clear Line/Boorw/Swap*@                   
                   }
                    @if (Model.GIClearLine_Search.sType == null || Model.GIClearLine_Search.sType == "GI Clear Line" )
                    {
                    <th style="text-align:center" id="trPrice">Price</th> @*GI Clear Line/Swap*@
                    <th style="text-align:center" id="trAmount">Amount</th> @*GI Clear Line/Swap*@
                    <th style="text-align:center" id="trAmount">Unit</th> @*GI Clear Line//Swap*@
                    <th style="text-align:center" id="trStorageLoc">Storage Loc.</th> @*GI Clear Line//Swap*@
                    }
                    @if (Model.GIClearLine_Search.sType == "Swap")
                    {
                      <th style="text-align:center" id="trStorageLoc">Storage Loc.</th> 

                    }
                    <th style="text-align:center" id="trTemp">Temp</th> @*GI Clear Line/Boorw/Swap*@

                    <th style="text-align:center" id="trDensity">Density</th> @*GI Clear Line/Boorw/Swap*@
                </tr>

            </thead>
            <tbody>
                @if (Model.GIClearLine_Search.SearchData == null)
                {

                    <tr class="waiting">
                        <td colspan="15">Waiting for search</td>
                    </tr>

                }
                else if (Model.GIClearLine_Search.SearchData != null)
                {
                    if (Model.GIClearLine_Search.SearchData.Count == 0)
                    {

                        <tr class="waiting">
                            <td colspan="15">No Data</td>
                        </tr>

                    }
                    else if (Model.GIClearLine_Search.SearchData.Count() > 0)
                    {
                        var i = 0;

                        @Html.Hidden("COUNT", Model.GIClearLine_Search.SearchData.Count())
                        foreach (var item in Model.GIClearLine_Search.SearchData)
                        {
                            <tr>                                                             
                             
                                <td>   
                                       @if (Model.GIClearLine_Search.SearchData[i].isSelected == true)
                                       {
                                        @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].isSelected, new { onload = "setvalue('" + @i + "');", @id = "hIsSelected" + @i })

                                       }
                                       else
                                       {
                                        @Html.CheckBoxFor(m => m.GIClearLine_Search.SearchData[i].isSelected, new { @id = "chkItem" + @i, @OnClick = "setSelectedItem('" + @i + "')", @Style = "width:30px;" })
                                 
                                        @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].isSelected, new { onload = "setvalue('"+ @i +"');"  , @id = "hIsSelected" + @i })

                                       } 
                               
                                  
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dTripNo, item.dTripNo, new { @id = "TripNo" + @i, @Style = "width:130px;" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dTripNo, new { @id = "hTripNo" + @i })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dSaleOrder, new { @id = "hSaleOrder" + @i })
                                </td>
                                <td >
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dDONo, item.dDONo, new { @id = "DONo" + @i,  @Style = "width:130px;" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dDONo, new { @id = "hDONo" + @i })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dPONo, new { @id = "hPONo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dDeliveryDate, item.dDeliveryDate, new { @id = "DeliveryDate" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dDeliveryDate, new { @id = "hDeliveryDate" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dPlant, item.dPlant, new { @id = "Plant" + @i, @Style = "width:60px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dPlant, new { @id = "hPlant" + @i })
                                </td>



                                @if (Model.GIClearLine_Search.sType == null || Model.GIClearLine_Search.sType == "GI Clear Line" )
                                {
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dProduct, item.dProduct, new { @id = "Product" + @i, @Style = "width:130px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dProduct, new { @id = "hProduct" + @i })
                                </td>
                                }

                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dVolumeBBL, item.dVolumeBBL, new { @id = "VolumeBBL" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dVolumeBBL, new { @id = "hVolumeBBL" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dVolumeMT, item.dVolumeMT, new { @id = "VolumeMT" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dVolumeMT, new { @id = "hVolumeMT" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dVolumeLitres, item.dVolumeLitres, new { @id = "VolumeLitres" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dVolumeLitres, new { @id = "hVolumeLitres" + @i })
                                </td>

                                 @if (Model.GIClearLine_Search.sType == null || Model.GIClearLine_Search.sType == "GI Clear Line")
                                 {
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dPrice, item.dPrice, new { @id = "Price" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dPrice, new { @id = "hPrice" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dAmount, item.dAmount, new { @id = "Amount" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dAmount, new { @id = "hAmount" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.GIClearLine_Search.SearchData[i].dUS4, item.dUS4, new { @id = "US4" + @i, @Style = "width:50px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dUS4, new { @id = "hUS4" + @i })
                                </td>
                                 }
                                                @if (Model.GIClearLine_Search.sType == null || Model.GIClearLine_Search.sType == "GI Clear Line" || Model.GIClearLine_Search.sType == "Swap")
                                {
                                <td>
                                    @Html.DropDownListFor(m => m.GIClearLine_Search.SearchData[i].dStorageLoc, new SelectList(Model.ddl_StorageLoc, "Value", "Text", item.dStorageLoc), "-- Select --", new { @class = "form-control", @id = "ddlStorageLoc" + @i, @Style = "width:120px" })
                                </td>
                                    }
                                <td>
                                    @Html.TextBoxFor(m => m.GIClearLine_Search.SearchData[i].dTemp, item.dTemp, new {@type="number" ,@onchange= "validat("+ @i+")", @min="00", @max="99", @class = "form-control",  @id = "Temp" + @i, @Style = "width:100px" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.GIClearLine_Search.SearchData[i].dDensity, item.dDensity, new { @type="number", @step = "0.0001", @class = "form-control numberDecimal", @id = "Density" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.GIClearLine_Search.SearchData[i].dType, new { @id = "hType" + @i })
                                  </td>
                            </tr>
                            i++;
                                            }
                                        }
                                    }


            </tbody>
@*}*@

        </table>
        <div class="form-group" >
            <div style="text-align:center">
                <button type="submit" class="btn btn-primary" name="action:Update" @*onclick="showModal()"*@>Update GI Information</button>
                <button type="button" class="btn btn-primary"  name="">Cancel</button>
            </div>            
        </div>
    </div>
}
    <!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="pMsg">
                        @TempData["ReponseMessage"]
                    </p>
                </div>
                <div class="modal-footer">
                    @if (TempData["ReponseStatus"] == null)
                    {
                        <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<script type="text/javascript">
    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });
       
        var count = $('#COUNT').val();
        console.log(count);
       
        for (i = 0; i < count; i++) {
         
          
            if ($('#hIsSelected' + i).val() == "True") {
                $("#ddlStorageLoc" + i).attr("disabled", "true");
                $("#Density" + i).attr("disabled", "true");
                $("#Temp" + i).attr("disabled", "true");
           
            }
        }

    
    });

    function setvalue(i)
    {
        if ($('#hIsSelected' + i).val() == 'Y')
        {
            $("#ddlStorageLoc" + i).attr("disabled", "true");
            $("#Density" + i).attr("disabled", "true");
            $("#Temp" + i).attr("disabled", "true");
        }
        console.log("setvalue" + i + "value:" + $("#hIsSelected" + i).val());
    }

    $(".numberDecimal").change(function(){

        var num = $(this).val();
        var s = roundToTwo(num, 4);
        $(this).val(s.toFixed(4));
       // console.log("round = " + s.toFixed(4));
    });




    function validat(i)
    {
        var num = $("#Temp" + i).val();
        var num = parseInt(num);
        if (num < 0 || num > 100)
        {
            $('#Temp' + i).val('00');
            $("#Temp" + i).attr('title', 'Please Enter only between 0 and 100');
        }
    }



    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }

    function roundToTwo(num, decimal) {
        console.log("")
        return +(Math.round(num + "e+" + decimal) + "e-" + decimal);
    }


    function setSelectedItem(i) {
        //if ($('#hIsSelected' + i).val('Y'))
        //{
        //    // = ""
        //    $('#chkItem' + i).attr("style", "display:none");
        //}
        if ($('#chkItem' + i).is(':checked'))
        {
            $('#chkItem' + i).val(true);
            $('#hIsSelected' + i).val(true);
            $("#ddlStorageLoc" + i).attr("required", "true");
            $("#Density" + i).attr("required", "true");
            $("#Temp" + i).attr("required", "true");
         //   alert("#Temp" + i)
        } else {
            $('#hIsSelected' + i).val('N');
        }


    }

    function showModal() {

        $('#pMsg').text('Are you sure to update GI information?');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function clearSearch() {
        $('#txtTripNo').val('');
        $('#txtTripNo').text('');
        $('#txtDeliveryDate').val('');
        $('#txtDeliveryDate').text('');
        $('#searchResultTable tbody').empty();
        $('#ddl_Type').val('').change();
    }

</script>


