﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ClearLineViewModel
@{
    var page_title = "";

    if (!String.IsNullOrEmpty(Model.ClearLineDetail.sTripNo))
    {
        ViewBag.Title = "Edit";
        if (Model.Mode == "T")
        {
            page_title = "Edit Through Put Fee Transacction";
        }
        else
        {
            page_title = "Edit Clear Line Transacction";
        }

    }
    else
    {
        ViewBag.Title = "Add ";
        if (Model.Mode == "T")
        {
            page_title = "Add new Through Put Fee Transacction";
        }
        else
        {
            page_title = "Add new Clear Line Transacction";
        }

    }
}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Mode)
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Trip No.</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sTripNo, new { @class = "form-control", @id = "txtTripNo", @readonly = "readonly" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Sale Org.</label>
            <div class="col-sm-6 col-md-2">
                @if (string.IsNullOrEmpty(Model.ClearLineDetail.sTripNo))
                {
                    @Html.DropDownListFor(model => model.ClearLineDetail.sCompany, new SelectList(Model.ddl_Company, "Value", "Text", "1100"), new { @class = "form-control", @id = "ddlCompany" })
                }
                else if (!string.IsNullOrEmpty(Model.ClearLineDetail.sSaleOrder))
                {
                    @Html.DropDownListFor(model => model.ClearLineDetail.sCompany, new SelectList(Model.ddl_Company, "Value", "Text", Model.ClearLineDetail.sCompany), new { @class = "form-control", @id = "ddlCompany", @readonly = "readonly", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.ClearLineDetail.sCompany, new { @id = "ddlCompany" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.ClearLineDetail.sCompany, new SelectList(Model.ddl_Company, "Value", "Text", Model.ClearLineDetail.sCompany), new { @class = "form-control", @id = "ddlCompany"})
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Vessel Name</label>
            <div class="col-sm-6 col-md-2">
                @Html.DropDownListFor(model => model.ClearLineDetail.sVesselName, new SelectList(Model.ddl_Vessel, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlVessel" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Customer</label>
            <div class="col-sm-6 col-md-2">
                @if (Model.ClearLineDetail != null)
                {
                    if (string.IsNullOrEmpty(Model.ClearLineDetail.sTripNo))
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                    }
                    else if (!string.IsNullOrEmpty(Model.ClearLineDetail.sSaleOrder))
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), Model.ClearLineDetail.sCustomer, new { @class = "form-control", @id = "ddlCustomer", @readonly = "readonly", @disabled = "disabled" })
                        @Html.HiddenFor(model => model.ClearLineDetail.sCustomer, new { @id = "ddlCustomer" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), Model.ClearLineDetail.sCustomer, new { @class = "form-control", @id = "ddlCustomer"})
                    }

                }
                
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Delivery Date</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sDeliveryDate, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Crude</label>
            <div class="col-sm-6 col-md-2">
                @if (Model.ClearLineDetail != null)
                {
                    if (string.IsNullOrEmpty(Model.ClearLineDetail.sTripNo))
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrude" })
                    }
                    else if (!string.IsNullOrEmpty(Model.ClearLineDetail.sSaleOrder))
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrude", @readonly = "readonly", @disabled = "disabled" })
                        @Html.HiddenFor(model => model.ClearLineDetail.sCrude, new { @id = "ddlCrude" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.ClearLineDetail.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), Model.ClearLineDetail.sCrude, new { @class = "form-control", @id = "ddlCrude" })
                    }
                    
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Plant</label>
            <div class="col-sm-6 col-md-2">
                @if (string.IsNullOrEmpty(Model.ClearLineDetail.sTripNo))
                {
                    @Html.DropDownListFor(model => model.ClearLineDetail.sPlant, new SelectList(Model.ddl_Plant, "Value","Text"), "1200", new { @class = "form-control", @id = "ddlPlant" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.ClearLineDetail.sPlant, new SelectList(Model.ddl_Plant, "Value", "Text", Model.ClearLineDetail.sPlant), new { @class = "form-control", @id = "ddlPlant" })
                }
                
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Due Date</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sDueDate, new { @id = "txtDueDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Sales Unit</label>
            <div class="col-sm-6 col-md-2">
                @Html.DropDownListFor(model => model.ClearLineDetail.sSaleUnitType, new SelectList(Model.ddl_SaleUnitType, "Value", "Text"), "-- Select --", new {  @class = "form-control", @id = "ddlSaleUnitType" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Invoice Figure</label>
            <div class="col-sm-6 col-md-2">
                @Html.DropDownListFor(model => model.ClearLineDetail.sInvoiceFigureType, new SelectList(Model.ddl_InvoiceFigureType, "Value", "Text"), "-- Select --", new {  @class = "form-control", @id = "ddlInvoiceFigureType" })
                
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">B/L QTY(BBL)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sVolumeBBL, new { @class = "form-control numberOnly", @id = "txtVolumeBBL" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Outturn QTY(BBL)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sOutturnBBL, new { @class = "form-control numberOnly", @id = "txtOutturnBBL" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">B/L QTY(Litres)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(m => m.ClearLineDetail.sVolumeLitres, new { @class = "form-control numberOnly", @id = "txtVolumeLitres" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Outturn QTY(Litres)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sOutturnLitres, new { @class = "form-control numberOnly", @id = "txtOutturnLitres" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">B/L QTY(MT)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sVolumeMT, new { @class = "form-control numberOnly", @id = "txtVolumeMT" })
            </div>
        </div>
        <div>
            <label class="col-sm-6 col-md-1 col-md-offset-1 control-label">Outturn QTY(MT)</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sOutturnMT, new { @class = "form-control numberOnly", @id = "txtOutturnMT" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">PO No.</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sPONo, new { @class = "form-control", @id = "txtPONo" })
            </div>
        </div>
        <div>
            @*<label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Exchange Rate</label>
    <div class="col-sm-6 col-md-2">
        @Html.TextBoxFor(model => model.ClearLineDetail.sExchangeRate, new { @class = "form-control numberOnly", @id = "txtExchangeRate" })
            </div>*@
        </div>
    </div>
    @*<div class="form-group">
        <div>
            <label class="col-sm-4 col-md-1 control-label">Total Amount</label>
            <div class="col-sm-6 col-md-2">
                @Html.TextBoxFor(model => model.ClearLineDetail.sTotalAmount, new { @class = "form-control numberOnly", @id = "txtTotalAmount" })
            </div>
        </div>
        <div>
            <label class="col-sm-4 col-md-1 col-md-offset-1 control-label">Total Unit</label>
            <div class="col-sm-6 col-md-2">
                @Html.DropDownListFor(model => model.ClearLineDetail.sTotalUnit, new SelectList(Model.ddl_UnitTotal, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlTotalUnit" })
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">Remark</label>
            <div class="col-sm-6 col-md-4">
                @Html.TextAreaFor(model => model.ClearLineDetail.sRemark, new { @class = "form-control", @id = "txtRemark", @Style = "width:500px;height:120px;" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="col-sm-6 col-md-1 control-label">New Price</label>
            <div class="col-sm-6 col-md-6">
                @Html.DropDownListFor(model => model.ClearLineDetail.sPriceStatus, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), new { @class = "form-control", @id = "ddlPriceStatus" })
            </div>
            <div class="col-sm-6 col-md-6">
                <button type="button" class="btn btn-primary" onclick="AddPrice()" name="">Add</button>
            </div>
        </div>
    </div>
    <div>
        <table id="PriceTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:230px"></th>
                    <th style="width:200px">Due Date</th>
                    <th style="width:220px">Price</th>
                    <th style="width:160px">Unit</th>
                    <th style="width:220px">Invoice Amount</th>
                    <th style="width:160px">Unit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ClearLineDetail.PriceList != null)
                {
                    if (Model.ClearLineDetail.PriceList.Count > 0)
                    {
                        for (int j = 0; j < Model.ClearLineDetail.PriceList.Count; j++)
                        {
                            //string statusName = "Provisional Price";
                            //if(Model.ClearLineDetail.PriceList[j].sNum != null)
                            //{
                            //    if (Model.ClearLineDetail.PriceList[j].sNum.ToString().Substring(Model.ClearLineDetail.PriceList[j].sNum.ToString().Length - 1, 1) == "2")
                            //    {
                            //        statusName = "Final Price";
                            //    }
                            //}

                            <tr>
                                <td>@Model.ClearLineDetail.PriceList[j].sPriceType
                                    @Html.HiddenFor(model => model.ClearLineDetail.PriceList[j].sPriceType)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ClearLineDetail.PriceList[j].sDueDate, new { @id = "txtDueDateP"+@j, @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY", @maxlength = "10" })
                                    @Html.HiddenFor(model => model.ClearLineDetail.PriceList[j].sNum, htmlAttributes: new { @id = "hItemId" + @j })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ClearLineDetail.PriceList[j].sPrice, new { @class = "form-control numberOnly"})
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.ClearLineDetail.PriceList[j].sPriceUnit, new SelectList(Model.ddl_UnitPrice, "Value", "Text", Model.ClearLineDetail.PriceList[j].sPriceUnit), new { @class = "form-control"})
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.ClearLineDetail.PriceList[j].sInvoice, new { @class = "form-control numberOnly"})
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.ClearLineDetail.PriceList[j].sInvUnit, new SelectList(Model.ddl_UnitINV, "Value", "Text", Model.ClearLineDetail.PriceList[j].sInvUnit),  new { @class = "form-control"})
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button id="btnSaveData"  type="button" class="btn btn-primary" onclick="funcChkValidate()">Save</button>
            <button id="btnSave" type="submit" class="btn btn-primary" style="display:none;" name="action:Save">Save</button>
            <button type="button" class="btn btn-primary" onclick="clearFields()" name="">Clear</button>

            @if (Model.Mode == "T")
            {
                @Html.ActionLink("BACK", "SearchThroughput", new { controller = "ClearLine" }, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("BACK", "Search", new { controller = "ClearLine" }, htmlAttributes: new { @class = "btn btn-default" })
            }
           

           
        </div>
    </div>
}

	<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="pMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(document).ready(function () {

        //$("#ddlCustomer").attr("required", "true");
        //$("#ddlCompany").attr("required", "true");
        //$("#ddlCrude").attr("required", "true");
        //$("#ddlVessel").attr("required", "true");

        //$("#txtDeliveryDate").attr("required", "true");
       // $("#txtPONo").attr("required", "true");
        //$("#ddlTotalUnit").attr("required", "true");
        
    

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        @if (Model.ClearLineDetail.PriceList != null)
             {
                 if (Model.ClearLineDetail.PriceList.Count > 0)
                 {
                     for (int j = 0; j < Model.ClearLineDetail.PriceList.Count; j++)
                     {
                        <text>
        var name = '#txtDueDateP'+'@j';
        $(name).dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        }); </text>
                 }
             }
         }
    });

    function ValidateddlSaleUnitType()
    {
        var ddlSaleUnitType = $('#ddlSaleUnitType').val();
        if (ddlSaleUnitType == "BBL")
        {
            if ($("#txtVolumeBBL").val() == 0)
            {
                $("#txtVolumeBBL").attr("required", "true");
            }
         
            $("#requirVolumeBBL").attr("style", "color:red;display:block");
            $("#txtVolumeMT").attr("required", "false");
            $("#requirVolumeMT").attr("style", "color:red;display:none");
            $("#txtVolumeLitres").attr("required", "false");
            $("#requirVolumeLitres").attr("style", "color:red;display:none");
        }

        else if (ddlSaleUnitType == "MT")
        {
            $("#txtVolumeBBL").attr("required", "false");
            $("#requirVolumeBBL").attr("style", "color:red;display:none");
            $("#txtVolumeMT").attr("required", "true");
            $("#requirVolumeMT").attr("style", "color:red;display:block");
            $("#txtVolumeLitres").attr("required", "false");
            $("#requirVolumeLitres").attr("style", "color:red;display:none");
        }
        else if (ddlSaleUnitType == "L30") {
            $("#txtVolumeBBL").attr("required", "false");
            $("#requirVolumeBBL").attr("style", "color:red;display:none");
            $("#txtVolumeMT").attr("required", "false");
            $("#requirVolumeMT").attr("style", "color:red;display:none");
            $("#txtVolumeLitres").attr("required", "true");
            $("#requirVolumeLitres").attr("style", "color:red;display:block");
        }
      
    }
    
    function ValidateddlInvoiceFigureType()
    {

        var ddlSaleUnitType = $('#ddlSaleUnitType').val();
        if (ddlSaleUnitType == "BBL") {
           
            $("#txtVolumeBBL").attr("required", "true");
            $("#requirVolumeBBL").attr("style", "color:red;display:block");
            $("#txtVolumeMT").attr("required", "false");
            $("#requirVolumeMT").attr("style", "color:red;display:none");
            $("#txtVolumeLitres").attr("required", "false");
            $("#requirVolumeLitres").attr("style", "color:red;display:none");
        }

        else if (ddlSaleUnitType == "MT") {
            $("#txtVolumeBBL").attr("required", "false");
            $("#requirVolumeBBL").attr("style", "color:red;display:none");
            $("#txtVolumeMT").attr("required", "true");
            $("#requirVolumeMT").attr("style", "color:red;display:block");
            $("#txtVolumeLitres").attr("required", "false");
            $("#requirVolumeLitres").attr("style", "color:red;display:none");
        }
        else if (ddlSaleUnitType == "L30") {
            $("#txtVolumeBBL").attr("required", "false");
            $("#requirVolumeBBL").attr("style", "color:red;display:none");
            $("#txtVolumeMT").attr("required", "false");
            $("#requirVolumeMT").attr("style", "color:red;display:none");
            $("#txtVolumeLitres").attr("required", "true");
            $("#requirVolumeLitres").attr("style", "color:red;display:block");
        }
    }

    function clearFields() {
        //$('#txtTripNo').val('');
        $('#txtDeliveryDate').val('');
        $('#txtDueDate').val('');
        $('#ddlVessel').val('').change();
        $('#ddlCustomer').val('').change();
        $('#ddlCrude').val('').change();
        $('#ddlPlant').val('').change();
        $('#txtVolumeBBL').val('');
        $('#txtOutturnBBL').val('');
        $('#txtVolumeLitres').val('');
        $('#txtOutturnLitres').val('');
        $('#txtVolumeMT').val('');
        $('#txtOutturnMT').val('');
        $('#txtPONo').val('');
        $('#txtExchangeRate').val('');
        $('#txtTotalAmount').val('');
        //$('#txtTotalUnit').val('');
        $('#ddlTotalUnit').val('').change();
        $('#txtRemark').val('');
        //$('#txtDueDateP').val('');
        $('#txtPriceP').val('');
        $('#ddlPriceUnitP').val('').change();
        $('#txtInvoiceP').val('');
        $('#ddlInvUnitP').val('').change();
        //$('#txtDueDateF').val('');
        $('#txtPriceF').val('');
        $('#ddlPriceUnitF').val('').change();
        $('#txtInvoiceF').val('');
        $('#ddlInvUnitF').val('').change();
        //$('#txtDueDateA').val('');
        $('#txtPriceA').val('');
        $('#ddlPriceUnitA').val('').change();
        $('#txtInvoiceA').val('');
        $('#ddlInvUnitA').val('').change();
    }

    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }

    function fnDetectNumeric(controlID) {

        var xCharCode = String.fromCharCode(event.keyCode);
        if (!(/[0-9,.]/.test(xCharCode))) {
            var tmp = $('#' + controlID).val().toLowerCase().replace(xCharCode.toLowerCase(), '');
            var tmp1;
            var x = tmp.split('.');
            if (x.length > 1) { tmp1 = x[1].replace(/[^\d\.\-eE+]/g, ""); } else { tmp1 = "00"; };

            $('#' + controlID).val(NumberWithCommas(x[0].replace(/,/g, '') + '.' + tmp1, tmp1.length));

        }
    }

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });
    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function AddPrice() {
        debugger;
        var rowCount = $('table#PriceTable tr:last').index() + 1;
        if (($('#hItemId0').length != 0))
        {
            rowCount++;
        }
        if((rowCount) < 6)
        {
            var rowStatus = $('#ddlPriceStatus').val();
            var statusName = "Provisional Price";
            if (rowStatus == 2)
            {
                statusName = "Final Price";
            }
            var num = rowCount;
            rowCount = rowCount - 1;

            var row_id = createUUID();
            var row = '<tr id="' + row_id + '">' +
                                '<td>' + statusName + '<input name="ClearLineDetail.PriceList[' + rowCount + '].sPriceType" type="hidden" value="' + statusName + '">' +
                                '<input type="image" src="../../Content/images/details_close.png" alt="Submit" width="20px" keyname="actionDeleteFix" name="actionDeleteFix" class="btnDelete" onclick="return actionDeletePrice(\'' + row_id + '\')">' +
                                '</td>' +
                                '<td>'+
                                    '<input class="form-control input-date-picker " id="txtDueDateP' + rowCount + '" maxlength="10" name="ClearLineDetail.PriceList[' + rowCount + '].sDueDate" placeholder="DD/MM/YYYY"  type="text" value="" required>' +
                                    '<input id="hItemId' + rowCount + '" name="ClearLineDetail.PriceList[' + rowCount + '].sNum" type="hidden" value="' + num + '' + rowStatus + '">' +
                                '</td>'+
                                '<td>'+
                                    '<input class="form-control numberOnly" id="ClearLineDetail_PriceList_' + rowCount + '__sPrice" name="ClearLineDetail.PriceList[' + rowCount + '].sPrice" type="text" value="" required>' +
                                '</td>'+
                                '<td>'+
                                    '<select class="form-control" id="ClearLineDetail_PriceList_' + rowCount + '__sPriceUnit" name="ClearLineDetail.PriceList[' + rowCount + '].sPriceUnit" required>' +
'<option value="US4">US4</option>'+
'<option selected="selected" value="TH4">TH4</option>' +
'</select>'+
            '</td>'+
                                '<td>'+
                                    '<input class="form-control numberOnly" id="ClearLineDetail_PriceList_' + rowCount + '__sInvoice" name="ClearLineDetail.PriceList[' + rowCount + '].sInvoice" type="text" value="" required>' +
                                '</td>'+
                                '<td>'+
                                    '<select class="form-control" id="ClearLineDetail_PriceList_' + rowCount + '__sInvUnit" name="ClearLineDetail.PriceList[' + rowCount + '].sInvUnit">' +
'<option selected="selected" value="THB">THB</option>'+
'</select>'+
                                '</td>' +
                            '</tr>';
            $('#PriceTable').append(row);

            $('#txtDueDateP' + rowCount).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                singleDate: true,
                autoClose: true
            });

            updateNumberValidate();
        }
        
    }
    function createUUID() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    function actionDeletePrice(controlID) {
        debugger;
        $('#' + controlID).remove();
        var rowCount = $('table#PriceTable tr:last').index() + 1;
        var num = 0;
        for (var i = 0; i < rowCount; i++) {
            debugger;
            if ($('#txtDueDateP' + i).length == 0 )
            {
                if ($('#txtDueDateP' + (i + 1)).length > 0)
                {
                    
                    var txtRunning = $('#hItemId' + (i + 1)).attr('id', 'hItemId' + i);

                    $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sPriceType']").attr("name", 'ClearLineDetail.PriceList[' + i + '].sPriceType');

                    var txtDueDateP = $('#txtDueDateP' + (i + 1)).attr('id', 'txtDueDateP' + i);
                    txtDueDateP.attr("name", 'ClearLineDetail.PriceList[' + i + '].sDueDate');

                    var sNum = $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").val();
                    $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").val((i + 1) + sNum.substr(1, 1)
                        );
                    $("input[name*='ClearLineDetail.PriceList[" + (i + 1) + "].sNum']").attr("name", 'ClearLineDetail.PriceList[' + i + '].sNum');
                   

                    var txtPrice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sPrice').attr('id', 'ClearLineDetail_PriceList_' + (i) + '__sPrice');
                    txtPrice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sPrice');

                    var txtPriceUnit = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sPriceUnit').attr('id', 'ClearLineDetail_PriceList_' + i + '__sPriceUnit');
                    txtPriceUnit.attr("name", 'ClearLineDetail.PriceList[' + i + '].sPriceUnit');

                    var txtInvoice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sInvoice').attr('id', 'ClearLineDetail_PriceList_' + i + '__sInvoice');
                    txtInvoice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sInvoice');
                    
                    var txtInvoice = $('#ClearLineDetail_PriceList_' + (i + 1) + '__sInvUnit').attr('id', 'ClearLineDetail_PriceList_' + i + '__sInvUnit');
                    txtInvoice.attr("name", 'ClearLineDetail.PriceList[' + i + '].sInvUnit');

                }
                //txtDueDateP.removeClass('blue').addClass('green');
            }
            
            
            
        }
    }
    

    function updateNumberValidate() {
        $(".numberOnly").focus(function () {
            $(this).val($(this).val().replace(/,/g, ''));
        });

        $(".numberOnly").blur(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

        $(".numberOnly").each(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

    }

    function funcChkValidate()
    {
        if ($('#ddlVessel').val() == "" || $('#ddlSaleUnitType').val() == "" || $('#ddlInvoiceFigureType').val() == "" || $('#ddlCustomer').val() == "" || $('#ddlCompany').val() == "" || $('#ddlCrude').val() == "" || $('#txtDeliveryDate').val() == "" || $('#txtPONo').val() == "")
        {
            if ($('#ddlCompany').val() == "")
            {
                $('#ddlCompany').focus();
            } else if ($('#ddlVessel').val() == "") {
                $('#ddlVessel').focus();
            } else if ($('#ddlCustomer').val() == "") {
                $('#ddlCustomer').focus();
            } else if ($('#txtDeliveryDate').val() == "") {
                $('#txtDeliveryDate').focus();
            } else if ($('#ddlCrude').val() == "") {
                $('#ddlCrude').focus();
            } else if ($('#ddlSaleUnitType').val() == "") {
                $('#ddlSaleUnitType').focus();
            } else if ($('#ddlInvoiceFigureType').val() == "") {
                $('#ddlInvoiceFigureType').focus();
            } else if ($('#txtPONo').val() == "") {
                $('#txtPONo').focus();
            } 
        }  
        else {
            if ($('#ddlInvoiceFigureType').val() == "B/L") {
                if ($('#ddlSaleUnitType').val() == "BBL") {
                    if ($('#txtVolumeBBL').val() == "")
                    {
                        $('#txtVolumeBBL').focus();
                    }
                    else {
                        checkTableRow();
                        //$('#btnSave').click();
                    }
                } else if ($('#ddlSaleUnitType').val() == "MT") {
                    if ($('#txtVolumeMT').val() == "") {
                        $('#txtVolumeMT').focus();
                    }
                    else {
                        // $('#btnSave').click();
                        checkTableRow();
                    }
                } else {
                    if ($('#txtVolumeLitres').val() == "") {
                        $('#txtVolumeLitres').focus();
                    }
                    else {
                        checkTableRow();
                    }
                }
            } else if ($('#ddlInvoiceFigureType').val() == "Outturn") 
            {
                if ($('#ddlSaleUnitType').val() == "BBL") {
                    if ($('#txtOutturnBBL').val() == "") {
                        $('#txtOutturnBBL').focus();
                    } else {
                        // $('#btnSave').click();
                        checkTableRow();
                    }
                } else if ($('#ddlSaleUnitType').val() == "MT") {
                    if ($('#txtOutturnMT').val() == "") {
                        $('#txtOutturnMT').focus();
                    } else {
                        //$('#btnSave').click();
                        checkTableRow();
                    }
                } else {
                    if ($('#txtOutturnLitres').val() == "") {
                        $('#txtOutturnLitres').focus();
                    } else {
                        //$('#btnSave').click();
                        checkTableRow();
                    }
                }
            }  
        }        
    }

    function checkTableRow() {
        var rowCount = $('table#PriceTable tbody tr:last').index() + 1;
        if (rowCount == 0) {
            $('#pMsg').text("Please Add New Price");
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        } else {
            $('#btnSave').click();
        }
    }
    //$(".numberOnly").blur(function () {
    //    debugger;
    //    var value = parseFloat($(this).val().replace(/,/g, ''));
    //    if (!isNaN(value)) {
    //        if (value > 999999999999) {
    //            value = 999999999999;
    //        }
    //        //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
    //        var tmp = $(this).val().split(".");
    //        var lng = tmp.length;
    //        var digit = 0;
    //        if (lng > 1) {
    //            digit = tmp[1].length;
    //            tmp[1] = tmp[1].replace(/[^\d\.\-eE+]/g, "");
    //        }
    //        //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
    //        $(this).val(NumberWithCommas(tmp[0].replace(/[^\d\.\-eE+]/g, "") + '.' + tmp[1], tmp[1].length));
    //    }
    //    else
    //        $(this).val("");
    //});

    //$(".numberOnly").each(function () {
    //    debugger;
    //    var value = parseFloat($(this).val().replace(/,/g, ''));
    //    if (!isNaN(value)) {
    //        if (value > 999999999999) {
    //            value = 999999999999;
    //        }
    //        var tmp = $(this).val().split(".");
    //        var lng = tmp.length;
    //        var digit = 0;
    //        if (lng > 1) {
    //            digit = tmp[1].length;
    //            tmp[1] = tmp[1].replace(/[^\d\.\-eE+]/g, "");
    //        }
    //        //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
    //        $(this).val(NumberWithCommas(tmp[0].replace(/[^\d\.\-eE+]/g, "") + '.' + tmp[1], tmp[1].length));
    //    }
    //    else
    //        $(this).val(NumberWithCommas($(this).val().replace(/[^\d\.\-eE+]/g, ""), 2));
    //});
</script>


