﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ClearLineViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "";
    if (Model.Mode == "T")
    {
        page_title = "Search Through Put Fee Transaction";
    }
    else
    {
        page_title = "Search Clear Line Transaction";
    }
}

@if (TempData["ReponseStatus"] != null && TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
            $('#btnCreate').hide();
        });
    </script>
}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-md-1 control-label">Trip No.</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.ClearLine_Search.sTripNo, new { @class = "form-control", @id = "txtTripNo" })
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label">Vessel Name</label>
                <div class="col-md-2">

                    @Html.DropDownListFor(model => model.ClearLine_Search.sVesselName, new SelectList(Model.ddl_Vessel, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlVessel" })
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label">Delivery Date</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ClearLine_Search.sDeliveryDate, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @Style = "width:230px" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-sm-4 col-md-1 control-label">Crude</label>
                <div class="col-sm-8 col-md-2">

                    @Html.DropDownListFor(model => model.ClearLine_Search.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrude" })
                </div>
            </div>
            <div>
                <label class="col-sm-4 col-md-1 control-label">Customer</label>
                <div class="col-sm-8 col-md-2">
                    @Html.DropDownListFor(model => model.ClearLine_Search.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            @if (Model.Mode == "T")
            {
                <button type="submit" class="btn btn-primary" name="action:AddThroughput">Add</button>
                <button type="submit" class="btn btn-primary" name="action:SearchThroughput">Search</button>
                <button type="button" class="btn btn-primary" onclick="clearSearch()">Clear</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" name="action:AddEdit">Add</button>
                <button type="submit" class="btn btn-primary" name="action:Search">Search</button>
                <button type="button" class="btn btn-primary" onclick="clearSearch()">Clear</button>
            }

        </div>
    </div>

    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
        <table id="searchResultTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th style="width:160px"></th>
                    <th style="width:270px;text-align:center">Trip No.</th>
                    <th style="width:300px;text-align:center">Customer</th>
                    <th style="width:200px;text-align:center">Delivery Date</th>
                    <th style="width:100px;text-align:center">Plant</th>
                    <th style="width:220px;text-align:center">Product</th>
                    <th style="width:200px;text-align:center">Volume (BBL)</th>
                    <th style="width:200px;text-align:center">Volume (MT)</th>
                    <th style="width:200px;text-align:center">Volume (Litres)</th>
                    <th style="width:200px;text-align:center">Outtern (BBL)</th>
                    <th style="width:200px;text-align:center">Outtern (MT)</th>
                    <th style="width:200px;text-align:center">Outtern (Litres)</th>
                    <th style="width:200px;text-align:center">Price</th>
                    <th style="width:200px;text-align:center">Amount</th>
                    <th style="width:200px;text-align:center">US4</th>
                    <th style="width:200px;text-align:center">PO No.</th>
                    <th style="width:200px;text-align:center">Exchange Rate</th>
                    <th style="width:280px;text-align:center">Sale Order</th>
                    @*<th style="width:200px;text-align:center">MEMO No.</th>*@
                    <th style="width:160px;text-align:center">DO</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ClearLine_Search != null)
                {
                    if (Model.ClearLine_Search.SearchData != null && Model.ClearLine_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.ClearLine_Search.SearchData)
                        {
                            <tr>
                                <td>
                                    @if (string.IsNullOrEmpty(item.dSaleOrder))
                                    {
                                        <input type="button" id="CreateSOClearLine" @item.dTripNo value="CreateSO" onclick="createSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">
                                    }
                                    else
                                    {
                                        <input type="button" id="UpdateSOClearLine" @item.dTripNo value="UpdateSO" onclick="updateSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">

                                        <input type="button" id="CancelSOClearLine" @item.dTripNo value="CancelSO" onclick="cancelSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">
                                    }



                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dSaleUnitType)
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dInvoiceFigureType)

                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dCompany)
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dFIDoc)
                                </td>
                                <td>
                                    <a href="@Url.Action("AddEdit", "ClearLine", new { pTripNo = @item.dTripNo })" title=@item.dTripNo style="width:130px">
                                        @item.dTripNo
                                    </a>
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dTripNo, new { @id = "hTripNo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dCustomer, item.dCustomer, new { @id = "Customer" + @i, @Style = "width:200px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dCustomerCode, new { @id = "hCustomer" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dDeliveryDate, item.dDeliveryDate, new { @id = "DeliveryDate" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dDeliveryDate, new { @id = "hDeliveryDate" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dPlant, item.dPlant, new { @id = "Plant" + @i, @Style = "width:60px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dPlant, new { @id = "hPlant" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dProduct, item.dProduct, new { @id = "Product" + @i, @Style = "width:130px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dProductCode, new { @id = "hProduct" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dVolumeBBL, item.dVolumeBBL, new { @id = "VolumeBBL" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dVolumeBBL, new { @id = "hVolumeBBL" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dVolumeMT, item.dVolumeMT, new { @id = "VolumeMT" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dVolumeMT, new { @id = "hVolumeMT" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dVolumeLitres, item.dVolumeLitres, new { @id = "VolumeLitres" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dVolumeLitres, new { @id = "hVolumeLitres" + @i })
                                </td>

                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dOuternBBL, item.dOuternBBL, new { @id = "OuternBBL" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dOuternBBL, new { @id = "hOuternBBL" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dOuternMT, item.dOuternMT, new { @id = "OuternMT" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dOuternMT, new { @id = "hOuternMT" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dOuternLitres, item.dOuternLitres, new { @id = "OuternLitres" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dOuternLitres, new { @id = "hOuternLitres" + @i })
                                </td>

                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dPrice, item.dPrice, new { @id = "Price" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dPrice, new { @id = "hPrice" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dAmount, item.dAmount, new { @id = "Amount" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dAmount, new { @id = "hAmount" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dUS4, item.dUS4, new { @id = "US4" + @i, @Style = "width:50px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dUS4, new { @id = "hUS4" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dPONo, item.dPONo, new { @id = "PONo" + @i, @Style = "width:120px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dPONo, new { @id = "hPONo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dExchangeRate, item.dExchangeRate, new { @id = "ExchangeRate" + @i, @Style = "width:80px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dExchangeRate, new { @id = "hExchangeRate" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dSaleOrder, item.dSaleOrder, new { @id = "SaleOrder" + @i, @Style = "width:130px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dSaleOrder, new { @id = "hSaleOrder" + @i })
                                </td>
                                @*<td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dMEMONo, item.dMEMONo, new { @id = "MEMONo" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dMEMONo, new { @id = "hMEMONo" + @i })
                                </td>*@
                                <td>
                                    @Html.LabelFor(m => m.ClearLine_Search.SearchData[i].dDO, item.dDO, new { @id = "DO" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.ClearLine_Search.SearchData[i].dDO, new { @id = "hDO" + @i })
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr class="waiting"><td colspan="19">No Data found</td></tr>
                    }
                }
                else
                {
                    <tr class="waiting"><td colspan="19">Waiting for search</td></tr>
                }

            </tbody>
        </table>
    </div>

    <!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="pMsg">
                     @TempData["ReponseMessage"]
                     
                    </p>
                </div>
                <div class="modal-footer">
    @if (TempData["ReponseStatus"] != null)

    {
      

            <button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    }


    else
    {
      
            <button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>
            <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>
            <button type="submit" class="btn btn-default" id="btnCancel" name="action:Cancel">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <input id="selectedTripNo" name="SOClearLine_Search.sTripNo_Select" type="hidden" value="">
            }

        </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });

        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    //"targets": [0],
                    "orderable": false
                }
            ]
        });
       
       
       
    });

    function createSO(TripNo, i) {
     // debugger;
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').show();
        $('#btnUpdate').hide();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to create sale order in SAP ? ');
        debugger;
        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function updateSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').show();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to update sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function cancelSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').hide();
        $('#btnCancel').show();
        $('#pMsg').text('Are you sure to cancel sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function getAutoCompleteJSON(ctrlID) {

        var dataTemp = "";
        if (ctrlID == "txt_sVessel") {
            dataTemp = $("#hid_sVessel").val();
        }
        else if (ctrlID == "txt_sCrude") {
            dataTemp = $("#hid_sCrude").val();
        }
        else if (ctrlID == "txt_sCustomer") {
            dataTemp = $("#hid_sCustomer").val();
        }
        else if (ctrlID == "") {
            dataTemp = '[{"value":"Test"}]';
        }

        var availableData = JSON.parse(dataTemp);

        //alert(availableData.length);

        //alert($(".companyCodeJsonData").val());
        $("#" + ctrlID).autocomplete({

            source: function (request, response) {
                //debugger;
                var results = $.ui.autocomplete.filter(availableData, request.term);
                response(results.slice(0, 10));

                //var re = $.ui.autocomplete.escapeRegex(request.term);
                //var matcher = new RegExp("^" + re, "i");
                //response($.grep(($.map(availableData, function (v, i) {
                //    return {
                //        label: v.value,
                //        value: v.value
                //    };

                //})), function (item) {
                //    return matcher.test(item.value);
                //}))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function clearSearch() {
        $('#txtTripNo').val('');
        $('#txtTripNo').text('');
        //$('#txt_sVessel').val('');
        //$('#txt_sVessel').text('');
        $('#txtDeliveryDate').val('');
        $('#txtDeliveryDate').text('');
        //$('#txt_sCustomer').val('');
        //$('#txt_sCustomer').text('');
        $('#ddlVessel').val('').change();
        $('#ddlCrude').val('').change();
        $('#ddlCustomer').val('').change();
        $('#searchResultTable tbody').empty();
    }

    function NumberWithCommas(nStr, nF) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        var sTmp = '';
        for (var i = 0; i < nF; i++) { sTmp += '0'; }
        x2 = x.length > 1 ? (x[1] + sTmp).substr(0, nF) : sTmp;
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + '.' + x2;
    }
</script>


