﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.Vessel_Utilization_Report


<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Vessel Utilization</h1>
    </div>

    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Vessel Name</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Search.sVessel, Model.Vessel, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

    @using (Html.BeginForm("GenExcel", "SchedulerCMCS", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Search.sVessel, new { id = "SearchsVesselTc" })
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Voyage No</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Search.VoyageFrom, new { @class = "form-control" })
                        </div>
                        <label class="col-md-1 control-label">To</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Search.VoyageTo, new { @class = "form-control" , @maxlength = "4" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            <button type="button" onclick="funcSubmitTC()" class="btn">Excel</button>
                            <button id="btnExTC" type="submit" class="btn" style="display:none;">Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("GenExcel", "SchedulerCMCS", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Search.sVessel, new { id = "SearchsVessel1" })
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Year</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sYearly, Model.Yearly, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn">Excel</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("GenExcel", "SchedulerCMCS", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Search.sVessel, new { id = "SearchsVessel2" })
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Monthly From</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sMonthlyFrom, Model.MonthlyFrom, new { @class = "form-control" })
                        </div>
                        <label class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sYearlyFrom, Model.YearlyFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Monthly To</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sMonthlyTo, Model.MonthlyTo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sYearlyTo, Model.YearlyTo, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="submit" id="submit_mtm" class="btn">Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


     
    @using (Html.BeginForm("GenExcel", "SchedulerCMCS", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-horizontal">
               @Html.HiddenFor(model => model.Search.sVessel, new { id = "SearchsVessel3" })
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Yearly Comparison</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sYearlyComparsion1, Model.YearlyComparsion1, new { @class = "form-control" })
                        </div>
                        <label class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Search.sYearlyComparsion2, Model.YearlyComparsion1, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            <button type="submit" class="btn">Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    }


</div>


<script>
    $(function () {
        $('#SearchsVesselTc').val($('#Search_sVessel').val());
        $('#SearchsVessel1').val($('#Search_sVessel').val());
        $('#SearchsVessel2').val($('#Search_sVessel').val());
        $('#SearchsVessel3').val($('#Search_sVessel').val());
        if ($('#Search_sYearlyFrom').val() != $('#Search_sYearlyTo').val()) {
            debugger;

        }
    });
    $('#Search_sVessel').change(function () {
        debugger;
        $('#SearchsVesselTc').val($('#Search_sVessel').val());
        $('#SearchsVessel1').val($('#Search_sVessel').val());
        $('#SearchsVessel2').val($('#Search_sVessel').val());
        $('#SearchsVessel3').val($('#Search_sVessel').val());

    })
    var month_count = 0;
    var year_coount = 0;
    $('#Search_sYearlyFrom').change(function () {
        debugger;
        var y = $('#Search_sYearlyTo').val() - $('#Search_sYearlyFrom').val();
        if (y > 1) {
            alert('Over 24 Month')
            $("#submit_mtm").hide();
            alert('Please select month but not more than 24 months');
        } else if (y < 1) {
            alert('Not Format');
            $("#submit_mtm").hide();
        } else {
            $("#submit_mtm").show();
        }

    })
    $('#Search_sYearlyTo').change(function () {
        debugger;
        var y = $('#Search_sYearlyTo').val() - $('#Search_sYearlyFrom').val();
        if (y > 1) {
            alert('Over 24 Month');
            $("#submit_mtm").hide();
            alert('Please select month but not more than 24 months');
        } else if (y < 1) {
            alert('Not Format');
            $("#submit_mtm").hide();
        } else {
            $("#submit_mtm").show();
        }

    });

    function funcSubmitTC() {
        $("#Search_VoyageFrom").removeClass("input-error");
        $("#Search_VoyageTo").removeClass("input-error");
        var FocusCtrl = "";
        var chk = 0;
        if ($.trim($('#Search_VoyageFrom').val()) === '')
        {
            addValidMessageError($("#Search_VoyageFrom"), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#Search_VoyageFrom';
            chk++;
        }
        if ($.trim($('#Search_VoyageTo').val()) === '')
        {
            addValidMessageError($("#Search_VoyageTo"), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#Search_VoyageTo';
            chk++;
        }
        if(chk == 0)
        {
            $('#btnExTC').click();
        }
    };

</script>