﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PortViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Port";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Port";
    }
}

<style>
     .ui-autocomplete {
         max-height: 100px;
         overflow-y: auto;
         /* prevent horizontal scrollbar */
         overflow-x: hidden;
     }
     /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
     * html .ui-autocomplete {
         height: 100px;
     }
</style>

<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="control-label col-sm-2">CREATE TYPE :</label>
                <div class="col-sm-4">
                    @Model.port_Detail.CreateType
                    @Html.HiddenFor(model => model.port_Detail.CreateType)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">PORT ID :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.port_Detail.PortID, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">PORT NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.port_Detail.PortName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "200" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">REMARK :</label>
                <div class="col-sm-4">
                    @Html.TextAreaFor(model => model.port_Detail.Remark, htmlAttributes: new { @class="form-control", @rows="5", @maxlength = "200" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">CONTROLLER :<span style="color:red">*</span></label>
                <div class="col-sm-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="systemArr">
                            @Html.HiddenFor(model => model.port_SystemJSON, htmlAttributes: new { @id = "SystemJSON" })
                            @for (int i = 0; i < Model.port_Detail.Control.Count; i++)
                            {
                                var checkboxStatus = "checkboxStatus" + @i;
                                <tr>
                                    <td>@Html.TextBoxFor(model => model.port_Detail.Control[i].System, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "getSystemJSON()", @autocomplete = "off", @maxlength = "32" })</td>
                                    <td>
                                        @if (Model.port_Detail.Control[i].Status == "ACTIVE")
                                        {
                                            <input type="checkbox" class="checkboxStatus" id=@checkboxStatus checked onchange="checkedStatus(@i);" value="ACTIVE">
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="checkboxStatus" id=@checkboxStatus onchange="checkedStatus(@i);" value="INACTIVE">
                                        }
                                        @Html.HiddenFor(model => model.port_Detail.Control[i].Status, htmlAttributes: new { @required = "required" })
                                    </td>
                                    <td>

                                        @Html.HiddenFor(model => model.port_Detail.Control[i].RowID)
                                        <script>
                                            $(function () {
                                                setAllStatusToogleSwitch();
                                            });
                                            count++;
                                        </script>

                                        @if (String.IsNullOrEmpty(Model.port_Detail.Control[i].RowID) && i > 0)
                                        {
                                            <a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();" />
                                            <img src="../../Web/Images/btn-delete.png" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                        <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Port" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@if (actionName.ToUpper() == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
    </script>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Port", // controllerName
                             new
                             {                                                     // routeValues
                                 PortID = Model.port_Detail.PortID
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Port" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>

    //Set All Status Toogle Switch
    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    setAllStatusToogleSwitch();

    // Change Status Toogle Switch Value
    function checkedStatus(indexOfID) {
        if ($("#checkboxStatus" + indexOfID).prop("checked")) {
            $('#port_Detail_Control_' + indexOfID + '__Status').val("ACTIVE");
        } else {
            $('#port_Detail_Control_' + indexOfID + '__Status').val("INACTIVE");
        }
        //alert($('#port_Detail_Control_' + indexOfID + '__Status').val());
    }// End Change Status Toogle Switch Value

    //Get System Automplete
    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    //Get System Automplete
    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End Type Autocomplete

    // Dynamic Add System Row
    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="port_Detail_Control_'+count+'__System" name="port_Detail.Control['+count+'].System" onfocus="getSystemJSON()" required="required" type="text" value="" />'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxStatus" id="checkboxStatus' + count + '" value="ACTIVE" checked onchange="checkedStatus(' + count + ');" required="required" >'
            + '<input hidden="hidden" id="port_Detail_Control_' + count + '__Status" name="port_Detail.Control[' + count + '].Status" type="text" value="ACTIVE" required="required" />'
            + '</td>'
            + '<td>'
            + '<a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" />'
            + '</td>'
            + '</tr>'
        );

        setAllStatusToogleSwitch();
        count++;

        ReindexController();

        $('#createForm').validator("update");
        $('#createForm').validator("validate");
    });

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();

                ReindexController();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    function ReindexController()
    {
        
        var itemIndex =0;
        $('#systemArr tr').each(function(){
            var this_row = $(this);
            this_row.find('input[name$=".System"]').attr('name', 'port_Detail.Control[' + itemIndex + '].System');//replace name of input that ends the name BRANCH
            this_row.find('input[name$=".RowID"]').attr('name', 'port_Detail.Control[' + itemIndex + '].RowID');
            this_row.find('input[name$=".Status"]').attr('name', 'port_Detail.Control[' + itemIndex + '].Status');
            itemIndex ++;
        });
    }

</script>
