﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingTicketViewModel

@{
    var i = 0;
}

@Html.HiddenFor(model => model.deal_detail.underlying_vs_id)
@Html.HiddenFor(model => model.deal_detail.underlying_vs_name)
@Html.HiddenFor(model => model.deal_detail.hedging_chart.limit)
@Html.HiddenFor(model => model.deal_detail.hedging_chart.hedged_vol)
@Html.HiddenFor(model => model.deal_detail.hedging_chart.target)
@Html.HiddenFor(model => model.deal_detail.hedging_execution.price_unit)
@Html.HiddenFor(model => model.deal_detail.hedging_execution.volume_mnt_unit)
@Html.HiddenFor(model => model.deal_detail.hedging_execution.hedging_position.price_unit)
@Html.HiddenFor(model => model.deal_detail.hedging_execution.hedging_position.volume_unit)
@Html.HiddenFor(model => model.search_deal.deal_no)
@Html.HiddenFor(model => model.search_deal.deal_date)
@Html.HiddenFor(model => model.search_deal.sDeal_type)
@Html.HiddenFor(model => model.search_deal.sTool)
@Html.HiddenFor(model => model.search_deal.sUnderlying)
@Html.HiddenFor(model => model.search_deal.sVS)
@Html.HiddenFor(model => model.deal_detail.annual_detail_id)
@Html.HiddenFor(model => model.systemType)

<div class="form-group">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <td>@Html.TextBoxFor(model => model.deal_detail.deal_type, Model.deal_detail.deal_type as string, new { @class = "form-control", @readonly = "true" })</td>
                </tr>
                <tr>
                    <th>Underlying</th>
                    @Html.HiddenFor(model => model.deal_detail.underlying_id)
                    <td>@Html.TextBoxFor(model => model.deal_detail.underlying_name, Model.deal_detail.underlying_name as string, new { @class = "form-control", @readonly = "true" })</td>
                </tr>
                <tr>
                    <th>Tool</th>
                    @Html.HiddenFor(model => model.deal_detail.tool_id)
                    <td>@Html.TextBoxFor(model => model.deal_detail.tool_name, Model.deal_detail.tool_name as string, new { @class = "form-control", @readonly = "true" })</td>
                </tr>
                <tr>
                    <th>Hedge Type</th>
                    @Html.HiddenFor(model => model.deal_detail.hedg_type_name)
                    <td>@Html.TextBoxFor(model => model.deal_detail.hedg_type_name, Model.deal_detail.hedg_type_name as string, new { @class = "form-control", @readonly = "true" })</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6">
        <div id="ContentGraph" style="height:200px;"> </div>
    </div>
</div>

@if (Model.deal_detail.hedging_target != null)
{
    <div class="form-group">
        <p>Hedging target:</p>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @for (var k = 0; k < Model.deal_detail.hedging_target.Count; k++)
                        {
                            @Html.HiddenFor(model => model.deal_detail.hedging_target[k].order)
                        }
                        <th>Tenor</th>
                        @for (var k = 0; k < Model.deal_detail.hedging_target.Count; k++)
                        {
                            <td>@Model.deal_detail.hedging_target[k].tenor</td>
                            @Html.HiddenFor(model => model.deal_detail.hedging_target[k].tenor)
                        }
                    </tr>
                    <tr>
                        <th>Price</th>
                        @for (var k = 0; k < Model.deal_detail.hedging_target.Count; k++)
                        {
                            <td>@Model.deal_detail.hedging_target[k].price</td>
                            @Html.HiddenFor(model => model.deal_detail.hedging_target[k].price)
                        }
                    </tr>
                    <tr>
                        <th>Volume</th>
                        @for (var k = 0; k < Model.deal_detail.hedging_target.Count; k++)
                        {
                            <td>@Model.deal_detail.hedging_target[k].volume</td>
                            @Html.HiddenFor(model => model.deal_detail.hedging_target[k].volume)
                        }
                    </tr>
                    <tr>
                        <th>Remaining</th>
                        @for (var k = 0; k < Model.deal_detail.hedging_target.Count; k++)
                        {
                            <td>@Model.deal_detail.hedging_target[k].remaining</td>
                            @Html.HiddenFor(model => model.deal_detail.hedging_target[k].remaining)
                        }
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6">

        </div>
    </div>
}

@if (Model.deal_detail.hedging_execution.hedging_execution_data != null)
{
    <div class="form-group">
        <p>Hedging evecution:</p>
        <table class="table table-bordered" id="hedgingdatatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Tenor</th>
                    <th>Deal no.</th>
                    <th>Counter parties</th>
                    <th>Price[@Model.deal_detail.hedging_execution.price_unit]</th>
                    <th>Volume[@Model.deal_detail.hedging_execution.volume_mnt_unit]</th>
                    <th>Status</th>
                    @if (Model.pageMode.ToUpper() == "NEW" || Model.pageMode.ToUpper() == "RENEW" || Model.trading_ticket.status.ToUpper() == "REJECT" || Model.trading_ticket.status.ToUpper() == "DRAFT")
                    {
                        <th>Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.deal_detail.hedging_execution.hedging_execution_data)
                {
                    if (@detail.record_status != "D")
                    {
                        <tr id="tdList_@detail.deal_no" class="DataList">
                            @if (detail.bid_price != null)
                            {
                                if (detail.bid_price.Count() > 0)
                                {
                                    <td><span type="button" style="font-family: 'Glyphicons Halflings'!important;" class="glyphicon glyphicon-plus-sign" data-toggle="collapse" data-target=".@detail.deal_no" /></td>
                                }
                                else
                                {
                                    @Html.Raw("<td></td>")
                                }
                            }
                            else
                            {
                                @Html.Raw("<td></td>")
                            }
                            <td>@detail.tenor</td>
                            <td>@detail.deal_no</td>
                            <td>@detail.counter_parties_name</td>
                            <td>@detail.price</td>
                            <td>@detail.volume</td>
                            <td>@detail.deal_status</td>
                            @if (Model.pageMode.ToUpper() == "NEW" || Model.pageMode.ToUpper() == "RENEW" || Model.trading_ticket.status.ToUpper() == "REJECT" || Model.trading_ticket.status.ToUpper() == "DRAFT")
                            {
                                <td><input type="image" src="../../Web/Images/icon-delete.gif" onclick="delList('@detail.deal_no'); return false;"></td>
                            }
                        </tr>
                    }

                    if (detail.bid_price != null)
                    {
                        foreach (var detailchild in detail.bid_price)
                        {
                            var j = 0;
                            if (@detail.record_status != "D")
                            {
                                <tr id="@detail.deal_id" class="collapse @detail.deal_no">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@detailchild.counter_parties_name</td>
                                    <td>@detailchild.price</td>
                                    <td></td>
                                    <td></td>
                                    @if (Model.pageMode.ToUpper() == "NEW" || Model.pageMode.ToUpper() == "RENEW" || Model.trading_ticket.status.ToUpper() == "REJECT" || Model.trading_ticket.status.ToUpper() == "DRAFT")
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                            @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].bid_price[j].order)
                            @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].bid_price[j].counter_parties_id)
                            @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].bid_price[j].counter_parties_name)
                            @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].bid_price[j].price)
                            j++;
                        }
                    }

                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].deal_id)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].tenor)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].deal_no)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].counter_parties_id)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].counter_parties_name)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].price)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].volume)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].record_status)
                    @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_execution_data[i].deal_status)
                    i++;
                }
            </tbody>
        </table>
    </div>
}

@if (Model.deal_detail.hedging_execution.hedging_position.hedging_position_data != null)
{
    <div class="form-group">
        <p>Hedging position:</p>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tenor</th>
                        <th>Price[@Model.deal_detail.hedging_execution.hedging_position.price_unit]</th>
                        <th>Vol.[@Model.deal_detail.hedging_execution.hedging_position.volume_unit]</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var k = 0; k < Model.deal_detail.hedging_execution.hedging_position.hedging_position_data.Count; k++)
                    {
                        <tr>
                            <td>@Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].tenor</td>
                            <td>@Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].price</td>
                            <td>@Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].volume</td>
                        </tr>
                        @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].tenor)
                        @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].price)
                        @Html.HiddenFor(model => Model.deal_detail.hedging_execution.hedging_position.hedging_position_data[k].volume)
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var target = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.target)));
        var limited = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.limit)));
        var volume = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.hedged_vol)));

        if(@Model.deal_detail.hedging_execution.hedging_execution_data.Count() == 0)
        {
            $('#deal_detail_row').hide();
            $('#btnSubmit_ticket').prop('disabled', true);
        }else
        {
            $('#deal_detail_row').show();
            $('#btnSubmit_ticket').prop('disabled', false);
            $('#btnSaveDraft_ticket').prop('disabled', false);
        }

        Highcharts.chart('ContentGraph', {
            yAxis: {
                max: limited,                
                title: {
                    text: ''
                },
                plotLines: [{
                    value: target,
                    color: 'blue',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        align: "right",
                        text: 'Target'
                    }
                }, {
                    value: limited,
                    color: 'red',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        align: "right",
                        text: 'Limited'
                    }
                }],labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                }
            },
            chart: {
                type: 'column'
            },
            title: {
                text: '% of Production'
            },
            xAxis: {
                type: 'category'
            },
            
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Hedged Volume',
                    y: volume,
                }]
            }]
        });
    });

    function delList(row) {
        $("#tdList_" + row).remove();
        $("#" + row).remove();
        var dealData = @Html.Raw(Json.Encode((Model.deal_detail.hedging_execution.hedging_execution_data).Select(m => new { DealNo = m.deal_no })));
        var dealArr = new Array();
        for (var i = 0; i < '@Model.deal_detail.hedging_execution.hedging_execution_data.Count'; i++) {
            dealArr.push(dealData[i].DealNo);
        }
        var urlSearch = "@Html.Raw( @Url.Action("DeleteList", "HedgingTicket"))";
        $.ajax({
            data: { deal_no: dealArr, deleteRow: row,
                sdeal_no: $('#search_deal_deal_no').val(), sdeal_date: $('#search_deal_deal_date').val(),
                sdeal_type : $('#search_deal_sDeal_type').val(), sTool: $('#search_deal_sTool').val(),
                sUnderlying : $('#search_deal_sUnderlying').val(), sVS: $('#search_deal_sVS').val(),
                systemType : $('#systemType').val()
            },
            url: urlSearch,
            type: 'POST',
            success: function(data) {
                $('#deal_detail_row').html(data);
            }
        });
    }
</script>
