﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingTicketViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }
    string type = ViewBag.Type == null ? "TICKET" : ViewBag.Type;
}
<script src="https://code.highcharts.com/highcharts.js"></script>

@if (Model.pageMode.ToUpper() == "RENEW" || ViewBag.ErrorPage != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@using (Html.BeginForm())
{
    <div class="wrapper-detail">
        <div>
            <h1 style="font-weight: bold;">Trading Ticket Key-in</h1>
        </div>
        <from actions="" method="post">
            <div class="form-horizontal">
                <div class="row">
                    @Html.HiddenFor(model => model.action)
                    @Html.HiddenFor(model => model.next_status)
                    @Html.Hidden("hdfNoteAction")
                    @Html.Hidden("EventButton", "0")
                    @Html.HiddenFor(m => m.pageMode, Model.pageMode)
                    @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
                    @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
                    @Html.HiddenFor(m => m.reqID, Model.reqID)
                    @Html.HiddenFor(m => m.systemType)
                    @Html.HiddenFor(m => m.system)
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Ticket no.</label>
                            <div class="col-md-6">
                                @Model.trading_ticket.ticket_no
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Trader</label>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.trading_ticket.trader, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Ticket date</label>
                            <div class="col-md-6">
                                @if (Model.pageMode.ToUpper() == "NEW")
                                {
                                    @Html.TextBoxFor(model => model.trading_ticket.ticket_date, Model.trading_ticket.ticket_date as string, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.trading_ticket.ticket_date, Model.trading_ticket.ticket_date as string, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY" })
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Add Deal" class="btn btn-success" id="adddeal" name="adddeal" onclick="OpenCreatePopup()" />
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        @if (Model.pageMode.ToUpper() == "EDIT")
                        {
                            <text>Status:</text>
                            if (Model.trading_ticket != null)
                            {
                                if (Model.trading_ticket.status != null)
                                {
                                    @Html.Label(Model.trading_ticket.status);
                                    @Html.HiddenFor(m => m.trading_ticket.status);
                                }
                            }
                            <br />
                            <text>Revision:</text>
                            if (Model.trading_ticket != null)
                            {
                                @Model.trading_ticket.revision
                                @Html.HiddenFor(m => m.trading_ticket.revision)
                            }
                        }
                    </div>
                </div>
                <div class="row" id="deal_detail_row">
                    @if (Model.pageMode.ToUpper() == "EDIT")
                    {
                        @Html.Partial("_Deal_Detail", Model)
                    }
                    else if (Model.pageMode.ToUpper() == "RENEW")
                    {
                        @Html.Partial("_Deal_Detail", Model)
                    }
                </div>
                <div class="form-group">
                    <h2>Note</h2>
                    @Html.TextAreaFor(model => model.trading_ticket.note, new { @class = "form-control txtExplanation" })
                </div>
                @if (Model.pageMode.ToUpper() == "EDIT")
                {
                    <div class="form-group">
                        <h2>Reason for Approval/Reject</h2>
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.trading_ticket.reason, new { @style = "min-height: 60px", @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <h2>Attach File</h2>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button id="btn_upload_MultiFile" class="btn btn-success" type="button" onclick="addAttachFile('@type','F10000006')"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Select File</button>
                                    <input type="file" name="upload_MultiFile" id="upload_MultiFile" multiple="multiple" style="display:none;" />
                                    <div id="filesUploaded"></div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-button">
                    @if (ViewBag.hdfFileUpload != "|")
                    {
                        @Html.Hidden("hdfFileUpload", ViewBag.hdfFileUpload as object)
                    }
                    else
                    {
                        @Html.Hidden("hdfFileUpload")
                    }
                    @if (Model.buttonMode == "AUTO" && Model.trading_ticket.status != "CANCEL")
                    {
                        <input id="btnSaveDraft_ticket" type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                        <input id="btnSubmit_ticket" type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                        <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                        <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                    }
                    else
                    {
                        @Html.Hidden("hdfEventClick")
                        @Html.Raw(@Model.buttonCode)
                    }
                    @Html.ActionLink("BACK", "Search", new { controller = "HedgingTicket" }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>

        </from>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="SearchDealPopup" tabindex="-1" role="dialog" data-url='@Url.Action("SearchAddDeal","HedgingTicket")'>
    <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center">
        <div class="modal-content" style="height:550px;overflow:scroll;overflow-x:hidden;">
            <div class="modal-header">
                <h1>Search Deal Key-in</h1>
            </div>
            <div class="modal-body " id="modal_detail">
                @*@Html.Partial("_Search_Deal")*@
            </div>
            <div class="modal-footer">
                <input type="button" value="Add Deal" class="btn btn-success" id="addselectdeal" name="adddeal" onclick="AddDeal()" />
                <input type="button" value="Close" class="btn btn-default" id="closedeal" name="closedeal" onclick="CloseDeal()" />
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->


<script src="~/Content/js/uploadFile.js"></script>
<script type="text/javascript">
    function MakeUploadTag(fileName) {
        var i = 0, length = fileName.length;
        var TmpFilename = fileName;
        for (i; i < length; i++) {
            TmpFilename = TmpFilename.replace("/", "|").replace("\\", "|")
        }
        var spltVal = TmpFilename.split("|");
        var htmlTag = '<div id=\"' + fileName + '\" class=\"uploadifyQueue\" style width=\"450px\">';
        htmlTag += '<div class=\"uploadifyQueueItem FileAttach\" value=\"' + fileName + '\">';
        @if (@Model.trading_ticket.status.ToUpper() == "REJECT" || @Model.trading_ticket.status.ToUpper() == "DRAFT" || @Model.trading_ticket.status.ToUpper() == "NEW") {
            @:htmlTag += '<div class="cancel">';
                            @:htmlTag += '<span class="glyphicon glyphicon-remove removeAttach"></span>';
                            @:htmlTag += '</div>';
                        }
        htmlTag += '<a target=\"_blank\" href=\"../' + fileName + '\">' + spltVal[spltVal.length - 1] + '</a>';
        htmlTag += '</div>';
        htmlTag += '</div>';
        return htmlTag;
    }
</script>

<script>
    var target = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.target)));
    var limited = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.limit)));
    var volume = parseInt(@Html.Raw(Json.Encode(Model.deal_detail.hedging_chart.hedged_vol)));
    $(document).ready(function () {
        LoadFileUpload();
        $('.date').each(function () {
            $(this).dateRangePicker(
                {
                    singleDate: true,
                    singleMonth: true,
                    startOfWeek: 'monday',
                    format: 'DD/MM/YYYY',
                })
        })
        if ('@Model.pageMode.ToUpper()' == "EDIT")
        {
            if('@Model.trading_ticket.status.ToUpper()' != "DRAFT")
            {
                $('#trading_ticket_note').prop('readonly', true);
                $('#adddeal').hide();
                $('#btn_upload_MultiFile').hide();
                $('#trading_ticket_ticket_date').prop('readonly', true);
                $('#btnSubmit_ticket').prop('disabled', false);
            }
        }
        else if('@Model.pageMode.ToUpper()' == "RENEW")
        {
            $('#btnSubmit_ticket').prop('disabled', false);
        }else
        {
            $('#btnSubmit_ticket').prop('disabled', true);
            $('#btnSaveDraft_ticket').prop('disabled', true);
        }
        if('@Model.trading_ticket.status.ToUpper()' == "REJECT" || '@Model.trading_ticket.status.ToUpper()' == "DRAFT" || '@Model.trading_ticket.status.ToUpper()' == "NEW")
        {
            $('#trading_ticket_note').prop('readonly', false);
            $('#adddeal').show();
            $('#btn_upload_MultiFile').show();
            $('#trading_ticket_ticket_date').prop('readonly', false);
            $('#trading_ticket_ticket_date').datepicker({
                autoClose: true,
                startOfWeek: 'monday',
                format: "dd/mm/yyyy"
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
        }

        if (@Html.Raw(Json.Encode(Model.pageMode))== "Edit") {
            Highcharts.chart('ContentGraph', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '% of Production'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    max: limited,
                    labels: {
                        formatter: function () {
                            return this.value + '%';
                        }
                    },
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: target,
                        color: 'blue',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            align: "right",
                            text: 'Target'
                        }
                    }, {
                        value: limited,
                        color: 'red',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            align: "right",
                            text: 'Limited'
                        }
                    }]
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Hedged Volume',
                        y: volume,
                    }]
                }]
            });
        }
    });

    function LoadFileUpload() {
        $('.removeAttach').each(function () {
            $(this).parent().parent().parent().remove();
        });
        if ($('#hdfFileUpload').val()) {
            var ItemFile = $('#hdfFileUpload').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    $('#filesUploaded').append(MakeUploadTag(ItemFile[i]));
                }
            }
            DeleteFileEventSet();
        }
    };

    function DeleteFileEventSet() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().remove();
        });
    }

    function OpenCreatePopup() {
        var url = $('#SearchDealPopup').data('url');
        $.ajax({
            data: { sdeal_type : $('#deal_detail_deal_type').val(),
                sTool : $('#deal_detail_tool_name').val(), sUnderlying : $('#deal_detail_underlying_name').val(),
                shegingType:$('#deal_detail_hedg_type_name').val(),systemType: $('#systemType').val()
            },
            url: url,
            type: 'POST',
            success: function(data) {
                $('#modal_detail').html(data);
                $('#SearchDealPopup').modal({ backdrop: 'static', keyboard: false });
                $('#SearchDealPopup').modal('show');
            }
        });
    }
    function CloseDeal(){
        $('#SearchDealPopup').modal('hide');
    }
    function AddDeal() {
        var str = $('#datatable input:checkbox:checked').val();
        var chkDuplicate = 0;
        if(str != undefined)
        {
            var arr = str.split(',');
            var recipientsArray = arr.sort();
            var reportRecipientsDuplicate = [];
            for (var i = 0; i < recipientsArray.length - 1; i++) {
                if (recipientsArray[i + 1] == recipientsArray[i]) {
                    chkDuplicate = 1;
                    $('#SearchDealPopup').modal('hide');
                    var modal = $('#resultPopup');
                    var containingDiv = $('.modal-body', modal);
                    containingDiv.html("Duplicate Annual Id");
                    modal.modal('show');
                }
            }
            if(chkDuplicate == 0)
            {
                var arrayOfValues = [];
                arrayOfValues =  $('#datatable input:checkbox:checked').map(function() {
                    if($(this).closest('tr').find('td:first').text() != "")
                    {
                        return $(this).closest('tr').find('td:first').text();
                    }
                }).get();
                var urlSearch = "@Html.Raw( @Url.Action("AddDeal", "HedgingTicket"))";
                $.ajax({
                    data: {deal_no : arrayOfValues, sdeal_no : $('#sdeal_no').val(), sdeal_type : $('#sdeal_type').val(),
                        sdeal_date : $('#sdeal_date').val(), sTool : $('#sTool').val(), sUnderlying : $('#sUnderlying').val(),
                        sVS : $('#sVS').val(),hegingType:$('#sHegingType').val(),pageMode: $('#pageMode').val(),systemType :$('#systemType').val()
                    },
                    url: urlSearch,
                    type: 'POST',
                    success: function(data) {
                        $('#deal_detail_row').html(data);
                    }
                });
                debugger;
                $('#SearchDealPopup').modal('hide');
            }
        }else
        {
            $('#SearchDealPopup').modal('hide');
            var modal = $('#resultPopup');
            var containingDiv = $('.modal-body', modal);
            containingDiv.html("Please Select Deal");
            modal.modal('show');
        }
    }

    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event != "SaveDraft" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }
        if (Event.toUpperCase() == "SUBMIT") {
            SaveFileUpload();
        }
        if (Event == "REJECT") {
            bootbox.prompt(MSG, function (result) {
                if (result === null || result === "") {
                    //Do nothing (cancel button pressed)
                    if (result === "") {
                        OpenBoxPopup("Please Key Reason for Reject.");
                    }
                    $('#EventButton').val("0");
                } else {
                    $("#hdfNoteAction").val(result);
                    $('form').attr('target', '_self');
                    $("#btnMANUAL").click();
                    LoadingProcess();
                }
            });
        }else if (Event == "CANCEL") {
            bootbox.prompt(MSG, function (result) {
                if (result != null) {
                    $("#hdfNoteAction").val(result);
                    $('form').attr('target', '_self');
                    $("#btnMANUAL").click();
                    LoadingProcess();
                } else {
                    $('#EventButton').val("0");
                }
            });
        }else if (Event.toUpperCase() == "SUBMIT") {
            bootbox.confirm({
                message: "Are you sure to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        if (Event == "SUBMIT") {
                            $("#btnMANUAL").click();
                        } else {
                            $("#btnSubmit").click();
                        }
                        LoadingProcess();
                    }
                }
            });
        }else {
            $('form').attr('target', '_self');
            if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

</script>