﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingTicketViewModel

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

@if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}


<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="wrapper-detail">
    <div>
        <h1>Search Ticket</h1>
    </div>
    @using (Html.BeginForm("Search", "HedgingTicket", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.systemType)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Ticket No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingTicket_Search.sTicketNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Ticket Date</label>
                    <div class="col-md-6">
                        <div class="box-date">
                            @Html.TextBoxFor(m => m.HedgingTicket_Search.sTicketDate, new { @id = "sTicketDate", @class = "form-control input-date-picker ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingTicket_Search.sDealNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-6 createByField">
                        @Html.HiddenFor(model => model.HedgingTicket_Search.sStatusSelected, htmlAttributes: new { @id = "sStatusSelected" })
                        @Html.DropDownListFor(model => model.ddlStatus, null, new { @class = "form-control", @multiple = "multiple", @id = "sStatus" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal Type</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingTicket_Search.sDealType, new SelectList(Model.ddlDealType, "Text", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tool</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingTicket_Search.sTool, new SelectList(Model.ddlTool, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Underlying</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingTicket_Search.sUnderlying, new SelectList(Model.ddlUnderlying, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">VS</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingTicket_Search.sVS, new SelectList(Model.ddlVS, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Trader</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.HedgingTicket_Search.sTrader, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Counterparty</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.HedgingTicket_Search.sCounterParty, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    <a class="btn btn-success" href="~/CPAIMVC/HedgingTicket?Type=@Model.systemType" id="addBtn" name="addBtn" role="button">Add</a>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
            </div>
        </div>
    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <div style="width:100%;overflow-x:scroll;">
                <table id="searchResultTable" class="table table-borderedy">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date/Status</th>
                            <th>Ticket No.</th>
                            <th>Deal No.</th>
                            <th>Deal Type</th>
                            <th>Tool</th>
                            <th>Underlying</th>
                            <th>Trader</th>
                            <th>Counterparties</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.HedgingTicket_Search == null || Model.HedgingTicket_Search.sSearchData == null)
                        {
                            <tr class="waiting">
                                <td colspan="9">Waiting for search</td>
                            </tr>
                        }
                        else
                        {
                            if (Model.HedgingTicket_Search.sSearchData.Count > 0)
                            {
                                foreach (var v in Model.HedgingTicket_Search.sSearchData)
                                {
                                    <tr>
                                        @if (v.detail.Count > 1)
                                        {
                                            <td><span type="button" style="font-family: 'Glyphicons Halflings'!important;" class="glyphicon glyphicon-plus-sign" data-toggle="collapse" data-target=".@v.dTicketNo" /></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td style="cursor: pointer;" class="clickable-row" data-href="../HedgingTicket/Edit?TranID=@v.hTransactionIdEncrypted&Tran_Req_ID=@v.hTransactionRequestEncrypted&Type=@v.hTypeEncrypted&System=@v.hSystemEncrypted">@v.dDate <span>@v.dStatus</span></td>
                                        <td>@v.dTicketNo</td>
                                        @if (v.detail.Count > 0)
                                        {
                                            <td>@v.detail[0].deal_no</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>@v.dDealType</td>
                                        <td>@v.dTool</td>
                                        <td>@v.dUnderlying</td>
                                        <td>@v.dTrader</td>
                                        @if (v.detail.Count > 0)
                                        {
                                            <td>@v.detail[0].counterParty</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    for (int i = 1; i < v.detail.Count; i++)
                                    {
                                        <tr class="collapse @v.detail[i].ref_ticket_no">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@v.detail[i].deal_no</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@v.detail[i].counterParty</td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="9">Data not found</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var strTD = @Html.Raw(Json.Encode(@Model.HedgingTicket_Search.sStatusSelected));
        if(strTD != null)
        {
            var arTD = strTD.split("|");
            $("#sStatus").val(arTD).trigger('change');
        }

        $('#sTicketDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });

        $('#searchResultTable').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });

    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });

    $("#sStatus").select2();
    $('#sStatus').change(function () {

        var create = "";
        $("#sStatus option:selected").each(function () {
            create = create + $(this).val() + "|";
        });

        $("#sStatusSelected").val(create.substr(0, create.length - 1));

        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });

    $("#sCreateBy").select2();
    $('#sCreateBy').change(function () {

        var create = "";
        $("#sCreateBy option:selected").each(function () {
            create = create + $(this).val() + "|";
        });

        $("#sCreateBySelected").val(create.substr(0, create.length - 1));

        $('.select2-search__field').keydown(function (e) {

            if ($(this).val() == "") {
                if (e.keyCode == 8) {
                    return false;
                }
            }
        });
    });

    function resetForm() {
        document.getElementById("searchForm").reset();
        $("#sCreateBy").select2("val", "");
    }

    function SearchDeal() {
        $.ajax({
            type: "POST",
            url: "GraphBoardTceMK/getGraphData",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
            }
        });
    }
</script>
