﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VehicleViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Vehicle";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Vehicle";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "Vehicle","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">CREATE TYPE :</label>
                    <div class="col-md-4">
                        @Model.veh_Detail.VHE_CREATE_TYPE
                        @Html.HiddenFor(model => model.veh_Detail.VHE_CREATE_TYPE, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">VEH ID :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_ID, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <label class="control-label col-md-2">VEH NAME :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_VEHICLE, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "10" })
                    </div>
                </div>

            </div>
            

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">VEH TYPE :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.veh_TypeJSON, htmlAttributes: new { @class = "form-control", @id = "VehTypeJSON" })
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_TYPE, htmlAttributes: new { @class = "form-control tagsVehType", @required = "required", @onfocus = "GetVehTypeJSON()", @autocomplete = "off", @maxlength = "4" })
                    </div>

                    <label class="control-label col-md-2">OWNER :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.veh_OwnerJSON, htmlAttributes: new { @class = "form-control", @id = "VehOwnerJSON" })
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_OWNER, htmlAttributes: new { @class = "form-control tagsVehOwner", @required = "required", @onfocus = "GetVehOwnerJSON()", @autocomplete = "off", @maxlength = "20" })
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">LANGUAGE :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.veh_Detail.VEH_LANGUAGE, new SelectList(Model.ddl_Language, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required" })
                    </div>

                    <label class="control-label col-md-2">VEH TEXT :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_VEH_TEXT, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "40" })
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">GROUP :<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.veh_GroupJSON, htmlAttributes: new { @class = "form-control", @id = "VehGroupJSON" })
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_GROUP, htmlAttributes: new { @class = "form-control tagsVehGroup", @required = "required", @onfocus = "GetVehGroupJSON()", @autocomplete = "off", @maxlength = "25" })
                    </div>

                    <label class="control-label col-md-2">AGE:</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VEH_AGE, htmlAttributes: new { @class = "form-control", @maxlength = "10" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">DWT :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_DWT, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>

                    <label class="control-label col-md-2">CAPACITY :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_CAPACITY, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">MAX DRAFT :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_MAX_DRAFT, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>

                    <label class="control-label col-md-2">COATING :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_COATING, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">FULL BALLAST :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_FULL_BALLAST, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>

                    <label class="control-label col-md-2">FULL LADEN :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_FULL_LADEN, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">ECO BALLAST :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_ECO_BALLAST, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>

                    <label class="control-label col-md-2">ECO LADEN :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.veh_Detail.VHE_ECO_LADEN, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    </div>
                </div>
            </div>
            
            <!-- Optional -->
            <div class="row">
                <div class="panel-group" id="accordion">
                    <div class="panel-default">
                        <div class="panel-heading form-group" id="headingOne">

                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                Optional (Click more)
                            </a>

                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel">

                            <!-- Optionnal -->

                            <div class="form-group">
                                <label class="control-label col-md-2">NRTUS :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_NRTUS, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>

                                <label class="control-label col-md-2">VOL UOM :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_VOL_UOM, htmlAttributes: new { @class = "form-control", @maxlength = "3" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">WGT UOM :</label>
                                <div class="col-md-4">
                                    @{var formated = String.Format("{0:0}", Model.veh_Detail.VEH_WGT_UOM);}
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_WGT_UOM, formated, htmlAttributes: new { @class = "form-control", @maxlength = "3" })
                                </div>

                                <label class="control-label col-md-2">DIM UOM :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_DIM_UOM, htmlAttributes: new { @class = "form-control", @maxlength = "3" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">MAXWGT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_MAXWGT, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>

                                <label class="control-label col-md-2">UNLWGT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_UNLWGT, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">MAXVOL :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_MAXVOL, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>

                                <label class="control-label col-md-2">HEIGHT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_HEIGHT, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">WIDTH :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_WIDTH, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>

                                <label class="control-label col-md-2">LENGTH :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_LENGTH, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">DEPOT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_DEPOT, htmlAttributes: new { @class = "form-control", @maxlength = "4" })
                                </div>

                                <label class="control-label col-md-2">NAME EFF DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_NAME_EFF_DATE, htmlAttributes: new { @class = "form-control input-date-picker date-name-eff-date", @maxlength = "10" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">CLF EFDT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CLF_EFDT, htmlAttributes: new { @class = "form-control input-date-picker date-cld-efdt", @maxlength = "10" })
                                </div>

                                <label class="control-label col-md-2">REG CNTRY :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_REG_CNTRY, htmlAttributes: new { @class = "form-control", @maxlength = "3" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">REG DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_REG_DATE, htmlAttributes: new { @class = "form-control input-date-picker date-reg-date", @maxlength = "10" })
                                </div>

                                <label class="control-label col-md-2">REG OWNER :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_REG_OWNER, htmlAttributes: new { @class = "form-control", @maxlength = "20" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">OWN FLAG :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_OWN_FLAG, htmlAttributes: new { @class = "form-control", @maxlength = "1" })
                                </div>

                                <label class="control-label col-md-2">BALLCAP :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_BALLCAP, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">FL BNK CAPA :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_FL_BNK_CAPA, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>

                                <label class="control-label col-md-2">DSL BNK CAPA :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_DSL_BNK_CAPA, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">CLASS GRP :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CLASS_GRP, htmlAttributes: new { @class = "form-control", @maxlength = "10" })
                                </div>

                                <label class="control-label col-md-2">DRAFT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_DRAFT, htmlAttributes: new { @class = "form-control numberOnly" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">POINT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_POINT, htmlAttributes: new { @class = "form-control", @maxlength = "4" })
                                </div>

                                <label class="control-label col-md-2">CRE DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CRE_DATE, htmlAttributes: new { @class = "form-control input-date-picker date-cre-date", @maxlength = "10" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">CRE NAME :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CRE_NAME, htmlAttributes: new { @class = "form-control", @maxlength = "12" })
                                </div>

                                <label class="control-label col-md-2">CHA DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CHA_DATE, htmlAttributes: new { @class = "form-control input-date-picker date-cha-date", @maxlength = "10" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">CHA NAME :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CHA_NAME, htmlAttributes: new { @class = "form-control", @maxlength = "12" })
                                </div>

                                <label class="control-label col-md-2">IMO NUMBER :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_IMO_NUMBER, htmlAttributes: new { @class = "form-control", @maxlength = "18" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">CLASS SOCIETY :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_CLASS_SOCIETY, htmlAttributes: new { @class = "form-control", @maxlength = "10" })
                                </div>

                                <label class="control-label col-md-2">INSERT DATE :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_INSERT_DATE, htmlAttributes: new { @class = "form-control input-date-picker date-insert-date", @maxlength = "10" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">VESSEL CATEGORY :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_VESSEL_CATEGORY, htmlAttributes: new { @class = "form-control", @maxlength = "1" })
                                </div>

                                <label class="control-label col-md-2">BUILT :</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.veh_Detail.VEH_BUILT, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
            
            <!-- CONTROLLER -->
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">CONTROLLER :<span style="color:red">*</span></label>
                    <div class="col-md-10">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>System</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="systemArr">
                                @Html.HiddenFor(model => model.veh_CtrlSystemJSON, htmlAttributes: new { @id = "CtrlSystemJSON" })
                                @Html.HiddenFor(model => model.veh_CtrlTypeJSON, htmlAttributes: new { @id = "CtrlTypeJSON" })
                                @if (Model.veh_Detail.Control != null)
                                {
                                    for (int i = 0; i < Model.veh_Detail.Control.Count; i++)
                                    {
                                        var checkboxStatus = "checkboxStatus" + @i;
                                        <tr>
                                            <td>@Html.TextBoxFor(model => model.veh_Detail.Control[i].System, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "GetCtrlSystemJSON()", @autocomplete = "off", @maxlength = "32" })</td>
                                            <td>@Html.TextBoxFor(model => model.veh_Detail.Control[i].Type, htmlAttributes: new { @class = "form-control tagsType", @required = "required", @onfocus = "GetCtrlTypeJSON()", @autocomplete = "off", @maxlength = "20" })</td>
                                            <td>
                                                @if (Model.veh_Detail.Control[i].Status == "ACTIVE")
                                                {
                                                    <input type="checkbox" class="checkboxStatus" id=@checkboxStatus checked onchange="checkedStatus(@i);" value="ACTIVE">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="checkboxStatus" id=@checkboxStatus onchange="checkedStatus(@i);" value="INACTIVE">
                                                }
                                                @Html.HiddenFor(model => model.veh_Detail.Control[i].Status, htmlAttributes: new { @required = "required" })
                                            </td>
                                            <td>

                                                @Html.HiddenFor(model => model.veh_Detail.Control[i].RowID)
                                                <script>
                                            $(function () {
                                                setAllStatusToogleSwitch();
                                            });
                                            count++;
                                                </script>

                                                @if (String.IsNullOrEmpty(Model.veh_Detail.Control[i].RowID) && i > 0)
                                                {
                                                    <a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();" />
                                                    <img src="../../Web/Images/btn-delete.png" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                            <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Vehicle" }, htmlAttributes: new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>

          @if (actionName.ToUpper() == "VIEW")
          {
            <script>
                    $("input").attr("readonly", true);
                    $("select").attr("disabled", true);
                    $('textarea').attr("readonly", true);
                    $('input[type="checkbox"]').attr("disabled", true);
                    $('.actionButton').hide();
                    $('tfoot').hide();
            </script>
          }
            

        </div>
    </div>
}



<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Vehicle", // controllerName
                             new
                             {                                                     // routeValues
                                 VehicleID = Model.veh_Detail.VEH_ID
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Vehicle" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    // Set Calendar
    $(function () {
        $('.date-name-eff-date').dateRangePicker(
               {
                   autoClose: true,
                   singleDate: true,

                   startOfWeek: 'monday',
                   format: 'DD/MM/YYYY',
               });
        $('.date-cld-efdt').dateRangePicker(
              {
                  autoClose: true,
                  singleDate: true,

                  startOfWeek: 'monday',
                  format: 'DD/MM/YYYY',
              });
        $('.date-reg-date').dateRangePicker(
              {
                  autoClose: true,
                  singleDate: true,

                  startOfWeek: 'monday',
                  format: 'DD/MM/YYYY',
              });
        $('.date-cre-date').dateRangePicker(
              {
                  autoClose: true,
                  singleDate: true,

                  startOfWeek: 'monday',
                  format: 'DD/MM/YYYY',
              });
        $('.date-cha-date').dateRangePicker(
              {
                  autoClose: true,
                  singleDate: true,

                  startOfWeek: 'monday',
                  format: 'DD/MM/YYYY',
              });
        $('.date-insert-date').dateRangePicker(
              {
                  autoClose: true,
                  singleDate: true,

                  startOfWeek: 'monday',
                  format: 'DD/MM/YYYY',
              });
    });

    //Set All Status Toogle Switch
    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    // Set Number only
    Number.prototype.toFixedDown = function (digits) {
        var n = this - Math.pow(10, -digits) / 2;
        n += n / Math.pow(2, 53); // added 1360765523: 17.56.toFixedDown(2) === "17.56"
        return n.toFixed(digits);
    }
    function clearNumber(n) {
        var tmpValue = "";
        var regex = /^[0-9]+$/;
        var dotCount = 0;
        for (i = 0; i < n.length; i++) {
            if (n[i] == '.') {
                if (dotCount < 1 && tmpValue.length > 0) {
                    tmpValue += '.';
                }
                dotCount += 1;
            }
            else if (n[i].match(regex)) {
                tmpValue += n[i];
            }
        }
        return tmpValue;
    }
    $(function () {
        $('.numberOnly').keyup(function () {
            this.value = clearNumber($(this).val());
            if ($(this).val().indexOf('.') != -1) {
                if ($(this).val().split(".")[1].length > 5) {
                    if (isNaN(parseFloat(this.value))) return;
                    this.value = parseFloat(this.value).toFixedDown(5);
                }
            }

            return this; //for chaining
        });
    });


    setAllStatusToogleSwitch();

    // Change Status Toogle Switch Value
    function checkedStatus(indexOfID) {
        if ($("#checkboxStatus" + indexOfID).prop("checked")) {
            $('#veh_Detail_Control_' + indexOfID + '__Status').val("ACTIVE");
        } else {
            $('#veh_Detail_Control_' + indexOfID + '__Status').val("INACTIVE");
        }
    }// End Change Status Toogle Switch Value

    //Get System Automplete
    function GetVehTypeJSON() {
        var availableData = JSON.parse($("#VehTypeJSON").val());
        $(".tagsVehType").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.VehType,
                        value: v.VehType
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    function GetVehOwnerJSON() {
        var availableData = JSON.parse($("#VehOwnerJSON").val());
        $(".tagsVehOwner").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.data,
                        value: v.data
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    function GetVehGroupJSON() {
        var availableData = JSON.parse($("#VehGroupJSON").val());
        console.log(availableData);
        $(".tagsVehGroup").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.data,
                        value: v.data
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    function GetCtrlSystemJSON() {
        var availableData = JSON.parse($("#CtrlSystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.CtrlSystem,
                        value: v.CtrlSystem
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    function GetCtrlTypeJSON() {
        var availableData = JSON.parse($("#CtrlTypeJSON").val());
        $(".tagsType").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.CtrlType,
                        value: v.CtrlType
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End System Autocomplete

    // Dynamic Add System Row
    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsSystem" id="veh_Detail_Control_' + count + '__System" name="veh_Detail.Control[' + count + '].System" onfocus="GetCtrlSystemJSON()" required="required" type="text" value="" maxlength = "32" />'
            + '</td>'
            + '<td>'
            + '<input autocomplete="off" class="form-control tagsType" id="veh_Detail_Control_' + count + '__Type" name="veh_Detail.Control[' + count + '].Type" onfocus="GetCtrlTypeJSON()" required="required" type="text" value="" maxlength = "20" />'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxStatus" id="checkboxStatus' + count + '" value="ACTIVE" checked onchange="checkedStatus(' + count + ');" required="required" >'
            + '<input hidden="hidden" id="veh_Detail_Control_' + count + '__Status" name="veh_Detail.Control[' + count + '].Status" type="text" value="ACTIVE" required="required" />'
            + '</td>'
            + '<td>'
            + '<a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" />'
            + '</td>'
            + '</tr>'
        );

        setAllStatusToogleSwitch();
        count++;

        ReindexController();

        $('#createForm').validator("update");
        $('#createForm').validator("validate");
    });

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                //document.getElementById("systemArr").deleteRow(rowID);
                $(this).parent().parent().remove();

                ReindexController();
                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    function ReindexController()
    {
        
        var itemIndex = 0;
        $('#systemArr tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".System"]').attr('name', 'veh_Detail.Control[' + itemIndex + '].System');//replace name of input that ends the name BRANCH
            this_row.find('input[name$=".Type"]').attr('name', 'veh_Detail.Control[' + itemIndex + '].Type');//replace name of input that ends the name BRANCH
            this_row.find('input[name$=".RowID"]').attr('name', 'veh_Detail.Control[' + itemIndex + '].RowID');
            this_row.find('input[name$=".Status"]').attr('name', 'veh_Detail.Control[' + itemIndex + '].Status');
            itemIndex++;
        });
    }
</script>

<style>
    a:hover {
        background-color: #f1f1f1;
        color: black;
    }
</style>
