﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.UsersViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add User";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit User";
    }
}
<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 150px;
    }

    .error-requite {
        border-color: #dd4b39;
    }
</style>
<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;

    var rowCount = 0;
</script>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group search-ad">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label class="control-label col-md-2">SEARCH AD:</label>
                            <div class="col-md-4">
                                @Html.HiddenFor(model => model.users_UserADJSON, htmlAttributes: new { @id = "UserADJSON" })
                                @Html.TextBoxFor(model => model.users_Search.sADLogin, htmlAttributes: new { @class = "form-control tag-user", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">AD LOGIN FLAG:</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.users_Detail.ADLogin, new SelectList(Model.ddl_ADLogin, "Value", "Text"), "-- Select --", new { @class = "form-control ad-login-val", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">USERNAME:</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.users_Detail.UsersLogin, htmlAttributes: new { @class = "form-control username-val", @required = "required", @placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">PASSWORD:</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.users_Detail.Password, htmlAttributes: new { @class = "form-control password-val", @required = "required", @placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">PASSWORD AGAIN:</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="inputPasswordConfirm" data-match=".password-val" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">FULL NAME(EN) :</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.users_Detail.TitleEN, new SelectList(Model.ddl_TitleEN, "Value", "Text"), "-- Select --", new { @class = "form-control title-en-val", @required = "required" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.users_Detail.FirstNameEN, htmlAttributes: new { @class = "form-control first-name-en-val", @placeholder = "First Name", @required = "required" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.users_Detail.LastNameEN, htmlAttributes: new { @class = "form-control last-name-en-val", @placeholder = "Last Name", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">FULL NAME(TH) :</label>
                    <div class="col-md-1">
                        @Html.DropDownListFor(model => model.users_Detail.TitleTH, new SelectList(Model.ddl_TitleTH, "Value", "Text"), "-- Select --", new { @class = "form-control title-th-val", @required = "required" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.users_Detail.FirstNameTH, htmlAttributes: new { @class = "form-control first-name-th-val", @placeholder = "ชื่อ", @required = "required" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.users_Detail.LastNameTH, htmlAttributes: new { @class = "form-control last-name-th-val", @placeholder = "นามสกุล", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">EMPLOYEE ID :</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.users_Detail.EmployeeID, htmlAttributes: new { @class = "form-control employee-id-val", @placeholder = "EMPLOYEE ID", @required = "required" })
                    </div>
                    <label class="control-label col-md-1">E-MAIL :</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.users_Detail.Email, htmlAttributes: new { @class = "form-control email-val", @placeholder = "E-MAIL", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">SYSTEM :</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.users_Detail.System, new SelectList(Model.ddl_System, "Value", "Text"), "-- Select --", new { @class = "form-control system-val", @required = "required" })
                    </div>
                    <label class="control-label col-md-1">STATUS :</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.users_Detail.Status, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control status-val", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Mobile :</label>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.users_Detail.IsMobileFlag, new { @id = "checkboxStatusMobile", @class = "checkboxStatus" })
                    </div>
                    <label class="control-label col-md-1">Notify :</label>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.users_Detail.IsNotiFlag, new { @id = "checkboxStatusNoti", @class = "checkboxStatus" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email :</label>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.users_Detail.IsEmailFlag, new { @id = "checkboxStatusEmail", @class = "checkboxStatus" })
                    </div>
                    <label class="control-label col-md-1">SMS :</label>
                    <div class="col-md-2">
                        @Html.CheckBoxFor(model => model.users_Detail.IsSMSFlag, new { @id = "checkboxStatusSMS", @class = "checkboxStatus" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" id="lb_textareaMobileMenu">MOBILE MENU :</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.users_Detail.MobileMenu, htmlAttributes: new { @id = "textareaMobileMenu", @class = "form-control mobile-menu", @style = "min-height: 100px; resize: none;", @placeholder = "JSON Format", @onblur = "onblurJson($(this))" })
                        <label class="control-label " id="lb_err_textareaMobileMenu"><i style="color: red">* Not JSON Format</i></label>
                    </div>
                    <label class="control-label col-md-1" id="lb_textareaWebMenu">WEB MENU :</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.users_Detail.WebMenu, htmlAttributes: new { @id = "textareaWebMenu", @class = "form-control web-menu", @style = "min-height: 100px; resize: none;", @placeholder = "JSON Format", @onblur = "onblurJson($(this))" })
                        <label class="control-label " id="lb_err_textareaWebMenu"><i style="color: red">* Not JSON Format</i></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">USER GROUP :</label>
                    <div class="col-md-6">
                        <script>
                        var count = 0;
                        var id = 0;
                        var rowNo = 1;
                        </script>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>User Group</th>
                                    <th>System</th>
                                    <th>Effective Date</th>
                                    <th>Action.</th>
                                </tr>
                            </thead>
                            <tbody id="systemArr">
                                @Html.HiddenFor(model => model.users_SystemJSON, htmlAttributes: new { @id = "SystemJSON" })
                                @Html.HiddenFor(model => model.users_UsersGroupJSON, htmlAttributes: new { @id = "UsersGroupJSON" })
                                @Html.HiddenFor(model => model.users_Detail.UsersID)
                                @for (int i = 0; i < Model.users_Detail.Control.Count; i++)
                                {
                                    var s = "checkboxStatus" + i;
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(model => model.users_Detail.Control[i].UserGroup, new SelectList(Model.ddl_UserGroup, "Value", "Text", Model.users_Detail.Control[i].UserGroup), "-- Select --", new { @class = "form-control userGroupCtr" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.users_Detail.Control[i].UserGroupSystem, new SelectList(Model.ddl_UserGroupSystem, "Value", "Text", Model.users_Detail.Control[i].UserGroupSystem), "-- Select --", new { @class = "form-control userGroupSystemCtr" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.users_Detail.Control[i].UserAffectEndDate, htmlAttributes: new { @class = "form-control input-date-picker" })
                                        </td>
                                        <td>
                                            @Html.HiddenFor(model => model.users_Detail.Control[i].UsedDelegateFlag)
                                            @Html.HiddenFor(model => model.users_Detail.Control[i].RowID, htmlAttributes: new { @class = "rowIDCtr" })
                                            <a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../../../Web/Images/btn-delete.png" /></a>

                                            <script>
                                                count++
                                                rowCount++;
                                            </script>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <a class="btn btn-default btn-sm addCF" href="javascript:void(0);" role="button">Add</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">USER ROLES:</label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.users_Detail.Role, new SelectList(Model.ddl_Role, "Value", "Text"), "-- Select --", new { @id = "user_role_select", @class = "form-control user-role-select", @required = "required" })
                        @Html.HiddenFor(model => model.users_UserRoleJSON, htmlAttributes: new { @id = "UserRoleJSON" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">ROLE :</label>
                    <div class="col-md-6">
                        <div id="treeview12" class=""></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button id="btn_save" type="submit" class="btn btn-primary actionButton">SAVE</button>
                            <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Users" }, htmlAttributes: new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (actionName == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
    </script>
}@if (actionName.ToUpper() == "EDIT")
{
    <script>
        $('.search-ad').hide();
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink("Close", "Search", new { controller = "Users" }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(function () {
        checkboxToogle();
        addDateClass();
        $("#lb_err_textareaMobileMenu").hide();
        $("#lb_err_textareaWebMenu").hide();
    });

    function checkboxToogle() {
        $("#checkboxStatusMobile").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
        $("#checkboxStatusNoti").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
        $("#checkboxStatusEmail").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
        $("#checkboxStatusSMS").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function checkedStatus() {
        if ($("#checkboxStatusMobile").prop("checked")) {
            $('#checkboxStatusMobile').val("ACTIVE");
        } else {
            $('#checkboxStatusMobile').val("INACTIVE");
        }
    }

    function checkedStatus() {
        if ($("#checkboxStatusNoti").prop("checked")) {
            $('#checkboxStatusNoti').val("ACTIVE");
        } else {
            $('#checkboxStatusNoti').val("INACTIVE");
        }
    }

    function checkedStatus() {
        if ($("#checkboxStatusEmail").prop("checked")) {
            $('#checkboxStatusEmail').val("ACTIVE");
        } else {
            $('#checkboxStatusEmail').val("INACTIVE");
        }
    }

    function checkedStatus() {
        if ($("#checkboxStatusSMS").prop("checked")) {
            $('#checkboxStatusSMS').val("ACTIVE");
        } else {
            $('#checkboxStatusSMS').val("INACTIVE");
        }
    }


    $(".ui-autocomplete").click(function () {
        if ($(".tag-user").val() != "") {
            alert("tag-user");
        }
    });

    $(function () {
        var availableData = JSON.parse($("#UserADJSON").val());

        $(".tag-user").autocomplete({
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableData, request.term);

                response(results.slice(0, 10));
            },
            select: function (event, ui) {
                $.get("GetUserDetail",
                {
                    name: ui.item.value
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    var te = data.replace
                    var obj = JSON.parse(data);

                    $(".first-name-en-val").val(obj[0].ENFIRSTNAME);
                    $(".last-name-en-val").val(obj[0].ENLASTNAME);
                    $(".first-name-th-val").val(obj[0].THFIRSTNAME);
                    $(".last-name-th-val").val(obj[0].THLASTNAME);
                    $(".employee-id-val").val(obj[0].EMPLOYEEID);
                    $(".email-val").val(obj[0].EMAIL);
                    $(".title-en-val").val(obj[0].ENTITLE);
                    $(".title-th-val").val(obj[0].THTITLE);
                    //console.log(obj);
                    //document.getElementsByClassName("first-name-en-val").value = obj[0].ENFIRSTNAME;
                    //alert(obj[0].ENFIRSTNAME);
                });

                //alert(ui.item.value);
            }
        });
    });

    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
                    + '<td>'
                    + '<select class="form-control userGroupCtr" id="users_Detail_Control_0__UserGroup" name="users_Detail.Control[0].UserGroup"><option value="">-- Select --</option>'
                    + @foreach (var option in Model.ddl_UserGroup)
                        {
                            @:'<option value="@option.Value">@option.Text</option>' +
                        }
                    + '</select>'
                    + '</td>'
                    + '<td>'
                    + '<select class="form-control userGroupSystemCtr" id="users_Detail_Control_0__UserGroupSystem" name="users_Detail.Control[0].UserGroupSystem"><option value="">-- Select --</option>'
                    + @foreach (var option in Model.ddl_UserGroupSystem)
                        {
                        @:'<option value="@option.Value">@option.Text</option>' +
                        }
                    + '</select>'
                    + '</td>'
                    + '<td>'
                    + '<input class="form-control userAffectEndDateCtr input-date-picker" id="users_Detail_Control_0__UserAffectEndDate" name="users_Detail.Control[0].UserAffectEndDate" type="text" value="">'
                    + '</td>'
                    + '<td><a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../../../Web/Images/btn-delete.png" /></a>'
                    + '</td>'
                    + '</tr>');
        //model.users_UsersGroupJSON
    $('#createForm').validator("update");
    rowCount++;
    checkboxToogle();
    count++;
    ReindexUserGroup();
    addDateClass();
    });

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();
                $('#createForm').validator("update");
                $('#createForm').validator("validate");
                ReindexUserGroup();
            });
        }
    }

    function ReindexUserGroup() {

        var itemIndex = 0;
        $('#systemArr tr').each(function () {
            var this_row = $(this);
            this_row.find('select[name$=".UserGroup"]').attr('name', 'users_Detail.Control[' + itemIndex + '].UserGroup');
            this_row.find('select[name$=".UserGroupSystem"]').attr('name', 'users_Detail.Control[' + itemIndex + '].UserGroupSystem');
            this_row.find('input[name$=".UserAffectEndDate"]').attr('name', 'users_Detail.Control[' + itemIndex + '].UserAffectEndDate');
            itemIndex++;
        });
    }

    function addDateClass() {
        $(".input-date-picker").each(function () {
            if ($(this).data("dateRangePicker") != undefined) {
                $(this).data('dateRangePicker').destroy();
            }
            $(this).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                //startDate: start_date,
                //endDate: end_date,
                //format: 'DD/MM/YYYY HH:mm',
                //time: { enabled: true }
            });
        });
    }

    var role_data = JSON.parse($("#UserRoleJSON").val() == "" ? "[]" : $("#UserRoleJSON").val());
        //'[' +
        //  '{' +
        //    '"text": "Parent 1",' +
        //    '"nodes": [' +
        //      '{' +
        //        '"text": "Child 1",' +
        //        '"nodes": [' +
        //          '{' +
        //            '"text": "Grandchild 1"' +
        //          '},' +
        //          '{' +
        //            '"text": "Grandchild 2"' +
        //          '}' +
        //        ']' +
        //      '},' +
        //      '{' +
        //        '"text": "Child 2",' +
        //        '"nodes": [' +
        //          '{' +
        //            '"text": "Grandchild 1"' +
        //          '},' +
        //          '{' +
        //            '"text": "Grandchild 2"' +
        //          '}' +
        //        ']' +
        //      '}' +
        //    ']' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 2"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 3"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 4"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 5"' +
        //  '}' +
        //']';
    $('#treeview12').treeview({
        data: role_data,
        showIcon: true,
        showCheckbox: false,
        showTags: true,
        color: "#428bca",
        expandIcon: 'glyphicon glyphicon-chevron-right',
        collapseIcon: 'glyphicon glyphicon-chevron-down',
    });

    $(".user-role-select").change(function () {
        var roleValue = document.getElementById("user_role_select").options[document.getElementById('user_role_select').selectedIndex].text;
        $.ajax({
            url: '@Url.Action("GetRoleMenu", "Users")',
            type: "GET",
            data: { frm: roleValue },
            success: function (response) {
                var obj = JSON.parse(response);
                $('#treeview12').treeview({
                    data: obj,
                    showIcon: true,
                    showCheckbox: false,
                    showTags: true,
                    color: "#428bca",
                    expandIcon: 'glyphicon glyphicon-chevron-right',
                    collapseIcon: 'glyphicon glyphicon-chevron-down',

                });
            },
            error: function (response) {
                console.log(response);
            }
        });

        @*$.get("GetRoleMenu",
        {
            role_name: roleValue,
        },
        function (data, status) {
            var obj = JSON.parse(data);
            $('#treeview12').treeview({
                data: obj,
                showIcon: true,
                showCheckbox: false,
                showTags: true,
                color: "#428bca",
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',

            });
            //alert("Data: " + data + "\nStatus: " + status);
        });*@

    });


    function onblurJson(id) {
        console.log(id.attr("id"));

        if (validateJSON(id.val())) {
            $("#lb_err_" + id.attr("id")).hide();
            $("#lb_" + id.attr("id")).css("color", "");
            id.removeClass("error-requite");
            $("#btn_save").prop('disabled', false);
        } else {
            $("#lb_err_" + id.attr("id")).show();
            $("#lb_" + id.attr("id")).css("color", "#dd4b39");
            id.addClass("error-requite");
            $("#btn_save").prop('disabled', true);
        }
    }

    function validateJSON(str) {
        var status = true;
        if (str != "") {
            try {
                JSON.parse(str);
            } catch (e) {
                status = false;
            }
        }
        return status;
    }
</script>