﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CoolViewModel
@{
    ViewBag.Title = "New Comment";
    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }
    if (Request.QueryString["Tran_Req_ID"] != null)
    {
        Model.reqID = Request.QueryString["Tran_Req_ID"].ToString();
    }
    else
    {
        Model.reqID = string.IsNullOrEmpty(Model.reqID) ? "" : Model.reqID;
    }
    string type = ViewBag.Type == null ? "CRUDE" : ViewBag.Type;
    if (Model.taskID == null)
    {
        Model.taskID = "Draft";
    }

    if (Model.purno == null)
    {
        Model.purno = "";
    }

    List<ProjectCPAIEngine.Model.CooArea> expert = new List<ProjectCPAIEngine.Model.CooArea>();
    if (Model.experts != null && Model.experts.areas != null)
    {
        expert = Model.experts.areas.Where(x => x.units.Where(y => y.value == "Y").Count() > 0).ToList();
    }

    int MAX_ITEM_ROW = 1;
    int COUNT_ITEM_ROW = 1;
    int INDEX_AREA = 0;
    int INDEX_UNIT = 0;
}

<div class="wrapper-detail">
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        @Html.Hidden("hdfNoteAction")
        @Html.Hidden("EventButton", "0")
        @Html.HiddenFor(m => m.pageMode, Model.pageMode)
        @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
        @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
        @Html.HiddenFor(m => m.reqID, Model.reqID)
        @Html.HiddenFor(m => m.taskID, Model.taskID)
        <hr />
        <div class="row">
            <div class="col-md-8" style="overflow-y: auto; height:500px;">
                <p class="bg-primary" style="padding-left:.2cm;font-style:italic">CRUDE ACCAPTANCE MATRIX (CAM)</p>
            </div>
            <div class="col-md-4" style="overflow-y: auto; height:500px;">
                <div class="bg-primary" style="margin-bottom:-.15cm;"><p style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;">Comment Status</p></div>
                <div class="row">
            @if (Model.experts != null && Model.experts.areas != null)
            {
                foreach (var area in Model.experts.areas.OrderBy(i => i.order))
                {
                    if (area.units.Count < 1)
                    {
                        continue;
                    }
                    <div class="bg-primary" style="padding-left:.2cm;margin-right:.15cm;margin-left:.15cm;"><p style="margin-right:.15cm;">@area.name</p></div>
                    @:<table class="col-md-12">
                        @:<tbody>
                           if (area.units != null && area.units.Any())
                            {
                                @:<tr>
                                foreach (var unit in area.units.OrderBy(i => i.order))
                        {
                            <td style="padding-left:.15cm;">
                                @if (Model.pageMode == "EDIT")
                                {
                                    <div class="col-md-4">

                                        <div class="checkbox">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__key" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].key" value="@unit.key" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__order" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].order" value="@unit.order" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__name" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].name" value="@unit.name" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" value="@unit.value" hidden="hidden">
                                            @if (unit.value == "Y")
                                            {
                                                <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" checked="checked" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" disabled="disabled" />
                                            }
                                            <label for="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value">@unit.name</label>
                                        </div>
                                    </div>
                                                <div class="col-md-4">

                                                    <select class="form-control">
                                                        <option value="">-- Select --</option>
                                                        <option value="approved">Approved</option>
                                                        <option value="rejected">Rejected</option>
                                                    </select>
                                                </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__key" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].key" value="@unit.key" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__order" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].order" value="@unit.order" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__name" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].name" value="@unit.name" hidden="hidden">
                                            <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" value="@unit.value" hidden="hidden">
                                            @if (unit.value == "Y")
                                            {
                                                <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" checked="checked" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" disabled="disabled" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" disabled="disabled" />
                                            }
                                            <label for="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value">@unit.name</label>
                                        </div>
                                    </div>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">-- Select --</option>
                                                        <option value="approved">Approved</option>
                                                        <option value="rejected">Rejected</option>
                                                    </select>
                                                </div>
                                }
                            </td>

                            if (INDEX_UNIT == 0)
                            {
                                        @:</tr>
                                        @:<tr>
                                    }
                                    //INDEX_UNIT += 1;
                                }
                                @:</tr>
                                    }
                            @:</tbody>
                            @:</table>


                            // NEW LINE WHEN FULLY EVERY 3 AREAS //
                            if (COUNT_ITEM_ROW == MAX_ITEM_ROW)
                            {
                                @:</div>
                                @:<div class="row">
                                    COUNT_ITEM_ROW = 0;
                            }

                            COUNT_ITEM_ROW += 1;
                            INDEX_AREA += 1;
                            INDEX_UNIT = 0;
                        }
                        @:</div>
                for (int i = 0; i < expert.Count; i++)
                {
                    for (int j = 0; j < expert[i].units.Count; j++)
                    {
                        if (expert[i].units[j].value == "Y")
                        {
                                    @:<div id="experts_areas_@(i)__units_@(j)">
                                        <div class="bg-primary"><p style="padding-left:.2cm;font-weight:bold;border-bottom:5px solid #e21789;">Comment @expert[i].units[j].name</p></div>
                                        <div style="background-color:#eff0f1;margin-top:-.25cm;"><p style="padding-left:.2cm;">Process ability score</p></div>
                                        <div class="row">
                                            <div class="col-md-2 col-xs-6">
                                                @Html.TextBoxFor(model => model.areas.area[i].unit[j].comment.average_score, new { @class = "form-control", @style = "width: 100%; text-align:center;", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-1 col-xs-6">
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#Modal_@(i)_@(j)_" data-whatever="@expert[i].units[j].name"><img src="http://icons.veryicon.com/png/System/Icons8%20Metro%20Style/Arrows%20Right%20circular.png" style="max-width:30px;" /></a>
                                            </div>
                                        </div>
                                        <div style="background-color:#eff0f1;"><p style="padding-left:.2cm;margin-top:.25cm;">Expert Comment</p></div>
                                        @Html.TextAreaFor(model => model.areas.area[i].unit[j].comment.comment_expert, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;margin-top:-.25cm;margin-bottom:.25cm;", @readonly="readonly" })
                            <div style="background-color:#eff0f1;"><p style="padding-left:.2cm;margin-top:.25cm;">Section Head Comment</p></div>
                            @Html.TextAreaFor(model => model.areas.area[i].unit[j].comment.comment_expert, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;margin-top:-.25cm;margin-bottom:.25cm;" })
                                        <div class="row" style="display:none;">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Uploading Document</label>
                                                    @if (Model.pageMode != "EDIT")
                                                    {
                                                        <button id="uploadExpertPic_@(i)_@(j)" class="btn btn-default" type="button" onclick="UploadPictureExpertFile(@(i),@(j))" >Select Files</button>
                                                        <input type="file" id="fileExpertPic_@(i)_@(j)" name="fileExpertPic_@(i)_@(j)" onchange="testUpload(@(i),@(j))" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <div id="filePictureExpertUploaded_@(i)_@(j)"></div>
                                                </div>
                                            </div>
                                        </div>
                                        @:</div>

                                    //Process ability score detail box
                                    <div class="modal fade" id="Modal_@(i)_@(j)_" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h1 class="modal-title" id="exampleModalLabel" style="margin-bottom:-.5cm;">Process ability score detail for @expert[i].units[j].name</h1>
                                                    <h3>Please select score for each criterian and add caculation note for reference.</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <label class="control-label">Weighted average score : </label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            @Html.TextBoxFor(model => model.areas.area[i].unit[j].comment.average_score, new { @class = "form-control", @style = "max-width:100px;text-align: right;background-color: lightyellow;", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:.15cm;">
                                                        <div class="col-md-6">
                                                            <label class="control-label">COOL recommended round-off score :</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            @Html.TextBoxFor(model => model.areas.area[i].unit[j].comment.recommended_score, new { @class = "form-control", @style = "max-width:100px;text-align: right;background-color: lightyellow;", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label class="control-label">Do you agree with COOL recommened round-off score?</label>
                                                        <div class="radio">
                                                            <input id="RecommenedYes_@(i)_@(j)" name="Recommened_@(i)_@(j)" value="N" type="radio" checked="checked" onchange="ShowRecommentScore(@(i),@(j))" />
                                                            <label for="RecommenedYes_@(i)_@(j)">Yes</label>
                                                            <input id="RecommenedNo_@(i)_@(j)" name="Recommened_@(i)_@(j)" value="N" type="radio" onchange="ShowRecommentScore(@(i),@(j))" />
                                                            <label for="RecommenedNo_@(i)_@(j)">No</label>
                                                        </div>
                                                    </div>
                                                    <div id="Recomment_@(i)_@(j)" style="display:none;">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="control-label">Agreed score :</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                @Html.TextBoxFor(model => model.areas.area[i].unit[j].comment.agreed_score, new { @class = "form-control", @style = "max-width:100%;" })
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:.15cm;margin-bottom:.15cm;">
                                                            <div class="col-md-3">
                                                                <label class="control-label">Recommended score reason :</label>
                                                            </div>
                                                            <div class="col-md-5">
                                                                @Html.TextAreaFor(model => model.areas.area[i].unit[j].comment.recommended_score_reason, new { @class = "form-control", @style = "max-width:100%;min-height:80px;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" style="float:left;">OK</button>
                                                        <button type="button" class="btn btn-default" style="float:left;" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    }

                    <div class="wrapper-button" id="buttonDiv">

                        @if (Model.buttonMode != "AUTO")
                        {
                            //<input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                            <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                            //<input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                            <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                            <input type="submit" id="btnBack" value="BACK" class="btn btn-default" name="action:Back" onclick="$('form').attr('target', '_self');">
                        }
                        else
                        {
                            @Html.Hidden("hdfEventClick")
                            @Html.Raw(@Model.buttonCode)
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>


    @if (TempData["res_message"] != null)
    {
        if (TempData["returnPage"] != null)
        {
            <script type="text/javascript">
                OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                    $("#EventButton").val("0");
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
            </script>
        }
    }

    <script type="text/javascript">

        // GET WEB SITE PATH //
        function getWebSitePath() {
            var _location = document.location.toString();
            var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
            var applicationName = _location.substring(0, applicationNameIndex) + '/';
            var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
            var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
            return webFolderFullPath;
        }

        // DOCUMENT READY //
        $(function() {
            CheckTypeCam();
            //LoadFileSupportingDocument();
        });

        // CONFIRMATION BEFORE SAVE //
        function OpenBoxBungerPrompt(MSG, Event) {

            // BUTTON ACTION //
            $('#EventButton').val("1");
            if (Event == "SaveAndPreview") {
                //$("#btnGenPDF").click();
                setTimeout(function() {
                    $('form').attr('target', '_self');
                    $("#btnSaveDraft").click();
                }, 1000);
            }
            $('form').attr('target', '_self');

            if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
                if ($("#hdfEventClick").length != 0) {
                    $("#hdfEventClick").val(Event);
                }
            }

            // CASE: SUBMIT
            if (Event.toUpperCase() == "SUBMIT") {
                bootbox.confirm({
                    message: "Are you sure to submit?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                        },
                        cancel: {
                            label: 'No',
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $('form').attr('target', '_self');
                            if (Event == "SUBMIT") {
                                $("#btnMANUAL").click();
                            } else {
                                $("#btnSubmit").click();
                            }
                            LoadingProcess();
                        }
                    }
                });
            }
                // CASE: SAVE DRAFT
            else {
                $('form').attr('target', '_self');
                if (Event == "Upload") {
                    $("#btnUpload").click();
                } else if (Event == "SAVE DRAFT") {
                    $("#btnSaveDraft").click();
                } else if (Event == "Submit") {
                    $("#btnSubmit").click();
                } else {
                    $("#btnMANUAL").click();
                }
                LoadingProcess();
            }
        }

        // CHECK AREA UNIT //
        function CheckAreaUnit(indexArea,indexUnit) {
            if ($('#checkbox_experts_areas_' + indexArea + '__units_' + indexUnit + '__value').prop("checked")) {
                $('#experts_areas_' + indexArea + '__units_' + indexUnit + '__value').val('Y');
                $('#experts_areas_' + indexArea + '__units_' + indexUnit).show();
            } else {
                $('#experts_areas_' + indexArea + '__units_' + indexUnit + '__value').val('N');
                $('#experts_areas_' + indexArea + '__units_' + indexUnit).hide();
            }
        }

        //SHOW | HIDE Recomment score box //
        function ShowRecommentScore(i,j){
            if($('#RecommenedYes_'+ i +'_'+j).prop('checked')){
                $('#Recomment_'+ i +'_'+j).hide();
            } else {
                $('#Recomment_'+ i +'_'+j).show();
            }
        }

        // MAKE ITEM: FILE SUPPORTING DOCUMENT //
        function MakeUploadFileSupportingDocument(filePath, fileType) {
            var i = 0, length = filePath.length;
            var tmpFilePath = filePath;
            for (i; i < length; i++) {
                tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
            }
            var fullFileName = tmpFilePath.split("|");
            var fileName = fullFileName[fullFileName.length - 1];
            var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
            itemFileSupportingDocument += '<table><tr><td>';
            itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
            itemFileSupportingDocument += '<div class="cancel" style="float:left;">';
                itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove "></span>';
                itemFileSupportingDocument += '</div>';
                itemFileSupportingDocument += '<a target="_blank" href="../' + filePath + '" style="margin-left:5px;">' + fileName + '</a>';
            //itemFileSupportingDocument += '</div>';
            itemFileSupportingDocument += '</div>';
            itemFileSupportingDocument += '</td><td>';
            itemFileSupportingDocument += '</td><tr><table>';
            return itemFileSupportingDocument;
        }

        // DELETE ITEM: FILE SUPPORTING DOCUMENT //
        function DeleteFileSupportingDocument() {
            $('.glyphicon-remove').click(function () {
                $(this).parent().parent().parent().parent().remove();
            });
        }

        // UPLOAD FILE SUPPORTING DOCUMENT //
        function UploadPictureExpertFile(i,j) {
            $("#fileExpertPic_"+ i +"_"+j).click();
        }

        var UploadExpertID = "";
        function testUpload(i,j){
            UploadExpertID="filePictureExpertUploaded_"+i+"_"+j;
        }

        $('input:file').change(function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    for (var x = 0; x < files.length; x++) {
                        var data = new FormData();
                        data.append("file" + x, files[x]);
                        $.ajax({
                            type: "POST",
                            url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000040",
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (response) {
                                var index = response.indexOf('<!DOCTYPE html>');
                                var json = response.substring(0, index);
                                var data = JSON.parse(json.trim());
                                $('#'+UploadExpertID).append(MakeUploadFileSupportingDocument(data.file_path,''));
                                DeleteFileSupportingDocument();
                            },
                            error: function (event, queueID, fileObj, errorObj) {
                                alert(errorObj.type + ' Error: ' + errorObj.info);
                                if (fileObj.size > 4194304) { alert('File size too large.'); }
                                else { alert('Someting wrong.'); }
                            }
                        });
                        data = null;
                    }
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            $(this).val('');
        });

    </script>

