﻿@using ProjectCPAIEngine.Utilities;
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CoolViewModel
@{
    ViewBag.Title = "Request new crude and generate draft CAM";

    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    if (Model.buttonMode == null)
    {
        Model.buttonMode = "AUTO";
    }
    if (Request.QueryString["Tran_Req_ID"] != null)
    {
        Model.reqID = Request.QueryString["Tran_Req_ID"].ToString();
    }
    else
    {
        Model.reqID = string.IsNullOrEmpty(Model.reqID) ? "" : Model.reqID;
    }
    string type = ViewBag.Type == null ? "CRUDE" : ViewBag.Type;
    if (Model.taskID == null)
    {
        Model.taskID = "";
    }

    if (Model.purno == null)
    {
        Model.purno = "";
    }

    int MAX_ITEM_ROW = 5;
    int COUNT_ITEM_ROW = 1;
    int INDEX_AREA = 0;
    int INDEX_UNIT = 0;

}
<style>
    .validator-lable{
        color: red;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Request new crude and generate draft CAM</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        @Html.Hidden("hdfNoteAction")
        @Html.Hidden("EventButton", "0")
        @Html.HiddenFor(m => m.pageMode, Model.pageMode)
        @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
        @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
        @Html.HiddenFor(m => m.reqID, Model.reqID)
        @Html.HiddenFor(m => m.taskID, Model.taskID)
        <h2>Requester Information</h2>
        <hr />

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.data.name, new { @class = "form-control essential", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Document No.</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.purno, new { @class = "form-control essential", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Area / Unit</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.data.area_unit, new { @class = "form-control essential", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Workflow Status</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.data.workflow_status, new { @class = "form-control essential", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Create Date/Time</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.data.date_purchase, new { @class = "form-control essential input-date-picker date_purchase", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.data.date_purchase, new { @class = "form-control essential", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Workflow Priority<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.workflow_priority))
                                {
                                    @Html.DropDownListFor(model => model.data.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.data.workflow_priority), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.workflow_priority, Model.ddlPriority, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.workflow_priority))
                                {
                                    @Html.DropDownListFor(model => model.data.workflow_priority, new SelectList(Model.ddlPriority, "Value", "Text", Model.data.workflow_priority), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.workflow_priority, Model.data.workflow_priority)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.workflow_priority, Model.ddlPriority, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Approval Complete</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.data.approval_date, new { @class = "form-control essential input-date-picker approval_date" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.data.approval_date, new { @class = "form-control essential", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Crude Information</h2>
        <hr />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Assay File<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.assay_file))
                                {
                                    <input type="submit" value="UPLOAD ASSAY" id="btnUpload" style="display: none;" name="action:Upload" />
                                    <input type="file" id="fileAssay" name="fileAssay" style="float:left;" accept=".xls, .xlsx" class="essential-file essential-assay-file" file-for="data_assay_file" />
                                    <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/" + Model.data.assay_file)" title="@Model.data.assay_file">
                                        <span class="glyphicon glyphicon-paperclip" style="padding-left:3px; padding-top:3px;"></span>
                                        @Model.data.assay_file
                                    </a>

                                    @Html.HiddenFor(model => model.data.assay_file)
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/TEMPLATE.xlsx")" style="color:#e21789">
                                            <span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>
                                            Download Assay Template
                                        </a>
                                    </p>
                                }
                                else
                                {
                                    <input type="submit" value="UPLOAD ASSAY" id="btnUpload" style="display: none;" name="action:Upload" />
                                    <input type="file" id="fileAssay" name="fileAssay" accept=".xls, .xlsx" class="essential-file essential-assay-file" file-for="data_assay_file"/>

                                    @Html.HiddenFor(model => model.data.assay_file)
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/TEMPLATE.xlsx")" style="color:#e21789">
                                            <span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>
                                            Download Assay Template
                                        </a>
                                    </p>
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.assay_file))
                                {
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/" + Model.data.assay_file)" title="@Model.data.assay_file">
                                            <span class="glyphicon glyphicon-paperclip" style="padding-left:3px; padding-top:3px;"></span>
                                            @Model.data.assay_file
                                        </a>
                                    </p>
                                    @Html.HiddenFor(model => model.data.assay_file)
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/TEMPLATE.xlsx")" style="color:#e21789">
                                           <span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>
                                            Download Assay Template
                                        </a>
                                    </p>
                                }
                                else
                                {
                                    <p>-- No Assay File --</p>

                                    @Html.HiddenFor(model => model.data.assay_file)
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/ASSAY/TEMPLATE.xlsx")" style="color:#e21789">
                                            <span class="glyphicon glyphicon-link" style="padding-left:3px; padding-top:3px;"></span>
                                            Download Assay Template
                                        </a>
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Assay Date<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.data.assay_date, new { @class = "form-control essential-required input-date-picker", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.data.assay_date, new { @class = "form-control essential-required", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Assay From<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.assay_from))
                                {
                                    @Html.DropDownListFor(model => model.data.assay_from, new SelectList(Model.ddlAssayFrom, "Value", "Text", Model.data.assay_from), "-- Select --", new { @class = "form-control essential essential-required" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.assay_from, Model.ddlAssayFrom, "-- Select --", new { @class = "form-control essential essential-required" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.assay_from))
                                {
                                    @Html.DropDownListFor(model => model.data.assay_from, new SelectList(Model.ddlAssayFrom, "Value", "Text", Model.data.assay_from), "-- Select --", new { @class = "form-control essential essential-required", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.assay_from, Model.data.assay_from)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.assay_from, Model.ddlAssayFrom, "-- Select --", new { @class = "form-control essential essential-required", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Assay Reference No.<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.HiddenFor(model => model.data.assay_id)
                                @Html.TextBoxFor(model => model.data.assay_ref, new { @class = "form-control essential-required", @readonly = "true" })
                                if (!string.IsNullOrEmpty(Model.data.assay_id))
                                {
                                    @Html.LabelFor(model => model.data.assay_id, string.Format("Invalid assay reference: {0}", Model.data.assay_id.ToUpper()), new { @class = "validator-lable" })
                                }
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.data.assay_id)
                                @Html.TextBoxFor(model => model.data.assay_ref, new { @class = "form-control essential-required", @readonly = "true" })
                                if (!string.IsNullOrEmpty(Model.data.assay_id))
                                {
                                    @Html.LabelFor(model => model.data.assay_id, string.Format("Invalid assay reference: {0}", Model.data.assay_id.ToUpper()), new { @class = "validator-lable" })		 
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Name<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.HiddenFor(model => model.data.crude_id)
                                @Html.TextBoxFor(model => model.data.crude_name, new { @class = "form-control essential-validate essential-required", @readonly = "true" })
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.data.crude_id)
                                @Html.TextBoxFor(model => model.data.crude_name, new { @class = "form-control essential-validate essential-required", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.HiddenFor(model => model.data.origin)
                                @Html.TextBoxFor(model => model.data.country, new { @class = "form-control essential-validate essential-required", @readonly = "true" })
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.data.origin)
                                @Html.TextBoxFor(model => model.data.country, new { @class = "form-control essential-validate essential-required", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">CAM File<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.cam_file))
                                {
                                    <input type="file" id="fileCAM" name="fileCAM" style="float:left;" accept=".xls, .xlsx" class="essential-file" file-for="data_cam_file" />
                                    <a href="@Url.Content("~/Web/FileUpload/COOL/SPIRAL/" + Model.data.cam_file)" title="@Model.data.cam_file">
                                        <span class="glyphicon glyphicon-paperclip" style="padding-left:3px; padding-top:3px;"></span>
                                        @Model.data.cam_file
                                    </a>
                                    @Html.HiddenFor(model => model.data.cam_file)
                                }
                                else
                                {
                                    <input type="file" id="fileCAM" name="fileCAM" accept=".xls, .xlsx" class="essential-file" file-for="data_cam_file" />
                                    @Html.HiddenFor(model => model.data.cam_file)
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.cam_file))
                                {
                                    <p>
                                        <a href="@Url.Content("~/Web/FileUpload/COOL/SPIRAL/" + Model.data.cam_file)" title="@Model.data.cam_file">
                                            <span class="glyphicon glyphicon-paperclip" style="padding-left:3px; padding-top:3px;"></span>
                                            @Model.data.cam_file
                                        </a>
                                    </p>
                                     @Html.HiddenFor(model => model.data.cam_file)
                                }
                                else
                                {
                                    <p>-- No CAM File --</p>
                                    @Html.HiddenFor(model => model.data.cam_file)
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Categories<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_categories))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_categories, new SelectList(Model.ddlCrudeCategories, "Value", "Text", Model.data.crude_categories), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_categories, Model.ddlCrudeCategories, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_categories))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_categories, new SelectList(Model.ddlCrudeCategories, "Value", "Text", Model.data.crude_categories), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.crude_categories, Model.data.crude_categories)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_categories, Model.ddlCrudeCategories, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Kerogen Type<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_kerogen))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_kerogen, new SelectList(Model.ddlCrudeKerogen, "Value", "Text", Model.data.crude_kerogen), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_kerogen, Model.ddlCrudeKerogen, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_kerogen))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_kerogen, new SelectList(Model.ddlCrudeKerogen, "Value", "Text", Model.data.crude_kerogen), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.crude_kerogen, Model.data.crude_kerogen)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_kerogen, Model.ddlCrudeKerogen, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Characteristic<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_characteristic))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_characteristic, new SelectList(Model.ddlCrudeCharacteristic, "Value", "Text", Model.data.crude_characteristic), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_characteristic, Model.ddlCrudeCharacteristic, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_characteristic))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_characteristic, new SelectList(Model.ddlCrudeCharacteristic, "Value", "Text", Model.data.crude_characteristic), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.crude_characteristic, Model.data.crude_characteristic)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_characteristic, Model.ddlCrudeCharacteristic, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Crude Maturity<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_maturity))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_maturity, new SelectList(Model.ddlCrudeMaturity, "Value", "Text", Model.data.crude_maturity), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_maturity, Model.ddlCrudeMaturity, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.crude_maturity))
                                {
                                    @Html.DropDownListFor(model => model.data.crude_maturity, new SelectList(Model.ddlCrudeMaturity, "Value", "Text", Model.data.crude_maturity), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.crude_maturity, Model.data.crude_maturity)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.crude_maturity, Model.ddlCrudeMaturity, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Fouling Possibility<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(model => model.data.fouling_possibility, new { @class = "form-control essential" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.data.fouling_possibility, new { @class = "form-control essential", @readonly = "readonly" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Type of Crude</label>
                        <div class="col-md-6">
                            <div class="radio">
                                @if (Model.pageMode == "EDIT")
                                {
                                    if (Model.data.type_of_cam == "N")
                                    {
                                        <input id="rdoNewCam" name="TypeCam" value="N" type="radio" checked="checked" onchange="CheckTypeCam()" />
                                    }
                                    else
                                    {
                                        <input id="rdoNewCam" name="TypeCam" value="N" type="radio" onchange="CheckTypeCam()" />
                                    }
                                }
                                else
                                {
                                    if (Model.data.type_of_cam == "N")
                                    {
                                        <input id="rdoNewCam" name="TypeCam" value="N" type="radio" checked="checked" disabled="disabled" onchange="CheckTypeCam()" />
                                    }
                                    else
                                    {
                                        <input id="rdoNewCam" name="TypeCam" value="N" type="radio" disabled="disabled" onchange="CheckTypeCam()" />
                                    }
                                }
                                <label for="rdoNewCam">New Crude</label>

                                @if (Model.pageMode == "EDIT")
                                {
                                    if (Model.data.type_of_cam == "U")
                                    {
                                        <input id="rdoUpdateCam" name="TypeCam" value="U" type="radio" checked="checked" onchange="CheckTypeCam()" />
                                    }
                                    else
                                    {
                                        <input id="rdoUpdateCam" name="TypeCam" value="U" type="radio" onchange="CheckTypeCam()" />
                                    }
                                }
                                else
                                {
                                    if (Model.data.type_of_cam == "U")
                                    {
                                        <input id="rdoUpdateCam" name="TypeCam" value="U" type="radio" checked="checked" disabled="disabled" onchange="CheckTypeCam()" />
                                    }
                                    else
                                    {
                                        <input id="rdoUpdateCam" name="TypeCam" value="U" type="radio" disabled="disabled" onchange="CheckTypeCam()" />
                                    }
                                }
                                <label for="rdoUpdateCam">Update Crude</label>
                            </div>
                            @Html.HiddenFor(model => model.data.type_of_cam, Model.data.type_of_cam)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Update from Crude</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (!string.IsNullOrEmpty(Model.data.update_from_crude))
                                {
                                    @Html.DropDownListFor(model => model.data.update_from_crude, new SelectList(Model.ddlCrudeReference, "Value", "Text", Model.data.update_from_crude), "-- Select --", new { @class = "form-control essential" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.update_from_crude, Model.ddlCrudeReference, "-- Select --", new { @class = "form-control essential" })
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.data.update_from_crude))
                                {
                                    @Html.DropDownListFor(model => model.data.update_from_crude, new SelectList(Model.ddlCrudeReference, "Value", "Text", Model.data.update_from_crude), "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.data.update_from_crude, Model.data.update_from_crude)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.data.update_from_crude, Model.ddlCrudeReference, "-- Select --", new { @class = "form-control essential", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Expert comment</label>
                        <div class="col-md-6">
                            @if (Model.pageMode == "EDIT")
                            {
                                <div class="row">
                                    <input type="button" value="Select All" class="btn btn-default" onclick="CheckAreaUnitSelectAll(true); return false;" />
                                    <input type="button" value="Deselect All" class="btn btn-default" onclick="CheckAreaUnitSelectAll(false); return false;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="row">
                                @if (Model.experts != null && Model.experts.areas != null )
                                {
                                    foreach (var area in Model.experts.areas.Where(i=> i.units != null && i.units.Any()).OrderBy(x => Convert.ToDecimal(x.order)).ThenBy(x => x.name))
                                    {
                                        <table class="col-md-2" style="border:1px;">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__name" name="experts.areas[@(INDEX_AREA)].name" value="@area.name" hidden="hidden">
                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__order" name="experts.areas[@(INDEX_AREA)].order" value="@area.order" hidden="hidden">
                                                        <label>@area.name</label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (area.units != null && area.units.Any())
                                                {
                                                    foreach (var unit in area.units.OrderBy(x => Convert.ToDecimal(x.order)).ThenBy(x => x.name))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (Model.pageMode == "EDIT")
                                                                {
                                                                    <div class="checkbox essential-expert">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__key" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].key" value="@unit.key" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__order" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].order" value="@unit.order" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__name" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].name" value="@unit.name" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" value="@unit.value" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__question_flag" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].question_flag" value="@unit.question_flag" hidden="hidden">
                                                                        @if (unit.value == "Y")
                                                                        {
                                                                            <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" checked="checked" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" />
                                                                        }
                                                                        <label for="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value">@unit.name</label>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="checkbox essential-expert">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__key" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].key" value="@unit.key" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__order" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].order" value="@unit.order" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__name" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].name" value="@unit.name" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" value="@unit.value" hidden="hidden">
                                                                        <input type="text" id="experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__question_flag" name="experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].question_flag" value="@unit.question_flag" hidden="hidden">
                                                                        @if (unit.value == "Y")
                                                                        {
                                                                            <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" checked="checked" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" disabled="disabled" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" id="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value" name="checkbox.experts.areas[@(INDEX_AREA)].units[@(INDEX_UNIT)].value" class="checkbox_experts_areas_units_value" onchange="CheckAreaUnit('@INDEX_AREA','@INDEX_UNIT')" disabled="disabled" />
                                                                        }
                                                                        <label for="checkbox_experts_areas_@(INDEX_AREA)__units_@(INDEX_UNIT)__value">@unit.name</label>
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>

                                                        INDEX_UNIT += 1;
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                        // NEW LINE WHEN FULLY EVERY 5 AREAS //
                                        if (COUNT_ITEM_ROW == MAX_ITEM_ROW)
                                        {
                                            @:</div>
                                            @:<div class="row">
                                            COUNT_ITEM_ROW = 0;
                                        }

                                        COUNT_ITEM_ROW += 1;
                                        INDEX_AREA += 1;
                                        INDEX_UNIT = 0;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-6">
                    @if (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON")
                    {
                        <div class="form-group" style="padding-right:20px;">
                            <label class="control-label">Comment from SCEP<span style="color:red">*</span></label>
                            @Html.TextAreaFor(model => model.comment_draft_cam, new { @class = "form-control essential", @style = "min-height: 123px; max-width: 100%;" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group" style="padding-right:20px;">
                            <label class="control-label">Comment from SCEP</label>
                            @Html.TextAreaFor(model => model.comment_draft_cam, new { @class = "form-control essential", @style = "min-height: 123px; max-width: 100%;", @readonly = "readonly" })
                        </div>
                    }
                </div>


            </div>

            @if (Model.data.workflow_status == "CANCEL")
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="padding-right:20px;">
                            <label class="control-label">Reason for Cancel</label>
                            @Html.TextAreaFor(m => m.note, new { @style = "min-height: 60px; max-width: 100%;", @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Supporting Document</label>
                        @if (Model.pageMode == "EDIT")
                        {
                            <button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>
                            <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="fileSupportingDocumentUploaded"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="wrapper-button" id="buttonDiv">
            @if (Model.support_doc_file != "")
            {
                @Html.Hidden("fileSupportingDocument", Model.support_doc_file as object)
            }
            else
            {
                @Html.Hidden("fileSupportingDocument")
            }

            @if (Model.buttonMode == "AUTO")
            {
                <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />
            }
            else
            {
                @Html.Hidden("hdfEventClick")
                @Html.Raw(@Model.buttonCode)
            }
        </div>
    </form>
</div>

@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

<script type="text/javascript">

    // VALIDATION //
    function CheckEssentialExpert() {
        var i = 0;
        $(".checkbox_experts_areas_units_value").each(function () {
            var checkbox_name = this.id;
            var textbox_name = this.id.replace('checkbox_', '');
            if ($('#' + textbox_name).val() == 'Y') {
                i++;
            }
        });

        if (i == 0) {
            return false;
        }
        else {
            return true;
        }
    }

    function ValidateEssentialExpert() {
        RemoveValidateEssentialExpert();
        var i = 0;
        $(".checkbox_experts_areas_units_value").each(function () {
            var checkbox_name = this.id;
            var textbox_name = this.id.replace('checkbox_', '');
            if ($('#' + textbox_name).val() == 'Y') {
                if (i == 0) {
                    $(this).focus();
                }
                i++;
            }
        });

        if (i == 0) {
            $(".essential-expert").addClass("validator-lable");
            return false;
        }
        else {
            return true;
        }
    }

    function ValidateEssentialValidate() {
        RemoveValidateEssentialRequired();
        RemoveValidateEssential();
        RemoveValidateEssentialValidate();
        var i = 0;

        $(".essential-validate").each(function() {
            if ($.trim($(this).val()) == "") {
                if (i == 0) {
                    $(this).focus();
                }
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });

        if (i > 0)
            return false;
        return true;
    }

    function ValidateEssentialRequired() {
        RemoveValidateEssentialRequired();
        RemoveValidateEssential();
        RemoveValidateEssentialValidate();
        var i = 0;

        $(".essential-assay-file").each(function () {
            var fileText = $(this).val();
            var fileValue = $("#" + $(this).attr("file-for")).val();

            if ($.trim(fileText) == "" && $.trim(fileValue) == "") {
                if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                    if (i == 0) {
                        $(this).focus();
                    }
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                }
            }
        });

        $(".essential-required").each(function() {
            if ($.trim($(this).val()) == "") {
                if (i==0) {
                    $(this).focus();
                }
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });

        if (i > 0)
        {
            //$(window).scrollTop(0);
            return false;
        }
        return true;
    }

    function ValidateEssential() {
        RemoveValidateEssentialRequired();
        RemoveValidateEssential();
        RemoveValidateEssentialValidate();
        var i = 0;

        $(".essential").each(function() {
            if ($.trim($(this).val()) == "") {
                if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                    if (i == 0) {
                        $(this).focus();
                    }
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                }
            }
        });

        $(".essential-required").each(function() {
            if ($.trim($(this).val()) == "") {
                if (i == 0) {
                    $(this).focus();
                }
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
            }
        });

        $(".essential-file").each(function() {
            var fileText = $(this).val();
            var fileValue = $("#" + $(this).attr("file-for")).val();

            if ($.trim(fileText) == "" && $.trim(fileValue) == "") {
                if ($(this).attr("readonly") !== "readonly" && $(this).attr("disabled") !== "disabled") {
                    if (i == 0) {
                        $(this).focus();
                    }
                    i++;
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                }
            }
        });

        if (i > 0)
            return false;
        return true;
    }


    // CLEAR VALIDATION //
    function RemoveValidateEssentialExpert() {
        $(".essential-expert").removeClass("validator-lable");
    }

    function RemoveValidateEssentialValidate() {
        $(".essential-validate").removeClass("input-error");
    }

    function RemoveValidateEssentialRequired() {
        $(".essential-required").removeClass("input-error");
    }

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
        $(".essential-required").removeClass("input-error");
        $(".essential-file").removeClass("input-error");
    }

    // GET WEB SITE PATH //
    function getWebSitePath() {
        var _location = document.location.toString();
        var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
        var applicationName = _location.substring(0, applicationNameIndex) + '/';
        var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
        var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
        return webFolderFullPath;
    }

    // DOCUMENT READY //
    $(function() {
        CheckTypeCam();
        LoadFileSupportingDocument();
    });

    // CONFIRMATION BEFORE SAVE //
    function OpenBoxBungerPrompt(MSG, Event) {
        // VALIDATE BEFORE SAVE //
        var pageMode = $("#pageMode").val()
        if (Event.toUpperCase() == "SAVEDRAFT") {
            if (!ValidateEssentialRequired()) return false;
        }
        else if (Event.toUpperCase() == "SUBMIT") {
            if (!ValidateEssential()) return false;
            else if (!ValidateEssentialValidate()) return false;
            //don't have to validate units anymore
            //else if (!ValidateEssentialExpert()) return false;
        }


        // SAVE FILE SUPPORTING DOCUMENT //
        SaveFileSupportingDocument();

        // BUTTON ACTION //
        $('#EventButton').val("1");
        if (Event == "SaveAndPreview") {
            //$("#btnGenPDF").click();
            setTimeout(function() {
                $('form').attr('target', '_self');
                $("#btnSaveDraft").click();
            }, 1000);
        }
        $('form').attr('target', '_self');

        if (Event != "SaveDraft" && Event != "SaveAndPreview" && Event != "Submit") {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

        //if (Event == "REJECT" || Event == "CANCEL") {
        //    bootbox.prompt({
        //        title: MSG,
        //        inputType: 'textarea',
        //        callback:  function (result) {
        //            if (result === null || result === "") {
        //                //Do nothing (cancel button pressed)
        //                if (result === "") {
        //                    OpenBoxPopup("Please Key Reason for Reject/Cancel.");
        //                }
        //                $('#EventButton').val("0");
        //            } else {
        //                $("#hdfNoteAction").val(result);
        //                $('form').attr('target', '_self');
        //                $("#btnMANUAL").click();
        //                LoadingProcess();
        //            }
        //        }
        //    });
        //}
        //else if (Event == "APPROVE") {
        //    bootbox.prompt({
        //        title: "Are you sure to approve ?",
        //        inputType: 'textarea',
        //        callback: function (result) {
        //            if (result === null || result === "") {
        //                result = "-";
        //            }
        //            $("#hdfNoteAction").val(result);
        //            $('form').attr('target', '_self');
        //            $("#btnMANUAL").click();
        //            LoadingProcess();
        //        }
        //    });
        //}

        // CASE: SUBMIT
        var message = "Are you sure to submit?"
        if (!CheckEssentialExpert()) {
            message = "Are you sure to submit without expert comment";
        }

        if (Event.toUpperCase() == "SUBMIT") {
            bootbox.confirm({
                message: message,
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        if (Event == "SUBMIT") {
                            $("#btnMANUAL").click();
                        } else {
                            $("#btnSubmit").click();
                        }
                        LoadingProcess();
                    }
                }
            });
        }

            //CASE: CANCEL
        else if(Event.toUpperCase() == "CANCEL"){
            bootbox.prompt({
                title: MSG,
                inputType: 'textarea',
                maxlength: 1000,
                callback:  function (result) {
                    if (result === null) {
                        //Do nothing (cancel button pressed)
                        $('#EventButton').val("0");
                    } else {
                        $("#hdfNoteAction").val(result);
                        $('form').attr('target', '_self');
                        $("#btnMANUAL").click();
                        LoadingProcess();
                    }
                }
            });
        }
            // CASE: SAVE DRAFT
        else {
            $('form').attr('target', '_self');
            if (Event == "Upload") {
                $("#btnUpload").click();
            } else if (Event == "SaveDraft") {
                $("#btnSaveDraft").click();
            } else if (Event == "Submit") {
                $("#btnSubmit").click();
            } else {
                $("#btnMANUAL").click();
            }
            LoadingProcess();
        }
    }

    // FILE ASSAY //
    $('#fileAssay').change(function () {
        OpenBoxBungerPrompt('Comment :', 'Upload');
    })

    // FILE CAM //
    $('#fileCAM').change(function () {
        OpenBoxBungerPrompt('Comment :', 'Upload');
    })

    // CHECK AREA UNIT //
    function CheckAreaUnit(indexArea,indexUnit) {
        if ($('#checkbox_experts_areas_' + indexArea + '__units_' + indexUnit + '__value').prop("checked")) {
            $('#experts_areas_' + indexArea + '__units_' + indexUnit + '__value').val('Y');
        } else {
            $('#experts_areas_' + indexArea + '__units_' + indexUnit + '__value').val('N');
        }
    }

    // SELECT AND DESELECTED ALL AREA UNIT
    function CheckAreaUnitSelectAll(isSelected) {
        $(".checkbox_experts_areas_units_value").each(function () {
            var checkbox_name = this.id;
            var textbox_name = this.id.replace('checkbox_', '');
            $('#' + checkbox_name).prop('checked',isSelected);
            if ($('#' + checkbox_name).prop('checked')) {
                $('#' + textbox_name).val('Y');
            } else {
                $('#' + textbox_name).val('N');
            }
        });
    }

    // TYPE OF CAM //
    function CheckTypeCam()
    {
        if ($('#rdoNewCam').prop('checked')) {
            $('#data_type_of_cam').val('N');
            $('#data_update_from_crude').val(null);
            $('#data_update_from_crude').attr('disabled', 'disabled');
        }
        else if ($('#rdoUpdateCam').prop('checked')) {
            $('#data_type_of_cam').val('U');
            if ("@Model.pageMode" == "EDIT") {
                $('#data_update_from_crude').attr('disabled', null);
            }
        }
    }

    // SAVE ITEM: FILE SUPPORTING DOCUMENT //
    function SaveFileSupportingDocument() {
        $('#fileSupportingDocument').val('');
        var supportingDocument = "";
        $('.SupportingDocument').each(function () {
            var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
            supportingDocument += $(this).attr('value') + ":" + supportingDocumentType + "|";
        });
        $('#fileSupportingDocument').val(supportingDocument);
    }

    // LOAD ITEM: FILE SUPPORTING DOCUMENT //
    function LoadFileSupportingDocument() {
        if ($('#fileSupportingDocument').val()) {
            var ItemFile = $('#fileSupportingDocument').val().split("|");
            for (var i = 0; i < ItemFile.length; i++) {
                if (ItemFile[i] != "") {
                    var splitVal = ItemFile[i].split(":");
                    $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(splitVal[0], splitVal[1]));
                }
            }
            DeleteFileSupportingDocument();
        }
    }
    var doc_count = 0;
    // MAKE ITEM: FILE SUPPORTING DOCUMENT //
    function MakeUploadFileSupportingDocument(filePath, fileType) {
        var i = 0, length = filePath.length;
        var tmpFilePath = filePath;
        for (i; i < length; i++) {
            tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
        }
        var fullFileName = tmpFilePath.split("|");
        var fileName = fullFileName[fullFileName.length - 1];
        var itemFileSupportingDocument = '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
        itemFileSupportingDocument += '<table><tr><td>';
        itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
        @if (Model.pageMode == "EDIT") {
            @:itemFileSupportingDocument += '<div class="cancel">';
                            @:itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove "></span>';
                            @:itemFileSupportingDocument += '</div>';
                                                        }
        itemFileSupportingDocument += '<a target="_blank" href="../' + filePath + '">' + fileName + '</a>';
        //itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</div>';
        itemFileSupportingDocument += '</td><td>';
        @if (Model.pageMode == "EDIT")
        {
            @:itemFileSupportingDocument += '<select class="form-control SupportingDocumentType" id="SupportingDocumentType_' + doc_count + '" name="SupportingDocumentType" >';
                    foreach (var option in Model.ddlFileSupportingDocumentType)
            {
                @:optionType = "@option.Value";
                        @:if(optionType == fileType) { itemFileSupportingDocument += '<option selected="selected" value="@option.Value">@option.Text</option>'; } else{ itemFileSupportingDocument += '<option value="@option.Value">@option.Text</option>'; }
                    }
            @:itemFileSupportingDocument += '</select>';
        }
        else {
            @:itemFileSupportingDocument += '<select class="form-control SupportingDocumentType" id="SupportingDocumentType_' + doc_count + '" name="SupportingDocumentType" style="display:none" >';
            foreach (var option in Model.ddlFileSupportingDocumentType)
            {
                @:optionType = "@option.Value";
                @:if(optionType == fileType) { itemFileSupportingDocument += '<option selected="selected" value="@option.Value">@option.Text</option>'; } else{ itemFileSupportingDocument += '<option value="@option.Value">@option.Text</option>'; }
            }
            @:itemFileSupportingDocument += '</select>';
            @:itemFileSupportingDocument += '<input class="form-control" style="width:400px; vertical-align: middle;" value=\"' + fileType + '\" id="txtUploadFileSupportingDocument" readonly="true" ></input>';
        }
        itemFileSupportingDocument += '</td><tr><table>';
        return itemFileSupportingDocument;
    }

    // DELETE ITEM: FILE SUPPORTING DOCUMENT //
    function DeleteFileSupportingDocument() {
        $('.glyphicon-remove').click(function () {
            $(this).parent().parent().parent().parent().remove();
        });
    }

    // UPLOAD FILE SUPPORTING DOCUMENT //
    function UploadFileSupportingDocument() {
        $("#fileSupportingDocumentFile").click();
    }


    $('#fileSupportingDocumentFile').change(function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                for (var x = 0; x < files.length; x++) {
                    var data = new FormData();
                    data.append("file" + x, files[x]);
                    $.ajax({
                        type: "POST",
                        url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000040",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (response) {
                            var index = response.indexOf('<!DOCTYPE html>');
                            var json = response.substring(0, index);
                            var data = JSON.parse(json.trim());
                            $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path,''));
                            DeleteFileSupportingDocument();
                        },
                        error: function (event, queueID, fileObj, errorObj) {
                            alert(errorObj.type + ' Error: ' + errorObj.info);
                            if (fileObj.size > 4194304) { alert('File size too large.'); }
                            else { alert('Someting wrong.'); }
                        }
                    });
                    data = null;
                }
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
        $(this).val('');
    });

    /*
    $('#fileSupportingDocumentFile').uploadify({
        'uploader': '../Content/js/jquery.uploadify/uploadify.swf',
        'script': '../Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000040',
        'cancelImg': '../Content/js/jquery.uploadify/cancel.png',
        'fileDesc': 'Document Files',
        'fileExt': '*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.pptx;*.pdf;',
        'sizeLimit': '4194304',
        'auto': true,
        'multi': true,
        'onSelect': function (event, queueID, fileObj) {
            var fileNameExt = fileObj.name.substr(fileObj.name.lastIndexOf('.') + 1);
            if (fileNameExt != 'doc' && fileNameExt != 'docx' && fileNameExt != 'xls' && fileNameExt != 'xlsx' && fileNameExt != 'ppt' && fileNameExt != 'pptx' && fileNameExt != 'pdf' ) {
                $('#fileSupportingDocumentFile').uploadifyCancel(queueID);
                return false;
            }
        },
        'onComplete': function (event, queueID, fileObj, response, data) {
            var index = response.indexOf('<!DOCTYPE html>');
            var json = response.substring(0, index);
            var data = JSON.parse(json.trim());
            $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path,''));
            DeleteFileSupportingDocument();
        },
        'onError': function (event, queueID, fileObj, errorObj) {
            if (fileObj.size > 4194304) {
                alert('File size too large.');
            }
            else {
                alert('Someting wrong.');
            }
        }
    });
    */


    // DATE PURCHASE //
    $('.date_purchase').dateRangePicker(
    {
        autoClose: true,
        singleDate: true,
        showShortcuts: false,
        format: "DD-MMM-YYYY HH:mm",
        time: { enabled: true }
    }).bind("datepicker-change", function(t) {
        var days = '@(Model.approvalDay ?? "0")';
        var dateFormat = 'DD-MMM-YYYY HH:mm';
        var datePurchase = $(this).val();
        var dateApproval = moment(datePurchase, dateFormat).add(parseInt(days),'days').format(dateFormat);

        $('#data_approval_date').val(dateApproval);
        $('#data_approval_date').data('dateRangePicker').destroy();
        $('#data_approval_date').dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                showShortcuts: false,
                format: dateFormat,
                time: { enabled: true },
                startDate: datePurchase
            }
        );
    });

    // APPROVAL DATE //
    $('.approval_date').dateRangePicker(
    {
        autoClose: true,
        singleDate: true,
        showShortcuts: false,
        format: 'DD-MMM-YYYY HH:mm',
        time: { enabled: true },
        startDate: $('#data_date_purchase').val()
    });

    // ASSAY DATE //
    //$('#data_assay_date').dateRangePicker(
    //{
    //    autoClose: true,
    //    singleDate: true,
    //    showShortcuts: false,
    //    format: 'DD-MMM-YYYY',
    //    time: { enabled: false },
    //});
</script>
