﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.FixtureViewModel
@{
    ViewBag.Title = "AddFixture";
}

<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Add Fixture</h1>
    </div>
    <div class="row">
        <form action="" method="post">
            @Html.Hidden("hdfNoteAction")
            @if (TempData["res_message"] == null)
            {
                @Html.Hidden("EventButton", "0")
            }
            else
            {
                @Html.Hidden("EventButton", "1")
            }
            <div class="form-horizontal">
@if (Model.Action == "ADD")
{
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2">On Subject Date</label>
            <div class="col-md-4">
                <div class="box-date">
                    @Html.TextBoxFor(m => m.sOnSubjectDate, new { @class = "form-control  sOnSubjectDate", @id = "sOnSubjectDate" })
                </div>
            </div>
            <div class="col-md-2">
                <span class="glyphicon glyphicon-search searchIcon" onclick="SearchCharterin();return false;" style="cursor: pointer;"></span>
            </div>
        </div>
    </div>
}
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.FixtureStatus, new { @class = "form-control  FixtureStatus", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Task ID </label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.voy_no, new { @class = "form-control  txtvoy_no", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Charter IN <span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @if (Model.Action == "ADD" || Model.Action == "DRAFT")
                            {
                                @Html.DropDownListFor(m => m.TceDetail.chi_data_id, new SelectList(Model.lstVoyNo, "Value", "Text", Model.TceDetail.chi_data_id), new { @class = "form-control ddlVoyID" })

                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.chi_data_no, new { @class = "form-control txtChiDataNo", @readonly = "true" })
                                @Html.HiddenFor(m => m.TceDetail.chi_data_id)
                            }

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ship Name</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.TceDetail.ship_name, Model.lstShipName, Model.TceDetail.ship_name, new { @class = "form-control ddlShipName", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.TceDetail.ship_name, Model.lstShipName)

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ship Broker</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.TceDetail.ship_broker, Model.lstShipBroker, Model.TceDetail.ship_broker, new { @class = "form-control ddlShipBroker", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.TceDetail.ship_broker, Model.lstShipBroker)
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ship Owner<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.ship_owner, new { @class = "form-control txtShipOwner", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Dem (K$/d)<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.dem, new { @class = "form-control txtDem", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Flat Rate<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.flat_rate, new { @class = "form-control txtFlatrate", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Deviation/WRPM/Armguard<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextAreaFor(m => m.TceDetail.extra_cost, new { @class = "form-control extra_cost", @readonly = "true", TextBoxMode = "MultiLine" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Laycan load<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.laycan_load_from, new { @class = "form-control input-date-picker txtLaycan", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">On Subject Date<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.date_fixture, new { @class = "form-control input-date-picker txtDateofTopFix", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">TOP Fixture value<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.top_fixture_value, new { @class = "form-control txtTopFixVal", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Min Load<span style="color:red">*</span></label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.TceDetail.min_load, new { @class = "form-control doubleVal txtmin_load", @readonly = "true" })
                        </div>
                    </div>
                </div>
              
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">TD</label>
                        <div class="col-md-4">
                            @if (Model.Action != "CANCEL")
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, new SelectList(Model.lstTD, "Value", "Text", Model.TceDetail.td), new { @class = "form-control ddlTD" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, Model.lstTD, Model.TceDetail.td, new { @class = "form-control ddlTD", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.TceDetail.td, Model.lstTD)
                            }
                            @*@if (Model.PageMode)
                        {
                            if (Model.TceDetail.td != null)
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, new SelectList(Model.lstTD, "Value", "Text", Model.TceDetail.td), new { @class = "form-control ddlTD" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, Model.lstTD, new { @class = "form-control ddlTD" })
                            }
                        }
                        else
                        {
                            if (Model.TceDetail.td != null)
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, Model.lstTD, Model.TceDetail.td, new { @class = "form-control ddlTD", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.TceDetail.td, Model.lstTD)
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.TceDetail.td, Model.lstTD, new { @class = "form-control ddlTD", @disabled = "disabled" })
                            }
                        }*@
                        </div>
                    </div>
                </div>
                @if (Model.Action == "CANCEL")
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Reason for Cancel</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.TceDetail.reason, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">

                        @if (Model.PageMode && !Model.GenButton)
                        {
                            @*<input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />*@
                            <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />

                                            @*<input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />*@
                                            <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
                        }
                        else
                        {
                            @Html.Hidden("hdfEventClick")
                            @Html.Raw(@ViewBag.ButtonCode)
                        }
                        <input type="submit" value="BACK" id="btnBack" name="action:Back" class="btn btn-default" />
                    </div>
                </div>
            </div>

</form>
</div>
</div>
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
}

<script type="text/javascript">
    //when document is ready
    $(function() {
        CheckLengthCtrl();

        $('#sOnSubjectDate').dateRangePicker(
                  {
                      startOfWeek: 'monday',
                      format: 'DD/MM/YYYY',
                  }).bind('datepicker-change', function (evt, obj) {
                      //SearchCharterin();
                  });

        $("#sOnSubjectDate").on('change', function(){
            //SearchCharterin();
        });
    });
    $(".doubleVal").bind("keypress", function(e) {
        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }else {
            if( e.which ==46 &&  ($(this).val().indexOf('.') >= 0)){
                return false;
            }
        }
    });

    $('.ddlVoyID').change(function () {
        LoadValueVoy($(this).val())
        return false;
    });

    function SearchCharterin(){
        LoadingProcess();
        var date = $('#sOnSubjectDate').val();
        console.log(date);
        var dateEn = encodeURI(date);
        console.log(dateEn);
        var url = '@Html.Raw(@Url.Action("AddFixture", "GraphBoard"))' + '?OnSubDate='+ date;
        console.log(url);
        window.location.href = url;
    }

    window.onbeforeunload = function (evt) {
        var btnclick = false;
        if ($('#EventButton').val() == "0") {
            btnclick = true;
        }
        if (btnclick) {
            return "If you leave this page, your information will not be updated.";
        }

    }

    function OpenBoxBungerPrompt(MSG, Event) {
        console.log(Event);
        $('#EventButton').val("1");
        $('form').attr('target', '_self');

        if (Event.toUpperCase() == "SUBMIT") {
            if (!ValidateBeforeSave())
                return false;
        }
        if (Event.toUpperCase() == "EDIT") {
            if (!ValidateBeforeSave())
                return false;
        }

        if (Event != "Submit" ) {
            if ($("#hdfEventClick").length != 0) {
                $("#hdfEventClick").val(Event);
            }
        }

       if (Event.toUpperCase() == "CANCEL") {

            bootbox.prompt(MSG, function (result) {
                if (result === null) {
                    //Do nothing (cancel button pressed)
                    $('#EventButton').val("0");
                } else {
                    $("#hdfNoteAction").val(result);
                    $('form').attr('target', '_self');
                    $("#btnMANUAL").click();
                    LoadingProcess();
                }
            });
       }
        else
       {
           $('form').attr('target', '_self');
           if (Event == "Submit") {
               $("#btnSubmit").click();
           }else {
               $("#btnMANUAL").click();
               LoadingProcess();
           }
       }
    }

    function CheckLengthCtrl() {
        CheckLength('@Html.IdFor(m => m.TceDetail.ship_owner)', '50');
        CheckLength('@Html.IdFor(m => m.TceDetail.dem )', '50');
        CheckLength('@Html.IdFor(m => m.TceDetail.flat_rate)', '50');
        CheckLength('@Html.IdFor(m => m.TceDetail.min_load)', '50');
        CheckLength('@Html.IdFor(m => m.TceDetail.td)', '5');
        CheckLength('@Html.IdFor(m => m.TceDetail.extra_cost)', '50');
        CheckLength('@Html.IdFor(m => m.TceDetail.top_fixture_value)', '50');
        CheckDateFormatFT('@Html.IdFor(m => m.TceDetail.laycan_load_from)');
        CheckDateFormat('@Html.IdFor(m => m.TceDetail.date_fixture)');
    }

    function ReMoveValidateClass(){
        $(".ddlVoyID").removeClass("input-error");
        $(".ddlShipName").removeClass("input-error");
        $(".ddlShipBroker").removeClass("input-error");
        $(".txtShipOwner").removeClass("input-error");
        $(".txtDem").removeClass("input-error");
        $(".txtFlatrate").removeClass("input-error");
        $(".extra_cost").removeClass("input-error");
        $(".txtLaycan").removeClass("input-error");
        $(".txtDateofTopFix").removeClass("input-error");
        $(".txtTopFixVal").removeClass("input-error");
        $(".txtmin_load").removeClass("input-error");

        $(".ddlTD").removeClass("input-error");
    }
    function ValidateBeforeSave(){
        ReMoveValidateClass();
        var FocusCtrl = "";
        var i = 0;
        var MSGError = "";

        if ($(".ddlVoyID").find("option:selected").text() + "" == "Please select") {
            i++;
            addValidMessageError($('.ddlVoyID'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '.ddlVoyID';
        }
        if ($(".ddlShipName").find("option:selected").text() + "" == "Please select") {
            i++;
            addValidMessageError($('.ddlShipName'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '.ddlShipName';
        }
        if ($(".ddlShipBroker").find("option:selected").text() + "" == "Please select") {
            i++;
            addValidMessageError($('.ddlShipBroker'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '.ddlShipBroker';
        }
        if ( $(".txtShipOwner").val() + "" == "") {
            i++;
            addValidMessageError($('.txtShipOwner'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtShipOwner';
        }
        if ( $(".txtDem").val() + "" == "") {
            i++;
            addValidMessageError($('.txtDem'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtDem';
        }
        if ( $(".txtFlatrate").val() + "" == "") {
            i++;
            addValidMessageError($('.txtFlatrate'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtFlatrate';
        }
        if ( $(".extra_cost").val() + "" == "") {
            i++;
            addValidMessageError($('.extra_cost'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'extra_cost';
        }
        if ( $(".txtLaycan").val() + "" == "") {
            i++;
            addValidMessageError($('.txtLaycan'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtLaycan';
        }
        if ( $(".txtDateofTopFix").val() + "" == "") {
            i++;
            addValidMessageError($('.txtDateofTopFix'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtDateofTopFix';
        }
        if ( $(".txtTopFixVal").val() + "" == "") {
            i++;
            addValidMessageError($('.txtTopFixVal'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtTopFixVal';
        }
        if ( $(".txtmin_load").val() + "" == "") {
            i++;
            addValidMessageError($('.txtmin_load'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = 'txtmin_load';
        }
        if ($(".ddlTD").find("option:selected").text() + "" == "") {
            i++;
            addValidMessageError($('.ddlTD'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '.ddlTD';
        }
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0) {
            if (MSGError != "") { OpenBoxPopup(MSGError); }
            return false;
        }
        return true;
    }

    function LoadValueVoy(_voyNO){
        //alert(_voyNO);
        var req= {CHINo:_voyNO}
        $.ajax({
            type: "POST",
            url: "getCHIDataInfo",
            data: JSON.stringify(req),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                @*if ( $('.ddlVoyID').val()=="" || '@Model.New'=="NEW") $('.ddlVoyID').val(_voyNO);
                if( $('.ddlShipName').val()==""|| '@Model.New'=="NEW") $('.ddlShipName').val(data.ship_name);
                if( $('.ddlShipBroker').val()==""|| '@Model.New'=="NEW") $('.ddlShipBroker').val(data.ship_broker);
                if( $('.txtShipOwner').val()==""|| '@Model.New'=="NEW") $('.txtShipOwner').val(data.ship_owner);
                if( $('.txtDem').val()==""|| '@Model.New'=="NEW") $('.txtDem').val(data.dem);
                if( $('.txtFlatrate').val()==""|| '@Model.New'=="NEW") $('.txtFlatrate').val(data.flat_rate);
                if( $('.txtLaycan').val()==""|| '@Model.New'=="NEW") $('.txtLaycan').val(data.laycan_load_from);
                if( $('.txtDateofTopFix').val()==""|| '@Model.New'=="NEW") $('.txtDateofTopFix').val(data.date_fixture);
                if( $('.txtTopFixVal').val()==""|| '@Model.New'=="NEW") $('.txtTopFixVal').val(data.top_fixture_value);
                if( $('.txtmin_load').val()==""|| '@Model.New'=="NEW")$('.txtmin_load').val(data.min_load);
                if( $('.extra_cost').val()==""|| '@Model.New'=="NEW")$('.extra_cost').val(data.extra_cost);*@

                $('.ddlVoyID').val(_voyNO);
                $('.ddlShipName').val(data.ship_name);
                $('input[id=TceDetail_ship_name]:hidden').val(data.ship_name);
                //$('#TceDetail_ship_name').val(data.ship_name);
                $('.ddlShipBroker').val(data.ship_broker);
                $('input[id=TceDetail_ship_broker]:hidden').val(data.ship_broker);
                //$('#TceDetail_ship_broker').val(data.ship_broker);
                $('.txtShipOwner').val(data.ship_owner);
                $('.txtDem').val(data.dem);
                $('.txtFlatrate').val(data.flat_rate);
                $('.txtLaycan').val(data.laycan_load_from);
                $('.txtDateofTopFix').val(data.date_fixture);
                $('.txtTopFixVal').val(data.top_fixture_value);
                $('.txtmin_load').val(data.min_load);
                $('.extra_cost').val(data.extra_cost);
                $('.ddlTD').val(data.td);

            }
        });
    }
</script>

