﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CharterInViewModel
@{
    ViewBag.Title = "CharterInCMMT";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    int txtExplanation_readmode = (Model.pageMode == "EDIT") ? 0 : 1;
    int g_broker = 1;
    string offer_ws = "";
    string offer_minloaded = "";
    string type = ViewBag.Type == null ? "VESSEL" : ViewBag.Type;
}

@section HeadStyle {
    <style>
        .nopadding {
            padding-right: 15px !important;
            padding-bottom: 10px !important;
        }
    </style>
}

<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Charter In</h1>
    </div>
    <form action="" method="post">
        @Html.Hidden("hdfNoteAction")
        @Html.Hidden("EventButton", "0")
        @Html.HiddenFor(m => m.pageMode, Model.pageMode)
        @Html.HiddenFor(m => m.buttonMode, Model.buttonMode)
        @Html.HiddenFor(m => m.buttonCode, Model.buttonCode)
        @Html.HiddenFor(m => m.reqID, Model.reqID)

        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Task ID</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Purchase No.</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.purno, Model.purno, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Detail</h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">On Subject Date<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (Model.chit_detail != null)
                                {
                                    @Html.TextBoxFor(m => m.chit_detail.date, new { @class = "form-control input-date-picker ev_datepurchase" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.chit_detail.date, new { @class = "form-control input-date-picker ev_datepurchase", @Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                }
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.chit_detail.date, new { @class = "form-control ev_datepurchase", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Charterer:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                           @if (Model.pageMode == "EDIT")
                           {
                               if (Model.chit_detail != null)
                               {
                                @Html.DropDownListFor(m => m.chit_detail.charterer, new SelectList(Model.charterer_list, "Value", "Text", Model.chit_detail.charterer), new { @class = "form-control fcl_payment_terms-charterer" })
                               }
                               else
                               {
                                @Html.DropDownListFor(m => m.chit_detail.charterer, Model.charterer_list, new { @class = "form-control fcl_payment_terms-charterer" })
                               }
                           }
                           else
                           {
                               if (Model.chit_detail != null)
                               {
                                @Html.DropDownListFor(m => m.chit_detail.charterer, Model.charterer_list, Model.chit_detail.charterer, new { @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.chit_detail.charterer, Model.chit_detail.charterer)
                               }
                               else
                               {
                                @Html.DropDownListFor(m => m.chit_detail.charterer, Model.charterer_list, new { @class = "form-control", @disabled = "disabled" })
                               }
                           }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Laycan<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextBoxFor(m => m.chit_detail.laycan, new { @class = "form-control input-date-picker ev_laycan" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.chit_detail.laycan, new { @class = "form-control ev_laycan", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-2">Order</th>
                                <th class="col-md-4">Cargo</th>
                                <th class="col-md-2">Quantity</th>
                                <th class="col-md-2">Unit</th>
                                <th class="col-md-2">Tolerance(%)</th>
                            </tr>
                        </thead>
                        <tbody id="tblCargo">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (Model.chit_detail != null)
                                {
                                    if (Model.chit_detail.chit_cargo_qty != null)
                                    {
                                        for (int i = 0; i < Model.chit_detail.chit_cargo_qty.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.chit_detail.chit_cargo_qty[i].order
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[i].cargo, Model.cargo_list, new { @class = "form-control" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[i].qty, new { @class = "form-control", type = "number", step = "any" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[i].unit, Model.cargo_list, new { @class = "form-control" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[i].tolerance, new { @class = "form-control", type = "number", step = "any" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[0].cargo, Model.cargo_list, "-- Select --", new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[0].qty, new { @class = "form-control", type = "number", step = "any" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[0].unit, Model.cargo_list, "-- Select --", new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[0].tolerance, new { @class = "form-control", type = "number", step = "any" })
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                if (Model.chit_detail != null)
                                {
                                    if (Model.chit_detail.chit_cargo_qty != null)
                                    {
                                        for (int i = 0; i < Model.chit_detail.chit_cargo_qty.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.chit_detail.chit_cargo_qty[i].order
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[i].cargo, Model.cargo_list, new { @class = "form-control" })
                                                    @Html.HiddenFor(model => model.chit_detail.chit_cargo_qty[i].cargo, Model.chit_detail.chit_cargo_qty[i].cargo)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[i].qty, new { @class = "form-control", type = "number", step = "any" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[i].unit, Model.cargo_list, new { @class = "form-control" })
                                                    @Html.HiddenFor(model => model.chit_detail.chit_cargo_qty[i].unit, Model.chit_detail.chit_cargo_qty[i].unit)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[i].tolerance, new { @class = "form-control", type = "number", step = "any" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[0].cargo, Model.cargo_list, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[0].qty, new { @class = "form-control", type = "number", step = "any" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.chit_detail.chit_cargo_qty[0].unit, Model.cargo_list, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.chit_detail.chit_cargo_qty[0].tolerance, new { @class = "form-control", type = "number", step = "any" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.pageMode == "EDIT")
            {
                <div class="row">
                    <input type="button" value="Add Cargo" class="btn btn-success" onclick="addLoadPort(); return false;" />
                    <input type="button" value="Delete Cargo" class="btn btn-primary" onclick="delLoadPort(); return false;" />
                </div>
            }
            <br>

            <div class="row">                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">BSS:<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (Model.chit_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.chit_detail.bss, new SelectList(Model.bss_list, "Value", "Text", Model.chit_detail.bss), new { @class = "form-control fcl_payment_terms-charterer" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.chit_detail.bss, Model.bss_list, "-- Select --", new { @class = "form-control fcl_payment_terms-charterer" })
                                }
                            }
                            else
                            {
                                if (Model.chit_detail != null)
                                {
                                    @Html.DropDownListFor(m => m.chit_detail.bss, Model.bss_list, Model.chit_detail.bss, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(m => m.chit_detail.bss, Model.chit_detail.bss)
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.chit_detail.bss, Model.bss_list, new { @class = "form-control", @disabled = "disabled" })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" id="groupPortLoadValue"></div>
                </div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-4">
                    <div class="form-group" id="groupPortDischargeValue"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Reason for Private Negotiation</label>
                        <div>
                            @Html.TextAreaFor(m => m.chit_chartering_method.reason, new { @class = "form-control txtExplanation" })
                        </div>
                    </div>
                </div>
                @*<div class="col-md-12">
                    <div class="form-group">
                        <button id="btn_Explanupload_MultiFile" class="btn btn-success" type="button" onclick="addExplanAttachFile('@type','F10000025')"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Select File</button>
                        <input type="file" accept="image/*" max-file-size=4194304 name="Explanupload_MultiFile" id="Explanupload_MultiFile" multiple="multiple" style="display:none;" />
                        <div id="ExplanfilesUploaded"></div>
                    </div>
                </div>*@
            </div>
        </div>

        <h2>Negotiation Summary</h2>
        <div class="col-md-12" style="overflow-x: scroll;">
            <div id="NegotiationGrid">
                <table class="table table-bordered PriceOfferTable" id="tblNegotiation" style="width: 100%;">
                    <tbody>
                        @if (Model.pageMode == "EDIT")
                        {
                            if (Model.chit_negotiation_summary != null)
                            {
                                var round_item = Model.chit_negotiation_summary.chit_offers_items[0].chit_round_items;
                                <tr class="HeaderTable">
                                    <td rowspan="2"></td>
                                    <td rowspan="2">Broker</td>
                                    <td rowspan="2">Targeted Vessel</td>
                                    <td rowspan="2">Owner</td>
                                    <td rowspan="2" style="width: 100px;">Fixing Items</td>
                                    @for (int i = 0; i < round_item.Count; i++)
                                    {
                                        if (i == round_item.Count - 1 && i != 0)
                                        {
                                            <td colspan="2">Round @round_item[i].round_no <input type="image" src="~/Web/Images/icon-delete.gif" onclick="delRound(); return false;"></td>
                                        }
                                        else
                                        {
                                            <td colspan="2">Round @round_item[i].round_no</td>
                                        }
                                    }
                                    <td rowspan="2" style="width: 200px;">Final deal</td>
                                    <td rowspan="2">Delete</td>
                                </tr>
                                    <tr class="HeaderTable">
                                        @for (int i = 0; i < round_item.Count; i++)
                                        {
                                            <td>Offer</td>
                                            <td>Counter</td>
                                        }
                                    </tr>
                            }
                            else
                            {
                                <tr class="HeaderTable">
                                    <td rowspan="2"></td>
                                    <td rowspan="2">Broker</td>
                                    <td rowspan="2">Targeted Vessel</td>
                                    <td rowspan="2">Owner</td>
                                    <td rowspan="2" style="width: 100px;">Fixing Items</td>
                                    <td colspan="2">Round 1</td>
                                    <td rowspan="2" style="width: 200px;">Final deal</td>
                                    <td rowspan="2">Delete</td>
                                </tr>
                                    <tr class="HeaderTable">
                                        <td>Offer</td>
                                        <td>Counter</td>
                                    </tr>
                            }
                        }
                        else
                        {
                            if (Model.chit_negotiation_summary != null)
                            {
                                var round_item = Model.chit_negotiation_summary.chit_offers_items[0].chit_round_items;
                                <tr class="HeaderTable">
                                    <td rowspan="2"></td>
                                    <td rowspan="2">Broker</td>
                                    <td rowspan="2">Targeted Vessel</td>
                                    <td rowspan="2">Owner</td>
                                    <td rowspan="2" style="width: 100px;">Fixing Items</td>
                                    @for (int i = 0; i < round_item.Count; i++)
                                    {
                                        <td colspan="2">Round @round_item[i].round_no</td>
                                    }
                                    <td rowspan="2" style="width: 200px;">Final deal</td>
                                    <td rowspan="2">Delete</td>
                                </tr>
                                    <tr class="HeaderTable">
                                        @for (int i = 0; i < round_item.Count; i++)
                                        {
                                            <td>Offer</td>
                                            <td>Counter</td>
                                        }
                                    </tr>
                            }
                        }

                        @if (Model.pageMode == "EDIT")
                        {
                            if (Model.chit_negotiation_summary != null)
                            {
                                g_broker = Model.chit_negotiation_summary.chit_offers_items.Count;
                                for (int i = 0; i < Model.chit_negotiation_summary.chit_offers_items.Count; i++)
                                {
                                    <tr class="DataTable" id="tblData_@i">
                                        <td>
                                            <div class="radio">
                                                @if (Model.chit_negotiation_summary.chit_offers_items[i].final_flag == "Y")
                                                {
                                                    <input id="rdoNegotiation@(i)" name="negotiation_summary_offers_items_final_flag" checked="checked" class="checked" onclick="selectOffer(@i);" value="@i" type="radio" />
                                                        <label for="rdoNegotiation@(i)" style="margin-top: 9px;"></label>
                                                }
                                                else
                                                {
                                                    <input id="rdoNegotiation@(i)" name="negotiation_summary_offers_items_final_flag" onclick="selectOffer(@i);" value="@i" type="radio" />
                                                        <label for="rdoNegotiation@(i)" style="margin-top: 9px;"></label>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            @*added*@
                                            @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].broker, new SelectList(Model.broker, "Value", "Text", Model.chit_negotiation_summary.chit_offers_items[i].broker), new { @class = "form-control ns_broker ddlType", @onchange = "update_pa(" + i + "); updateDropdown(this);" })
                                        </td>
                                        <td>
                                            @*end added*@
                                            @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].vessel, new SelectList(Model.vehicle, "Value", "Text", Model.chit_negotiation_summary.chit_offers_items[i].vessel), new { @class = "form-control ns_vessel", @onchange = "update_pa(" + i + "); updateDropdown(this);" })
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">Type</div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.chit_negotiation_summary.chit_offers_items[i].type, new SelectList(Model.type_list, "Value", "Text", Model.chit_negotiation_summary.chit_offers_items[i].type), new { @class = "form-control", @onchange = "setPaymentTerm(" + i + "); updateDropdown(this);" })
                                                </div>
                                            </div>
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">Year</div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].year, Model.chit_negotiation_summary.chit_offers_items[i].year, new { @class = "form-control ns_year", @onchange = "update_pa(" + i + ");", @type = "number" })
                                                </div>
                                            </div>
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">KDWT</div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].KDWT, Model.chit_negotiation_summary.chit_offers_items[i].KDWT, new { @class = "form-control ns_kdwt", @onchange = "update_pa(" + i + ");", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].owner, Model.chit_negotiation_summary.chit_offers_items[i].owner, new { @class = "form-control ns_owner", @onchange = "update_pa(" + i + ");" })
                                        </td>
                                        <td class="colType@(i)">
                                            @for (int j = 0; j < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info.Count; j++)
                                            {
                                                @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type, new SelectList(Model.pricesTerm, "Value", "Text", Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type), new { @class = "form-control ns_type ddlType" + i, @onchange = "onNsTypeChanged(this)" })
                                            }
                                            <input type="image" src="~/Web/Images/btn-add-member.png" onclick="addRoundItem(@i); return false;" />
                                            <input type="image" src="~/Web/Images/btn-delete.png" onclick="delRoundItem(@i); return false;" />
                                        </td>

                                        @for (int j = 0; j < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items.Count; j++)
                                        {
                                            <td class="colOffer@(i)">
                                                @for (int k = 0; k < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; k++)
                                                {
                                                    if (Model.chit_negotiation_summary.chit_offers_items[i].final_flag == "Y")
                                                    {
                                                        if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type == "WS")
                                                        {
                                                            for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                            {
                                                                if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == "WS")
                                                                {
                                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @onchange = "update_ws(this); update_fd(this); return false;", @type = "number", @step = "any" })
                                                                    offer_ws = @Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer;
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        else if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type == "Min loaded")
                                                        {
                                                            for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                            {
                                                                if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == "Min loaded")
                                                                {
                                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @onchange = "update_ml(this); update_fd(this); return false;", @type = "number", @step = "any" })
                                                                    offer_minloaded = @Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer;
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        else if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type == "Laytime")
                                                        {
                                                            for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                            {
                                                                if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == "Laytime")
                                                                {
                                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @onchange = "update_lt(this); update_fd(this); return false;", @type = "number", @step = "any" })
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                            {
                                                                if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type)
                                                                {
                                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @onchange = "update_fd(this); return false;", @type = "number", @step = "any" })
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                        {
                                                            if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type)
                                                            {
                                                                @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @type = "number", @step = "any" })
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }
                                            </td>
                                                <td class="colCounter@(i)">
                                                    @for (int k = 0; k < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; k++)
                                                    {
                                                        for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                        {
                                                            if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type)
                                                            {
                                                                @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].counter, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].counter, new { @class = "form-control ns_counter txtCounter" + i, @type = "number", @step = "any" })
                                                                break;
                                                            }
                                                        }
                                                    }
                                                </td>
                                        }
                                        <td>
                                            @Html.TextAreaFor(m => m.chit_negotiation_summary.chit_offers_items[i].final_deal, new { @class = "form-control ns_finaldeal", @style = "min-height: 90px; margin: 0; background: white; text-align: left; height: " + (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info.Count * 30) + "px; " })
                                        </td>
                                        <td>
                                            @if (i != 0)
                                            {
                                                <input type="image" src="~/Web/Images/icon-delete.gif" onclick="delBroker(@i); return false;">
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="DataTable" id="tblData_0">
                                    <td>
                                        <div class="radio">
                                            <input id="rdoNegotiation0" name="negotiation_summary_offers_items_final_flag" onclick="selectOffer(0);" value="0" type="radio" checked="checked" class="checked" />
                                            <label for="rdoNegotiation0" style="margin-top: 9px;"></label>
                                        </div>
                                    </td>
                                    <td>
                                        @*added*@
                                        @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].broker, Model.broker, new { @class = "form-control ns_broker ddlType", @onchange = "update_pa(0); updateDropdown(this);" })
                                    </td>
                                    <td>
                                        @*end added*@
                                        @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].vessel, Model.vehicle, new { @class = "form-control ns_vessel", @onchange = "update_pa(0); updateDropdown(this);" })
                                        <div>
                                            <div class="col-md-4" style="padding-top: 7.5px;">Type</div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].type, Model.type_list, new { @class = "form-control", @onchange = "setPaymentTerm(0);  updateDropdown(this);" })
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-4" style="padding-top: 7.5px;">Year</div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].year, new { @class = "form-control ns_year", @onchange = "update_pa(0);", @type = "number" })
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-4" style="padding-top: 7.5px;">KDWT</div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].KDWT, new { @class = "form-control ns_kdwt", @onchange = "update_pa(0);", @type = "number" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].owner, new { @class = "form-control ns_owner", @onchange = "update_pa(0);" })
                                    </td>
                                    <td class="colType0">
                                        @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[0].type, new SelectList(Model.pricesTerm, "Value", "Text", Model.pricesTerm[0].Text), new { @class = "form-control ns_type ddlType0", @onchange = "onNsTypeChanged(this)" })
                                        @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[1].type, new SelectList(Model.pricesTerm, "Value", "Text", Model.pricesTerm[1].Text), new { @class = "form-control ns_type ddlType0", @onchange = "onNsTypeChanged(this)" })
                                        @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[2].type, new SelectList(Model.pricesTerm, "Value", "Text", Model.pricesTerm[2].Text), new { @class = "form-control ns_type ddlType0", @onchange = "onNsTypeChanged(this)" })
                                        <input type="image" src="~/Web/Images/btn-add-member.png" onclick="addRoundItem(0); return false;" />
                                        <input type="image" src="~/Web/Images/btn-delete.png" onclick="delRoundItem(0); return false;" />
                                    </td>
                                    <td class="colOffer0">
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[0].offer, new { @class = "form-control ns_offer txtOffer0", @onchange = "update_ml(this); update_fd(this); return false;", @type = "number", @step = "any" })
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[1].offer, new { @class = "form-control ns_offer txtOffer0", @onchange = "update_ws(this); update_fd(this); return false;", @type = "number", @step = "any" })
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[2].offer, new { @class = "form-control ns_offer txtOffer0", @onchange = "update_fd(this); return false;", @type = "number", @step = "any" })
                                    </td>
                                    <td class="colCounter0">
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[0].counter, new { @class = "form-control ns_counter txtCounter0", @type = "number", @step = "any" })
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[1].counter, new { @class = "form-control ns_counter txtCounter0", @type = "number", @step = "any" })
                                        @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[0].chit_round_items[0].chit_round_info[2].counter, new { @class = "form-control ns_counter txtCounter0", @type = "number", @step = "any" })
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(m => m.chit_negotiation_summary.chit_offers_items[0].final_deal, new { @class = "form-control ns_finaldeal", @style = "min-height: 90px; margin: 0; background: white; text-align: left;" })
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            if (Model.chit_negotiation_summary != null)
                            {
                                g_broker = Model.chit_negotiation_summary.chit_offers_items.Count;
                                for (int i = 0; i < Model.chit_negotiation_summary.chit_offers_items.Count; i++)
                                {
                                    <tr class="DataTable" id="tblData_0">
                                        <td>
                                            <div class="radio">
                                                @if (Model.chit_negotiation_summary.chit_offers_items[i].final_flag == "Y")
                                                {
                                                    <input id="rdoNegotiationY" name="negotiation_summary_offers_items_final_flag" value="0" type="radio" checked="checked" />
                                                        <label for="rdoNegotiationY" style="margin-top: 9px;"></label>
                                                }
                                                else
                                                {
                                                    <input id="rdoNegotiationN" name="negotiation_summary_offers_items_final_flag" value="0" type="radio" disabled="disabled" />
                                                        <label for="rdoNegotiationN" style="margin-top: 9px;"></label>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].broker, Model.broker, Model.broker.Single(x => x.Value == Model.chit_negotiation_summary.chit_offers_items[i].broker).Text, new { @class = "form-control ns_broker ddlType", @disabled = "disabled" })
                                            @Html.HiddenFor(m => m.chit_negotiation_summary.chit_offers_items[i].broker, Model.chit_negotiation_summary.chit_offers_items[i].broker)
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].vessel, Model.vehicle, Model.vehicle.Single(x => x.Value == Model.chit_negotiation_summary.chit_offers_items[i].vessel).Text, new { @class = "form-control ns_vessel", @disabled = "disabled" })
                                            @Html.HiddenFor(m => m.chit_negotiation_summary.chit_offers_items[i].vessel, Model.chit_negotiation_summary.chit_offers_items[i].vessel)
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">Type</div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].type, Model.type_list, Model.type_list.Single(x => x.Value == Model.chit_negotiation_summary.chit_offers_items[i].type).Text, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.chit_negotiation_summary.chit_offers_items[i].type, Model.chit_negotiation_summary.chit_offers_items[i].type)
                                                </div>
                                            </div>
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">Year</div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].year, new { @class = "form-control ns_year", @onchange = "update_pa(0);", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                            <div>
                                                <div class="col-md-4" style="padding-top: 7.5px;">KDWT</div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].KDWT, Model.chit_negotiation_summary.chit_offers_items[i].KDWT, new { @class = "form-control ns_kdwt", @readonly = "true", @type = "number" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].owner, Model.chit_negotiation_summary.chit_offers_items[i].owner, new { @class = "form-control ns_owner", @readonly = "true" })
                                        </td>
                                        <td class="colType">
                                            @for (int j = 0; j < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info.Count; j++)
                                            {
                                                @Html.DropDownListFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type, Model.pricesTerm, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type, new { @class = "form-control ns_type ddlType", @disabled = "disabled" })
                                                @Html.HiddenFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[j].type)
                                            }
                                        </td>

                                        @for (int j = 0; j < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items.Count; j++)
                                        {
                                            <td class="colOffer">
                                                @for (int k = 0; k < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; k++)
                                                {
                                                    for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                    {
                                                        if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type)
                                                        {
                                                            @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].offer, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].offer, new { @class = "form-control ns_offer txtOffer" + i, @readonly = "true" })
                                                            break;
                                                        }
                                                    }
                                                }
                                            </td>
                                                <td class="colCounter">
                                                    @for (int k = 0; k < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; k++)
                                                    {
                                                        for (int l = 0; l < Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info.Count; l++)
                                                        {
                                                            if (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].type == Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info[k].type)
                                                            {
                                                                @Html.TextBoxFor(m => m.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[k].counter, Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[j].chit_round_info[l].counter, new { @class = "form-control ns_counter txtCounter" + i, @readonly = "true" })
                                                                break;
                                                            }
                                                        }
                                                    }
                                                </td>
                                        }
                                        <td>
                                            @Html.TextAreaFor(m => m.chit_negotiation_summary.chit_offers_items[i].final_deal, new { @class = "form-control ns_finaldeal", @readonly = "true", @style = "min-height: 90px; margin: 0; background: white; text-align: left; height: " + (Model.chit_negotiation_summary.chit_offers_items[i].chit_round_items[0].chit_round_info.Count * 30) + "px; " })
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.pageMode == "EDIT")
            {
            <div class="row">
                <div class="col-md-6">
                    <input type="button" value="Add Broker" class="btn btn-success" onclick="addBroker(); return false;" />
                </div>
                <div class="col-md-6">
                    <input type="button" value="Add Round" class="btn btn-primary pull-right" onclick="addRound(); return false;" />
                </div>
            </div>
        }

        <h2>Final Fixing Details</h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Charterer</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Owner</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Chater Party Form</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Laycan</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Freight</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Laytime</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Demurrage</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Payment Term</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Charterer's Broker Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Charterer's Broker Commission</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Owner's Broker Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Owner's Broker Commission</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Address Commission</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Withholding Tax</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Vessel Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Vessel's Buit</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">KDWT</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row nopadding">
                            <label class="col-md-5 control-label">Other</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.taskID, Model.taskID, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>                        
                    </div>
                </div>
             </div>
        </div>

        <h2>Note</h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">                        
                        <div class="col-md-12">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.TextAreaFor(m => m.chit_note, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;" })
                            }
                            else
                            {
                                @Html.TextAreaFor(m => m.chit_note, new { @class = "form-control", @style = "min-height: 123px; max-width: 100%;", @readonly = "true" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Attach File</h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button id="btn_upload_MultiFile" class="btn btn-success" type="button" onclick="addAttachFile('@type','F10000025')"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Select File</button>
                            <input type="file" name="upload_MultiFile" id="upload_MultiFile" multiple="multiple" style="display:none;" />
                            <div id="filesUploaded"></div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Reason for Approval/Reject</h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.chit_reason, new { @style = "min-height: 60px", @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="wrapper-button" id="buttonDiv">            
            @if (Model.buttonMode == "AUTO")
            {
                <input type="submit" value="SAVE DRAFT" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveDraft'); return false;" />
                    <input type="submit" value="SAVE &amp; PREVIEW" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'SaveAndPreview'); return false;" />
                    <input type="submit" value="SUBMIT" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
                    <input type="submit" value="GENPDF" id="btnGenPDF" style="display: none;" name="action:GenPDF" onclick="$('form').attr('target', '_blank');" />
                    <input type="submit" value="SAVE DRAFT" id="btnSaveDraft" style="display: none;" name="action:SaveDraft" />
                    <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
            }
            else
            {
                @Html.Hidden("hdfEventClick")
                @Html.Raw(@Model.buttonCode)
            }
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#chit_detail_bss").change(function () {
            $("#groupPortLoadValue").html("");
            $("#groupPortDischargeValue").html("");
            if ($(this).val() != "") {
                var bbs_value = $(this).val().split(":");
                for (var idx_load = 0; idx_load < parseInt(bbs_value[0]) ; idx_load++) {
                    $("#groupPortLoadValue").append(Port_html("l", (idx_load)));
                }

                for (var idx_dis = 0; idx_dis < parseInt(bbs_value[1]) ; idx_dis++) {
                    $("#groupPortDischargeValue").append(Port_html("d", (idx_dis)));
                }
            }
            onChangeTypePort();
        });
    });

    function Port_html(port, idx) {
        if (port == "l") {
            var html = '<label class="col-md-4 control-label">Load Port ' + (idx + 1) + ':</label>'
                        + '<div class="col-md-8">'
                            + '<div id="div_loadport_' + idx + '-0">'
                                 + '<label class="col-md-6 control-label">Type:</label>'
                                 + '<select class="form-control loadport-type" id="chit_detail_chit_load_port_control_'+idx+'__PortType" name="chit_detail.chit_load_port_control['+idx+'].PortType">'
                                    + '<option value="">-- Select --</option>'
                                        @foreach(var v in Model.portTypeLoad)
                                        {
                                            @: + '<option value="@v.Value">@v.Text</option>'
                                        }
                                + '</select>'
                            + '</div>'
                            + '<div id="div_loadport_' + idx + '-1"></div>'
                            + '<div id="div_loadport_' + idx + '-2"></div>'
                            + '<div id="div_loadport_' + idx + '-3"></div>'
                            + '<div id="div_loadport_' + idx + '-4"></div>'
                        + '</div>';
            return html;

        } else if (port == "d") {
            var html = '<label class="col-md-4 control-label">Discharge Port ' + (idx + 1) + ':</label>'
                         + '<div class="col-md-8">'
                             + '<div id="div_disport_' + idx + '-0">'
                                 + '<label class="col-md-6 control-label">Type:</label>'
                                 + '<select class="form-control disport-type" id="chit_detail_chit_discharge_port_control_' + idx + '__PortType" name="chit_detail.chit_discharge_port_control[' + idx + '].PortType">'
                                     + '<option value="">-- Select --</option>'
                                        @foreach(var v in Model.portTypeDisCharge)
                                        {
                                            @:+ '<option value="@v.Value">@v.Text</option>'
                                        }
                                 + '</select>'
                            + '</div>'
                            + '<div id="div_disport_' + idx + '-1"></div>'
                            + '<div id="div_disport_' + idx + '-2"></div>'
                            + '<div id="div_disport_' + idx + '-3"></div>'
                            + '<div id="div_disport_' + idx + '-4"></div>'
                        + '</div>';
            return html;
        }
    }

    function onClearPortDiv(type, idx, arr) {
        var type_name = type == "l" ? "loadport" : "disport";
        var element_id = "#div_" + type_name + "_" + idx + "-";
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == 1) {
                $(element_id + i).html("");
            }
        }
    }

    function onChangeTypePort() {
        $(".loadport-type").change(function () {
            var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
            if ($(this).val() != "") {
                onLoadCountry(idx_event, "l", $(this).val());
                onChangeCountryPort();
                onClearPortDiv("l", idx_event, [0, 0, 1, 1, 1]);
            } else {
                onClearPortDiv("l", idx_event, [0, 1, 1, 1, 1]);
            }
        });

        $(".disport-type").change(function () {
            if ($(this).val() != "") {
                var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
                onLoadCountry(idx_event, "d", $(this).val());
            }
            onChangeCountryPort();
        });
    }

    function onLoadCountry(idx, type, value) {
        var element_name = type == "l" ? "chit_load_port_control" : "chit_discharge_port_control";
        var type_name = type == "l" ? "loadport" : "disport";

        if (type == "l") {
            $('#div_loadport_' + idx + '-1').html("");
            var res = getDataAjax({ fromType: type, portType: value });
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Country:</label>'
                     + '<select class="form-control loadport-country" id="chit_detail_chit_load_port_control_' + idx + '__PortCountry" name="chit_detail.chit_load_port_control[' + idx + '].PortCountry">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_loadport_' + idx + '-1').html(html);

        } else if (type == "d") {
            $('#div_disport_' + idx + '-1').html("");
            var res = getDataAjax({ fromType: type, portType: value });
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Country:</label>'
                     + '<select class="form-control disport-country" id="chit_detail_chit_discharge_port_control_' + idx + '__PortCountry" name="chit_detail.chit_discharge_port_control[' + idx + '].PortCountry">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_disport_' + idx + '-1').html(html);
        }
    }

    function onChangeCountryPort() {
        $(".loadport-country").change(function () {
            if ($(this).val() != "") {
                var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
                var obj = {
                    fromType: "l",
                    portType: $("#chit_detail_chit_load_port_control_" + idx_event + "__PortType").val(),
                    country: $(this).val()
                }
                onLoadLocation(idx_event, obj);
            }
            onChangeLocationPort();
        });

        $(".disport-country").change(function () {
            if ($(this).val() != "") {
                var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
                var obj = {
                    fromType: "d",
                    portType: $("#chit_detail_chit_discharge_port_control_" + idx_event + "__PortType").val(),
                    country: $(this).val()
                }
                onLoadLocation(idx_event, obj);
            }
            onChangeLocationPort();
        });
    }

    function onLoadLocation(idx, obj) {
        var element_name = obj.fromType == "l" ? "chit_load_port_control" : "chit_discharge_port_control";
        var type_name = obj.fromType == "l" ? "loadport" : "disport";

        if (obj.fromType == "l") {
            $('#div_loadport_' + idx + '-2').html("");
            var res = getDataAjax(obj);
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Location:</label>'
                     + '<select class="form-control loadport-location" id="chit_detail_chit_load_port_control_' + idx + '__PortLocation" name="chit_detail.chit_load_port_control[' + idx + '].PortLocation">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_loadport_' + idx + '-2').html(html);

        } else if (obj.fromType == "d") {
            $('#div_disport_' + idx + '-2').html("");
            var res = getDataAjax(obj);
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Location:</label>'
                     + '<select class="form-control disport-location" id="chit_detail_chit_discharge_port_control_' + idx + '__PortLocation" name="chit_detail.chit_discharge_port_control[' + idx + '].PortLocation">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_disport_' + idx + '-2').html(html);
        }
    }

    function onChangeLocationPort() {
        $(".loadport-location").change(function () {
            if ($(this).val() != "") {
                var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
                var obj = {
                    fromType: "l",
                    portType: $("#chit_detail_chit_load_port_control_" + idx_event + "__PortType").val(),
                    country: $("#chit_detail_chit_load_port_control_" + idx_event + "__PortCountry").val(),
                    location: $(this).val()
                }
                onLoadName(idx_event, obj);
            }
            onChangeNamePort();
        });

        $(".disport-location").change(function () {
            if ($(this).val() != "") {
                var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
                var obj = {
                    fromType: "d",
                    portType: $("#chit_detail_chit_discharge_port_control_" + idx_event + "__PortType").val(),
                    country: $("#chit_detail_chit_discharge_port_control_" + idx_event + "__PortCountry").val(),
                    location: $(this).val()
                }
                onLoadName(idx_event, obj);
            }
            onChangeNamePort();
        });
    }

    function onLoadName(idx, obj) {
        var element_name = obj.fromType == "l" ? "chit_load_port_control" : "chit_discharge_port_control";
        var type_name = obj.fromType == "l" ? "loadport" : "disport";

        if (obj.fromType == "l") {
            $('#div_loadport_' + idx + '-3').html("");
            var res = getDataAjax(obj);
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Jetty Name:</label>'
                     + '<select class="form-control loadport-name" id="chit_detail_chit_load_port_control_' + idx + '__PortName" name="chit_detail.chit_load_port_control[' + idx + '].PortName">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_loadport_' + idx + '-3').html(html);

        } else if (obj.fromType == "d") {
            $('#div_disport_' + idx + '-3').html("");
            var res = getDataAjax(obj);
            var html_option = '';
            for (var i = 0; i < res.length; i++) {
                html_option += '<option value="' + res[i].Value + '">' + res[i].Text + '</option>';
            }
            var html = '<label class="col-md-6 control-label">Jetty Name:</label>'
                     + '<select class="form-control disport-name" id="chit_detail_chit_discharge_port_control_' + idx + '__PortName" name="chit_detail.chit_discharge_port_control[' + idx + '].PortName">'
                     + '<option value="">-- Select --</option>'
                     + html_option
                     + '</select>'
            $('#div_disport_' + idx + '-3').html(html);
        }
    }

    function onChangeNamePort() {
        $(".loadport-name").change(function () {
            var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
            var jetty_name = $.trim($("#chit_detail_chit_load_port_control_" + idx_event + "__PortName option:selected").text()).toUpperCase();
            if (jetty_name == "OTHER") {
                $("#div_loadport_" + idx_event + "-4").html('<input type="text" class="form-control" id="chit_detail_chit_load_port_control_' + idx_event + '__PortOtherDesc" name="chit_detail.chit_discharge_port_control[' + idx_event + '].PortOtherDesc" >');
            } else {
                $("#div_loadport_" + idx_event + "-4").html('');
            }
        });

        $(".disport-name").change(function () {
            var idx_event = $(this).attr("name").split("[")[1].split("]")[0];
            var jetty_name = $.trim($("#chit_detail_chit_discharge_port_control_" + idx_event + "__PortName option:selected").text()).toUpperCase();
            if (jetty_name == "OTHER") {
                $("#div_disport_" + idx_event + "-4").html('<input type="text" class="form-control" id="chit_detail_chit_discharge_port_control_' + idx_event + '__PortOtherDesc" name="chit_detail.chit_discharge_port_control[' + idx_event + '].PortOtherDesc" >');
            } else {
                $("#div_disport_" + idx_event + "-4").html('');
            }
        });
    }

    tinymce.init({
        selector: '#chit_chartering_method_reason',
        theme: 'modern',
        plugins: ['textcolor colorpicker  '],
        height: 200,
        menubar: false,
        toolbar: " undo redo | bold italic underline | numlist | forecolor | removeformat | spellchecker",
        statusbar: true,
        image_advtab: true,
        paste_data_images: true,
        readonly: @txtExplanation_readmode,
        textcolor_map: [
			"000000", "Black",
			"993300", "Burnt orange",
			"333300", "Dark olive",
			"003300", "Dark green",
			"003366", "Dark azure",
			"000080", "Navy Blue",
			"333399", "Indigo",
			"333333", "Very dark gray",
			"800000", "Maroon",
			"FF6600", "Orange",
			"808000", "Olive",
			"008000", "Green",
			"008080", "Teal",
			"0000FF", "Blue",
			"666699", "Grayish blue",
			"808080", "Gray",
			"FF0000", "Red",
			"FF9900", "Amber",
			"99CC00", "Yellow green",
			"339966", "Sea green",
			"33CCCC", "Turquoise",
			"3366FF", "Royal blue",
			"800080", "Purple",
			"999999", "Medium gray",
			"FF00FF", "Magenta",
			"FFCC00", "Gold",
			"FFFF00", "Yellow",
			"00FF00", "Lime",
			"00FFFF", "Aqua",
			"00CCFF", "Sky blue",
			"993366", "Red violet",
			"FFFFFF", "White",
			"FF99CC", "Pink",
			"FFCC99", "Peach",
			"FFFF99", "Light yellow",
			"CCFFCC", "Pale green",
			"CCFFFF", "Pale cyan",
			"99CCFF", "Light sky blue",
			"CC99FF", "Plum"
        ]
    });


    //----- Unitility -----s
    function getDataAjax(obj) {
        var data;
        $.ajax({
            url: '@Url.Action("getPortListString", "CharterIn")',
            type: 'GET',
            data: obj,
            dataType: 'json',
            async: false,
            complete: function (_data) {
                data = _data.responseJSON;
            },
            error: function (response) {
                console.log(response);
            }
        });
        return data;
    }


</script>