﻿﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.FnTranViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    label {
        font-size: 14px;
    }

    .form-control {
        height: 20px;
        font-size: 12px;
    }

    .btn-default {
        font-size: 10px;
    }
     .table thead > tr > th {
        font-size: 16px;
    }

    .table tr > td {
        font-size: 14px;
    }

    td.details-control {
        background: url('../../content/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.details td.details-control {
        background: url('../../content/images/details_close.png') no-repeat center center;
    }


    .tableActivity td,th{
       border: 1px solid;
       border-color:white;
       
    }

    .tdLogData{
        word-break:break-all;
    }
    .lbTranInfo{
         cursor: pointer;
    }

    

</style>

<div>
    <h1 style="font-weight: bold;">Transaction History</h1>
</div>
<form action="" method="post">
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="col-md-3">AppID</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CAppID, new { @class = "form-control  txtCAppID", tabindex = 1 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">From</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CFromDate, new { @class = "form-control datepickerfrom txtCFromDate", tabindex = 2 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX1</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex1, new { @class = "form-control  txtCIndex1", tabindex = 101 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX6</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex6, new { @class = "form-control  txtCIndex6", tabindex = 106 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX11</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex11, new { @class = "form-control  txtCIndex11", tabindex = 111 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX16</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex16, new { @class = "form-control  txtCIndex16", tabindex = 116 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="col-md-3">Req Txn</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CReqTranID, new { @class = "form-control  txtCReqTranID", tabindex = 3 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">To</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CToDate, new { @class = "form-control datepickerto  txtCToDate", tabindex = 4 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX2</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex2, new { @class = "form-control  txtCIndex2", tabindex = 102 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX7</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex7, new { @class = "form-control  txtCIndex7", tabindex = 107 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX12</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex12, new { @class = "form-control  txtCIndex12", tabindex = 112 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX17</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex17, new { @class = "form-control  txtCIndex17", tabindex = 117 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="col-md-3">Txn ID  </label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CTranID, new { @class = "form-control  txtCTranID", tabindex = 5 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">Status</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.DropDownListFor(m => m.CStatus, Model.lstlstStatus, Model.CStatus, new { @class = "form-control ddlCStatus", tabindex = 6 })
                        @Html.HiddenFor(m => m.CStatus, Model.lstlstStatus)
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX3</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex3, new { @class = "form-control  txtCIndex3", tabindex = 103 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX8</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex8, new { @class = "form-control  txtCIndex8", tabindex = 108 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX13</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex13, new { @class = "form-control  txtCIndex13", tabindex = 113 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX18</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex18, new { @class = "form-control  txtCIndex18", tabindex = 118 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <label class="col-md-2">Function</label>            
                <div class="col-md-10">
                    <div class="box-date">
                        @Html.DropDownListFor(m => m.CFunctionID, Model.lstFunction, Model.CFunctionID, new { @class = "form-control ddlCStatus", tabindex = 7 })
                        @Html.HiddenFor(m => m.CFunctionID, Model.lstFunction)
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX4</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex4, new { @class = "form-control  txtCIndex4", tabindex = 104 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX9</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex9, new { @class = "form-control  txtCIndex9", tabindex = 109 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX14</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex14, new { @class = "form-control  txtCIndex14", tabindex = 114 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX19</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex19, new { @class = "form-control  txtCIndex19", tabindex = 119 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-4" style="text-align:center;">
                <input type="submit" value="Search" id="btnSearch" class="btn btn-default" name="action:Search" />
                <input type="submit" value="Clear" id="btnClear" class="btn btn-default" onclick="ClearCrateria(); return false;" />
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX5</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex5, new { @class = "form-control  txtCIndex5", tabindex = 105 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX10</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex10, new { @class = "form-control  txtCIndex10", tabindex = 110 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX15</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex15, new { @class = "form-control  txtCIndex15", tabindex = 115 })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-md-3">IDX20</label>
                <div class="col-md-9">
                    <div class="box-date">
                        @Html.TextBoxFor(m => m.CIndex20, new { @class = "form-control  txtCIndex20", tabindex = 120 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box box-primary">
            <div class="row">
                <div class="col-lg-12">
                    <div class="canvas-wrapper" style="overflow-y:scroll;">
                        <table id="TableData" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">TrxDT</th>
                                    <th style="text-align:center">Function ID</th>
                                    <th style="text-align:center">Function Name</th>
                                    <th style="text-align:center">App ID</th>
                                    <th style="text-align:center">Txn ID</th>
                                    <th style="text-align:center">Req Trx ID</th>
                                    <th style="text-align:center">IDX1</th>
                                    <th style="text-align:center">IDX2</th>
                                    <th style="text-align:center">IDX3</th>
                                    <th style="text-align:center">IDX4</th>
                                    <th style="text-align:center">IDX5</th>
                                    <th style="text-align:center">IDX6</th>
                                    <th style="text-align:center">IDX7</th>
                                    <th style="text-align:center">IDX8</th>
                                    <th style="text-align:center">IDX9</th>
                                    <th style="text-align:center">IDX10</th>
                                    <th style="text-align:center">IDX11</th>
                                    <th style="text-align:center">IDX12</th>
                                    <th style="text-align:center">IDX13</th>
                                    <th style="text-align:center">IDX14</th>
                                    <th style="text-align:center">IDX15</th>
                                    <th style="text-align:center">IDX16</th>
                                    <th style="text-align:center">IDX17</th>
                                    <th style="text-align:center">IDX18</th>
                                    <th style="text-align:center">IDX19</th>
                                    <th style="text-align:center">IDX20</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">RespCode</th>
                                    <th style="text-align:center">Namespace</th>
                                    <th style="text-align:center">RespDesc</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _table;
        var detailRows = [];
        
        $('.datepickerfrom').dateRangePicker(
                  { 
                      autoClose: true,
                      singleDate: true,
                      format: 'DD/MM/YYYY',
                  });
          
        $('.datepickerto').dateRangePicker(
                  { 
                      autoClose: true,
                      singleDate: true,
                      format: 'DD/MM/YYYY',
                  });
        window.onload = function () {
           
            _table =  $('#TableData').DataTable({
                "processing": true,                
                "ordering": false ,
                "searching": false,
                "info":     false,
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(0).addClass('details-control');
                },
            });
            var GridData= @Html.Raw(Json.Encode(@Model.FunctionTransaction));
            SetDataToTable(GridData);

            $('#TableData tbody').on( 'click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = _table.row( tr );
                var idx = $.inArray( tr.attr('id'), detailRows );
 
                if ( row.child.isShown() ) {
                    tr.removeClass( 'details' );
                    row.child.hide();
 
                    // Remove from the 'open' array
                    detailRows.splice( idx, 1 );
                }
                else {
                    tr.addClass( 'details' );
                    row.child( format( row.data() ) ).show();
 
                    // Add to the 'open' array
                    if ( idx === -1 ) {
                        detailRows.push( tr.attr('id') );
                    }
                }
                
            } );

            _table.on( 'draw', function () {
                $.each( detailRows, function ( i, id ) {
                    $('#'+id+' td.details-control').trigger( 'click' );
                } );
            } );

            function format ( d ) {
                var _stringHTML = "";
                var req= {TranID:d[5]}
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "FunctionTransaction/GetDetailFnTran",
                    data: JSON.stringify(req) ,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        _stringHTML+="<table>";
                        _stringHTML += "<tr><td>"+MakeDivTranSactionInfo(data.FnTranItemDetail)+"</td></tr>";
                        _stringHTML += "<tr><td>"+MakeDivTranSactionExthen(data.ExtenTran)+"</td></tr>";
                        _stringHTML += "<tr><td>"+MakeDivTranSactionActivity(data.ActivityTran)+"</td></tr>"; 
                        _stringHTML += "<tr><td>"+MakeDivTranSactionLog(data.TranLog)+"</td></tr>";
                        _stringHTML+="</table>";
                    }
                });
               
                return '<div >'+_stringHTML+'</div>';
            }

            function MakeDivTranSactionInfo(Obj){
                var uuid = CreateGuid();
                var HTMLTranInfo = '<table id="'+ CreateGuid()+'"><tr align="left"><td>';
                HTMLTranInfo+='<img src="../../content/images/details_open.png"></img><label id='+uuid+' onclick="TransactionInfoToggle('+"'"+uuid+"'"+')" class="lbTranInfo">Function Transaction Infomation</label>';
                HTMLTranInfo+='<table class="tableActivity" width="20%" style="display:none;">';
                HTMLTranInfo+='<tr align="left"><th>Field</th><th>Value</th></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_ACCUM_RETRY</td><td>'+Obj.FTX_ACCUM_RETRY+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_APP_ID</td><td>'+Obj.FTX_APP_ID+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CREATED</td><td>'+Obj.FTX_CREATED+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CREATED_BY</td><td>'+Obj.FTX_CREATED_BY+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CURRENT_CODE</td><td>'+Obj.FTX_CURRENT_CODE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CURRENT_DESC</td><td>'+Obj.FTX_CURRENT_DESC+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CURRENT_NAME_SPACE</td><td>'+Obj.FTX_CURRENT_NAME_SPACE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_CURRENT_STATE</td><td>'+Obj.FTX_CURRENT_STATE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_FK_FUNCTION</td><td>'+Obj.FTX_FK_FUNCTION+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_FWD_RESP_CODE_FLAG</td><td>'+Obj.FTX_FWD_RESP_CODE_FLAG+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX1</td><td>'+Obj.FTX_INDEX1+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX2</td><td>'+Obj.FTX_INDEX2+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX3</td><td>'+Obj.FTX_INDEX3+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX4</td><td>'+Obj.FTX_INDEX4+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX5</td><td>'+Obj.FTX_INDEX5+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX6</td><td>'+Obj.FTX_INDEX6+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX7</td><td>'+Obj.FTX_INDEX7+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX8</td><td>'+Obj.FTX_INDEX8+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX9</td><td>'+Obj.FTX_INDEX9+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX10</td><td>'+Obj.FTX_INDEX10+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX11</td><td>'+Obj.FTX_INDEX11+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX12</td><td>'+Obj.FTX_INDEX12+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX13</td><td>'+Obj.FTX_INDEX13+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX14</td><td>'+Obj.FTX_INDEX14+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX15</td><td>'+Obj.FTX_INDEX15+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX16</td><td>'+Obj.FTX_INDEX16+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX17</td><td>'+Obj.FTX_INDEX17+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX18</td><td>'+Obj.FTX_INDEX18+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX19</td><td>'+Obj.FTX_INDEX19+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_INDEX20</td><td>'+Obj.FTX_INDEX20+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_NEXT_STATE</td><td>'+Obj.FTX_NEXT_STATE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_PARENT_ACT_ID</td><td>'+Obj.FTX_PARENT_ACT_ID+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_PARENT_TRX_ID</td><td>'+Obj.FTX_PARENT_TRX_ID+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_REQUEST_DATE</td><td>'+Obj.FTX_REQUEST_DATE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_REQ_TRANS</td><td>'+Obj.FTX_REQ_TRANS+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RESPONSE_DATE</td><td>'+Obj.FTX_RESPONSE_DATE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETRY_COUNT</td><td>'+Obj.FTX_RETRY_COUNT+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETURN_CODE</td><td>'+Obj.FTX_RETURN_CODE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETURN_DESC</td><td>'+Obj.FTX_RETURN_DESC+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETURN_MESSAGE</td><td>'+Obj.FTX_RETURN_MESSAGE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETURN_NAME_SPACE</td><td>'+Obj.FTX_RETURN_NAME_SPACE+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_RETURN_STATUS</td><td>'+Obj.FTX_RETURN_STATUS+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_ROW_ID</td><td>'+Obj.FTX_ROW_ID+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_STATE_ACTION</td><td>'+Obj.FTX_STATE_ACTION+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_TRANS_ID</td><td>'+Obj.FTX_TRANS_ID+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_UPDATED</td><td>'+Obj.FTX_UPDATED+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_UPDATED_BY</td><td>'+Obj.FTX_UPDATED_BY+'</td></tr>';
                HTMLTranInfo+='<tr align="left"><td >FTX_WAKEUP</td><td>'+Obj.FTX_WAKEUP+'</td></tr>';

                HTMLTranInfo+='</table"></td></tr></table>';
                return HTMLTranInfo;
            }

            function MakeDivTranSactionExthen(Obj){
                var uuid = CreateGuid();
                var HTMLTranExthen = '<table id="'+ CreateGuid()+'"><tr align="left"><td>';
                HTMLTranExthen+='<img src="../../content/images/details_open.png"></img><label id='+uuid+' onclick="ExtenTransactionToggle('+"'"+uuid+"'"+')" class="lbTranInfo">Exten</label>';
                HTMLTranExthen+='<table  class="tableActivity" width="20%" style="display:none;">';
                HTMLTranExthen+='<tr align="left"><th>Field</th><th>Value</th></tr>';
                $.each(Obj, function (i) {
                    HTMLTranExthen+='<tr align="left"><td>'+ Obj[i].ExtenParam+'</td><td>'+Obj[i].ExtenVal+'</td></tr>';   
                });               

                HTMLTranExthen+='</table"></td></tr></table>';
                return HTMLTranExthen;
            }

            function MakeDivTranSactionActivity(Obj){
                var uuid = CreateGuid();
                var HTMLTranActivity = '<table width="100%" id="'+ CreateGuid()+'"><tr align="left"><td>';
                HTMLTranActivity+='<img src="../../content/images/details_open.png"></img><label id='+uuid+' onclick="ExtenTransactionToggle('+"'"+uuid+"'"+')" class="lbTranInfo">Function Activity</label>';
                HTMLTranActivity+='<table class="tableActivity"  width="100%"  style="display:none;">';
                HTMLTranActivity+='<tr align="left"><th>Created</th>';
                HTMLTranActivity+='<th>Updated</th>';
                HTMLTranActivity+='<th>StateName</th>';
                HTMLTranActivity+='<th>Class</th>';
                HTMLTranActivity+='<th>Send</th>';
                HTMLTranActivity+='<th>Receive</th>';
                HTMLTranActivity+='<th>Return Code</th>';
                HTMLTranActivity+='<th>Name Space</th>';
                HTMLTranActivity+='<th>Return Desc</th></tr>';
                $.each(Obj, function (i) {
                    HTMLTranActivity+='<tr align="left"><td>'+ Obj[i].FAC_CREATED+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_UPDATED+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_STATE_NAME+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_CLASS+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_SEND_DATE+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_RECEIVE_DATE+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_RETURN_CODE+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_NAME_SPACE+'</td>';
                    HTMLTranActivity+='<td>'+Obj[i].FAC_RETURN_DESC+'</td></tr>';
                });               

                HTMLTranActivity+='</table"></td></tr></table>';
                return HTMLTranActivity;
            }

            function MakeDivTranSactionLog(Obj){
                var uuid = CreateGuid();
                var HTMLTranLog = '<table width="100%" id="'+ CreateGuid()+'"><tr align="left"><td>';
                HTMLTranLog+='<img src="../../content/images/details_open.png"></img><label id='+uuid+' onclick="ExtenTransactionToggle('+"'"+uuid+"'"+')" class="lbTranInfo">Transaction Log</label>';
                HTMLTranLog+='<table class="tableActivity"  width="1000px"  style="display:none;">';
                HTMLTranLog+='<tr align="left"><th>TLX_Table</th>';
                HTMLTranLog+='<th>Type</th>';
                HTMLTranLog+='<th>Transaction ID/State</th>';
                HTMLTranLog+='<th>Created</th>';
                HTMLTranLog+='<th>Updated</th></tr>';
                $.each(Obj, function (i) {
                    HTMLTranLog+='<tr align="left"><td>'+ Obj[i].TXL_TABLE+'</td>';
                    HTMLTranLog+='<td>'+Obj[i].TXL_DATA_TYPE+'</td>';
                    HTMLTranLog+='<td>'+Obj[i].TXL_TABLE_ROW_ID+'</td>';
                    HTMLTranLog+='<td>'+Obj[i].TXL_CREATED+'</td>';
                    HTMLTranLog+='<td>'+Obj[i].TXL_UPDATED+'</td></tr>';
                    HTMLTranLog+='<tr align="left"><td><td colspan="4"  class="tdLogData">'+ Obj[i].TXL_DATA+'</td></tr>';
                });               

                HTMLTranLog+='</table"></td></tr></table>';
                return HTMLTranLog;
            }
            
        }
       
        function TransactionInfoToggle(controlID){
            $('#'+controlID).parent().find("table").toggle();
            if ($('#'+controlID).parent().find("table").is(':hidden'))
            { 
                $('#'+controlID).parent().find("img").attr("src","../../content/images/details_open.png");
            }
            else
            { 
                $('#'+controlID).parent().find("img").attr("src","../../content/images/details_close.png");
            }
        }

        function ExtenTransactionToggle(controlID){
            $('#'+controlID).parent().find("table").toggle();
            if ($('#'+controlID).parent().find("table").is(':hidden'))
            {
                
                $('#'+controlID).parent().find("img").attr("src","../../content/images/details_open.png");
            }
            else
            { 
                $('#'+controlID).parent().find("img").attr("src","../../content/images/details_close.png");
            }
        }

        function SetDataToTable(TableData){
            _table.clear();
            if(TableData.length==0){
                $('#TableData tr').each(function(){
                    $(this).remove();
                });
            }else{
                $.each(TableData, function(i, item) {
                    var row = _table.row.add([
                         ""
                         ,item.FTX_CREATED
                         ,item.FTX_FK_FUNCTION
                         ,item.FTX_FK_FUNCTIONNAME
                         ,item.FTX_APP_ID 
                         ,item.FTX_TRANS_ID     
                         ,item.FTX_REQ_TRANS       
                         ,item.FTX_INDEX1
                         ,item.FTX_INDEX2
                         ,item.FTX_INDEX3
                         ,item.FTX_INDEX4
                         ,item.FTX_INDEX5
                         ,item.FTX_INDEX6
                         ,item.FTX_INDEX7
                         ,item.FTX_INDEX8
                         ,item.FTX_INDEX9
                         ,item.FTX_INDEX10
                         ,item.FTX_INDEX11
                         ,item.FTX_INDEX12
                         ,item.FTX_INDEX13
                         ,item.FTX_INDEX14
                         ,item.FTX_INDEX15
                         ,item.FTX_INDEX16
                         ,item.FTX_INDEX17
                         ,item.FTX_INDEX18
                         ,item.FTX_INDEX19
                         ,item.FTX_INDEX20
                         ,item.FTX_RETURN_STATUS
                         ,item.FTX_RETURN_CODE
                         ,item.FTX_RETURN_NAME_SPACE
                         ,item.FTX_RETURN_DESC
                    ]).draw( false );

                });
            }
           // SetEventpopup();
           // $(".paginate_button").click(function() {SetEventpopup();});
        }

        function CreateGuid() {  
            function _p8(s) {  
                var p = (Math.random().toString(16)+"000000000").substr(2,8);  
                return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;  
            }  
            return _p8() + _p8(true) + _p8(true) + _p8();  
        } 

        function ClearCrateria(){
            $(".container :input").each(function(){
                $(this).val('');
            });
            $("#ddlCStatus").prop('selectedIndex', 0);
            $("ddlCStatus").prop('selectedIndex', 0);
        }

    </script>
</form>