﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeTypeViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Hedge Type";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Hedge Type";
    }
}


<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.ht_Detail.HedgeTypeCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ht_Detail.HedgeTypeCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.ht_Detail.HedgeTypeName, htmlAttributes: new { @class = "form-control", @required = "required" , @maxlength = "100" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ht_Detail.HedgeTypeName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">DESC :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextAreaFor(model => model.ht_Detail.description, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                    }
                    else
                    {
                        @Html.TextAreaFor(model => model.ht_Detail.description, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">INVENTORY :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.ht_Detail.BoolInventory, new { @id = "checkboxInventory", @class = "checkboxInventory"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @*<input type="checkbox" class="checkboxStatus" id="checkboxStatus" name="ht_Detail.BoolStatus" value="true" checked="checked">*@
                    @Html.CheckBoxFor(model => model.ht_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus"})
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName != "VIEWDETAIL")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                        }
                        @Html.ActionLink("BACK", "Search", new { controller = "HedgeType" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>


        </div>
    </div>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "HedgeType", // controllerName
                             new
                             {                                                     // routeValues
                                 TypeId = Model.ht_Detail.HedgeTypeCode
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "HedgeType" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@if (actionName == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}
<script>


    $(function () {
        checkboxToogle();
        //$("#checkboxStatus").prop("checked","checked");
    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxInventory").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
    }
</script>