﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeTypeViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@using (Html.BeginForm("Search", "HedgeType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>HEDGE TYPE</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">CODE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ht_Search.sHedgeTypeCode, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">NAME :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ht_Search.sHedgeTypeName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">DESC :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ht_Search.sHedgeTypeDesc, htmlAttributes: new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">INVENTORY :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ht_Search.sHedgeTypeInventory, new SelectList(Model.ddl_Inventory, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">STATUS :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ht_Search.sHedgeTypeStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">UPDATE DATE :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ht_Search.sHedgeTypeUpdatedDate, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">UPDATED BY :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ht_Search.sHedgeTypeUpdatedBy, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "HedgeType" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>CODE</th>
            <th>NAME</th>
            <th>DESC</th>
            <th>INVENTORY</th>
            <th>STATUS</th>
            <th>UPDATE DATE</th>
            <th>UPDATE BY</th>            
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ht_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.ht_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.ht_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dHedgeTypeCode</td>
                        <td>@v.dHedgeTypeName</td>
                        <td>@v.dHedgeTypeDesc</td>
                        <td>@v.dHedgeTypeInventory</td>
                        <td>@v.dHedgeTypeStatus</td>
                        <td>@v.dHedgeTypeUpdatedDate</td>
                        <td>@v.dHedgeTypeUpdatedBy</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "HedgeType", new { TypeID = @v.dHedgeTypeCode  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "HedgeType", new { TypeID = @v.dHedgeTypeCode })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [7],
                    "orderable": false
                }
            ]
        });
    });

</script>