﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SchedulerViewModel

@{
    ViewBag.Title = "Scheduling Plan";


    if (ViewBag.PageMode == null)
    {
        ViewBag.PageMode = "EDIT";
    }
    if (ViewBag.ButtonMode == null)
    {
        ViewBag.ButtonMode = "AUTO";
    }
    int txtExplanation_readmode = (ViewBag.PageMode == "EDIT") ? 0 : 1;
}

@section HeadStyle {

    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.ganttView.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/chartbutton.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/vessel-page.css" />

    <style>
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .dropdown ul.dropdown-menu {
            border-radius: 4px;
            box-shadow: none;
            margin-top: 0px;
            width: 300px;
        }

        .dropdown:hover .scrollable-menu {
            display: block;
        }

        .color_box {
            float: left;
            width: 20px;
            height: 20px;
            margin: 2px;
            border: 1px solid rgba(0, 0, 0, .2);
            display: inline-block;
            border-radius: 5px 5px 5px 5px;
        }

        .hidden-tag {
            display:none;
        }

        .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
        display: inline-block;
    }
        /*.cke_reset{
            height: 400px !important;
        }*/
    </style>
}

@section HeadScript {

    <script type="text/javascript" src="~/Content/js/date.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.ganttView.js"></script>
    @*<script type="text/javascript" src="~/Content/js/datachartJSON.js"></script>*@
    <script type="text/javascript" src="~/Content/js/chartbutton.js"></script>
}

<div class="wrapper-detail">
    <!--For Alert Message Click button ohter -->
    @Html.Hidden("hdfNoteAction")
    @if (TempData["res_message"] == null)
    {
        @Html.Hidden("EventButton", "0");
    }
    else
    {
        @Html.Hidden("EventButton", "1");
    }
    @Html.HiddenFor(m => m.sch_trans_list_id)
    <div class="tab-month">
        @*<h4>Today</h4><span class="borderright"></span>*@
        @*<span class="data-month">@Model.schd_currentMonthYear</span>
        <span class="borderright"></span>*@

        <div style="float:right;">
            <input style="height:33px;" type="text" id="select-date" class="form-control input-date-picker" value="@Model.schd_searchStartEndDate" placeholder="Select date" maxlength="24">
            <div class="createByField">
                @Html.DropDownListFor(model => model.schd_searchMultiVesselID, Model.vessel as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @id = "select-vessel", style = "width:300px;" })
                
            </div>
            <div class="btn-search">
                <span class="glyphicon glyphicon-search" onclick="Search();return false;"></span>
            </div>
        </div>
    </div>

    <div class="page-header">
        <div class="col-md-6 pull-left">
            <span style="font-size:36px;">Schedule </span><span>(Latest update as of : @Model.LatestUpdate)</span>            
        </div>
        <div class="col-md-6 pull-right">

            <ul id="custColor" class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Charterer <span class="glyphicon glyphicon-user pull-right"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu">
                        @if (Model.sch_trans_custcolor_model != null)
                        {
                            foreach (var item in Model.sch_trans_custcolor_model)
                            {
                                <li><a href="#">@item.cust_Name <span class="color_box glyphicon pull-left" style="background-color: @item.cust_Color;"></span></a></li>
                                    <li class="divider"></li>
                            }
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="chart">
        <h3>Vessel Name</h3>
        <div id="ganttChart"></div>
    </div>

    <div class="wrapper-table">
        <div class="form-group">
            <div class="col-md-4 pull-left">
                <div class="wrapper-button">
                    <button class="btn-supplier" onclick="window.location.href='@Url.Action("Index","Scheduler")'">Add New Schedule<span>+</span></button>                   
                </div>
            </div>
            <div class="col-md-2 pull-left">
                <input type="submit" id="btnBackToHome" value="HOME" class="btn btn-default" name="btnBackToHome" onclick="window.location.href='@Url.Action("Search", "Scheduler")' + '?Type=D9xSF83RP4U=';" readonly="readonly">
            </div>
            <div class="col-md-2 pull-left">
                <input type="submit" id="btnPrintExcel" value="PRINT EXCEL" class="btn btn-default" name="btnPrintExcel" onclick="printExcel('Excel');" readonly="readonly">
            </div>
            <div class="col-md-2 pull-left">
                <input type="submit" id="btnPrintPDF" value="PRINT PDF" class="btn btn-default" name="btnPrintPDF" onclick="printExcel('Pdf');" readonly="readonly">
            </div>
            <div class="col-md-2 text-right">
                <div id="dupBtn">
                    <a class="btn btn-info" href="#" id="dubCopy" name="dubCopy" role="button" onclick="chkChecked()">Copy Schedule Data</a>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li id="li_detail" class="active"><a href="#tab_detail" data-toggle="tab">Schedule Details</a></li>
        <li id="li_data"><a href="#tab_data" data-toggle="tab">Schedule Data</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_detail">
            <ul class="nav nav-tabs" id="ul_tab_detail_month"></ul>
            <div class="tab-content" id="div_tab_detail_month"></div>
        </div>
        <div class="tab-pane fade in" id="tab_data">
            <br> 
            <div class="task-box">
                <div class="wrapper-table collapse in" id="collapseJuly">
                    <table id="grdSchedule" class="table table-hover table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:120px">Period/Status</th>
                                <th style="width:50px">Laycan</th>
                                <th style="width:100px">Document No.</th>
                                <th style="width:120px">Vessel name</th>
                                <th style="width:100px">Charterer</th>
                                <th style="width:100px">Note</th> 
                                <th style="width:140px">Latest update/Update by</th>
                                <th style="width:20px">Copy</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.sch_trans_grid_model == null)
                            {
                                <tr class="waiting" data-href="#">
                                    <td colspan="8">Waiting for search</td>
                                </tr>
                            }
                            else
                            {
                                if (Model.sch_trans_grid_model.Count > 0)
                                {
                                    foreach (var v in Model.sch_trans_grid_model)
                                    {
                                        <tr class="drafts" style="cursor: pointer;">
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_Datetime <span>@v.scht_status</span></td>
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_laycan</td>
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_Doc_no</td>
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_vasselName</td>
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_userCustomer</td>
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_note</td> 
                                            <td class="clickable-row" data-href="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted">@v.scht_Update_date <span>@v.scht_Update_by</span></td> 
                                            <td>
                                                <input type="hidden" name="dupLinkField" class="form-control" value="@Url.Action("Index","Scheduler")?TranID=@v.Transaction_id_Encrypted&Type=@v.Type_Encrypted&Tran_Req_ID=@v.Req_transaction_id_Encrypted&DocNO=@v.Doc_no_Encrypted&Status=@v.scht_status_Encrypted&isDup=true" hidden="hidden" />
                                                <input name="dup" type="checkbox" value="true" onclick="myFunction();" />
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="waiting">
                                        <td colspan="8">Data not found</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!--For Alert Message Click button ohter -->
@if (TempData["res_message"] != null)
{
    if (TempData["returnPage"] != null)
    {
        <script type="text/javascript">
            OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"]))).done(function() {
                $("#EventButton").val("0");
            });
        </script>
    }
}

<script src="~/Content/js/plugins/ckeditor/ckeditor.js"></script>
<!-- สำหรับ Checkbox Duplicate -->
<script type="text/javascript">

    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    function myFunction() {
        var dupLinkField = document.getElementsByName("dupLinkField");
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        for (var i = 0; i < dupLinkField.length; i++) {
            if (dupChk[i].checked) {
                dubCopyHref[0].setAttribute('href', dupLinkField[i].value);
                break;
            } else {
                dubCopyHref[0].setAttribute('href', "#");
            }
        }
    }

    function chkChecked() {
        var dupChk = document.getElementsByName("dup");
        var dubCopyHref = document.getElementsByName("dubCopy");
        var status = true;
        if (dupChk.checked) {
            return true;
        }
    }

</script>

<!-- สำหรับ Date -->
<script type="text/javascript">

    $('#select-date').dateRangePicker(
           {
               startOfWeek: 'monday',
               format: 'DD/MM/YYYY'
           }).bind('datepicker-change', function (evt, obj) {

               SubmitSearch(ConvertDateToString(obj.date1,'DD/MM/YYYY'), ConvertDateToString(obj.date2,'DD/MM/YYYY'));
           });

    $("#select-date").on('change', function(){
        Search();
    });

    function Search()
    {
        var dateVal = $("#select-date").val();
        var dateSplit = dateVal.split(" ");
        SubmitSearch(dateSplit[0], dateSplit[2]);
        onGetTabHtmlNote(dateVal);
    }

    function SubmitSearch(dateFrom, dateTo)
    {
        if (dateFrom == "" || dateTo == "" )
        {
            return;
        }
        else if(moment(dateFrom, 'DD/MM/YYYY',true).isValid() == false || moment(dateTo, 'DD/MM/YYYY',true).isValid() == false)
        {
            OpenBoxPopup("Date format is incorrect.");
            return;
        }
        else if(moment(dateFrom, 'DD/MM/YYYY',true).year() <= moment(new Date()).add(-10, 'years').year())
        {
            //console.log("Year start Never less than 10 years");
            OpenBoxPopup("Date start do not less than 10 years");
            return;
        }
        else
        {
            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results[1] || 0;
            }
            var pType = decodeURIComponent($.urlParam('Type'));
            //alert(pType);
            var pDateFrom = dateFrom;
            //alert(pDateFrom);
            var pDateTo = dateTo;
            //alert(pDateTo);

            var vessel = "";

            $("#select-vessel option:selected").each(function() {
                vessel = vessel + $(this).val() + "|";
                //console.log($(this).val());
            });

            var pVessel = vessel.substr(0,vessel.length-1);
            //console.log(pVessel);

            var url = '@Url.Action("Search", "Scheduler")';
            window.location.href = url + "?Type="+ pType +"&StartDate="+ pDateFrom +"&EndDate="+ pDateTo + "&MultiVesselID="+ pVessel;
        }

    }

    function ConvertDateToString(date, format)
    {
        return moment(date).format(format);
    }


</script>


<!-- สำหรับ Main Script -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#select-vessel").select2({
            placeholder: "Vessel"
        });

        $('#select-vessel').change(function () {
            $('.select2-search__field').keydown(function (e) {

                if ($(this).val() == "") {
                    if (e.keyCode == 8) {
                        return false;
                    }
                }
            });
        });

        @if (Model.sch_trans_gantt_model_json != "[]")
        {
            @Html.Raw("var hasGantt = '1';");
        }
        else
        {
             @Html.Raw("var hasGantt = '0';");
        }

        @if (Model.sch_trans_grid_model != null)
        {
            if (Model.sch_trans_grid_model.Count > 0)
            {
                @Html.Raw("var hasGrid = '1';");
            }else
            {
                 @Html.Raw("var hasGrid = '0';");
            }
        }
        else
        {
             @Html.Raw("var hasGrid = '0';");
        }

        if(hasGantt == false && hasGrid == true)
        {
            @if(Model.sch_trans_grid_model != null)
            {
                 if (Model.sch_trans_grid_model.Count > 0)
                 {
                     @:$('#grdSchedule').DataTable({ "ordering": false });
                 }
            }
            // กำหนด gattView
            $("#ganttChart").ganttView({
                data: @Html.Raw(Model.sch_trans_gantt_model_json),
                slideWidth: 950,
                cellWidth: 32,
                cellHeight: 58,
                groupBySeries: true,
                groupById: false,
                groupByIdDrawAllTitles: true,
                start: new Date('@Html.Raw(Model.schd_startDate)'),
                end: new Date('@Html.Raw(Model.schd_endDate)'),
                behavior: {
                    resizable: false,
                    draggable: false,
                    hover: false
                }
            });
        }
        else if(hasGantt == true && hasGrid == false)
        {
            // กำหนด gattView
            $("#ganttChart").ganttView({
                data: @Html.Raw(Model.sch_trans_gantt_model_json),
                slideWidth: 950,
                cellWidth: 30,
                cellHeight: 58,
                groupBySeries: true,
                groupById: false,
                groupByIdDrawAllTitles: true,
                start: new Date('@Html.Raw(Model.schd_startDate)'),
                end: new Date('@Html.Raw(Model.schd_endDate)'),
                behavior: {
                    resizable: false,
                    draggable: false,
                    hover: false
                }
            });

            @if (Model.sch_trans_grid_model.Count > 0)
            {
                @:$('#grdSchedule').DataTable({ "ordering": false });
            }
        }
        else if(hasGantt == false && hasGrid == false)
        {
            // กำหนด gattView
            $("#ganttChart").ganttView({
                data: @Html.Raw(Model.sch_trans_gantt_model_json),
                slideWidth: 950,
                cellWidth: 30,
                cellHeight: 58,
                groupBySeries: true,
                groupById: false,
                groupByIdDrawAllTitles: true,
                start: new Date('@Html.Raw(Model.schd_startDate)'),
                end: new Date('@Html.Raw(Model.schd_endDate)'),
                behavior: {
                    resizable: false,
                    draggable: false,
                    hover: false
                }
            });
            @if (Model.sch_trans_grid_model.Count > 0)
            {
                @:$('#grdSchedule').DataTable({ "ordering": false });
            }
        }
        else
        {
            @if (Model.sch_trans_grid_model.Count > 0)
            {
                @:$('#grdSchedule').DataTable({ "ordering": false });
            }
            // กำหนด gattView
            //console.log('@Html.Raw(Model.sch_trans_gantt_model_json)');
            $("#ganttChart").ganttView({
                data: @Html.Raw(Model.sch_trans_gantt_model_json),
                slideWidth: 950,
                cellWidth: 30.07,
                cellHeight: 58,
                groupBySeries: true,
                groupById: false,
                groupByIdDrawAllTitles: true,
                start: new Date('@Html.Raw(Model.schd_startDate)'),
                end: new Date('@Html.Raw(Model.schd_endDate)'),
                behavior: {
                    resizable: false,
                    draggable: false,
                    hover: false
                }
            });
        }
        onGetTabHtmlNote($("#select-date").val());
    });

    function onShowEvent(id, _this) {
        if ($(_this).attr("aria-expanded") == "true") {
            $("#ul_" + id).css("display", "none");
        } else {
            $("#ul_" + id).css("display", "block");
        }
    }

    function onGetTabHtmlNote(date) {
        var arr_date_from = date.split(" to ")[0].split("/");
        var arr_date_end = date.split(" to ")[1].split("/");

        var date_from = new Date(arr_date_from[2], arr_date_from[1], arr_date_from[0]);
        var date_end = new Date(arr_date_end[2], arr_date_end[1], arr_date_end[0]);
        var month_from_chk = arr_date_from[1];
        var year_from_chk = arr_date_from[2];
        var month_to_chk = arr_date_end[1];
        var year_to_chk = arr_date_end[2];

        var j = 1;
        for(var i =0; i<13;i++){
            month_from_chk = parseInt(month_from_chk);
            year_from_chk = parseInt(year_from_chk);
            month_to_chk = parseInt(month_to_chk);
            year_to_chk = parseInt(year_to_chk);
            if(month_from_chk == month_to_chk && year_from_chk == year_to_chk)
            {
                break;
            }
            month_from_chk ++;
            if(month_from_chk >12)
            {
                month_from_chk = 1;
                year_from_chk ++;
            }
            j++;
        }
        //var count_month = (date_end.getYear() - date_from.getYear()) * 12 + (date_end.getMonth() - date_from.getMonth())+1;
        var count_month = j;
        var arr_month = [];
        debugger;
        var month_from = arr_date_from[1];
        var year_from = arr_date_from[2];
        var month_to = arr_date_end[1];
        var year_to = arr_date_end[2];
        if(count_month == 1)
        {
            month_from = parseInt(month_from);
            year_from = parseInt(year_from);
            arr_month.push(month_from + "_" + year_from);
        }else{
            month_from = parseInt(month_from);
            year_from = parseInt(year_from);
            arr_month.push(month_from + "_" + year_from);
            for(var i=0;i<count_month;i++)
            {
                if (arr_month.length  >= count_month) {
                    break;
                } else
                {
                    month_from = parseInt(month_from);
                    year_from = parseInt(year_from);
                    month_from ++;
                    if(month_from >12)
                    {
                        month_from = 1;
                        year_from ++;
                    }
                    arr_month.push(month_from + "_" + year_from);
                }
            }
        }

        //while(month_from.toString() + year_from.toString() != date_end.getMonth().toString() + date_end.getFullYear().toString()) {
        //    if (month_from > 12)
        //    {
        //        month_from = 1;
        //        year_from++;
        //        //count_month = count_month-1
        //    }
        //    arr_month.push(month_from + "_" + year_from);

        //    if (month_from.toString() + year_from.toString() == date_end.getMonth().toString() + date_end.getFullYear().toString()) {
        //        if(arr_month.length == count_month)
        //        {
        //            break;
        //        } else{
        //            arr_month.push(month_from + "_" + year_from);
        //            break;
        //        }
        //    }    else{
        //        month_from++;
        //    }
        //}

        for (var i = 0; i < arr_month.length; i++) {
            var date_month = getArrayMonth(arr_month[i].split("_")[0]) + " - " + arr_month[i].split("_")[1];
            var chkDate = arr_month[i];
            var dt = new Date($.now());
            var monthToday = dt.getMonth()+1;
            var dateToday = monthToday + "_"+ dt.getFullYear();
            var indexArr = jQuery.inArray( dateToday, arr_month );
            var active = '';

            @*if('@Model.flagDefult' == "True")
            {
                if(indexArr == -1)
                {
                    if( i == 0)
                    {
                        active = 'active';
                    }
                }else{
                    if (i == indexArr) {
                        active = 'active';
                    }
                    else{
                        active = '';
                    }
                }
            }else{
                if( i == 0)
                {
                    active = 'active';
                }
            }*@

            if( i == 0)
            {
                active = 'active';
            }


            $("#ul_tab_detail_month").append('<li id="li_month_'+arr_month[i]+'" class="'+active+'"><a href="#tab_month_'+arr_month[i]+'" data-toggle="tab">'+date_month+'</a></li>');
            $("#div_tab_detail_month").append('<div class="tab-pane fade in '+active+'" id="tab_month_'+arr_month[i]+'">' +
                                                    '<div class="row">' +
                                                        '<div class="col-md-12">' +
                                                            '<div class="form-group">' +
                                                                '<label class="control-label">Note : </label>' +
                                                                '<textarea class="form-control" cols="20" id="note_'+arr_month[i]+'" name="note_'+arr_month[i]+'" rows="2" style="min-height: 300px; min-width: 100%;" readonly></textarea>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>' +
                                                    '<div class="row">' +
                                                        '<div class="col-md-12">' +
                                                            '<div class="form-group">' +
                                                                '<label class="control-label">Special Note : </label>' +
                                                                '<textarea class="form-control ckeditor" cols="20" id="special_note_'+arr_month[i]+'" name="special_note_'+arr_month[i]+'" rows="2" style="min-height: 400px; min-width: 100%;"></textarea>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>' +
                                                        '<div class="col-md-12 text-right">' +
                                                        '<a class="btn btn-info" id="btn_save_special_note_'+arr_month[i]+'" name="btn_save_special_note_'+arr_month[i]+'" role="button" onclick="onSaveSpecialNote(\'' + arr_month[i] + '\')">Save Special Note</a>' +
                                                    '</div>' +
                                                '</div>');

            onGetDetailNote(arr_month[i])
            onGetSpecialNote(arr_month[i]);
            getThemeSpecialNote('special_note_' + arr_month[i]);
        }
    }

    function getThemeSpecialNote(id)
    {
        CKEDITOR.replace( id, {
            toolbar: [
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ '-', '-', '-', 'NewPage', '-', '-', '-', '-' ] },
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', '-', '-', '-', 'Undo', 'Redo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ '-', '-', '-', '-', '-', '-' ] },
            { name: 'forms', items: [ '-', '-', '-', '-', '-', '-', '-', '-', '-' ] },
            '/',
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', '-', '-', 'RemoveFormat' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', '-', '-', '-', '-', '-', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', '-', '-', '-' ] },
            { name: 'links', items: [ '-', '-', '-' ] },
            { name: 'insert', items: [ 'Image', '-', 'Table', '-', '-', '-', '-', '-' ] },
            '/',
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
            { name: 'tools', items: [ '-', '-' ] },
            { name: 'others', items: [ '-' ] },
            { name: 'about', items: [ '-' ] }
            ]
        });
    }

    @*function backToHome() {
        //var date = $("#select-date").val().split(" to ");
        //location.reload(); 
        window.open('@Url.Action("Search", "Scheduler")' + '?Type=D9xSF83RP4U=');
    }*@

    function printExcel(type) {
        var date = $("#select-date").val().split(" to ");
        window.open('@Url.Action("GenExcel", "Scheduler")' + '?date_start=' + date[0] + '&date_end=' + date[1] + '&type=' + type, '_blank');
    }

    function getArrayMonth(idx) {
        var arr_month = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        return arr_month[idx];
    }

    function onGetDetailNote(date) {
        $.ajax({
            url: '@Url.Action("getSchedulerDetail", "Scheduler")',
            type: 'POST',
            data: {month_year : date},
            dataType: 'json',
            async: false,
            complete: function (_data) {
                $("#note_" + date).html(_data.responseText);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function onSaveSpecialNote(id) {
        // var note = tinyMCE.get("special_note_" + id).getContent();
        var note = CKEDITOR.instances["special_note_" + id].getData();
        var date = id.split("_")[0] + "/" + id.split("_")[1];
        //alert(note);
        $.ajax({
            url: '@Url.Action("saveSPNote", "Scheduler")',
            type: 'POST',
            data: {month_year : date, note : note},
            //dataType: 'json',
            //async: false,
            complete: function (_data) {
                if (_data.responseText) {
                    OpenBoxPopup("Your transaction has been processed successfully.");
                    location.reload();
                } else {
                    OpenBoxPopup("Your transaction has been processed error.");
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function onGetSpecialNote(date) {
        $.ajax({
            url: '@Url.Action("getSPNote", "Scheduler")',
            type: 'POST',
            data: {month_year : date.split("_")[0] + "/" + date.split("_")[1]},
            dataType: 'json',
            async: false,
            complete: function (_data) {
                $("#special_note_" + date).html(_data.responseText);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>
