﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels
@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealKeyinSearchCommitteeFrameworkViewModel

<style>
     #sectionCommitteeCriteria>h3{
         margin-top: 0px;
     }
    #sectionCommitteeCriteria>h3:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 17px;
        height: 17px;
        left: 0;
        background: url(/Content/images/bg/bg-collap.png) no-repeat;
        background-size: 17px 17px;
        transform: rotate(1deg);
        margin-right: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: white;
    }
    #sectionCommitteeCriteria > h3.collapsed:before {
        transform: rotate(-90deg);
    }
    .modal-dialog {
        position: relative;
        display: table; /* This is important */
        overflow-y: auto;
        overflow-x: auto;
        width: auto;
        min-width: 300px;
    }
    @@media (min-width: 992px){
        .modal-lg {
            width: 1024px;
        }
    }
</style>

<div class="modal fade" id="dgSearchCommitteeFW" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title">Search Committee Framework</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="sectionCommitteeCriteria">
                        @{ 
                            var hasCommitteeResult = Model.Result == null && Model.Result.Count > 0;
                        }
                        <h3 class="@(hasCommitteeResult ? "collapsed" : string.Empty)" data-toggle="collapse" aria-expanded="true" aria-controls="sectionCommittee" href="#sectionCommittee"><span style="cursor:pointer;">Filter</span></h3>
                        <div class="form-horizontal wrapper-table collapse @(hasCommitteeResult ? string.Empty : "in")" id="sectionCommittee" aria-expanded="true">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.ReferenceNo, "Reference No.", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Criteria.ReferenceNo, new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.DealType, "Deal Type", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Criteria.DealType, Model.DealTypes, "--- Select All ---", new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.TenorDates, "Tenor", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Criteria.TenorDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "MMM-YYYY to MMM-YYYY", maxlength = "26" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.ToolName, "Tool Name", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Criteria.ToolName, Model.ToolNames, "--- Select All ---", new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.Label("FrameType", "Frame Type", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBox("FrameType", "Normal", new { @class = "form-control essential", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.HedgingType, "Hedging Type", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.Criteria.HedgingType, Model.HedgingTypes, "--- Select All ---", new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.TotalVolumn, "Total Volumn", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Criteria.TotalVolumn, new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.Criteria.Underlying, "Underlying", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Criteria.Underlying, new { @class = "form-control essential" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.Label("Deal Type", new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.CheckBoxFor(m => m.Criteria.DealM1M.IsSelected)
                                                        @Html.LabelFor(model => model.Criteria.DealM1M, Model.Criteria.DealM1M.DealFlagType.ToDescription(), new { @class = "control-label" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.CheckBoxFor(m => m.Criteria.DealTimeSpread.IsSelected)
                                                        @Html.LabelFor(model => model.Criteria.DealTimeSpread, Model.Criteria.DealTimeSpread.DealFlagType.ToDescription(), new { @class = "control-label" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-right">
                                        <button type="button" class="btn btn-info" style="margin-top: 50px;margin-right: 10px;" onclick="onSearchCommittee()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" id="showLoading" style="display:none;"><i class="fa fa-spin fa-spinner"></i>Loading...</div>
                        <div class="row detail-box">
                            <div class="wrapper-table collapse in">
                                <table id="searchCommitteeTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Trading Book</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Reference No.</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Hedging Type</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Tenor</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Total Volumn</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Underlying</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Tool</span></th>
                                            <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Result == null || Model.Result.Count == 0)
                                        {
                                            <tr class="waiting">
                                                <td colspan="8">Result was not found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Result)
                                            {
                                                <tr class="drafts">
                                                    <td><span>@item.TradingBook</span></td>
                                                    <td><span>@item.ReferenceNo</span></td>
                                                    <td><span>@item.HedgingType</span></td>
                                                    <td><span>@item.Tenor</span></td>
                                                    <td><span>@item.TotalVolumn</span></td>
                                                    <td><span>@item.Underlying</span></td>
                                                    <td><span>@item.ToolName</span></td>
                                                    <td><span><input type="radio" name="result-committee" value="@item.Id" class="radioPackage" @(item.IsSelected ? "checked" : string.Empty)/></span></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-info" onclick="onOKCommittee()">OK</button>
                        <button type="button" class="btn btn-info" onclick="onCancelCommittee()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onSearchCommittee() { }
    function onOKCommittee() {
        $('#dgSearchCommitteeFW').modal('hide');
    }
    function onCancelCommittee() {
        $('#dgSearchCommitteeFW').modal('hide');
    }
</script>