﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingManagementCounterpartyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    var listall = 1;
}
@if (TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="wrapper-detail">
    <div>
        <h1 style="font-weight: bold;">Counterparty</h1>
    </div>
    <form action="" method="post">
        @Html.HiddenFor(m => m.HMC_Detail.HMC_ROW_ID)
        @Html.HiddenFor(m => m.pageMode)
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Counter Party<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            @if (Model.pageMode == "EDIT")
                            {
                                @Html.HiddenFor(m => m.HMC_Detail.CouterPartyID)
                                @Html.DropDownListFor(m => m.HMC_Detail.CouterPartyID, new SelectList(Model.ddlCounterParty, "Value", "Text", Model.HMC_Detail.CouterPartyID), "--Select--", new { @class = "form-control request", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.HMC_Detail.CouterPartyID, new SelectList(Model.ddlCounterParty, "Value", "Text", Model.HMC_Detail.CouterPartyID), "--Select--", new { @class = "form-control request" })
                            }
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Credit Rating<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.HMC_Detail.CreditRating, new SelectList(Model.ddlCreditRating, "Value", "Text", Model.HMC_Detail.CreditRating), "--Select--", new { @class = "form-control request" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Credit Limit<span style="color:red">*</span></label>
                        <div class="col-sm-10 table-bordered">
                            <div class="form-group"></div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.HMC_Detail.CreditLimit, new { @class = "form-control request", @type = "number" })
                                </div>
                                <div class="col-sm-2 text-left">USD</div>
                                <div class="col-sm-2 text-right">Fillter</div>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => m.ddlActive, new SelectList(Model.ddlActive, "Value", "Text", Model.ddlActive), new { @class = "form-control", @onchange = "filteractive()" })
                                </div>
                            </div>
                            <div class="form-group col-sm-3">Credit Limit Specify period</div>
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="dataTablePeriod">
                                    <tbody id="PeriodDT">
                                        @if (Model.HMC_Detail.DetailCreditLimit != null)
                                        {
                                            for (var index = 0; index < Model.HMC_Detail.DetailCreditLimit.Count(); index++)
                                            {
                                                var detail_IsActive = "Is_Active_" + @index;
                                                <tr id="DtList_@index">
                                                    <td>
                                                        @Html.TextBoxFor(m => m.HMC_Detail.DetailCreditLimit[index].dDate, new { @class = "form-control input-date-picker request", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                                                        @Html.HiddenFor(m => m.HMC_Detail.DetailCreditLimit[index].HMCL_ROW_ID)
                                                    </td>
                                                    <td>@Html.TextBoxFor(m => m.HMC_Detail.DetailCreditLimit[index].CreditLimit, new { @class = "form-control request", @type = "number" })</td>
                                                    <td>USD</td>
                                                    <td>
                                                        @if (Model.HMC_Detail.DetailCreditLimit[index].Status == "ACTIVE")
                                                        {
                                                            <input type="checkbox" class="checkboxActiveState" id=@detail_IsActive checked onchange="checkedActiveState(@index);" value="ACTIVE">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="checkboxActiveState" id=@detail_IsActive onchange="checkedActiveState(@index);" value="INACTIVE">
                                                        }
                                                        @Html.HiddenFor(m => m.HMC_Detail.DetailCreditLimit[index].Status)
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr id="DtList_0">
                                                <td>
                                                    @Html.TextBoxFor(m => m.HMC_Detail.DetailCreditLimit[0].dDate, new { @class = "form-control  input-date-picker request", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                                                    @Html.HiddenFor(m => m.HMC_Detail.DetailCreditLimit[0].HMCL_ROW_ID)
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.HMC_Detail.DetailCreditLimit[0].CreditLimit, new { @class = "form-control request", @type = "number" })</td>
                                                <td>USD</td>
                                                <td>
                                                    <input type="checkbox" class="checkboxActiveState" id="Is_Active_0" onchange="checkedActiveState(0);" value="ACTIVE">
                                                    @Html.HiddenFor(m => m.HMC_Detail.DetailCreditLimit[0].Status)
                                                </td>
                                                <td>
                                                    <script>
                                                        $(function () {
                                                            setAllStatusToogleSwitch();
                                                        });

                                                    </script>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="button" value="Add" class="btn btn-success" onclick="addperiod(); return false;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-2">
                            <div class="radio">
                                @if (Model.pageMode == "EDIT")
                                {
                                    if (Model.HMC_Detail.Status == "NORMAL")
                                    {
                                        <input id="rdoNormal" name="HMC_Detail.Status" value="NORMAL" type="radio" checked="checked" />
                                    }
                                    else if (Model.HMC_Detail.Status == "NORMAL_50")
                                    {
                                        <input id="rdoNormal" name="HMC_Detail.Status" value="NORMAL" type="radio" checked="checked" />
                                    }
                                    else
                                    {
                                        <input id="rdoNormal" name="HMC_Detail.Status" value="NORMAL" type="radio" />
                                    }
                                }
                                else
                                {
                                    <input id="rdoNormal" name="HMC_Detail.Status" value="NORMAL" type="radio" checked="checked" />
                                }
                                <label for="rdoNormal" style="padding-bottom: 1.5px;">
                                    NORMAL
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="radio">
                                @if (Model.pageMode == "EDIT")
                                {
                                    if (Model.HMC_Detail.Status == "SUSPEND")
                                    {
                                        <input id="rdoSuspend" name="HMC_Detail.Status" value="SUSPEND" type="radio" checked="checked" />
                                    }
                                    else
                                    {
                                        <input id="rdoSuspend" name="HMC_Detail.Status" value="SUSPEND" type="radio" />
                                    }
                                }
                                else
                                {
                                    <input id="rdoSuspend" name="HMC_Detail.Status" value="SUSPEND" type="radio" />
                                }
                                <label for="rdoSuspend" style="padding-bottom: 1.5px;">
                                    SUSPEND
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Reason</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.HMC_Detail.Reason, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.HMC_Detail.Log_Reason, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 table-bordered">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <h2>5-yr CDS</h2>
                        </div>
                        <div class="col-sm-10"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.HMC_Detail.SCDS, new { @class = "form-control  input-date-picker requestsearch", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                        </div>
                        <div class="col-sm-5">
                            <span type="button" id="SearchCDS" onclick="searchCDS()" class="glyphicon glyphicon-search" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <input type="button" value="Add" class="btn btn-success" id="AddCDS" onclick="addCDS()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <table class="table table-bordered" id="CDS_List">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>5yr-CDS</th>
                                    </tr>
                                </thead>
                                <tbody id="CDSDT">
                                    <tr class="waiting">
                                        <td colspan="2">Waiting for search</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 center-block">
                    <input type="button" value="SAVE" class="btn btn-default" id="btnsave" onclick="savedata(); return false;" />
                    <input type="submit" value="SAVE" id="btnSave" style="display: none;" name="action:Save" />
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <input type="reset" value="CLEAR" id="btnClear" class="btn btn-default" />
                    @Html.ActionLink("BACK", "Search", new { controller = "HedgingManagementCounterparty" }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">

                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink(
                             "Close",
                             "ViewDetail",
                             "HedgingManagementCounterparty", 
                             new
                             {
                                 cpID = TempData["RowID"]
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                }
            </div>
        </div>
    </div>
</div>

<script>
    var status;
    var lastdate;
    var listPeriod = @listall;

    $(document).ready(function() {
        $('input[type=radio][name="HMC_Detail.Status"]').change(function () {
            debugger;
            if (this.value != status){
                $('#HMC_Detail_Reason').prop('readonly', false);
            }
            else {
                $('#HMC_Detail_Reason').prop('readonly', true);
            }
        });
    });

    function loadDatePicker(){
        $('.input-date-picker').each(function () {
            $(this).dateRangePicker(
            {
                autoClose: true,
                startOfWeek: 'monday',
                format: 'DD/MM/YYYY',
            })
        })
    }

    $(function () {
        loadDatePicker();
        $('#HMC_Detail_Reason').prop('readonly', true);
        @if (Model.pageMode == "NEW")
        {
            @:status = "NORMAL";
            @:$('#HMC_Detail_SCDS').prop('disabled', true);

            @:$('#SearchCDS').hide();
            @:$('#rdoSuspend').prop('disabled', true);
            @:$('.checkboxActiveState').prop('checked', true);
        }
        else if (Model.pageMode == "EDIT")
        {
            @:$('#btnClear').hide();
            @:status = $('input[type=radio][name="HMC_Detail.Status"]').val();
            @:$('#HMC_Detail_CouterPartyID').prop('readonly',true);
        }
    });

    function setAllStatusToogleSwitch() {
        $(".checkboxActiveState").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    setAllStatusToogleSwitch();

    function checkedActiveState(indexOfID) {
        if ($("#Is_Active_" + indexOfID).prop("checked")) {
            $('#HMC_Detail_DetailCreditLimit_' + indexOfID + '__Status').val("ACTIVE");
        } else {
            $('#HMC_Detail_DetailCreditLimit_' + indexOfID + '__Status').val("INACTIVE");
        }
    }

    function savedata() {
        if(!ValidateInput()){
            return false;
        }
        else{
            $('#btnSave').click();
        }
    }

    function ValidateInput() {
        $(".request").removeClass("input-error");
        var FocusCtrl = "";
        var i = 0;
        $(".request").each(function () {
            if ($.trim($(this).val()) == "") {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            }
        });
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0) return false;
        return true;
    }

    function AddDateSearch(list) {
        debugger;
        $('#CDS_List').DataTable({
            "destroy": true,
            "data": list,
            "fixedHeader": {
                header: false
            },
            "columns": [
                {
                    "data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                        var textboxlist = '<input class="form-control  input-date-picker" name="HMC_Detail.DetailCDS[0].Date" value="' + data.Date + '" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" readonly>';
                        textboxlist += '<input name="HMC_Detail.DetailCDS[0].HMCD_ROW_ID" type="hidden" value="' + data.HMCD_ROW_ID + '">';
                        return textboxlist;
                    }
                },
                {
                    "data": null, "className": "dt-body-center", "bSortable": false, "mRender": function (data) {
                        var textboxlist = '<input class="form-control" name="HMC_Detail.DetailCDS[0].Cds" value="' + data.Cds + '" type="number">';
                        return textboxlist;
                    }
                },

            ]
        });
        updateIndexCDS();
    }

    function AddDatePeriod(list) {
        $("#dataTablePeriod tr").remove();
        var i =0;
        debugger;
        for(var value in list){
            var newObject = "";
            newObject += '<td>';
            newObject += '<input class="form-control  input-date-picker request" id="HMC_Detail_CreditLimitDetail_'+i+'__dDate" maxlength="24" name="HMC_Detail.CreditLimitDetail['+i+'].dDate" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="'+list[value].dDate+'">';
            newObject += '<input id="HMC_Detail_DetailCreditLimit_'+i+'__HMCL_ROW_ID" name="HMC_Detail.DetailCreditLimit['+i+'].HMCL_ROW_ID" type="hidden" value="'+list[value].HMCL_ROW_ID+'">';
            newObject += '</td><td>';
            newObject += '<input class="form-control request" id="HMC_Detail_CreditLimitDetail_'+i+'__CreditLimit" name="HMC_Detail.DetailCreditLimit['+i+'].CreditLimit" type="number" value="'+list[value].CreditLimit+'">';
            newObject += '</td>';
            newObject += '<td>USD</td>';
            newObject += '<td>';
            if(list[value].Status == "ACTIVE"){
                newObject += '<input type="checkbox" class="checkboxActiveState" id="Is_Active_'+i+'" checked onchange="checkedActiveState('+i+');">';
            }
            else{
                newObject += '<input type="checkbox" class="checkboxActiveState" id="Is_Active_'+i+'" onchange="checkedActiveState('+i+');">';
            }
            newObject += '<input id="HMC_Detail_CreditLimitDetail_'+i+'__Status" name="HMC_Detail.CreditLimitDetail['+i+'].Status" type="hidden" value="'+list[value].Status+'">';
            newObject += '</td>';
            newObject += '<td></td>';
            $("#PeriodDT").append("<tr id='DtList_" + i + "'>" + newObject + "</tr>");
            updateIndex();
            setAllStatusToogleSwitch();
            $('#HMC_Detail_CreditLimitDetail_'+i+'__dDate').dateRangePicker(
                {
                    autoClose: true,
                    startOfWeek: 'monday',
                    format: 'DD/MM/YYYY',
                });
            i++;
        }
    }

    function AddDateNew(list) {
        var rowCount = $('#CDSDT tr').length;
        var newObject = "";
        newObject += '<td>';
        newObject += '<input class="form-control  input-date-picker request" id="HMC_Detail_DetailCds_'+rowCount+'__Date" maxlength="24" name="HMC_Detail.DetailCds['+rowCount+'].Date" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="'+list[0].Date+'" readonly="true">';
        newObject += '<input id="HMC_Detail_DetailCds_'+rowCount+'__HMCD_ROW_ID" name="HMC_Detail.DetailCds['+rowCount+'].HMCD_ROW_ID" type="hidden">';
        newObject += '</td><td>';
        newObject += '<input class="form-control request" id="HMC_Detail_DetailCds_'+rowCount+'__Cds" name="HMC_Detail.DetailCds['+rowCount+'].Cds" type="number" value="'+list[0].Cds+'">';
        newObject += '</td>';
        $("#CDSDT").append("<tr id='DtList_"+rowCount+"'>" + newObject + "</tr>");
        lastdate = list[0].Date;
        updateIndexCDS();
    }

    function updateIndex() {
        var i = 0;
        $('#PeriodDT tr').each(function() {
            var newObject = $(this);
            newObject.find('input[name$=".dDate"]').attr('name', 'HMC_Detail.DetailCreditLimit[' + i + '].dDate');
            newObject.find('input[name$=".HMCL_ROW_ID"]').attr('name', 'HMC_Detail.DetailCreditLimit[' + i + '].HMCL_ROW_ID');
            newObject.find('input[name$=".CreditLimit"]').attr('name', 'HMC_Detail.DetailCreditLimit[' + i + '].CreditLimit')
            newObject.find('input[name$=".Status"]').attr('name', 'HMC_Detail.DetailCreditLimit[' + i + '].Status')
            i++;
        });
        setAllStatusToogleSwitch();
    }

    function updateIndexCDS() {
        var i = 0;
        $('#CDSDT tr').each(function() {
            var newObject = $(this);
            newObject.find('input[name$=".Date"]').attr('name', 'HMC_Detail.DetailCDS[' + i + '].Date');
            newObject.find('input[name$=".HMCD_ROW_ID"]').attr('name', 'HMC_Detail.DetailCDS[' + i + '].HMCD_ROW_ID');
            newObject.find('input[name$=".Cds"]').attr('name', 'HMC_Detail.DetailCDS[' + i + '].Cds')
            i++;
        });
    }

    //---- Button Onchick ----//

    function addperiod() {
        var i = listPeriod++;
        var newObject = "";
        newObject += '<td>';
        newObject += '<input class="form-control  input-date-picker request" id="HMC_Detail_CreditLimitDetail_'+i+'__dDate" maxlength="24" name="HMC_Detail.CreditLimitDetail['+i+'].dDate" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="">';
        newObject += '<input id="HMC_Detail_DetailCreditLimit_'+i+'__HMCL_ROW_ID" name="HMC_Detail.DetailCreditLimit['+i+'].HMCL_ROW_ID" type="hidden" value="">';
        newObject += '</td><td>';
        newObject += '<input class="form-control request" id="HMC_Detail_CreditLimitDetail_'+i+'__CreditLimit" name="HMC_Detail.DetailCreditLimit['+i+'].CreditLimit" type="number" value="">';
        newObject += '</td>';
        newObject += '<td>USD</td>';
        newObject += '<td>';
        newObject += '<input type="checkbox" class="checkboxActiveState" id="Is_Active_'+i+'" checked onchange="checkedActiveState('+i+');">';
        newObject += '<input id="HMC_Detail_CreditLimitDetail_'+i+'__Status" name="HMC_Detail.CreditLimitDetail['+i+'].Status" type="hidden" value="ACTIVE">';
        newObject += '</td>';
        if (i != 0) {
            newObject += '<td><input type="image" src="../../Web/Images/icon-delete.gif" onclick="delList(' + i + '); return false;"></td>';
        } else {
            newObject += '<td></td>';
        }
        $("#PeriodDT").append("<tr id='DtList_" + i + "'>" + newObject + "</tr>");
        updateIndex();
        setAllStatusToogleSwitch();
        $('#HMC_Detail_CreditLimitDetail_'+i+'__dDate').dateRangePicker(
            {
                autoClose: true,
                startOfWeek: 'monday',
                format: 'DD/MM/YYYY',
            });
    }

    function delList(row) {
        $("#DtList_" + row).remove();
        updateIndex();
    }

    function addCDS(){
        $(".waiting").remove();
        LoadingProcess();
        var value = {
            Counterparty: $('#HMC_Detail_HMC_ROW_ID').val(),
            Date: lastdate
        }
        var urlSearch = "@Html.Raw( @Url.Action("AddDate", "HedgingManagementCounterparty"))";
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: JSON.stringify(value),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                AddDateNew(data.HMC_Detail.DetailCds);
                HideLoadingBox();
            }
        });
    }

    function searchCDS() {
        LoadingProcess();
        var value = {
            Date: $('#HMC_Detail_SCDS').val(),
            Counterparty: $('#HMC_Detail_HMC_ROW_ID').val()
        }
        var urlSearch = "@Html.Raw( @Url.Action("SearchDate", "HedgingManagementCounterparty"))";
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: JSON.stringify(value),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if(data.HMC_Detail.DetailCds != null){
                AddDateSearch(data.HMC_Detail.DetailCds)
                }
                HideLoadingBox();
            }
        });
    }

    function filteractive(){
        debugger;
        if($('#HMC_Detail_HMC_ROW_ID').val() != ""){
            var value = {
                filter: $('#ddlActive option:selected').val(),
                Counterparty: $('#HMC_Detail_HMC_ROW_ID').val()
            }
            var urlSearch = "@Html.Raw( @Url.Action("Filter", "HedgingManagementCounterparty"))";
            $.ajax({
                type: "POST",
                url: urlSearch,
                data: JSON.stringify(value),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if(data.HMC_Detail.DetailCreditLimit != null){
                        AddDatePeriod(data.HMC_Detail.DetailCreditLimit);
                   }
                    HideLoadingBox();
                }
            });
        }
    }

</script>