﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingManagementCounterpartyViewModel
@{
    ViewBag.Title = "Hedging Management Counterparty";
    ViewBag.action_create = true;
    ViewBag.action_search = true;
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Search", "HedgingManagementCounterparty", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CouterParty</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Search.sCouterParty, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CreditRating</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Search.sCreditRating, new SelectList(Model.ddlCreditRating, "Text", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Status</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Search.sStatus, new SelectList(Model.ddlStatus, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add Counterparty", "Index", new { controller = "HedgingManagementCounterparty" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Upload Excel", "UploadExcel", new { controller = "HedgingManagementCounterparty" }, new { @class = "btn btn-default" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-borderedy">
    <thead>
        <tr>
            <th>Counterparty</th>
            <th>Credit Rating</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Update Date</th>
            <th>Update By</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Search == null)
        {

            <tr class="waiting">
                <td colspan="10">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.Search.Detail != null)
            {
                foreach (var v in Model.Search.Detail)
                {
                    <tr>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.CouterPartyName</td>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.CreditRating</td>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.Status</td>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.Reason</td>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.UpdateDate</td>
                        <td class="clickable-row" data-href="@Url.Action("ViewDetail", "HedgingManagementCounterparty", new { cpID = v.HMC_ROW_ID })">@v.UpdateBy</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });
</script>