﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PurchaseOrderViewModel
@{
    ViewBag.Title = "Search Purchase Order";
}

@using (Html.BeginForm("Search", "PurchaseOrder", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Purchase Order Management</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-1">Purchased By:</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(model => model.PurchaseOrder_Search.sCompany, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.PurchaseOrder_Search.sCompany, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "companyDdl" })
                </div>  
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-1">PO Date:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.PurchaseOrder_Search.sPoDate, new { @class = "form-control input-date-picker", @Id = "poDate", @placeholder = "DD/MM/YYYY", @maxlength = "24" })
                </div>                            
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1">Feedstock:</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(model => model.PurchaseOrder_Search.sFeedStock, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.PurchaseOrder_Search.sFeedStock, new SelectList(Model.ddl_feedStock, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "feedStockDdl" })
                </div>
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-1">PO No.:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.PurchaseOrder_Search.sPoNo, htmlAttributes: new { @class = "form-control", @Id = "poNoTextBox" })
                </div>                  
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1">Supplier:</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(model => model.PurchaseOrder_Search.sSupplier, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.PurchaseOrder_Search.sSupplier, new SelectList(Model.ddl_Vendor, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "vendorDdl" })
                </div>
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-1">SO No.:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.PurchaseOrder_Search.sSoNo, htmlAttributes: new { @class = "form-control", @Id = "soNoTextBox" })
                </div> 
            </div>


            <div class="form-group">
                <div class="pull-left">
                    @*@if (ViewBag.action_create)
                    {*@
                        @*@Html.ActionLink("Add", "Create", new { controller = "PurchaseOrder" }, new { @class = "btn btn-success" })*@
                    @*}*@
                </div>
                <div class="pull-right">
                    @*@if (ViewBag.action_search)
                    {*@
                        <input type="button" id="clearButton" class="btn btn-default" value="Clear" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
}

<div class="page-header">
        <h1>Search Result</h1>
    </div>
@*<div style="overflow: auto">*@
    <table id="searchResultTable" class="table table-hover display" cellspacing="0">
        <thead>
            <tr>
                @if (ViewBag.action_view || ViewBag.action_edit)
                {
                <th>Action</th>
                }
                @*<th>Action</th>*@
                <th>No.</th>
                <th>PO No.</th>
                <th>PO Date</th>
                <th>Ref. SO No.</th>
                <th>Purchased By</th>
                <th>Trip No.</th>
                <th>Feedstock</th>
                <th>Supplier</th>
                <th>Incoterms</th>
                <th>Volume</th>
                <th>Volume Unit</th>
                <th>Price</th>
                <th>Total Amount</th>
                <th>Curreny</th>                
                <th>Last Updated</th>
                <th>Updated By</th>                
            </tr>
        </thead>
        <tbody>
            @if (Model.PurchaseOrder_Search == null)
            {
                <tr class="waiting">
                    <td colspan="7">Waiting for search</td>
                </tr>
            }
            else
            {
                if (Model.PurchaseOrder_Search.sSearchData != null)
                {
                    if (Model.PurchaseOrder_Search.sSearchData.Count > 0)
                    {
                        foreach (var v in Model.PurchaseOrder_Search.sSearchData)
                        {
                            string poDateForDisplay = "";
                            try
                            {
                                poDateForDisplay = Convert.ToDateTime(v.dPoDate).ToString("dd/MM/yyyy");
                            }
                            catch(Exception ex)
                            {
                                poDateForDisplay = "N/A";
                            }
                        <tr>
                            @if (ViewBag.action_view || ViewBag.action_edit)
                            {
                            <td nowrap>
                                @if (ViewBag.action_view)
                                {
                                    <a href="@Url.Action("ViewDetail", "PurchaseOrder", new { PoNo = @v.dSapPONO })" title="View Detail">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                    </a>
                                }
                                @if (ViewBag.action_edit)
                                {
                                    <a href="@Url.Action("Edit", "PurchaseOrder", new { PoNo = @v.dSapPONO })" title="Edit">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                    </a>
                                }
                            </td>
                            }
                            @*<td nowrap>
                                <a href="@Url.Action("ViewDetail", "PurchaseOrder", new { PoNo = @v.dSapPONO })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                                <a href="@Url.Action("Edit", "PurchaseOrder", new { PoNo = @v.dSapPONO })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            </td>*@
                            <td>@v.dRunningNo</td>
                            <td>@v.dSapPONO</td>
                            @*<td>@Convert.ToDateTime(v.dPoDate).ToString("dd/MM/yyyy")</td>*@
                            <td>@v.dPoDate</td>
                            <td>@v.dSoNo</td>
                            <td>@v.dCompanyName</td>
                            <td>@v.dTripNo</td>
                            <td nowrap>@v.dFeedstock</td>
                            <td nowrap>@v.dSupplier</td>
                            <td>@v.dIncoterms</td>
                            <td style="text-align:right">@Convert.ToDecimal(@v.dVolume).ToString("#,##0.000")</td>
                            <td>@v.dVolumeUnit</td>
                            <td style="text-align:right">@Convert.ToDecimal(v.dPrice).ToString("#,##0.0000")</td>
                            <td style="text-align:right">@Convert.ToDecimal(v.dTotalAmount).ToString("#,##0.0000")</td>
                            <td>@v.dCurrency</td>
                            <td nowrap>@v.dLastUpdated</td>
                            <td>@v.dUpdatedBy</td>                            
                        </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
  @*</div>*@

<script>
    $(document).ready(function(){
        $('#clearButton').click(function(){
            $('#poNoTextBox').val('');
            $('#soNoTextBox').val('');
            $('#poDate').val('');
            $('#feedStockDdl').val($("#target option:first").val());
            $('#vendorDdl').val($("#target option:first").val());
            $('#companyDdl').val($("#target option:first").val());
        });
    });

    $(function () {
        $('#poDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });
</script>

    <script>
        $(document).ready(function () {
            $('#searchResultTable').DataTable({
                "columnDefs": [
                    //Disble sort on Action Colum
                    {
                        "targets": [6],
                        "orderable": false
                    }
                ]
            });
            setReBody();
        });
    </script>