﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CompanyViewModel

@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Company";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Company";
    }
}

<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">CREATE TYPE :</label>
                <div class="col-sm-4">
                    @Model.cmp_Detail.CreateType
                    @Html.HiddenFor(model => model.cmp_Detail.CreateType)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">COMPANY CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                       
                    @*@if (String.IsNullOrEmpty(Model.cmp_Detail.CreateType))
                    {
                        if (actionName.Contains("Edit")) 
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }
                    }
                    else
                    {*@

                        @if (actionName.ToUpper() == "CREATE")
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4" })
                            
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }

                    @*}*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">COMPANY NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                     
                        @if (Model.cmp_Detail.CreateType == "SAP")
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyName, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.cmp_Detail.CompanyName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "10" })
                        }
                     
                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.cmp_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })                   
                </div>
            </div>
           

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="text-center">
                            @if (ViewBag.action_edit && actionName != "VIEW")
                            {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                            }
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Company" }, htmlAttributes: new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>


            </div>
    </div>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "Company", // controllerName
                             new
                             {                                                     // routeValues
                                 CompanyCode = Model.cmp_Detail.CompanyCode
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Company" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}
<script>
   
    $(function () {
        checkboxToogle();

    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
   }

 
    //System JSON
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

</script>