﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingDealContactViewModel
@{
    ViewBag.Title = "Search";
}

@if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="wrapper-detail">
    <div>
        <h1>Search Deal Contact</h1>
    </div>
    @using (Html.BeginForm("Search", "HedgingDealContact", FormMethod.Post, new { @id = "searchForm", @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Deal No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sTool, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Ticket No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sTool, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Contact No.</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sTool, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Company</label>
                    <div class="col-md-6">
                        <div class="box-date">
                            @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        @Html.RadioButtonFor(m => m.Search.sDealType, "Sell", new { id = "radioSell" })
                        <label style="display:inline" for="radioSell">Sell</label>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.Search.sDealType, "Buy", new { id = "radioBuy" })
                        <label style="display:inline" for="radioBuy">Buy</label>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Counterparty</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Underlying</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">VS</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Tool</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Search.sTool, new SelectList(Model.ddlCounterParty, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-3 control-label">Volume/Month</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Search.sTool, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                </div>
            </div>
        </div>
    }

    <div class="page-header">
        <h1>Search Result</h1>
    </div>    
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="searchResultTable" class="table table-borderedy">
                <thead>
                    <tr>
                        <th>Deal No.</th>                        
                        <th>Ticket No.</th>
                        <th>Contact No.</th>                        
                        <th>Company</th>
                        <th>Sell/Buy</th>
                        <th>Counterparties</th>
                        <th>Underlying</th>
                        <th>Tool</th>
                        <th>Vol/Month</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Search == null || Model.Search.sSearchData == null)
                    {
                        <tr class="waiting">
                            <td colspan="9">Waiting for search</td>
                        </tr>
                    }
                    else
                    {
                        if (Model.Search.sSearchData.Count > 0)
                        {
                            foreach (var v in Model.Search.sSearchData)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>                                    
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="9">Data not found</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#searchResultTable').DataTable({
            searching: false,
            paging: true,
            "bSort": false
        });
    });

    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });

    function resetForm() {
        document.getElementById("searchForm").reset();
        $("#sCreateBy").select2("val", "");
    }

    $(function () {
        $('#sDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });
    });
</script>