﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CompanyViewModel

@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Company";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Company";
    }
}

<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>
<script>
    var countUnit = 0;
</script>
@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">CREATE TYPE :</label>
                <div class="col-sm-4">
                    @Model.cmp_Detail.CreateType
                    @Html.HiddenFor(model => model.cmp_Detail.CreateType)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">COMPANY CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.CompanyCode, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
                <label class="control-label col-sm-2" for="pwd">COMPANY NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                    @if (Model.cmp_Detail.CreateType == "SAP")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.CompanyName, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.CompanyName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "10" })
                    }
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">FULL NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.fullName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "1000" })

                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.fullName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
                <label class="control-label col-sm-2" for="pwd">DESCRIPTION :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.description, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "1000" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.description, htmlAttributes: new { @class = "form-control", @readonly = "readonly"})
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">ACCOUNT NUMBER (PAY) :</label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.accountPay, htmlAttributes: new { @class = "form-control", @maxlength = "13" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.accountPay, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">ACCOUNT NUMBER (RECEIVE) :</label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE" || actionName.ToUpper() == "EDIT")
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.accountReceive, htmlAttributes: new { @class = "form-control", @maxlength = "13" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.cmp_Detail.accountReceive, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">AUTHORIZE FOR HEDGING SYSTEM :</label>
                <div class="col-sm-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Trading book</th>
                                <th>Trade For</th>
                                <th>Fee($/BBL)</th>
                                <th>Fee($/MT)</th>
                            </tr>
                        </thead>
                        <tbody id="UnitArr">
                            @if (Model.cmp_Detail.Company_auth != null && Model.cmp_Detail.Company_auth.Any())
                            {
                                for (int i = 0; i < Model.cmp_Detail.Company_auth.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                        @Html.HiddenFor(model=>model.cmp_Detail.Company_auth[i].RowID,Model.cmp_Detail.Company_auth[i].RowID)
                                        @Html.HiddenFor(model=>model.cmp_Detail.Company_auth[i].Order,Model.cmp_Detail.Company_auth[i].Order)
                                        @Html.LabelFor(model=>model.cmp_Detail.Company_auth[i].Order,Model.cmp_Detail.Company_auth[i].Order)
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.cmp_Detail.Company_auth[i].Trading_book, new SelectList(Model.ddl_CompanyCode, "Value", "Text", (string.IsNullOrEmpty(Model.cmp_Detail.Company_auth[i].Trading_book) ? string.Empty : Model.cmp_Detail.Company_auth[i].Trading_book)), new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(model => model.cmp_Detail.Company_auth[i].Trading_for_flag, new { @id = "Trading_for_flag" , @class = "checkboxBrokerDefault", @checked= "checked", @onchange = "checkedAuthTradFor("+i+");" })
                                            <script>
                                                $(function () {
                                                    setAllStatusToogleSwitch();
                                                });
                                                countUnit++
                                            </script>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.cmp_Detail.Company_auth[i].Fee_bbl, htmlAttributes: new { @class = "form-control", @maxlength = "10" , @onkeypress = "return ValidateNumberDigit(event,this);" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.cmp_Detail.Company_auth[i].Fee_mt, htmlAttributes: new { @class = "form-control", @maxlength = "10" , @onkeypress = "return ValidateNumber(event);" })
                                        </td>
                                       
                                    </tr>
                                }
                            }                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <a class="btn btn-default addUnit" href="javascript:void(0);" role="button"> + </a>
                                    <a class="btn btn-default" href="javascript:void(0);" role="button" onclick="confirmDeletUnitRow()"> - </a>
                                    Add/Delete Company
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.cmp_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName != "VIEW")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                        }                       
                        @Html.ActionLink("BACK", "Search", new { controller = "HedgeCompany" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>


        </div>
    </div>
}


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {                      
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "HedgeCompany", // controllerName
                             new
                             {                                                     // routeValues
                                 CompanyCode = Model.cmp_Detail.CompanyCode
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "HedgeCompany" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}
<script>

    $(function () {
        checkboxToogle();

    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }



        if ($('input:checkbox[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').prop("checked")) {
            $('input:hidden[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("true");
        } else {
            $('input:hidden[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("false");
        }
    }



    //System JSON
    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };


    function ReindexUser() {

        var itemIndex = 0;
        $('#UnitArr tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".RowID"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].RowID');
            this_row.find('input[name$=".Order"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].Order');
            this_row.find('input[name$=".Trading_book"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].Trading_book');
            this_row.find('select[name$=".Trading_for_flag"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].Trading_for_flag');
            this_row.find('input[name$=".Fee_bbl"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].Fee_bbl');
            this_row.find('input[name$=".Fee_mt"]').attr('name', 'cmp_Detail.Company_auth[' + itemIndex + '].Fee_mt');
            itemIndex++;
        });
    }

    // Dynamic Add Broker Row

    $(".addUnit").click(function () {
        $("#UnitArr").append('<tr>' //unit_Detail_User_0__Order
            + '<td>'
            + '<label>' + (countUnit + 1) + '</label>'
            + '<input hidden="hidden" name="cmp_Detail.Company_auth[' + countUnit + '].Order" type="text" value="' + (countUnit + 1) + '"/>'
            + '</td>'

            + '<td>'
            + '<input hidden="hidden" name="cmp_Detail.Company_auth[' + countUnit + '].RowID" type="text" />'
            //+ '<input hidden="hidden" name="cmp_Detail.Company_auth[' + countUnit + '].Trading_book" type="text" />'
            + '<select class="form-control" name="cmp_Detail.Company_auth[' + countUnit + '].Trading_book" >'
            + @foreach (var option in Model.ddl_CompanyCode)
                {
                @:'<option value="@option.Value">@option.Text</option>' +
                }
            + '</select>'
            + '</td>'

            + '<td>' //c
            + '<input type="checkbox" class="checkboxBrokerDefault" id ="Trading_for_flag' + countUnit + '" value="true" checked= "checked" onchange="checkedAuthTradFor(' + countUnit + ');">'
            + '<input hidden="hidden" name="cmp_Detail.Company_auth[' + countUnit + '].Trading_for_flag" type="text" value="true"/>'
            + '</td>'

            + '<td>'
            + '<input type="text" name="cmp_Detail.Company_auth[' + countUnit + '].Fee_bbl" class = "form-control preventEnter" maxlength = "10" onkeypress="return ValidateNumberDigit(event,this);/>'
            + '</td>'

            + '<td>'
            + '<input type="text" name="cmp_Detail.Company_auth[' + countUnit + '].Fee_mt" class = "form-control" maxlength = "10" onkeypress="return ValidateNumber(event);"/>'
            + '</td>'

             + '<td>'
            + '<input type="text" name="cmp_Detail.Company_auth[' + countUnit + '].Fee_mt" class = "form-control" maxlength = "10" onkeypress="return ValidateNumber(event);"/>'
            + '</td>'

            + '</tr>'
        );

    $('#createForm').validator("update");
    $('#createForm').validator("validate");

    setAllStatusToogleSwitch();
    countUnit++;

    ReindexUser();
    });


    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxUserStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxBrokerDefault").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }

    function checkedAuthTradFor(indexOfID) {
        if ($('input:checkbox[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').prop("checked")) {
            $('input:hidden[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("true");
            $('input:checkbox[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("true");
        } else {
            $('input:hidden[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("false");
            $('input:checkbox[name="cmp_Detail.Company_auth[' + indexOfID + '].Trading_for_flag"]').val("false");
        }
    }

    function confirmDeletUnitRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            if ($("#UnitArr > tr").length > 0) {
                $("#UnitArr > tr").last().remove();
                countUnit = $("#UnitArr > tr").length;
                ReindexUser();
            }
        }
    }

    $('.preventEnter').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>