﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CrudePurchaseReportViewModel
@{
    ViewBag.Title = "Crude Purchase Report";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        /*overflow-y: auto;*/
        /* prevent horizontal scrollbar */
        /*overflow-x: hidden;*/
        overflow-y: auto;
        overflow-x: hidden;
        width: 400px;
        font-size: 10pt;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>





@using (Html.BeginForm("Report", "CrudePurchase", FormMethod.Post, new { @class = "form-horizontal", @id = "frm" }))
{
    @Html.HiddenFor(model => model.ExportTo, htmlAttributes: new { @id = "ExportTo" })
    @Html.HiddenFor(model => model.ActionMSG, htmlAttributes: new { @id = "ActionMSG" })
    @Html.HiddenFor(model => model.CrudeJSON, htmlAttributes: new { @id = "CrudeJSON" })    
    @Html.HiddenFor(model => model.FeedStockJSON, htmlAttributes: new { @id = "FeedStockJSON" })
    @Html.HiddenFor(model => model.SupplierJSON, htmlAttributes: new { @id = "SupplierJSON" })

    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Loading period</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.cdp_Search.sLoadingPeriodDate, new { @id = "sLoadingPeriodDate", @class = "form-control input-date-picker sLoadingPeriodDate ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Discharging period</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.cdp_Search.sDischargingPeriodDate, new { @id = "sDischargingPeriodDate", @class = "form-control input-date-picker sDischargingPeriodDate ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Feedstock</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.cdp_Search.sFeedStock, new SelectList(Model.ddlFeedStock, "Value", "Text"), "-- Select --", new { @class = "form-control" })*@
                    @Html.TextBoxFor(model => model.cdp_Search.sFeedStock, new { @class = "form-control tagsFeedStock", @onfocus = "getFeedStockJSON()", @autocomplete = "off", @id = "sFeedStock" })
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.cdp_Search.sCrudeName, new { @class = "form-control tagsCrudeName", @onfocus = "getCrudeNameJSON()", @autocomplete = "off", @id = "sCrudeName" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Supplier</label>
                <div class="col-sm-8">
                    @*@Html.DropDownListFor(model => model.cdp_Search.sFeedStock, new SelectList(Model.ddlFeedStock, "Value", "Text"), "-- Select --", new { @class = "form-control" })*@
                    @Html.TextBoxFor(model => model.cdp_Search.sSupplier, new { @class = "form-control tagsSupplier", @onfocus = "getSupplierJSON()", @autocomplete = "off", @id = "sSupplier" })
                </div>
            </div>
            <div class="col-xs-6">
                @*<label for="inputEmail3" class="col-sm-4 control-label">Name</label>*@
                <div class="col-sm-8">
                    @*@Html.TextBoxFor(model => model.cdp_Search.sCrudeName, new { @class = "form-control tagsCrudeName", @onfocus = "getCrudeNameJSON()", @autocomplete = "off", @id = "sCrudeName" })*@
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            <div class="pull-right">
               
                <input type="submit" class="button btn-primary" onclick="SearchData('');return false;" value="Search" />
                <button type="reset" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                <input type="submit" class="button btn-default" onclick="SearchData('PDF');return false;" value="Export PDF" />
                <input type="submit" class="button btn-default" onclick="SearchData('EXCEL');return false;" value="Export Excel" />
            </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-4 pull-left">
               
            </div>
            <div class="col-md-4 text-center">
                <input type="submit" class="btn btn-primary" onclick="SearchData('');return false;" value="Search" />
                <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
            </div>
            <div class="col-md-4 text-right">
                <div id="dupBtn">
                    <input type="submit" class="btn btn-info" onclick="SearchData('PDF');return false;" value="Export PDF" />
                    <input type="submit" class="btn btn-info" onclick="SearchData('EXCEL');return false;" value="Export Excel" />
                </div>
            </div>
        </div>
    </div>

        <div>
            <h1><span style="float:left; display:inline;">Search Result</span> </h1>
            @*<h3><span style="float:right;display:inline;" id='totalMargin'>Total Margin : <b>@Model.cdp_Search.dMarginTotal</b></span></h3>*@
        </div>
}

<br />
<div class="page-header"></div>


<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>Loading period</th>
            <th>Discharging period</th>
            <th>Name</th>
            <th>Origin</th>
            <th>Feed stock</th>
            <th>For</th>
            <th>Supplier</th>
            <th>Contact person</th>
            <th>Quantity</th>
            <th>Incoterms</th>
            <th>Offer</th>
            <th>Market/ Source</th>
            <th>LP Max Purchase Price</th>
            <th>Benchmark price</th>
            <th>Rank/ Round</th>
            <th>Margin vs LP</th>
            <th>Margin</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.cdp_Search == null)
        {
            <tr class="waiting">
                <td colspan="17">Waiting for search</td>
            </tr>
        }
        else
        {
            if (Model.cdp_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.cdp_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dLoadingPeriodDate</td>
                        <td>@v.dDischargingPeriodDate</td>
                        <td>@v.dCrudeName</td>
                        <td>@v.dOrigin</td>
                        <td>@v.dFeedStock</td>
                        <td>@v.dFor</td>
                        <td>@v.dSupplier</td>
                        <td>@v.dContactPerson</td>
                        <td>@v.dQuantity</td>
                        <td>@v.dIncoterms</td>
                        <td>@v.dOffer</td>
                        <td>@v.dMarketSource</td>
                        <td>@v.dLatestLP</td>
                        <td>@v.dBechmarkPrice</td>
                        <td>@v.dRankRound</td>
                        <td>@v.dMarginLP</td>
                        <td>@v.dMargin</td>
                    </tr>
                }
            }
        }
    </tbody>

    <tfoot>
        <tr>
            @*<th colspan="10" style="text-align:left"></th>*@
            @*<th colspan="2" style="text-align:left"><span id='total'>Total Margin</span></th>
            <th colspan="15"><span style="float:left;" id='totalMargin'>@Model.cdp_Search.dMarginTotal</span></th>*@
        </tr>
    </tfoot>
</table>

<div>
    <h3><span style="float:right;display:inline;" id='totalMargin'>Total Margin : <b>@Model.cdp_Search.dMarginTotal</b></span></h3>
</div>

<script type="text/javascript">

    function getCrudeNameJSON() {
        var availableData = JSON.parse($("#CrudeJSON").val());
        $(".tagsCrudeName").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getFeedStockJSON() {
        var availableData = JSON.parse($("#FeedStockJSON").val());
        $(".tagsFeedStock").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getSupplierJSON() {
        var availableData = JSON.parse($("#SupplierJSON").val());
        $(".tagsSupplier").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.value,
                        value: v.value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    // ExportTo (PDF,EXCEL)
    function SearchData(ExportTo) {
        //alert(ExportTo);
        $('#ActionMSG').val("");
        $('#ExportTo').val(ExportTo);
        $("#frm").submit();
    }

    function resetForm() {
        $("#sLoadingPeriodDate").val("");
        $("#sDischargingPeriodDate").val("");
        $("#sFeedStock").val("");
        $("#sCrudeName").val("");
        $("#sSupplier").val("");
    }

    $(function () {
        @if (!string.IsNullOrEmpty(Model.ActionMSG))
        {
            <text>
            var ActionMSG = "@Html.Raw(Model.ActionMSG)";
            console.log(ActionMSG);
            //window.location.href = ActionMSG;
            var win = window.open(ActionMSG, '_blank');
            var title = "Crude Purchase Report";
            win.onload = function () {
                this.document.write(response);
                this.document.title = title;
            };
            </text>
        }

        $('#sLoadingPeriodDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        $('#sDischargingPeriodDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });

        var table = $('#searchResultTable').DataTable({
            "scrollY": "800px",
            "scrollX": true,
            "scrollCollapse": true,
            "orderable": false,
            "bSort": false
        });

        setTimeout(function () {
            table.columns.adjust().draw();
        }, 100);

    });


</script>

