﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.FormulaPricingViewModel

@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Formula Pricing";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Formula Pricing";
    }
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .full-spectrum .sp-palette {
        max-width: 200px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
    { { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-xs-12">

            <div class="form-group">
                <label class="control-label col-md-2" for="email">FORMULAR NAME :</label>
                <div class="col-md-10">
                    @if (actionName != "VIEW")
                    {
                        @Html.TextBoxFor(model => model.for_Detail.FormulaName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "-1" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.for_Detail.FormulaName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "-1", @readonly = "readonly" })
                    }

                    @Html.HiddenFor(model => model.for_Detail.FormulaCode)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="email">MATERIAL :<span style="color:red">*</span></label>
                <div class="col-md-4">
                    @if (actionName != "VIEW")
                    {
                        @Html.DropDownListFor(model => model.for_Detail.Material, new SelectList(Model.ddl_Material, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.for_Detail.Material, new SelectList(Model.ddl_Material, "Value", "Text"), "-- Select --", new { @class = "form-control", @readonly = "readonly" })
                    }

                </div>

                <label class="control-label col-sm-2" for="pwd">PRICE STATUS :<span style="color:red">*</span></label>
                <div class="col-md-4">
                    @if (actionName != "VIEW")
                    {
                        @Html.DropDownListFor(model => model.for_Detail.PriceStatus, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.for_Detail.PriceStatus, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), "-- Select --", new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>


            <div class="form-group">
                <div class="pull-left">
                    @if (actionName != "VIEW")
                    {
                        <button type="button" id="btnShowFOVPopup" class="btn btn-success">Add Price Variable</button>
                    }
                </div>
                <div class="pull-right">
                    @if (actionName != "VIEW")
                    {
                        <button type="button" id="btnShowFOPPopup" class="btn btn-primary">Add Price Formula</button>
                    }

                </div>
            </div>


            <div class="form-group">
                <table id="searchResultTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Pricing Structure</th>
                            <th>Variable Code</th>
                            <th>Variable Description</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="tbData">
                        @if (Model.for_Detail.dDetailVariable == null)
                        {
                            @*
                                <tr class="waiting">
                                    <td colspan="4">not found data</td>
                                </tr>*@
                        }
                        else
                        {
                            var icount = Model.for_Detail.dDetailVariable.Count;
                            if (Model.for_Detail.dDetailVariable.Count > 0)
                            {
                                for (int i = 0; i < icount; i++)
                                {
                                    <tr class='trfop'>
                                        <td>
                                            @Html.TextBoxFor(model => Model.for_Detail.dDetailVariable[i].PriceStructure, htmlAttributes: new { @class = "form-control", @readonly= "readonly" })
                                        </td>
                                        <td>@Html.TextBoxFor(model => Model.for_Detail.dDetailVariable[i].VariableCode, new { @class = "form-control", @readonly = "readonly" })</td> @*@id = "VariableCode",*@
                                        <td>
                                            @Html.TextBoxFor(model => Model.for_Detail.dDetailVariable[i].VariableDesc, new { @class = "form-control", @readonly = "readonly" }) @*@id = "VariableDesc",*@
                                            @Html.HiddenFor(model => Model.for_Detail.dDetailVariable[i].VariableDescKey, htmlAttributes: new { @id = "hVariableDescKey" })
                                        </td>
                                        <td width="100px">
                                            @*@Html.HiddenFor(model => Model.for_Detail.dDetailVariable[i].fos_code, htmlAttributes: new { @id = "hfos_code" })
                                                @Html.HiddenFor(model => Model.for_Detail.dDetailVariable[i].PriceStructureCode, htmlAttributes: new { @id = "hPriceSTTCode" })*@
                                            @if (actionName != "VIEW")
                                            {
                                                <a onclick="show_FOPPopup_edit('@Model.for_Detail.dDetailVariable[i].fos_code', '@Model.for_Detail.dDetailVariable[i].VariableDesc', this);" href="#" tit title="View Detail">
                                                    <img alt="View" src="@Url.Content(" ../../Content/images/details_open.png")">
                                                </a>
                                                <a onclick="delRowFOP(this)" href="#" tit title="Delete">
                                                    <img alt="Delete" src="@Url.Content(" ../../Content/images/details_close.png")">
                                                </a>
                                            }

                                        </td>
                                    </tr>
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        @if (actionName != "VIEW")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                        }


                        @Html.ActionLink("BACK", "Search", new { controller = "FormulaPricing" }, htmlAttributes: new { @class = "btn btn-default" })

                    </div>
                </div>
            </div>



        </div>
    </div>
}

<!-- Formula Variable Popup -->
@using (Html.BeginForm("", "", FormMethod.Get, new Dictionary<string, object>
        { { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{
    <div class="modal fade" id="FOVPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width:80%; height:550px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>FORMULA VARIABLES</h2>
                </div>
                <div class="modal-body ">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="form-group">
                                <label class="control-label col-md-2" for="email">Formula Variable Name: :</label>
                                <div class="col-md-10">
                                    @Html.HiddenFor(model => model.for_Detail.dDetailVariable[0].PriceStructure, htmlAttributes: new { @id = "htext" })
                                    @Html.TextBoxFor(model => model.for_Detail.dDetailVariable[0].Test, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "-1" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="email">Price Type :</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.for_Detail.dDetailVariable[0].PriceStructure, new SelectList(Model.ddl_PriceType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2"></div>
                                <label class="control-label col-md-2 text-right" for="email">Product Code :</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.for_Detail.dDetailVariable[0].PriceStructure, new SelectList(Model.ddl_PriceMOPS, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pull-left">
                                    <button type="button" id="btnFOVAdd" onclick="addRowFOV()" class="btn btn-success">Add</button>
                                </div>
                                <div class="pull-right">
                                    <button type="button" id="btnFOVSearch" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="searchFOVTable" style="display:none;" class="table table-hover display" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Formula Pricing Type</th>
                                                    <th>Variable Code</th>
                                                    <th>Variable Description</th>
                                                    <th>ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbFOV"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    @*@Html.ActionLink("Close", "Search", new { controller = "Company" }, htmlAttributes: new { @class = "btn btn-default" })*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}



@using (Html.BeginForm("", "", FormMethod.Get, new Dictionary<string, object>
            { { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
            {
            <!-- Formula Pricing Popup -->
    <div class="modal fade" id="FOPPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width:80%; height:550px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>FORMULA SAP Pricing</h2>
                </div>
                <div class="modal-body ">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="email">Price Structure :</label>
                                <div class="col-md-10">
                                    <input type="hidden" id="hrowindex" />
                                    <input type="hidden" id="hfop_code" />
                                    <input type="hidden" id="htext" />
                                    @Html.DropDownList("ddlPriceStructure", new SelectList(Model.ddl_PriceStructure, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlPriceStructure" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="email">Variable :</label>
                                <div class="col-md-4 text-center">
                                    <table>
                                        <tr>
                                            <td>
                                                @Html.DropDownList("ddlPriceVariable", new SelectList(Model.ddl_PriceVariable, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlPriceVariable" })
                                            </td>
                                            <td><button type="button" onclick="btnAddPriceVariable_click()" class="btn btn-success">Add</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table>
                                        <tr>

                                            <td>
                                                <select class="form-control" id="ddlSymbol" style="width:80px">
                                                    <option value="(">(</option>
                                                    <option value=")">)</option>
                                                    <option value="+" selected="selected">+</option>
                                                    <option value="-">-</option>
                                                    <option value="*">*</option>
                                                    <option value="/">/</option>
                                                </select>
                                            </td>
                                            <td><button type="button" onclick="btnAddSymbol_click()" class="btn btn-success">Add</button></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-3">
                                    <table>
                                        <tr>
                                            <td class="col-md-3"><label class="control-label  ">Number :</label></td>
                                            <td><input type="text" id="txtNum" class="form-control" /></td>
                                            <td><button type="button" onclick="btnAddNum_click()" class="btn btn-success">Add</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">&nbsp;</div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" id="txtFormulaText" class="form-control" readonly="readonly" />
                                        <input type="hidden" id="hFormulaTextKey" />
                                        <input type="hidden" id="hFormulaCode" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" onclick="btnDeleteFormulaText_click()" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <button type="button" class="btn btn-primary" onclick="FOPConfirm()">Confirm</button>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    @*@Html.ActionLink("Close", "Search", new { controller = "Company" }, htmlAttributes: new { @class = "btn btn-default" })*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}







<script>

    $(document).ready(function () {

        //$('#searchResultTable').DataTable({
        //    "columnDefs": [
        //        //Disble sort on Action Colum
        //        {
        //            "targets": [3],
        //            "orderable": false
        //        }
        //    ]
        //});

        //$('#searchFOVTable').DataTable({
        //    "columnDefs": [
        //        //Disble sort on Action Colum
        //        {
        //            "targets": [3],
        //            "orderable": false
        //        }
        //    ]
        //});

    });

    $('#btnShowFOVPopup').click(function () {
        delAllRowsFOV();
        show_FOVSearchArea(true);
        //show_FOVInputArea(false);

        //var obj = $("#searchFOVTable_wrapper");
        //if (obj != null) {
        //    obj.css({ 'display': 'none' });
        //}

        //var tlbSearchFOV = $("#searchFOVTable");
        //tlbSearchFOV.css({ 'display': 'none' });

        $('#FOVPopup').modal({ backdrop: 'static', keyboard: false });
        $('#FOVPopup').modal('show');
    });

    function show_FOPPopup_edit(fos_code, vdesc, obj) {

        var rowindex = $(obj).closest('tr').index() + 1;

        $("#hrowindex").val(rowindex);

        //var table = document.getElementById("searchResultTable");

        //var row = table.rows[rowindex];
        var row = $(obj).closest("tr");
        var selPriceStructure = row.find("input[name$='PriceStructure']").val(); //row.cells[0].getElementsByTagName('input')[0].value;
        var selPriceValue = row.find("input[name$='VariableCode']").val(); //row.cells[1].getElementsByTagName('input')[0].value;
        var selPriceDesc = row.find("input[name$='VariableDesc']").val(); //row.cells[2].getElementsByTagName('input')[0].value;
        var selPriceDescKey = row.find("input[name$='VariableDescKey']").val(); // row.cells[2].getElementsByTagName('input')[1].value;

        $("#hfop_code").val(fos_code);

        $("#ddlPriceStructure").val(selPriceStructure);

        $("#txtFormulaText").val(selPriceDesc);
        $("#htext").val(selPriceValue);

        $("#hFormulaTextKey").val(selPriceDescKey);
        $("#txtNum").val("");

        delAllRowsFOV();

        $('#FOPPopup').modal({ backdrop: 'static', keyboard: false });
        $('#FOPPopup').modal('show');

    }

    function show_FOPPopup_new() {
        $("#ddlPriceStructure").val("");
        $("#hrowindex").val("");
        $("#txtFormulaText").val("");
        $("#htext").val("");
        $("#ddlPriceVariable").val("");
        $("#txtNum").val("");
        $("#hFormulaTextKey").val("");

        delAllRowsFOV();

        $('#FOPPopup').modal({ backdrop: 'static', keyboard: false });
        $('#FOPPopup').modal('show');
    }

    $('#btnShowFOPPopup').click(function () {
        show_FOPPopup_new();
    });


    function btnDeleteFormulaText_click() {
        var textKey = $("#hFormulaTextKey").val();
        if (textKey == "")
            return;

        //alert(textKey);

        var value = "";
        var arrKey = textKey.split(";");
        var icount = arrKey.length;
        if (icount == 1) {
            $("#hFormulaTextKey").val("");
            $("#txtFormulaText").val("");
            $("#htext").val("");
            return;
        }

        var arrVal = $("#htext").val().split(" ");

        var value2 = "";
        for (var i = 0; i < arrKey.length - 1; i++) {
            if (value != "") {
                value += ";";
                value2 += " ";
            }

            value2 += arrVal[i];
            value += arrKey[i];
        }

        $("#hFormulaTextKey").val(value);
        $("#txtFormulaText").val(value.replace(/;/g, ' '));
        $("#htext").val(value2);

    }

    function btnAddNum_click() {
        addFormulaText($("#txtNum").val());
        addFormulaValue($("#txtNum").val());
    }

    function btnAddSymbol_click() {
        addFormulaText($("#ddlSymbol").val());
        addFormulaValue($("#ddlSymbol").val());
    }

    function btnAddPriceVariable_click() {
        addFormulaText($("#ddlPriceVariable option:selected").text());
        addFormulaValue($("#ddlPriceVariable option:selected").val());
    }

    function addFormulaText(txt) {

        if ($("#hFormulaTextKey").val() != "")
            txt = ";" + txt;

        var value = $("#hFormulaTextKey").val() + txt;
        $("#hFormulaTextKey").val(value);


        $("#txtFormulaText").val(value.replace(/;/g, ' '));

    }

    function addFormulaValue(val) {
        if ($("#htext").val() != "")
            val = " " + val;

        $("#htext").val($("#htext").val() + val);
    }

    $('#btnFOVSearch').click(function () {

        show_FOVSearchArea(true);

    });

    $('#btnFOVAdd').click(function () {

        //show_FOVSearchArea(false);

    });

    function FOPConfirm() {
        $('#FOPPopup').modal('hide');

        var rowindex = $("#hrowindex").val();

        var f_structure = $("#ddlPriceStructure option:selected").text();
        var f_val = $("#htext").val();
        //alert(f_val);
        var f_text = $("#txtFormulaText").val();
        var f_text_key = $("#hFormulaTextKey").val();
        //alert(f_text_key);


        if (rowindex == "") {
            var i = $("#tbData tr").length;
            var newRow = "<tr class='trfop' id='trfop_" + i + "'>";
            newRow += '<td><input  readonly= "readonly"  class="form-control"  maxlength="-1" id="for_Detail_dDetailVariable_' + i + '__PriceStructure" name="for_Detail.dDetailVariable[' + i + '].PriceStructure" required="required" type="text" value="' + f_structure + '"></td>';
            newRow += '<td><input  readonly= "readonly"   class="form-control" id="for_Detail_dDetailVariable_' + i + '__VariableCode"  name="for_Detail.dDetailVariable[' + i + '].VariableCode" type="text" value="' + f_val + '"></td>';
            newRow += '<td>';
            newRow += '     <input  readonly= "readonly"   class="form-control" id="for_Detail_dDetailVariable_' + i + '__VariableDesc"  name="for_Detail.dDetailVariable[' + i + '].VariableDesc" type="text" value="' + f_text + '"> ';
            newRow += '     <input id="for_Detail_dDetailVariable_' + i + '__VariableDescKey" name="for_Detail.dDetailVariable[0].VariableDescKey" type="hidden" value="' + f_text_key + '"> ';
            newRow += '</td>';
            newRow += '<td><input type="image" onclick="show_FOPPopup_edit(\'' + f_structure + '\', \'' + f_text + '\', this); return false;" src="../../Content/images/details_open.png" >';
            newRow += '<input type="image" src="../../Content/images/details_close.png" onclick="delRowFOP(this);return false;"></td>';
            newRow += "</tr>";
            // newRow = newRow.replace(/0/g, i);

            $("#tbData").append(newRow);

        } else {
              
            alert(rowindex);
            var row1 = $("#searchResultTable tr");
            alert(row1[rowindex]);

            //var row2 = $("#searchResultTable").find("tr[name$='trfop_" + i + "']");
            //alert(row2);
            //alert(row2.find("input[name$='PriceStructure']").val());

            var table = document.getElementById("searchResultTable");
            var row = table.rows[rowindex];

            row.cells[0].getElementsByTagName('input')[0].value = f_structure;
            row.cells[1].getElementsByTagName('input')[0].value = f_val;
            row.cells[2].getElementsByTagName('input')[0].value = f_text;
            row.cells[2].getElementsByTagName('input')[1].value = f_text_key;

        }

    }

    function delAllRowsFOV() {
        var irow = $("#tbFOV > tr").length;
        for (var i = 0; i < irow; i++) {
            $("#tbFOV > tr").last().remove();
            $("#tbFOV > div").last().remove();
        }
    }



    function delRowFOP(obj) {
        $(obj).parent().parent().remove();

        var j = 0;
        $('.trfop').each(function () {
            var newRow = $(this).html();

            newRow = newRow.replace(/for_Detail.dDetailVariable\[(\d+)/g, "for_Detail.dDetailVariable[" + j);
            newRow = newRow.replace(/for_Detail_dDetailVariable_(\d+)/g, "for_Detail_dDetailVariable_" + j);

            $(this).html(newRow);
            $(this).attr("id", "trfop_" + j);
            j++;
        });

        //$("#trfop_" + row).remove();
    }

    function delRowFOV(row) {
        $("#trfov_" + row).remove();
    }

    function addRowFOV() {
        var i = $("#tbFOV tr").length;
        var newRow = "<tr id='trfov_" + i + "'>";
        newRow += '<td><select class="form-control lp_pricetype" id="chi_cargo_detail_chi_load_ports_0__crude" name="chi_cargo_detail.chi_load_ports[0].pricetype"></select></td>';
        newRow += '<td><input type = "text" class="form-control lp_vcode" id="chi_cargo_detail_chi_load_ports_0__crude" name="chi_cargo_detail.chi_load_ports[0].pricevcode"></td>';
        newRow += '<td><input class="form-control lp_date" id="chi_cargo_detail_chi_load_ports_0__date" name="chi_cargo_detail.chi_load_ports[0].date" type="text" value=""></td>';
        newRow += '<td><input type="image" src="../../Web/Images/icon-floppy.gif" onclick="return false;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="image" src="../../Web/Images/icon-delete.gif" onclick="delRowFOV(' + i + ');return false;"></td>';
        newRow += "</tr>";
        newRow = newRow.replace(/0/g, i);
        $("#tbFOV").append(newRow);
    }


    function show_FOVSearchArea(sts) {
        var tlbSearchFOV = $("#searchFOVTable");
        var obj2 = $("#searchFOVTable_wrapper");

        if (sts) {

            if (tlbSearchFOV)
                tlbSearchFOV.css({ 'display': '' });

            if (obj2 != null)
                obj2.css({ 'display': '' });

        } else {
            if (tlbSearchFOV)
                tlbSearchFOV.css({ 'display': 'none' });

            if (obj2 != null)
                obj2.css({ 'display': 'none' });
        }

    }





</script>
