﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.FormulaPricingViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@using (Html.BeginForm("Search", "FormulaPricing", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>FORMULA Search</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">FORMULAR NAME :</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.for_Search.sFormulaName, htmlAttributes: new { @class = "form-control company-name-json", @onfocus = "getCompanyNameJSON()", @autocomplete = "off" })
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">MATERIAL :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.for_Search.sMaterial, new SelectList(Model.ddl_Material, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
                <label class="col-md-2 control-label">PRICE STATUS :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.for_Search.sPriceStatus, new SelectList(Model.ddl_PriceStatus, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>


        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                
            }
            @Html.ActionLink("Add", "Create", new { controller = "FormulaPricing" }, new { @class = "btn btn-success" })
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {

            }
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>

<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>FORMULA NAME</th>
            <th>MATERIAL</th>
            <th>PRICE STATUS</th> 
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.for_Search == null)
        {
            <tr class="waiting">
                <td colspan="5">Waiting for search</td>
            </tr>
        }
        else
        {
            if (Model.for_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.for_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dFormulaName</td>
                        <td>@v.dMaterial</td> 
                        <td>@v.dPriceStatus</td>
                        <td width="100px">
                            <a href="@Url.Action("View", "FormulaPricing", new { fovcode = @v.dFormulaCode  })" title="View Detail">
                                <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                            </a>

                            <a href="@Url.Action("Edit", "FormulaPricing", new { fovcode = @v.dFormulaCode })" title="Edit">
                                <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                            </a>

                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script>
    //$(function () {
    //    $('#date-range-start').dateRangePicker(
    //    {
    //        startOfWeek: 'monday',
    //        format: 'DD/MM/YYYY',
    //    });

    //});

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [3],
                    "orderable": false
                }
            ]
        });
    });
     


</script>
