﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CrudePurchaseReport.aspx.cs" Inherits="ProjectCPAIEngine.Web.Report.CrudePurchaseReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="showErrMag" runat="server" Text="Label"></asp:Label>
    <div>
    
    </div>
    </form>
</body>
</html>
