﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PCFPurchaseEntryViewModel_SearchData
@{
    ViewBag.Title = "Change PCF Purchase Entry";

    string calVolumeUnit = String.IsNullOrEmpty(Model.VolumeUnit) ? "BBL" : Model.VolumeUnit;
    string calInvoiceFigure = String.IsNullOrEmpty(Model.InvoiceFigure) ? "BL" : Model.InvoiceFigure;
    string calPriceUnit = String.IsNullOrEmpty(Model.PriceUnit) ? "THB" : Model.PriceUnit;
    bool showPanel = true;
    bool showDebugPanel = false;
    string defaultReverseDate = "";

    decimal totalBlBbl = 0;
    decimal totalBlMt = 0;
    decimal totalBlL30 = 0;
    decimal totalGrBbl = 0;
    decimal totalGrMt = 0;
    decimal totalGrL30 = 0;
    decimal totalFobAmountUsd = 0;
    decimal totalFobAmountThb = 0;
    decimal totalFreighAmountUsd = 0;
    decimal totalFreighAmountThb = 0;
    decimal totalCnFAmountUsd = 0;
    decimal totalCnFAmountThb = 0;
    decimal totalVat = 0;
    decimal totalTotalAmountUsd = 0;
    decimal totalTotalAmountThb = 0;

    if (Model.sOutturn != null)
    {
        var validRecord = Model.sOutturn.Where(x => x.Valid);
        if (validRecord.Count() > 0)
        {
            System.Globalization.CultureInfo cultureinfo = new System.Globalization.CultureInfo("en-US");
            showPanel = true;
            string postingDateMonth = (DateTime.ParseExact(validRecord.ToList()[0].PostingDate, "dd/MM/yyyy", cultureinfo).Month + 1).ToString(cultureinfo);
            string postingDateYear = DateTime.ParseExact(validRecord.ToList()[0].PostingDate, "dd/MM/yyyy", cultureinfo).Year.ToString(cultureinfo);
            postingDateMonth = (Convert.ToInt32(postingDateMonth) < 10) ? "0" + postingDateMonth : postingDateMonth;
            defaultReverseDate = "01/" + DateTime.Now.Month.ToString(cultureinfo).PadLeft(2,'0') + "/" + DateTime.Now.Year.ToString(cultureinfo);
        }
        else
        {
            showPanel = false;
        }
    }
    else
    {
        showPanel = false;
    }

    if (ViewBag.Error == true)
    {
        if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <script>
                bootbox.alert("Unexpected error occurred. Please contact the administrator.");
            </script>
        }
        else
        {
            <script>
                bootbox.alert('@ViewBag.ErrorMessage');
            </script>
        }
    }

    if (ViewBag.Debugmode == true)
    {
        showDebugPanel = true;
    }

    if (ViewBag.SaveCompleted == true)
    {
        <script>
            bootbox.alert('@ViewBag.SaveCompletedMessage');
        </script>
    }

    if (ViewBag.SendToSapCompleted == true)
    {
        <script>
            bootbox.alert('@ViewBag.SendToSapCompletedMessage');
        </script>
    }

    if (ViewBag.ErrorMissingChangeData == true)
    {
        <script>
            bootbox.alert('Please fill all values for Chage Data');
        </script>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change PCF Purchase Entry</title>
</head>
<body>
    <div>
        <!-- Debug Panel -->
        @if (showDebugPanel)
        {
            <div>
                @ViewBag.DebugMessageShort <br />
                @ViewBag.DebugMessageFull
            </div>
            <br /><br />
        }

        <!-- Header Table -->
        <div>
            <br />
            @using (Html.BeginForm("BackToSearch", "PCFPurchaseEntry", FormMethod.Get, new { @class = "form-horizontal", SimulateROE = false }))
            {
                <table id="tblHeader" class="table">
                    <thead>
                        <tr>
                            <th>Trip No.</th>
                            <th>Vessel</th>
                            <th>PO No.</th>
                            <th>Crude/Feedstock/Product</th>
                            <th>Supplier</th>
                            <th>QTY (KBBL)</th>
                            <th>QTY (KMT)</th>
                            <th>Purchase Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.TripNo
                                @Html.HiddenFor(x => x.TripNo)
                            </td>
                            <td>
                                @Model.Vessel
                                @Html.HiddenFor(x => x.Vessel)
                            </td>
                            <td>
                                @Model.PoNo
                            </td>
                            <td>
                                @Model.Product
                            </td>
                            <td>
                                @Model.Supplier
                            </td>
                            <td>
                                @Model.VolumeBBL
                            </td>
                            <td>
                                @Model.VolumeMT
                            </td>
                            <td>
                                @Model.PurchaseType
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
            }
        </div>

        <!-- Change Data-->
        <div>
            @using (Html.BeginForm("ChangeData", "PCFPurchaseEntry", FormMethod.Post, new { @class = "form-horizontal", SimulateROE = false }))
            {
                if (showPanel)
                {
                    <div>
                        <h2>Change Data for PCF Purchase Entry</h2>
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">B/L Date:</label>
                                        <div class="col-xs-6">
                                            <input type="text" placeholder="DD/MM/YYYY" class="form-control input-date-picker" id="txtBlDate" name="txtBlDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        Data Name: <input type="radio" id="SimulateDataName" name="SimulateDataName" value="FOB Price" checked="checked" />FOB Price&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="SimulateDataName" name="SimulateDataName" value="Freight Price" />Freight Price&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="SimulateDataName" name="SimulateDataName" value="C & F Price" />C & F Price&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="SimulateDataName" name="SimulateDataName" value="ROE" />ROE
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Value:</label>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" name="SimulateValue" id="SimulateValue" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <input type="submit" id="applyButton" class="btn btn-primary" value="APPLY" />
                        </div>
                        @Html.HiddenFor(model => model.TripNo)
                        @Html.HiddenFor(model => model.Vessel)
                        @Html.HiddenFor(model => model.PoNo)
                        @Html.HiddenFor(model => model.Product)
                        @Html.HiddenFor(model => model.Supplier)
                        @Html.HiddenFor(model => model.VolumeBBL)
                        @Html.HiddenFor(model => model.VolumeMT)
                        @Html.HiddenFor(model => model.PurchaseType)
                        @Html.HiddenFor(model => model.CompanyCode)
                        @Html.HiddenFor(model => model.MetNum)
                        @Html.HiddenFor(model => model.MatItemNo)
                        @Html.Hidden("SimulateROE", false)

                        @for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                        {
                            if (Model.sOutturn[idx].Valid)
                            {
                                @Html.HiddenFor(model => model.sOutturn[idx].FOBPrice)
                                @Html.HiddenFor(model => model.sOutturn[idx].FreightPrice)
                                @Html.HiddenFor(model => model.sOutturn[idx].ROE)
                            }
                        }
                    </div>
                }
            }
            <br /><br />
        </div>

        <!-- Main Section -->
        <div>
            @using (Html.BeginForm("ManagePE", "PCFPurchaseEntry", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <!-- Calculating PCF Purchase Entry -->
                <div>
                    @if (showPanel)
                    {
                        <div>
                            <h2>For Calculating PCF Purchase Entry</h2>
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            Volume Unit:
                                            @if (calVolumeUnit.ToLower() == "bbl")
                                            {
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" checked="checked" /><text>BBL&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" /><text>MT&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" /><text>L30</text>
                                            }
                                            else if (calVolumeUnit.ToLower() == "mt")
                                            {
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" /><text>BBL&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" checked="checked" /><text>MT&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" /><text>L30</text>
                                            }
                                            else
                                            {
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="BBL" /><text>BBL&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="MT" /><text>MT&nbsp;</text>
                                                <input type="radio" id="volumeUnit" name="volumeUnit" value="L30" checked="checked" /><text>L30</text>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            Invoice Figure:
                                            @if (calInvoiceFigure.ToLower() == "bl")
                                            {
                                                <input type="radio" id="inputFigure" name="invoiceFigure" value="BL" /><text>B/L&nbsp;</text>
                                                <input type="radio" id="inputFigure" name="invoiceFigure" value="Outturn" checked="checked"/><text>Outturn</text>
                                            }
                                            else
                                            {
                                                <input type="radio" id="inputFigure" name="invoiceFigure" value="BL" /><text>B/L&nbsp;</text>
                                                <input type="radio" id="inputFigure" name="invoiceFigure" value="Outturn" checked="checked" /><text>Outturn</text>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            Price Unit:
                                            @if (calPriceUnit.ToLower() == "thb")
                                            {
                                                <input type="radio" id="priceUnit" name="priceUnit" value="THB" checked="checked" /><text>THB&nbsp;</text>
                                                <input type="radio" id="priceUnit" name="priceUnit" value="USD" /><text>USD</text>
                                            }
                                            else
                                            {
                                                <input type="radio" id="priceUnit" name="priceUnit" value="THB" /><text>THB&nbsp;</text>
                                                <input type="radio" id="priceUnit" name="priceUnit" value="USD" checked="checked" /><text>USD</text>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <input type="submit" class="btn btn-primary" value="Calculate" name="command" />
                            </div>
                        </div>
                    }
                </div>

                <!-- PCF Purchase Entry List -->
                <div>
                    @if (showPanel)
                    {<br /><br /><br />}
                    @*<div style="overflow:auto">*@
                    <div style="">
                        <h2>PCF Purchase Entry</h2>
                        <div>
                            <table id="priceOffer" class="table">
                                <thead>
                                    <tr>
                                        <th rowspan="2"><input id="chkAll" name="chkAll" type="checkbox" onclick="ChkAllClick();" /></th>
                                        <th rowspan="2">No.</th>
                                        <th colspan="4">Bill of Lading (B/L)</th>
                                        <th colspan="4">Goods Received - Outturn</th>
                                        <th rowspan="2">FOB Price</th>
                                        <th rowspan="2">Freight Price</th>
                                        <th rowspan="2">C & F Price</th>
                                        <th rowspan="2">ROE</th>
                                        <th rowspan="2">FOB Amount USD</th>
                                        <th rowspan="2">FOB Amount THB</th>
                                        <th rowspan="2">Freight Amount USD</th>
                                        <th rowspan="2">Freight Amount THB</th>
                                        <th rowspan="2">C & F Amount USD</th>
                                        <th rowspan="2">C & F Amount THB</th>
                                        <th rowspan="2">C & F VAT 7% THB</th>
                                        <th rowspan="2">C & F Total Amount USD</th>
                                        <th rowspan="2">C & F Total Amount THB</th>
                                        <th rowspan="2">SAP FI Doc.</th>
                                        <th rowspan="2">SAP FI Doc. Status</th>
                                        <th rowspan="2">Last Updated</th>
                                        <th rowspan="2">Updated By</th>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <th>Volume (BBL)</th>
                                        <th>Volume (MT)</th>
                                        <th>Volume (L30)</th>
                                        <th>Date</th>
                                        <th>Volume (BBL)</th>
                                        <th>Volume (MT)</th>
                                        <th>Volume (L30)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.sOutturn != null)
                                    {
                                        for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                                        {
                                            <tr>
                                                <td>
                                                    @if (Model.sOutturn[idx].Valid)
                                                    {
                                                        if ((Model.sOutturn[idx].SAPFIDocStatus ?? "").Contains("A"))
                                                        {
                                                            @Html.CheckBoxFor(x => x.sOutturn[idx].Select)
                                                        }
                                                        else if ((Model.sOutturn[idx].SAPFIDocStatus ?? "").Contains("C"))
                                                        {
                                                            @Html.CheckBoxFor(x => x.sOutturn[idx].Select, new { @readonly = "readonly", @disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(x => x.sOutturn[idx].Select)
                                                        }

                                                    }
                                                    @Html.HiddenFor(model => model.sOutturn[idx].Valid)
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].ItemNo)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].ItemNo)
                                                </td>
                                                <td name="txtBlDate">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].RunningDate)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].RunningDate)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].BLDate)
                                                </td>
                                                <td name="txtBlVolumeBBL">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyBbl)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].BlQtyBbl)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalBlBbl += Convert.ToDecimal(Model.sOutturn[idx].BlQtyBbl);
                                                        }
                                                    }
                                                </td>
                                                <td name="txtBlVolumeMT">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMt)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].BlQtyMt)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalBlMt += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMt);
                                                        }
                                                    }
                                                </td>
                                                <td name="txtBlVolumeL30">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMl)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].BlQtyMl)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalBlL30 += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMl);
                                                        }
                                                    }
                                                </td>
                                                <td name="txtPostingDate">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].PostingDate)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].PostingDate)
                                                </td>
                                                <td name="txtGRVolumeBBL">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyBbl)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].QtyBbl)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalGrBbl += Convert.ToDecimal(Model.sOutturn[idx].QtyBbl);
                                                        }
                                                    }
                                                </td>
                                                <td name="txtGRVolumeMT">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMt)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].QtyMt)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalGrMt += Convert.ToDecimal(Model.sOutturn[idx].QtyMt);
                                                        }
                                                    }
                                                </td>
                                                <td name="txtGRVolumeL30">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMl)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].QtyMl)

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalGrL30 += Convert.ToDecimal(Model.sOutturn[idx].QtyMl);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model.sOutturn[idx].Valid)
                                                    {
                                                        @Html.TextBoxFor(model => model.sOutturn[idx].FOBPrice)
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model.sOutturn[idx].Valid)
                                                    {
                                                        @Html.TextBoxFor(model => model.sOutturn[idx].FreightPrice)
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model.sOutturn[idx].Valid)
                                                    {
                                                        string idCnFPrice = "sOutturn_"+ idx + "__CnFPrice";
                                                        string nameCnFPrice = "sOutturn[" + idx + "].CnFPrice";
                                                        <input id="@idCnFPrice" name="@nameCnFPrice" type="text" value="@Model.sOutturn[idx].CnFPrice">
                                                        @*@Html.TextBoxFor(model => model.sOutturn[idx].CnFPrice, Model.sOutturn[idx].CnFPrice)*@
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model.sOutturn[idx].Valid)
                                                    {
                                                        @Html.TextBoxFor(model => model.sOutturn[idx].ROE)
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountUSD)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].FOBAmountUSD, new { @Value = Model.sOutturn[idx].FOBAmountUSD })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalFobAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].FOBAmountUSD);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountTHB)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].FOBAmountTHB, new { @Value = Model.sOutturn[idx].FOBAmountTHB })
                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalFobAmountThb += Convert.ToDecimal(Model.sOutturn[idx].FOBAmountTHB);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountUSD)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].FreightAmountUSD, new { @Value = Model.sOutturn[idx].FreightAmountUSD })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalFreighAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].FreightAmountUSD);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountTHB)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].FreightAmountTHB, new { @Value = Model.sOutturn[idx].FreightAmountTHB })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalFreighAmountThb += Convert.ToDecimal(Model.sOutturn[idx].FreightAmountTHB);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountUSD)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].CnFAmountUSD, new { @Value = Model.sOutturn[idx].CnFAmountUSD })
                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalCnFAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].CnFAmountUSD);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountTHB)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].CnFAmountTHB, new { @Value = Model.sOutturn[idx].CnFAmountTHB })


                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalCnFAmountThb += Convert.ToDecimal(Model.sOutturn[idx].CnFAmountTHB);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFVat7)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].CnFVat7, new { @Value = Model.sOutturn[idx].CnFVat7 })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalVat += Convert.ToDecimal(Model.sOutturn[idx].CnFVat7);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountUSD)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].CnFTotalAmountUSD, new { @Value = Model.sOutturn[idx].CnFTotalAmountUSD })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalTotalAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].CnFTotalAmountUSD);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountTHB)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].CnFTotalAmountTHB, new { @Value = Model.sOutturn[idx].CnFTotalAmountTHB })

                                                    @if (ViewBag.FromCalculate == true)
                                                    {
                                                        if (Model.sOutturn[idx].Select)
                                                        {
                                                            totalTotalAmountThb += Convert.ToDecimal(Model.sOutturn[idx].CnFTotalAmountTHB);
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sOutturn[idx].SAPFIDoc))
                                                    {
                                                        if (Model.sOutturn[idx].SAPFIDoc.Length > 10)
                                                        {
                                                            var sapFIDoc = Model.sOutturn[idx].SAPFIDoc.Substring(0, 10);
                                                            var sapFIId = "sOutturn_" + idx + "__SAPFIDoc";
                                                            var sapName = "sOutturn[" + idx + "].SAPFIDoc";
                                                            @sapFIDoc
                                                            <input value="@sapFIDoc" id="@sapFIId" name="@sapName" type="hidden">
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)
                                                            @Html.HiddenFor(model => model.sOutturn[idx].SAPFIDoc, new { @Value = Model.sOutturn[idx].SAPFIDoc })
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)
                                                        @Html.HiddenFor(model => model.sOutturn[idx].SAPFIDoc, new { @Value = Model.sOutturn[idx].SAPFIDoc })
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDocStatus)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].SAPFIDocStatus, new { @Value = Model.sOutturn[idx].SAPFIDocStatus })
                                                </td>
                                                <td nowrap>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedDate)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].UpdatedDate, new { @Value = Model.sOutturn[idx].UpdatedDate })
                                                </td>
                                                <td nowrap>
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedBy)
                                                    @Html.HiddenFor(model => model.sOutturn[idx].UpdatedBy, new { @Value = Model.sOutturn[idx].UpdatedBy })
                                                    @Html.HiddenFor(model => model.sOutturn[idx].MatItemNo, new { @Value = Model.sOutturn[idx].MatItemNo })
                                                    @Html.HiddenFor(model => model.sOutturn[idx].Select, new { @Value = Model.sOutturn[idx].Select })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @if (ViewBag.FromCalculate == true)
                                    {
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td></td>
                                            <td></td>
                                            <td>@totalBlBbl.ToString("#,##0.0000")</td>
                                            <td>@totalBlMt.ToString("#,##0.0000")</td>
                                            <td>@totalBlL30.ToString("#,##0.0000")</td>
                                            <td></td>
                                            <td>@totalGrBbl.ToString("#,##0.0000")</td>
                                            <td>@totalGrMt.ToString("#,##0.0000")</td>
                                            <td>@totalGrL30.ToString("#,##0.0000")</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@totalFobAmountUsd.ToString("#,##0.0000")</td>
                                            <td>@totalFobAmountThb.ToString("#,##0.0000")</td>
                                            <td>@totalFreighAmountUsd.ToString("#,##0.0000")</td>
                                            <td>@totalFreighAmountThb.ToString("#,##0.0000")</td>
                                            <td>@totalCnFAmountUsd.ToString("#,##0.0000")</td>
                                            <td>@totalCnFAmountThb.ToString("#,##0.0000")</td>
                                            <td>@totalVat.ToString("#,##0.0000")</td>
                                            <td>@totalTotalAmountUsd.ToString("#,##0.0000")</td>
                                            <td>@totalTotalAmountThb.ToString("#,##0.0000")</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(x => x.TripNo)
                            @Html.HiddenFor(x => x.Vessel)
                            @Html.HiddenFor(x => x.PoNo)
                            @Html.HiddenFor(x => x.Product)
                            @Html.HiddenFor(x => x.Supplier)
                            @Html.HiddenFor(x => x.SupplierNo)
                            @Html.HiddenFor(x => x.VolumeBBL)
                            @Html.HiddenFor(x => x.VolumeMT)
                            @Html.HiddenFor(x => x.PurchaseType)
                            @Html.HiddenFor(x => x.VolumeUnit)
                            @Html.HiddenFor(x => x.InvoiceFigure)
                            @Html.HiddenFor(x => x.PriceUnit)
                            @Html.HiddenFor(x => x.MatItemNo)
                            @Html.HiddenFor(model => model.CompanyCode)
                            @Html.HiddenFor(model => model.MetNum)
                            @Html.HiddenFor(model => model.Currency)
                        </div>


                    </div>
                    <br />
                    @if (showPanel)
                    {
                        <div class="pull-left" id="SavePanel">
                            <input type="submit" class="btn btn-primary" value="Calculate" name="command" />
                            <input type="submit" class="btn btn-primary" value="Save" name="command" />
                            <input type="button" class="btn btn-primary" value="Report" onclick="Report();" />
                            <input type="submit" class="btn btn-primary" value="Back" name="command" />
                        </div>
                        <br />
                    }
                </div>

                <!-- Accrual Posting-->
                <div>
                    @if (showPanel)
                    {
                        <div>
                            <h2>For Accrual Posting</h2>
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        Accrual Type:
                                        <input type="radio" id="AccrualTypeC" name="AccrualType" value="C" checked="checked" onclick="AccrualCClick();" />C&nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="AccrualTypeA" name="AccrualType" value="A" onclick="AccrualAClick();" />A
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row" id="AccrualACalendar">
                                        <div class="col-xs-5">
                                            Reverse date for type A:
                                        </div>
                                        <div class="col-xs-7">
                                            <input type="text" placeholder="DD/MM/YYYY" class="form-control input-date-picker" id="txtReverseDate" name="txtReverseDate" value=@defaultReverseDate />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                </div>
                            </div>
                            <br />
                            @if (ViewBag.ShowSendToSap == true)
                            {
                                <input type="submit" class="btn btn-primary" value="Send to SAP" name="command" />
                            }
                        </div>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-primary" value="Back" name="command" />
                    }
                </div>
            }
        </div>

    </div>
</body>
</html>

<script>
    $(function () {
        $('#txtBlDate').dateRangePicker(
        {
            format: "DD/MM/YYYY"
        });
    });
    $(function () {
        $('#txtReverseDate').dateRangePicker(
        {
            autoClose: true,
            singleDatePicker: true,
            showDropdowns: true,
            singleDate: true,
            format: "DD/MM/YYYY"
        });
    });
    function AccrualCClick() {
        $("#AccrualACalendar").hide();
        $('#priceOffer tr').each(function (i, v) {
            debugger;
            var status = $('#sOutturn_' + i + '__SAPFIDocStatus').val();
            if (status == 'C') {
                $('#sOutturn_' + i + '__Select').attr("disabled", true);
                $('#sOutturn_' + i + '__Select').prop('checked', false);
            }
            else {
                $('#sOutturn_' + i + '__Select').attr("disabled", false);
            }
            
        });
    }
    function AccrualAClick() {
        $("#AccrualACalendar").show();
        $('#priceOffer tr').each(function (i, v) {
            debugger;
            var status = $('#sOutturn_' + i + '__SAPFIDocStatus').val();
            if (status == 'A' || status == 'C')
            {
                $('#sOutturn_' + i + '__Select').attr("disabled", true);
                $('#sOutturn_' + i + '__Select').prop('checked', false);
            }
            else
            {
                $('#sOutturn_' + i + '__Select').attr("disabled", false);
            }
            //if (i > 0) {
                //$(this).closest('tr').find('input:checkbox').each(function (a, b) {
                //    var objname = $(this).attr('name');
                //    if (objname == "chkitem") {
                //        $(this).prop('checked', sts);
                //    }
                //});
                //$(this).closest('tr').find('#sOutturn_' + i +'__SAPFIDocStatus').each(function (a, b) {
                //    var objname = $(this).attr('name');
                //    if (objname == "chkitem") {
                //        $(this).prop('checked', sts);
                //    }
                //});
            //}

        });
    }
    function ChkAllClick() {
        debugger;
        if ($("#chkAll").is(':checked')) {
            //$('input:checkbox').prop('checked', true);
            //$('input:checkbox').attr("disabled", false).attr('checked', 'checked');
            $('input:checkbox').each(function (index, element) {
                var isDisabled = $(element).is(':disabled');
                if (!isDisabled) {
                    $(element).prop('checked', true);
                } else {
                    // Handle input is not disabled
                }
            });
        } else {
            $('input:checkbox').prop('checked', false);
        }
    }
    function Report() {
        
        //var TripNo = $("#TripNo").val();
        window.open('@Url.Action("Report", new { model = Model })', "_blank");
        //"http://tsr-qcpai-app.thaioil.localnet/pcf/report/Report_Purchas_Entry.aspx?trip_no=CF11170822"

    }
    $(document).ready(function () {
        $("#AccrualACalendar").hide();

    });
</script>

@if (ViewBag.SendToSapCompleted == true)
{
    <script>
        $(document).ready(function () {
            $('input:checkbox').prop('checked', false);
        });
    </script>
}

<script>
    $(document).ready(function () {
        debugger;
            setReBody();
        });
</script>
