﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PCFPurchaseEntryViewModel_SearchData
@{
    ViewBag.Title = "PCF Purchase Entry Report";
    var mod = Model;
    Layout = "";

    int runningNo = 1;

    decimal totalBlBbl = 0;
    decimal totalBlMt = 0;
    decimal totalBlL30 = 0;
    decimal totalGrBbl = 0;
    decimal totalGrMt = 0;
    decimal totalGrL30 = 0;
    decimal totalFobAmountUsd = 0;
    decimal totalFobAmountThb = 0;
    decimal totalFreighAmountUsd = 0;
    decimal totalFreighAmountThb = 0;
    decimal totalCnFAmountUsd = 0;
    decimal totalCnFAmountThb = 0;
    decimal totalVat = 0;
    decimal totalTotalAmountUsd = 0;
    decimal totalTotalAmountThb = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PCF Purchase Entry - Report</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/js/jquery-1.12.2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/morris/morris.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/AdminLTE/dist/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-colorpicker/css/spectrum.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/thaioil.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/App.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/jquery.uploadify/jquery.uploadify.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/css/bootstrap-treeview.min.css" rel="stylesheet" />
    <!--For Freeze head table-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/fixed_table_rc.css" media="all" />
</head>
<body>
    <div class="main-content">
        <div class="main-content-area">
            <div class="container body-content">
                @if (Model == null || Model.sOutturn == null || Model.sOutturn.Count() == 0)
                {
                    <h2>No report data to display</h2>
                    <h4>Please back to search and retry again or contact the administrator.</h4>
                }
                else
                {
                <div style="width: 100%">
                    <h1>PCF Purchase Entry Report</h1>
                    <br />
                    <b>Trip No: </b>@Model.TripNo
                    @using (Html.BeginForm("ExportToExcel", "PCFPurchaseEntry", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th rowspan="2">No.</th>
                                    <th colspan="4">Bill of Lading (B/L)</th>
                                    <th colspan="4">Goods Received - Outturn</th>
                                    <th rowspan="2">FOB Price</th>
                                    <th rowspan="2">Freight Price</th>
                                    <th rowspan="2">C & F Price</th>
                                    <th rowspan="2">ROE</th>
                                    <th rowspan="2">FOB Amount USD</th>
                                    <th rowspan="2">FOB Amount THB</th>
                                    <th rowspan="2">Freight Amount USD</th>
                                    <th rowspan="2">Freight Amount THB</th>
                                    <th rowspan="2">C & F Amount USD</th>
                                    <th rowspan="2">C & F Amount THB</th>
                                    <th rowspan="2">C & F VAT 7% THB</th>
                                    <th rowspan="2">C & F Total Amount USD</th>
                                    <th rowspan="2">C & F Total Amount THB</th>
                                    <th rowspan="2">SAP FI Doc.</th>
                                    <th rowspan="2">SAP FI Doc. Status</th>
                                    <th rowspan="2">Last Updated</th>
                                    <th rowspan="2">Updated By</th>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <th>Volume (BBL)</th>
                                    <th>Volume (MT)</th>
                                    <th>Volume (L30)</th>
                                    <th>Date</th>
                                    <th>Volume (BBL)</th>
                                    <th>Volume (MT)</th>
                                    <th>Volume (L30)</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if ((Model != null) && (Model.sOutturn != null))
                                {
                                    for (int idx = 0; idx < Model.sOutturn.Count(); idx++)
                                    {
                                        if (Model.sOutturn[idx].Valid)
                                        {
                                            <tr>
                                                <td id="No">@runningNo</td>
                                                <td id="Date">@Html.DisplayTextFor(model => model.sOutturn[idx].RunningDate)</td>
                                                <td id="VolumeBBL">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyBbl)
                                                    @{
                                                        totalBlBbl += Convert.ToDecimal(Model.sOutturn[idx].BlQtyBbl);
                                                    }
                                                </td>
                                                <td id="VolumeMT">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMt)
                                                    @{
                                                        totalBlMt += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMt);
                                                    }
                                                </td>
                                                <td id="VolumeL30">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].BlQtyMl)
                                                    @{
                                                        totalBlL30 += Convert.ToDecimal(Model.sOutturn[idx].BlQtyMl);
                                                    }
                                                </td>
                                                <td id="PostingDate">@Html.DisplayTextFor(model => model.sOutturn[idx].PostingDate)</td>
                                                <td id="GRVolumeBBL">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyBbl)
                                                    @{
                                                        totalGrBbl += Convert.ToDecimal(Model.sOutturn[idx].QtyBbl);
                                                    }
                                                </td>
                                                <td id="GRVolumeMT">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMt)
                                                    @{
                                                        totalGrMt += Convert.ToDecimal(Model.sOutturn[idx].QtyMt);
                                                    }
                                                </td>
                                                <td id="GRVolumeL30">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].QtyMl)
                                                    @{
                                                        totalGrL30 += Convert.ToDecimal(Model.sOutturn[idx].QtyMl);
                                                    }
                                                </td>
                                                <td id="FOBPrice">
                                                    @if (Model.sOutturn[idx].Valid)
                                                    { @Html.DisplayTextFor(model => model.sOutturn[idx].FOBPrice) }
                                                </td>
                                                <td id="FreightPrice">
                                                    @if (Model.sOutturn[idx].Valid)
                                                    { @Html.DisplayTextFor(model => model.sOutturn[idx].FreightPrice) }
                                                </td>
                                                <td id="CnFPrice">
                                                    @if (Model.sOutturn[idx].Valid)
                                                    { @Html.DisplayTextFor(model => model.sOutturn[idx].CnFPrice) }
                                                </td>
                                                <td id="RoE">
                                                    @if (Model.sOutturn[idx].Valid)
                                                    { @Html.DisplayTextFor(model => model.sOutturn[idx].ROE) }
                                                </td>
                                                <td id="FOBAmountUSD">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountUSD)
                                                    @{
                                                        totalFobAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].FOBAmountUSD);
                                                    }
                                                </td>
                                                <td id="FOBAmountTHB">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FOBAmountTHB)
                                                    @{
                                                        totalFobAmountThb += Convert.ToDecimal(Model.sOutturn[idx].FOBAmountTHB);
                                                    }
                                                </td>
                                                <td id="FrieghtAmountUSD">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountUSD)
                                                    @{
                                                        totalFreighAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].FreightAmountUSD);
                                                    }
                                                </td>
                                                <td id="FrieghtAmountTHB">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].FreightAmountTHB)
                                                    @{
                                                        totalFreighAmountThb += Convert.ToDecimal(Model.sOutturn[idx].FreightAmountTHB);
                                                    }
                                                </td>
                                                <td id="CnFAmountUSD">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountUSD)
                                                    @{
                                                        totalCnFAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].CnFAmountUSD);
                                                    }
                                                </td>
                                                <td id="CnFAmountTHB">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFAmountTHB)
                                                    @{
                                                        totalCnFAmountThb += Convert.ToDecimal(Model.sOutturn[idx].CnFAmountTHB);
                                                    }
                                                </td>
                                                <td id="VAT">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFVat7)
                                                    @{
                                                        totalVat += Convert.ToDecimal(Model.sOutturn[idx].CnFVat7);
                                                    }
                                                </td>
                                                <td id="CnFTotalAmountUSD">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountUSD)
                                                    @{
                                                        totalTotalAmountUsd += Convert.ToDecimal(Model.sOutturn[idx].CnFTotalAmountUSD);
                                                    }
                                                </td>
                                                <td id="CnFTotalAmountTHB">
                                                    @Html.DisplayTextFor(model => model.sOutturn[idx].CnFTotalAmountTHB)
                                                    @{
                                                        totalTotalAmountThb += Convert.ToDecimal(Model.sOutturn[idx].CnFTotalAmountTHB);
                                                    }
                                                </td>
                                                <td id="SAPFiDoc">@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDoc)</td>
                                                <td id="SAPFiDocStatus">@Html.DisplayTextFor(model => model.sOutturn[idx].SAPFIDocStatus)</td>
                                                <td id="LastUpdate" nowrap>@Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedDate)</td>
                                                <td id="UpdateBy" nowrap>@Html.DisplayTextFor(model => model.sOutturn[idx].UpdatedBy)</td>
                                            </tr>
                                            runningNo++;
                                        }
                                    }

                                    <tr>
                                        <td><b>Total</b></td>
                                        <td></td>
                                        <td>@totalBlBbl.ToString("#,##0.0000")</td>
                                        <td>@totalBlMt.ToString("#,##0.0000")</td>
                                        <td>@totalBlL30.ToString("#,##0.0000")</td>
                                        <td></td>
                                        <td>@totalGrBbl.ToString("#,##0.0000")</td>
                                        <td>@totalGrMt.ToString("#,##0.0000")</td>
                                        <td>@totalGrL30.ToString("#,##0.0000")</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@totalFobAmountUsd.ToString("#,##0.0000")</td>
                                        <td>@totalFobAmountThb.ToString("#,##0.0000")</td>
                                        <td>@totalFreighAmountUsd.ToString("#,##0.0000")</td>
                                        <td>@totalFreighAmountThb.ToString("#,##0.0000")</td>
                                        <td>@totalCnFAmountUsd.ToString("#,##0.0000")</td>
                                        <td>@totalCnFAmountThb.ToString("#,##0.0000")</td>
                                        <td>@totalVat.ToString("#,##0.0000")</td>
                                        <td>@totalTotalAmountUsd.ToString("#,##0.0000")</td>
                                        <td>@totalTotalAmountThb.ToString("#,##0.0000")</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <input type="submit" class="btn btn-success" value="Export to Excel" />
                    }
                </div>
                }
        </div>
    </div>
</body>
</html>

<script>
    function setReBody() {
        debugger;
        var width = 1260;
        $("body").find('table').each(function (a2, b2) {
            debugger;
            if ($(this).context.className == 'table table-hover display dataTable no-footer') {
                if ($(this).context.clientWidth - 1260 > 400) {
                    width = $(this).context.clientWidth - 400;
                }
                else {
                    width = $(this).context.clientWidth + 100;
                }
            }
            else if (width - 100 < $(this).context.clientWidth)
                width = $(this).context.clientWidth + 100;
        });
        debugger;
        //$('.main-content').css('width', width + 'px !Important');
        //$(".main-content-area")[0].clientWidth = width;
        $('.main-content').attr('style', 'width : ' + width + 'px !important');
        $('.main-content .container').attr('style', 'margin-left : 20px !important');
    }

    $(document).ready(function () {
        setReBody();
    });
</script>