﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.PCFPurchaseEntryViewModel
@{
    ViewBag.Title = "Search PCF Purchase Entry";

    bool showDebugPanel = false;

    if (ViewBag.Error == true)
    {
        if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <script>
                bootbox.alert("Unexpected error occurred. Please contact the administrator.");
            </script>
        }
        else
        {
            <script>
                bootbox.alert('@ViewBag.ErrorMessage');
            </script>
        }
    }

    if (ViewBag.Debugmode == true)
    {
        showDebugPanel = true;
    }
}

<!-- Debug Panel -->
@if (showDebugPanel)
{
    <div>
        @ViewBag.DebugMessageShort <br />
        @ViewBag.DebugMessageFull
    </div>
    <br /><br />
}

@using (Html.BeginForm("Search", "PCFPurchaseEntry", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        <div class="page-header">
            <h1>PCF Purchase Entry</h1>
        </div>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Company:</label>
                        <div class="col-xs-7">
                            @Html.DropDownListFor(model => model.PCFPurchaseEntry_Search.sCompany, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlCompany" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Trip No.:</label>
                        <div class="col-xs-7">
                            @Html.TextBoxFor(model => model.PCFPurchaseEntry_Search.sTripNo, htmlAttributes: new { @class = "form-control", @Id = "txtTripNo" })
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Product:</label>
                        <div class="col-xs-7">
                            @Html.DropDownListFor(model => model.PCFPurchaseEntry_Search.sProduct, new SelectList(Model.ddl_Product, "Text", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlProduct" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*<label class="col-xs-3 control-label">PO No.</label>
                        <div class="col-xs-7">
                            @Html.TextBoxFor(model => model.PCFPurchaseEntry_Search.sPoNo, htmlAttributes: new { @class = "form-control", @Id = "txtPoNo" })
                        </div>*@
                    </div>
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>
        <div class="pull-left">
            <input type="button" id="clearButton" class="btn btn-default" value="Clear" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}
<br />
<div>
@if (Model.PCFPurchaseEntry_Search.sSearchData != null && Model.PCFPurchaseEntry_Search.sSearchData.Count() != 0)
{
    <div class="page-header">
        <h1>Search Result</h1>
    </div>
    <div style="overflow: auto">
        <table id="searchResultTable" class="table">
            <thead>
                <tr>
                    <th>Trip No.</th>
                    <th>Vessel</th>
                    <th>PO No.</th>
                    <th>Crude/Feedstock/Product</th>
                    <th>Supplier</th>
                    @*<th>QTY (KBBL)</th>
                    <th>QTY (KMT)</th>*@
                    <th>Purchase Type</th>
                    <th>FI Doc</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.PCFPurchaseEntry_Search.sSearchData.Count > 0)
                {
                    foreach (var v in Model.PCFPurchaseEntry_Search.sSearchData)
                    {
                        <tr>
                            <td>
                                @if (v.Vessel == "TRAIN")
                                {
                                <a href="@Url.Action("Change", "PCFPurchaseEntry", new { TripNo = @v.TripNo, PoNo = @v.PoNo, Vessel = @v.Vessel,
                                        Product = @v.Product, Supplier = @v.Supplier, VolumeBBL = @v.VolumeBBL, VolumeMT = @v.VolumeMT,
                                        PurchaseType = @v.PurchaseType, SupplierNo = @v.SupplierNo, CompanyCode = @v.CompanyCode, MetNum = @v.MetNum, Currency = @v.Currency,
                                        MatItemNo = @v.MatItemNo
                                    })" title="Change">
                                    @v.TripNo
                                </a>
                                }
                                else if (v.Vessel == "VESSEL")
                                {
                                    <a href="@Url.Action("Index", "PurchaseEntryVessel", new { TripNo = @v.TripNo, MetNum = @v.MetNum })" title="Change">
                                        @v.TripNo
                                    </a>
                                }
                                else
                                {
                                    @v.TripNo
                                }
                            </td>
                            <td>@v.Vessel</td>
                            <td>@v.PoNo</td>
                            <td>@v.Product</td>
                            <td>@v.Supplier</td>
                            @*<td>@v.VolumeBBL</td>
                            <td>@v.VolumeMT</td>*@
                            <td>@v.PurchaseType</td>
                            <td>@v.FIDoc</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else if(Model.PCFPurchaseEntry_Search.sSearchData == null)
{
    <br /><label>Search not found</label>
}
</div>

<script>
    $(document).ready(function(){
        $('#clearButton').click(function(){
            $('#ddlCompany').val($("#target option:first").val());
            $('#ddlProduct').val($("#target option:first").val());
            $('#txtTripNo').val('');
            $('#txtPoDate').val('');
            $('#txtDotDotDot').val('');
            $('#txtPoNo').val('');
            $('#txtGrDate').val('');
            $('#ddlSupplier').val($("#target option:first").val());
        });
    });
    $(function () {
        $('#txtPoDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });
    $(function () {
        $('#txtGrDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });
</script>

<script>
        $(document).ready(function () {
            $('#searchResultTable').DataTable({
                "columnDefs": [
                    //Disble sort on Action Colum
                    {
                        "targets": [6],
                        "orderable": false
                    }
                ]
            });
        });
</script>