﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.AreaViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Area";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Area";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>


<script>
    // Count System Row Index of Dyanamic Add
    var count = 0;
    var countUnit = 0;
</script>

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{

    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">AREA CODE :<span style="color:red"></span></label>
                <div class="col-sm-4">

                    @Html.TextBoxFor(model => model.area_Detail.AreaCode, htmlAttributes: new { @class = "form-control", @maxlength = "4", @readonly = "readonly" })


                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">ORDER :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.area_Detail.Order, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4" ,@onkeydown = "return ValidateNumber(event);" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.area_Detail.Order, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "4" , @onkeydown = "return ValidateNumber(event);" })
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">NAME :<span style="color:red">*</span></label>
                <div class="col-sm-4">

                    @if (actionName.ToUpper() == "CREATE")
                    {
                        @Html.TextBoxFor(model => model.area_Detail.AreaName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.area_Detail.AreaName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "100" })
                    }
                </div>

                    @*@if (Model.unit_Detail.CreateType == "SAP")
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.UnitName, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.unit_Detail.UnitName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "10" })
                    }
                </div>*@
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">UNIT :</label>
                <div class="col-sm-10">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                @*<th>Default</th>*@
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="UnitArr">
                            @if (Model.area_Detail.Unit != null && Model.area_Detail.Unit.Any())
                            {
                                for (int i = 0; i < Model.area_Detail.Unit.Count; i++)
                                {
                                    var checkboxUserStatus = "checkboxUserStatus" + @i;
                                    <tr>
                                        <td>

                                          
                                            @Html.HiddenFor(model => model.area_Detail.Unit[i].Code)
                                            @Html.HiddenFor(model => model.area_Detail.Unit[i].Order)
                                            @Html.DropDownListFor(model => model.area_Detail.Unit[i].Name, new SelectList(Model.ddl_Unit, "Value", "Text", (string.IsNullOrEmpty(Model.area_Detail.Unit[i].Code) ? string.Empty : Model.area_Detail.Unit[i].Code)), new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @if (Model.area_Detail.Unit[i].Status == "ACTIVE")
                                            {
                                                <input type="checkbox" class="checkboxUserStatus" id=@checkboxUserStatus checked onchange="checkedUserStatus(@i);" value="ACTIVE">
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="checkboxUserStatus" id=@checkboxUserStatus onchange="checkedUserStatus(@i);" value="INACTIVE">
                                            }
                                            @Html.HiddenFor(model => model.area_Detail.Unit[i].Status)

                                            @*@Html.CheckBoxFor(model => model.area_Detail.Unit[i].BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })*@

                                        </td>
                                        <td>

                                            <script>
                                                $(function () {
                                                    setAllStatusToogleSwitch();
                                                });
                                                countUnit++
                                            </script>
                                            @if (actionName == "CREATE" || actionName == "EDIT")
                                            {
                                                <a href="javascript:void(0);" class="remUnit" onclick="return confirmDeletUnitRow();" />
                                                <img src="../../Web/Images/btn-delete.png" />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <a class="btn btn-default addUnit" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">STATUS :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.area_Detail.BoolStatus, new { @id = "checkboxStatus", @class = "checkboxStatus" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    
                    <div class="text-center">
                        @if (ViewBag.action_edit && actionName == "VIEW")
                        {                           
                            @Html.ActionLink("BACK", "Search", new { controller = "Area" }, htmlAttributes: new { @class = "btn btn-default" })

                        }
                        else if(ViewBag.action_edit && actionName == "EDIT")
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Area" }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <button type="reset" class="btn btn-default">CLEAR</button>
                            @Html.ActionLink("BACK", "Search", new { controller = "Area" }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Search",
                             "Area", // controllerName
                                     //new
                                     //{                                                     // routeValues
                                     //    AreaCode = Model.area_Detail.AreaCode
                                     //},
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "Area" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        //$('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}

<script>

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };
  



    var countUnit = 0;
    $(function () {
        checkboxToogle();
    });

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });


        $(".checkedUserStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }


    function setAllStatusToogleSwitch() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxUserStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });

        $(".checkboxBrokerDefault").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }

    function confirmDeletSystemRow() {
        return confirm("Please confirm to Delete?");
    }

    function checkedStatus() {
        if ($("#checkboxStatus").prop("checked")) {
            $('#checkboxStatus').val("ACTIVE");
        } else {
            $('#checkboxStatus').val("INACTIVE");
        }
    }


    //function checkedUserStatus(i) {
    //    if ($("checkboxUserStatus" + i).prop("checked")) {
    //        $("checkboxUserStatus" + i).val("ACTIVE");
    //    } else {
    //        $("checkboxUserStatus" + i).val("INACTIVE");
    //    }
    //}



        function checkedUserStatus(indexOfID) {
            if ($("#checkboxUserStatus" + indexOfID).prop("checked")) {
                $('#area_Detail_Unit_' + indexOfID + '__Status').val("ACTIVE");
            } else {
                $('#area_Detail_Unit_' + indexOfID + '__Status').val("INACTIVE"); area_Detail_Unit_0__Status
            }
    }


    function ReindexUser() {

        var itemIndex = 0;
        $('#UnitArr tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name$=".Order"]').attr('name', 'area_Detail.Unit[' + itemIndex + '].Order');
            this_row.find('select[name$=".Name"]').attr('name', 'area_Detail.Unit[' + itemIndex + '].Name');
            this_row.find('input[name$=".Code"]').attr('name', 'area_Detail.Unit[' + itemIndex + '].Code');
            this_row.find('input[name$=".Status"]').attr('name', 'area_Detail.Unit[' + itemIndex + '].Status');
            itemIndex++;
        });
    }

    // Dynamic Add Broker Row

    $(".addUnit").click(function () {
        $("#UnitArr").append('<tr>' //unit_Detail_User_0__Order
            + '<td>'
            + '<input hidden="hidden" id="area_Detail_Unit_' + countUnit + '__Code" name="unit_Detail.Unit[' + countUnit + '].Code" type="text" />'
            + '<input hidden="hidden" id="area_Detail_Unit_' + countUnit + '__Order" name="unit_Detail.Unit[' + countUnit + '].Order" type="text" />'
            + '<select class="form-control" id="area_Detail_Unit_' + countUnit + '__Vendor" name="unit_Detail.Unit[' + countUnit + '].Name" >'
            + @foreach (var option in Model.ddl_FreeUnit)
                {
                @:'<option value="@option.Value">@option.Text</option>' +
                }
            + '</select>'
            + '</td>'
            + '<td>'
            + '<input type="checkbox" class="checkboxUserStatus" id="checkboxUserStatus' + countUnit + '" value="ACTIVE" checked onchange="checkedUserStatus(' + countUnit + ');">'
            + '<input hidden="hidden" id="area_Detail_Unit_' + countUnit + '__Status" name="unit_Detail.Unit[' + countUnit + '].Status" type="text" value="ACTIVE"/>'
            + '</td>'
            + '<td><a href="javascript:void(0);" class="remUnit" onclick="return confirmDeletUnitRow();"><img src="../../Web/Images/btn-delete.png" /></a>'
            + '</td>'
            + '</tr>'
        );

        $('#createForm').validator("update");
        $('#createForm').validator("validate");

        setAllStatusToogleSwitch();
        countUnit++;

        ReindexUser();
    });

    function confirmDeletUnitRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#UnitArr").on('click', '.remUnit', function () {
                $(this).parent().parent().remove();

                ReindexUser();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }
</script>