﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgingConfigViewModel
@{
    ViewBag.Title = "Index";
}
@if (TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="wrapper-detail">
    <div class="form-horizontal">
        <h1>Credit Controller</h1>
        @using (Html.BeginForm("Index", "HedgingConfig", FormMethod.Post, new { @id = "ConfigForm", @class = "form-horizontal" }))
        {
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width:200px">Value</th>
                            <th>Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var index = 0; index < Model.HedgingConfig_OldData.Count(); index++)
                        {
                            <tr>
                                <td>@Model.HedgingConfig_NewData[index].nName
                                    @Html.HiddenFor(m => m.HedgingConfig_OldData[index].oName)
                                    @Html.HiddenFor(m => m.HedgingConfig_NewData[index].nName)
                                    @Html.HiddenFor(m => m.HedgingConfig_NewData[index].nRowID)
                                    @Html.HiddenFor(m => m.HedgingConfig_OldData[index].oRowID)
                                </td>
                                <td>
                                    @Html.HiddenFor(m => m.HedgingConfig_OldData[index].oValue)
                                    @Html.HiddenFor(m => m.HedgingConfig_NewData[index].IsChange)
                                    @if (Model.HedgingConfig_NewData[index].nName == "CREDIT_RATING")
                                    {
                                        @Html.DropDownListFor(m => m.HedgingConfig_NewData[index].nValue, new SelectList(Model.ddlCreditRate, "Value", "Text", Model.HedgingConfig_NewData[index].nValue), new { @class = "form-control", @onchange = "changedata(" + @index + ");" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.HedgingConfig_NewData[index].nValue, new { @class = "form-control request", @onchange="changedata("+@index+");" })
                                    }
                                </td>
                                <td>
                                    @Html.HiddenFor(m => m.HedgingConfig_OldData[index].oDesc)
                                    @Html.TextBoxFor(m => m.HedgingConfig_NewData[index].nDesc, new { @class = "form-control request", @onchange = "changedata(" + @index + ");" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 text-left">
                        <input type="button" value="SAVE" class="btn btn-default" id="btnsubmit" onclick="savebutton(); return false;" />
                        <input type="submit" value="SAVE" id="btnSave" style="display: none;"/>

                    </div>
                    <div class="col-md-4 text-center">
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-default">Back</button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="reasonPopup" tabindex="-1" role="dialog" style="display:none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Reason</h2>
                        </div>
                        <div class="modal-body text-center">
                            @Html.TextAreaFor(m => m.reason, new { @class = "form-control reason_request", @style = "min-height: 123px; max-width: 100%;" })
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="OK" class="btn btn-default" onclick="confirmreason(); return false;" />
                            <input type="button" value="BACK" class="btn btn-default" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var list = @Model.HedgingConfig_OldData.Count()

    function changedata(row) {
        $('[name="HedgingConfig_NewData[' + row + '].IsChange"]').val("1");
    }

    function savebutton() {
        var change = 0;
        if (!validatebeforesave()) {
            return false;
        }
        else {
            for(var index = 0;index < list; index++) {
                if ($('#HedgingConfig_OldData_' + index + '__oValue').val() != $('#HedgingConfig_NewData_' + index + '__nValue').val()) {
                    change = 1
                }
                if ($('#HedgingConfig_OldData_' + index + '__oDesc').val() != $('#HedgingConfig_NewData_' + index + '__nDesc').val()) {
                    change = 1
                }
            }
            if (change != 0) {
                $('#reasonPopup').modal('show');
            }
        }
    }

    function confirmreason() {
        var FocusCtrl = "";
        if ($.trim($("#@Html.IdFor(m => m.reason)").val()) == "") {
            addValidMessageError($('.tac_mark'), "Please input Value.");
            if (FocusCtrl == "") FocusCtrl = '#@Html.IdFor(m => m.reason)';
        }
        if (FocusCtrl != "") {
            $(FocusCtrl).focus()
            return false;
        }
        else {
            $('#btnSave').click();
        }
    }

    function validatebeforesave() {
        $(".request").removeClass("input-error");
        var FocusCtrl = "";
        var i = 0;
        $(".request").each(function () {
            if ($.trim($(this).val()) == "") {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                if (FocusCtrl == "") FocusCtrl = $("#" + $(this).attr("id"));
            }
        });
        if (FocusCtrl != "") $(FocusCtrl).focus();
        if (i > 0) return false;
        return true;
    }
</script>