﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SpecViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (!string.IsNullOrEmpty(ViewBag.actionName))
    {
        actionName = ViewBag.actionName;
    }

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Specification Template";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Specification Template";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }
</style>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });

        var countRow = 0;
    </script>
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ {"enctype","multipart/form-data"}, { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
{
@Html.HiddenFor(m => m.spec_compare)
@*<from action="Spec/Save" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">*@

    
        
    <!--content-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">SPEC CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.specViewModel_Detail.RowId, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">VERSION :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.specViewModel_Detail.RowVersion, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>             
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-12">
            <div class="form-group">              
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">DETAIL:<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <!--Detail Table-->
                    <div class="col-md-12" style="overflow: scroll;max-height:500px;">
                        <table class="table table-bordered PriceOfferTable" style="width: 375%;max-width: 1000%;">
                            <thead>
                                <tr class="HeaderTable center">
                                    <th rowspan="2">Action</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Component</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Property</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Unit</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Test Method</th>
                                    <th colspan="10">MIN </th>
                                    <th colspan="10">MAX</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Source/Focal Point</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Constraint Rationale</th>
                                    <th class="col-md-1" rowspan="2" style="width: 200px;">Remarks</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                </tr>
                            </thead>
                            <tbody id="detailTable">
                                @if (Model.specViewModel_Detail.SpecDetail != null && Model.specViewModel_Detail.SpecDetail.Any())
                                {
                                    Model.specViewModel_Detail.SpecDetail.OrderBy(i => Convert.ToDecimal(i.Order));
                                    @Html.HiddenFor(m => m.specViewModel_Detail.RowId)
                                    for (int r = 0; r < Model.specViewModel_Detail.SpecDetail.Count(); r++) //r = row detail
                                    {
                                        <tr id="rowDetail_@r">
                                            <td>
                                                <input id="addDetailRowBtn_@r" type="image" src="~/Web/Images/btn-add-member.png" onclick="addDetailRow(@r); return false;" />
                                                <input id="delDetailRowBtn_@r" type="image" src="~/Web/Images/btn-delete.png" onclick="delDetailTable(@r); return false;" />
                                            </td>
                                            <input name="specViewModel_Detail.SpecDetail[@r].RowId" type="hidden" value="@Model.specViewModel_Detail.SpecDetail[r].RowId" />
                                            <input name="specViewModel_Detail.SpecDetail[@r].Order" type="hidden" value="@r" />
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Component, htmlAttributes: new { @class = "form-control", @maxlength="100", @style= "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Property, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Unit, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].TestMethod, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            @*Min*@
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min1, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min2, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);" , @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min3, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);" , @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min4, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);" , @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min5, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min6, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min7, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min8, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min9, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min10, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            @*Max*@
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max1, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max2, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max3, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max4, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max5, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max6, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max7, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max8, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max9, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max10, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>

                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Source, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100"})</td>
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Constraint, htmlAttributes: new { @class = "form-control ", @maxlength = "1000", @style = "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Remarks, htmlAttributes: new { @class = "form-control ", @maxlength = "1000",@style= "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        for (int r = 0; r < 1; r++) //r = row detail
                                        {
                                        <tr id="rowDetail_@r">
                                            <input name="specViewModel_Detail.SpecDetail[@r].RowId" type="hidden" value="" />
                                            <input name="specViewModel_Detail.SpecDetail[@r].Order" type="hidden" value="@r" />
                                            <td>
                                                <input id="addDetailRowBtn_@r" type="image" src="~/Web/Images/btn-add-member.png" onclick="addDetailRow(@r); return false;" />
                                                <input id="delDetailRowBtn_@r" type="image" src="~/Web/Images/btn-delete.png" onclick="delDetailTable(@r); return false;" />
                                            </td>
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Component, htmlAttributes: new { @class = "form-control", @maxlength = "100", @style = "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Property, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Unit, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].TestMethod, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                             @*Min*@
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min1, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);",@maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min2, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min3, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min4, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min5, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min6, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min7, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min8, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min9, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Min10, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            @*Max*@
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max1, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max2, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max3, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max4, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max5, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max6, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max7, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max8, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max9, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Max10, htmlAttributes: new { @class = "form-control preventEnter", @onkeypress = "return ValidateNumberDigit(event,this);", @maxlength = "10" })</td>

                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecDetail[r].Source, htmlAttributes: new { @class = "form-control preventEnter", @maxlength = "100" })</td>
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Constraint, htmlAttributes: new { @class = "form-control", @maxlength = "1000", @style = "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                            <td>@Html.TextAreaFor(model => model.specViewModel_Detail.SpecDetail[r].Remarks, htmlAttributes: new { @class = "form-control", @maxlength = "1000", @style = "background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" })</td>
                                        </tr>
                                        }
                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">NOTE:<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <!--Detail Table-->
                    <div class="col-md-12">
                        <table class="table table-bordered PriceOfferTable" @*style="width: 200%;max-width: 200%;"*@>
                            <thead>
                                <tr class="HeaderTable center">
                                    <th>Action</th>
                                    <th class="col-md-1">Note</th>
                                    <th>Explanation</th>
                                    <th class="col-md-2">Image</th>
                                </tr>
                            </thead>
                            <tbody id="specTable">
                                @if (Model.specViewModel_Detail.SpecNote != null && Model.specViewModel_Detail.SpecNote.Any())
                                    {
                                        for (int r = 0; r < Model.specViewModel_Detail.SpecNote.Count(); r++) //r = row detail
                                        {
                                        <tr id="rowSpec_@r">
                                            <input name="specViewModel_Detail.SpecNote[@r].RowId" type="hidden" value="@Model.specViewModel_Detail.SpecNote[r].RowId" />
                                            <input name="specViewModel_Detail.SpecNote[@r].Order" type="hidden" value="@r" />
                                            <td>
                                                <input id="addNoteRowBtn_@r" type="image" src="~/Web/Images/btn-add-member.png" onclick="addNoteRow(@r); return false;" />
                                                <input id="delNoteRowBtn_@r" type="image" src="~/Web/Images/btn-delete.png" onclick="delNoteTable(@r); return false;" />
                                            </td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecNote[r].Note, htmlAttributes: new { @class = "form-control", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecNote[r].Explanation, htmlAttributes: new { @class = "form-control" })</td>
                                            @if (Model.specViewModel_Detail.SpecNote[r].Image == null)
                                                {
                                                <td>
                                                    <div class="col-sm-9">
                                                        @*<input type="file" class="button" id="ImageUpload" name="specViewModel_Detail.SpecNote[@r].Image" style="font-size:15px;">*@
                                                        <input type="file" class="button" id="ImageUpload" multiple="multiple" name="specViewModel_Detail.SpecNote[@r].Image" style="font-size:15px;">
                                                    </div>                                             
                                                </td>
                                                }
                                                else
                                                {
                                                <td>
                                                    <div class="col-sm-9">
                                                        @*<input type="file" class="button" id="ImageUpload" multiple="multiple" name="specViewModel_Detail.SpecNote[@r].Image" style="font-size:15px;">*@
                                                        <input type="file" class="button" id="ImageUpload"  multiple="multiple"  name="specViewModel_Detail.SpecNote[@r].Image" value="@Model.specViewModel_Detail.SpecNote[r].Image" style="font-size:15px;">
                                                    </div>
                                                    <div id="ShowFile" class="col-sm-3">                                                     
                                                        @if (Model.specViewModel_Detail.SpecNote[r].filename != null)
                                                        {
                                                            foreach (var f in Model.specViewModel_Detail.SpecNote[r].filename)
                                                            {
                                                                <a href="@Url.Content("~/Web/FileUpload/SPEC/" + f)">
                                                                    <span class="glyphicon glyphicon-link"></span>
                                                                </a>
                                                            }
                                                        }                                                     
                                                    </div>
                                                    @Html.HiddenFor(model => model.specViewModel_Detail.SpecNote[r].Image)
                                                </td>
                                                }
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        for (int r = 0; r < 1; r++) //r = row detail
                                        {

                                        <tr id="rowSpec_@r">
                                            <input name="specViewModel_Detail.SpecNote[@r].RowId" type="hidden" value="" />
                                            <input name="specViewModel_Detail.SpecNote[@r].Order" type="hidden" value="@r" />
                                            <td>
                                                <input id="addNoteRowBtn_@r" type="image" src="~/Web/Images/btn-add-member.png" onclick="addNoteRow(@r); return false;" />
                                                <input id="delNoteRowBtn_@r" type="image" src="~/Web/Images/btn-delete.png" onclick="delNoteTable(@r); return false;" />
                                            </td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecNote[r].Note, htmlAttributes: new { @class = "form-control", @maxlength = "100" })</td>
                                            <td>@Html.TextBoxFor(model => model.specViewModel_Detail.SpecNote[r].Explanation, htmlAttributes: new { @class = "form-control" })</td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @*<input type="file" class="button" id="ImageUpload" multiple="multiple" name="specViewModel_Detail.SpecNote[@r].Image" style="font-size:15px;">*@
                                                    <input type="file" class="button" id="ImageUpload" multiple="multiple" name="specViewModel_Detail.SpecNote[@r].Image" style="font-size:15px;">
                                                </div>
                                            </td>                                         
                                        </tr>
                                        }
                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">REASON :<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                       @Html.TextAreaFor(model => model.specViewModel_Detail.Reason, htmlAttributes: new { @class = "form-control", @required = "required" })
                    </div>
            </div>
        </div>
    </div>
    <!--Button-->
    <div class="form-group">
        <div class="col-sm-12">
            <div class="text-center">
                @if (ViewBag.action_edit && actionName == "VIEW")
                    {
                    @Html.ActionLink("BACK", "Search", new { controller = "Spec" }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else if (ViewBag.action_edit && actionName == "EDIT")
                    {
                        @*<button type="submit" class="btn btn-primary">SAVE</button>*@
                        <button type="submit" id="btnSave" name="action:Save" formnovalidate="formnovalidate" style="display:none">SAVE</button>
                        <button type="button" class="btn btn-primary" name="action:Save" onclick="OpenBoxCheckPrompt('This spec version has been already used in COOL system, Are you sure to update new version?', 'btnSave');">SAVE</button>
                        <button type="submit" id="btnDelete" name="action:Delete" formnovalidate="formnovalidate" style="display:none">DELETE</button>
                        <button type="button" class="btn btn-default" name="action:Delete" onclick="OpenBoxBungerPrompt('Are you sure to delete?', 'btnDelete');">DELETE</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Spec" }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else if (ViewBag.action_edit && actionName == "DELETE")
                    {
                        @*<button type="submit" class="btn btn-primary">SAVE</button>*@
                        <button type="submit" id="btnSave" class="btn btn-primary" name="action:Save">SAVE</button>
                        <button type="submit" id="btnDelete" name="action:Delete" formnovalidate="formnovalidate" style="display:none">DELETE</button>
                        <button type="button" class="btn btn-default" name="action:Delete" onclick="OpenBoxBungerPrompt('Are you sure to delete?', 'btnDelete');">DELETE</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Spec" }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else
                    {
                    <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="reset" class="btn btn-default">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "Spec" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

            </div>
        </div>
    </div>    
}




@if (TempData["ReponseMessage"] != null)
{
    if (TempData["ConfirmMessage"] != null)
    {
        <script>
            $("#showLoading").show();
                        bootbox.confirm({
                        message: '@TempData["ReponseMessage"]' + ' ' + '@TempData["ConfirmMessage"]',
                        buttons: {
                            confirm: {
                                label: 'Yes',
                            },
                            cancel: {
                                label: 'No',
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                LoadingProcess();
                                $.ajax({
                                    url: '@Url.Action("UpdateFinalCAM", "Spec")',
                                    data: { "rowID": ""},
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        $("#showLoading").hide();
                                        HideLoadingBox();
                                        if (data == true) {
                                            window.location = '@Url.Action("Search", "Spec")';
                                            //OpenBoxPopup("System is updating Final CAM documents, Please waiting for proccess.");
                                        }
                                        else {
                                            OpenBoxPopup("Final CAM documents have not been update, Please try again later.");
                                        }
                                    },
                                    error: function (reponse) {
                                        alert("Warnning : Final CAM did not update, please update all related Final CAM again");
                                    }
                                });
                            }
                        }
            });
        </script>
    }
    else
    {
        <!-- Result Popup -->
        <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>
                            @TempData["ReponseMessage"]
                        </p>
                    </div>
                    <div class="modal-footer">
                        @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                    {
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        }
                        else
                        {
                            if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                            {
                                @Html.ActionLink(
                                 "Close",
                                 "Edit",
                                 "Spec", // controllerName
                                 new
                                 {                                                     // routeValues
                                     rowId = Model.specViewModel_Detail.RowId
                                 },
                                 htmlAttributes: new { @class = "btn btn-default" });
                        }
                        else
                        {
                                @Html.ActionLink("Close", "Search", new { controller = "Spec" }, htmlAttributes: new { @class = "btn btn-default" })
                            }

                        }
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    <!-- /.modal -->
    }
}

@if (actionName == "VIEW")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        //$('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('#actionButtonxxx').hide();
        $('tfoot').hide();
    </script>
}
<script type="text/javascript">

        function YingAjax() {

        }

    function OpenBoxCheckPrompt(MSG, BUTTON) {
        $("#showLoading").show();
        var rowID = $("#specViewModel_Detail_RowId").val();
        if (rowID) {
            $.ajax({
                url: '@Url.Action("CheckFinalCAM", "Spec")',
                data: { "rowID": rowID },
                cache: false,
                type: "GET",
                success: function (data) {
                    if (data == true) {
                        bootbox.confirm({
                            message: MSG,
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                },
                                cancel: {
                                    label: 'No',
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    $("#" + BUTTON).click();
                                    LoadingProcess();
                                }
                            }
                        });
                    }
                    else {
                        $("#" + BUTTON).click();
                        LoadingProcess();
                    }
                },
                error: function (reponse) {
                    alert("Warnning : Final CAM did not update, please update all related Final CAM again");
                }
            });
        }
        $("#showLoading").hide();
        }

        function OpenBoxBungerPrompt(MSG, BUTTON) {
            bootbox.confirm({
                message: MSG,
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#" + BUTTON).click();
                        LoadingProcess();
                    }
                }
            });
        }

        function delDetailTable(rowDetail) {
            if ($("#detailTable tr").length > 1) {
                var conf = confirm("Please confirm to Delete?");
                if (conf) {
                    $('#rowDetail_' + rowDetail + '').remove();
                    DetailReindex();
                }
            }
        }

        function delNoteTable(rowSpec) {
            if ($("#specTable tr").length > 1) {
                var conf = confirm("Please confirm to Delete?");
                if (conf) {
                    $('#rowSpec_' + rowSpec + '').remove();
                    NoteReIndex();
                }
            }

        }
        function addNoteRow(rowSpec) {
            var newRowIndex = 0;
            var a = $(this);
            if (rowSpec == null) {
                newRowIndex = 0;
            } else {
                //var thisRow = $("tr[id^='rowSpec']").last().attr('id').replace("rowSpec_", "");
                var thisRow = rowSpec;
                //var thisRowIndex = parseInt(thisRow);
                $('#delNoteRowBtn_' + thisRow).show();
                newRowIndex = thisRow + 1;


            }
            var currentRow = $('#addNoteRowBtn_' + thisRow).closest('tr')
            var newRow = '<tr id="rowSpec_' + newRowIndex + '">';
            newRow += '<input name="specViewModel_Detail.SpecNote[' + newRowIndex + '].Order" type="hidden" value="' + newRowIndex + '" />'
            newRow += '<td>'
            newRow += '<input id="addNoteRowBtn_' + newRowIndex + '" type="image" src="../../Web/Images/btn-add-member.png" onclick="addNoteRow(' + newRowIndex + '); return false;" />'
            newRow += '<input id="delNoteRowBtn_' + newRowIndex + '" type="image" src="../../Web/Images/btn-delete.png" onclick="delNoteTable(' + newRowIndex + '); return false;" />'
            newRow += '</td>'
            newRow += '<td><input name="specViewModel_Detail.SpecNote[' + newRowIndex + '].Note" type="text" class="form-control preventEnter" maxlength = "100" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecNote[' + newRowIndex + '].Explanation"  type="text" class="form-control preventEnter" /></td>'
            newRow += '<td><div class="col-sm-9"><input type="file" class="button" multiple="multiple" name="specViewModel_Detail.SpecNote[' + newRowIndex + '].Image" style="font-size:15px;"></div></td>'
            currentRow.after(newRow);
            NoteReIndex();
        }

        function addDetailRow(rowDetail) {

            var newRowDetailIndex = 0;//r
            if ($("tr[id^='rowDetail']").last().attr('id') == undefined) {
                newRowDetailIndex = 0;
            } else {
                var thisRowDetail = $("tr[id^='rowDetail']").last().attr('id').replace("rowDetail_", "");
                var thisRowDetailIndex = parseInt(thisRowDetail);
                var thisRow = rowDetail;
                $('#delDetailRowBtn_' + thisRow).show();
                newRowDetailIndex = thisRowDetailIndex + 1;
            }

            var currentRow = $('#addDetailRowBtn_' + thisRow).closest('tr')
            var newRow = '<tr id="rowDetail_' + newRowDetailIndex + '">';
            newRow += '<input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Order" type="hidden" value="' + newRowDetailIndex + '"/>'
            newRow += '<td>'
            newRow += '<input id="addDetailRowBtn_' + newRowDetailIndex + '" type="image" src="../../Web/Images/btn-add-member.png" onclick="addDetailRow(' + newRowDetailIndex + '); return false;" />'
            newRow += '<input id="delDetailRowBtn_' + newRowDetailIndex + '" type="image" src="../../Web/Images/btn-delete.png" onclick="delDetailTable(' + newRowDetailIndex + '); return false;">'
            newRow += '</td>'
            newRow += '<td><textarea name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Component" id="txtOrder_' + newRowDetailIndex + '" class="form-control" style="background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" maxlength = "100"/></textarea></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Property" id="txtParameter_' + newRowDetailIndex + '" type="text" class="form-control preventEnter" maxlength = "100"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Unit" id="txtFactor_' + newRowDetailIndex + '" type="text" class="form-control preventEnter" maxlength = "100"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].TestMethod" id="txtFactor_' + newRowDetailIndex + '" type="text" class="form-control preventEnter" maxlength = "100"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min1" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);"  maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min2" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min3" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min4" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min5" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min6" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min7" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min8" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min9" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this); " maxlength = "10"/></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Min10" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max1"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max2"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max3"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max4"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max5"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max6"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max7"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max8"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max9"  type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Max10" type="text" class="form-control preventEnter" onkeypress="return ValidateNumberDigit(event,this);" maxlength = "10" /></td>'
            newRow += '<td><input name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Source" type="text" class="form-control preventEnter" maxlength = "100"/></td>'
            newRow += '<td><textarea name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Constraint" type="text" class="form-control" style="background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" maxlength = "1000"/></textarea></td>'
            newRow += '<td><textarea name="specViewModel_Detail.SpecDetail[' + newRowDetailIndex + '].Remarks" type="text" class="form-control" style="background-color:white;margin: 0 8px;width: 90%;min-height: 50px;" maxlength = "1000"/></textarea></td>'
            newRow += '</tr>'
            currentRow.after(newRow);
            DetailReindex();

        }




        //Start script for Key and Value
        //function addKeyValue(rowDetail, row) {
        //    var currentRow = row;
        //    var newRow = row + 1;
        //    $('#tabKeyValue_' + rowDetail + '').append('<tr id="row_' + newRow + '">'
        //        + '<td>'
        //        + '<input name="OperatParam_Detail.Param[' + rowDetail + '].DataKeyValue[' + newRow + '].key" id="txtKey_' + rowDetail + newRow + '" type="text" class="form-control" style="" />'
        //        + '<input id="addKeyValueBtn_' + rowDetail + newRow + '" type="image" src="../../Web/Images/btn-add-member.png" onclick="addKeyValue(' + rowDetail + ',' + newRow + '); return false;" />'
        //        + '<input id="delKeyValueBtn_' + rowDetail + newRow + '" type="image" src="../../Web/Images/btn-delete.png" onclick="delKeyValue(' + rowDetail + ',' + newRow + '); return false;">'
        //        + '</td>'
        //        + '<td>'
        //        + '<textarea name="OperatParam_Detail.Param[' + rowDetail + '].DataKeyValue[' + newRow + '].Value" id="txtValue_' + rowDetail + newRow + '" class="form-control ns_finaldeal" style="min-height: 60px; margin: 0; background: white; text-align: left; "></textarea>'
        //        + '</td>'
        //        + '</tr>'
        //        );
        //    $('#addKeyValueBtn_' + rowDetail + currentRow + '').hide();
        //    $('#delKeyValueBtn_' + rowDetail + currentRow + '').hide();

        //countRow++;
        //}

        //function delKeyValue(rowDetail, row) {
        //    var thisRow = row;
        //    var prevRow = row > 0 ? row - 1 : 0;
        //    var conf = confirm("Please confirm to Delete?");
        //    if (conf) {
        //        $("input[id^='delKeyValueBtn_" + rowDetail + thisRow + "']").parent().parent().remove()
        //    }
        //    if (prevRow <= 0) {
        //        $('#addKeyValueBtn_' + rowDetail + prevRow + '').show();
        //    } else {
        //        $('#addKeyValueBtn_' + rowDetail + prevRow + '').show();
        //        $('#delKeyValueBtn_' + rowDetail + prevRow + '').show();
        //    }
        //}

        //$('#tabKeyValue').on('keyup keypress', function (e) {
        //    var keyCode = e.keyCode || e.which;
        //    if (keyCode === 13) {
        //        e.preventDefault();
        //        return false;
        //    }
        //});
        //End script for Key and Value

        $('.preventEnter').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });



        function NoteReIndex() {
            var i = 0;
            $('#specTable tr').each(function () {
                var a = $('#specTable tr').children().find('[id*="addNoteRowBtn_"]').attr("onclick");
                $(this).children().find('[id*="addNoteRowBtn_"]').attr("onclick", $(this).children().find('[id*="addNoteRowBtn_"]').attr("onclick").replace(/\d+/, i));
                $(this).children().find('[id*="delNoteRowBtn_"]').attr("onclick", $(this).children().find('[id*="delNoteRowBtn_"]').attr("onclick").replace(/\d+/, i));

                $(this).find('[name*="specViewModel_Detail.SpecNote"]').each(function () {
                    $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                });
                var b = $('[id*="addNoteRowBtn_' + i + '"]').attr("onclick");
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                i++;
            });
        };



        function DetailReindex() {
            var i = 0;
            $("#detailTable tr").each(function () {
                $(this).children().find('[id*="addDetailRowBtn_"]').attr("onclick", $(this).children().find('[id*="addDetailRowBtn_"]').attr("onclick").replace(/\d+/, i));
                $(this).children().find('[id*="delDetailRowBtn_"]').attr("onclick", $(this).children().find('[id*="delDetailRowBtn_"]').attr("onclick").replace(/\d+/, i));

                $(this).children().find('[id*="addDetailRowBtn_"]').attr("id", $(this).children().find('[id*="addDetailRowBtn_"]').attr("id").replace(/\d+/, i));
                $(this).children().find('[id*="delDetailRowBtn_"]').attr("id", $(this).children().find('[id*="delDetailRowBtn_"]').attr("id").replace(/\d+/, i));
                var m = $(this);
                $(this).find('[name*="specViewModel_Detail.SpecDetail"]').each(function () {
                    var a = $(this);
                    $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                    $('input:hidden[name="specViewModel_Detail.SpecDetail[' + i + '].Order"]').val(i)
                })
                $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                i++;
            });
        };

</script>