﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.JettyViewModel
@{
    ViewBag.Title = "Index";
}


<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@using (Html.BeginForm("Search", "Jetty", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Jetty</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Jetty ID:</label>
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.jettyIDJSON, htmlAttributes: new { @class = "jettyIDJsonData" })
                    @Html.TextBoxFor(model => model.jetty_Search.sJettyID, htmlAttributes: new { @class = "form-control jetty-id-json", @onfocus = "getJettyIDJSON()", @autocomplete = "off" })

                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">NAME:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.jetty_Search.sJettyName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">TYPE:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.jetty_Search.sType, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">COUNTRY:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.jetty_Search.sCountry, new SelectList(Model.ddl_Country, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">LOCATION:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.jetty_Search.sLocation, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">STATUS:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.jetty_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CREATE TYPE:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.jetty_Search.sCreateType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Jetty" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>JETTY ID</th>
            <th>NAME</th>
            <th>TYPE</th>
            <th>COUNTRY</th>
            <th>LOCATION</th>
            <th>CHARGE</th>
            <th>STATUS</th>
            <th>CREATE TYPE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.jetty_Search == null)
        {
            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>
        }
        else
        {
            if (Model.jetty_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.jetty_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dJettyID</td>
                        <td>@v.dJettyName</td>
                        <td>@v.dType</td>
                        <td>@v.dCountry</td>
                        <td>@v.dLocation</td>
                        <td>@v.dCharge</td>
                        <td>@v.dStatus</td>
                        <td>@v.dCreateType</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "Jetty", new { JettyID = @v.dJettyID  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Jetty", new { JettyID = @v.dJettyID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
        //$('#laycanDateSelect').dateRangePicker(
        //{
        //    startOfWeek: 'monday',
        //    format: 'DD-MM-YYYY',
        //});
        //$('#example').DataTable();
    });

    //$(document).ready(function () {
    //    $('#searchResultTable').DataTable({
    //        "columnDefs": [
    //            //Disble sort on Action Colum
    //            {
    //                "targets": [6],
    //                "orderable": false
    //            }
    //        ]
    //    });
    //});

    //Get ID Automplete
    function getJettyIDJSON() {
        var availableData = JSON.parse($(".jettyIDJsonData").val());
        //alert($(".companyCodeJsonData").val());
        $(".jetty-id-json").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }// End ID Autocomplete


</script>