﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HolidayViewModel
@{
    ViewBag.Title = "Search Holiday";

    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
}

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script type="text/javascript">
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
<div class="page-header">
    <h1>Search Holiday</h1>
</div>
@using (Html.BeginForm("Search", "Holiday", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-sm-2">Date :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.holiday_Search.sHolidayDate, new { @id = "date-range-start", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })
        </div>
        @*<label class="control-label col-sm-2">Holiday ID :</label>
        <div class="col-sm-4">
           @Html.TextBoxFor(model => model.holiday_Search.sHolidayID, htmlAttributes: new { @class = "form-control sHolidayID" })
        </div>*@

        <label class="control-label col-sm-2">Description :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.holiday_Search.sHolidayDesc, htmlAttributes: new { @class = "form-control sHolidayDesc" })
        </div>
    </div>

    <div class="form-group">
       

        <label class="control-label col-sm-2">Type :</label>
        <div class="col-sm-4">
            @Html.DropDownListFor(model => model.holiday_Search.sHolidayType, new SelectList(Model.ddl_HolidayType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Holiday" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}


<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            @*<th>Holiday ID</th>*@
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.holiday_Search == null)
        {

            <tr class="waiting">
                <td colspan="4">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.holiday_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.holiday_Search.sSearchData)
                {
                    <tr>
                        @*<td>@v.dHolidayID</td>*@
                        <td>@v.dHolidayDate</td>
                        <td style="text-align:left">@v.dHolidayDesc</td>
                        <td>@v.dHolidayType</td>
                        
                        
                        <td width="150px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "Holiday", new { HolidayID = @v.dHolidayID  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Holiday", new { HolidayID = @v.dHolidayID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                            @if (ViewBag.action_delete)
                            {
                                <a href="@Url.Action("Delete", "Holiday", new { HolidayID = @v.dHolidayID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/Delete-file-icon.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "DELETE")
                    {
                       @Html.ActionLink("Close", "Search", new { controller = "Holiday" }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    $(function () {
        $('#date-range-start').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD/MM/YYYY',
        });
    });

    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [5],
                    "orderable": false
                }
            ]
        });
    });
</script>