﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.MenuViewModel
@{
    ViewBag.Title = "Edit Menu";
}

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

@Html.HiddenFor(model => model.menuJSON, htmlAttributes: new { @class = "menuJson" })
<div class="page-header">
    <h1>Menu Management</h1>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Current parent menu:</label>
        @*<div class="col-sm-5">
            @Html.TextBox("input-menu-parent-id-current", Model.menu_Detail.MEU_PARENT_ID, htmlAttributes: new { @class = "form-control input-menu-parent-id-current", @placeholder = "", @readonly = "readonly" })

        </div>
        <div class="col-sm-5">
            @Html.TextBox("input-menu-parent-detail-current", Model.menu_Detail.Menu_ParentDetail, htmlAttributes: new { @class = "form-control input-menu-parent-id-current", @placeholder = "", @readonly = "readonly" })

        </div>*@

        <div class="col-sm-5">

            @Html.TextBoxFor(model => model.menu_Detail.MEU_PARENT_ID_CURRENT, htmlAttributes: new { @class = "form-control input-menu-parent-id-current", @placeholder = "", @readonly = "readonly", @required = "required" })

        </div>
        <div class="col-sm-5">

            @Html.TextBoxFor(model => model.menu_Detail.MEU_PARENT_DETAIL_CURRENT, htmlAttributes: new { @class = "form-control input-menu-parent-detail-current", @placeholder = "", @readonly = "readonly", @required = "required" })

        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Menu Name : </label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.menu_Detail.LNG_DESCRIPTION, htmlAttributes: new { @class = "form-control", @placeholder = "Menu Desciption", @required = "required" })
        </div>
    </div>
                    
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Control Type : </label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.menu_Detail.MEU_CONTROL_TYPE, new SelectList(Model.ddl_ControlType, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">URL : </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.menu_Detail.MEU_URL, htmlAttributes: new { @class = "form-control", @placeholder = "URL" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">URL Redirect : </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.menu_Detail.MEU_URL_DIRECT, htmlAttributes: new { @class = "form-control", @placeholder = "URL Redirect" })
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Select parent menu : </label>
                        <div class="col-sm-5">
                           
                            @Html.TextBoxFor(model => model.menu_Detail.MEU_PARENT_ID, htmlAttributes: new { @class = "form-control input-menu-parent-id-select", @placeholder = "", @readonly = "readonly", @required = "required" })
                           
                        </div>
                        <div class="col-sm-5">

                            @Html.TextBoxFor(model => model.menu_Detail.Menu_ParentDetail, htmlAttributes: new { @class = "form-control input-menu-parent-detail-select", @placeholder = "", @readonly = "readonly", @required = "required" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Before List No : </label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.menu_Detail.MEU_LIST_NO, new SelectList(Model.ddl_ListNo, "Value", "Text"), "Move to end", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                             <div id="treeview-selectable" class="pre-scrollable"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Status:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.menu_Detail.MEU_ACTIVE, new SelectList(Model.ddl_Status, "Value", "Text"), new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                   

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="text-center">

                                @Html.HiddenFor(model=>model.menu_Detail.MEU_ROW_ID)
                                @Html.HiddenFor(model => model.menu_Detail.MEU_IMG)

                                <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                                <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                                @Html.ActionLink("BACK", "Index", new { controller = "Menu" }, htmlAttributes: new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink("Close", "Index", new { controller = "Menu" }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    $("#editButton").click(function () {
        if ($('#editIDHide').val() == "")
        {
            alert("Please select Menu Item");
            return false;
        } else {
            $("#editButton").attr("href", $("#editButton").attr("href") + "/?menuID=" + $('#editIDHide').val());
        }
    });
  		    //var jsonAllMenu = '';

  		    //$.get("Menu/GetAllMenuJson", function (data, status) {
  		    //    //alert("Data: " + data + "\nStatus: " + status);
  		    //    jsonAllMenu = data;
  		    //});

        //var defaultData = [
        //  {
        //    text: 'Parent 1',
        //    href: '#parent1',
        //    tags: ['4'],
        //    menu_url: "CPAIMVC/Scheduler/search?Type=GVanQz8ylOU=",
        //    menu_img: "#",
        //    menu_leve: "2",
        //    state: {
        //        expanded: false,
        //    },
        //    nodes: [
        //      {
        //        text: 'Child 1',
        //        href: '#child1',
        //        tags: ['2'],
        //        nodes: [
        //          {
        //            text: 'Grandchild 1',
        //            href: '#grandchild1',
        //            tags: ['0']
        //          },
        //          {
        //            text: 'Grandchild 2',
        //            href: '#grandchild2',
        //            tags: ['0']
        //          }
        //        ]
        //      },
        //      {
        //        text: 'Child 2',
        //        href: '#child2',
        //        tags: ['0']
        //      }
        //    ]
        //  },
        //  {
        //    text: 'Parent 2',
        //    href: '#parent2',
        //    tags: ['0'],
        //    nodes: [
        //    {
        //        text: 'Child 1',
        //        href: '#child1',
        //        tags: ['2'],
        //        nodes: [
        //          {
        //              text: 'Grandchild 1',
        //              href: '#grandchild1',
        //              tags: ['0']
        //          },
        //          {
        //              text: 'Grandchild 2',
        //              href: '#grandchild2',
        //              tags: ['0']
        //          }
        //        ]
        //    },
        //    {
        //        text: 'Child 2',
        //        href: '#child2',
        //        tags: ['0']
        //    }
        //    ]
        //  },
        //  {
        //    text: 'Parent 3',
        //    href: '#parent3',
        //     tags: ['0']
        //  },
        //  {
        //    text: 'Parent 4',
        //    href: '#parent4',
        //    tags: ['0']
        //  },
        //  {
        //    text: 'Parent 5',
        //    href: '#parent5'  ,
        //    tags: ['0']
        //  }
        //];

        //var json = '[' +
        //  '{' +
        //    '"text": "Parent 1",' +
        //    '"nodes": [' +
        //      '{' +
        //        '"text": "Child 1",' +
        //        '"nodes": [' +
        //          '{' +
        //            '"text": "Grandchild 1"' +
        //          '},' +
        //          '{' +
        //            '"text": "Grandchild 2"' +
        //          '}' +
        //        ']' +
        //      '},' +
        //      '{' +
        //        '"text": "Child 2"' +
        //      '}' +
        //    ']' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 2"' +
        //    '"nodes": [' +
        //    ']' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 3"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 4"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 5"' +
        //  '}' +
        //']';

        //var alternateData = [
        //  {
        //    text: 'Parent 1',
        //    tags: ['2'],
        //    nodes: [
        //      {
        //        text: 'Child 1',
        //        tags: ['3'],
        //        nodes: [
        //          {
        //            text: 'Grandchild 1',
        //            tags: ['6']
        //          },
        //          {
        //            text: 'Grandchild 2',
        //            tags: ['3']
        //          }
        //        ]
        //      },
        //      {
        //        text: 'Child 2',
        //        tags: ['3']
        //      }
        //    ]
        //  },
        //  {
        //    text: 'Parent 2',
        //    tags: ['7']
        //  },
        //  {
        //    text: 'Parent 3',
        //    icon: 'glyphicon glyphicon-earphone',
        //    href: '#demo',
        //    tags: ['11']
        //  },
        //  {
        //    text: 'Parent 4',
        //    icon: 'glyphicon glyphicon-cloud-download',
        //    href: '/demo.html',
        //    tags: ['19'],
        //    selected: true
        //  },
        //  {
        //    text: 'Parent 5',
        //    icon: 'glyphicon glyphicon-certificate',
        //    color: 'pink',
        //    backColor: 'red',
        //    href: 'http://www.tesco.com',
        //    tags: ['available','0']
        //  }
        //];

        //var $searchableTree = $('#treeview-searchable').treeview({
        //    data: defaultData,
        //    showTags: true,
        //    color: "#428bca",
        //    expandIcon: 'glyphicon glyphicon-chevron-right',
        //    collapseIcon: 'glyphicon glyphicon-chevron-down',
        //    nodeIcon: 'glyphicon glyphicon-bookmark',
        //});

        var search = function(e) {
          var pattern = $('#input-search').val();
          var options = {
            ignoreCase: $('#chk-ignore-case').is(':checked'),
            exactMatch: $('#chk-exact-match').is(':checked'),
            revealResults: $('#chk-reveal-results').is(':checked')
          };
          var results = $searchableTree.treeview('search', [ pattern, options ]);

          var output = '<p>' + results.length + ' matches found</p>';
          $.each(results, function (index, result) {
            output += '<p>- ' + result.text + '</p>';
          });
          $('#search-output').html(output);
        }

        $('#btn-search').on('click', search);
        $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
          $searchableTree.treeview('clearSearch');
          $('#input-search').val('');
          $('#search-output').html('');
        });

       

        var initSelectableTree = function () {

            return $('#treeview-selectable').treeview({
                data: $('.menuJson').val(),
                color: "#428bca",
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                showTags: true,
               
                //multiSelect: $('#chk-select-multi').is(':checked'),
                onNodeSelected: function (event, node) {
                    $('.input-menu-parent-id-select').val(node.menu_id);
                    $('.input-menu-parent-detail-select').val(node.text);
                    $('#editIDHide').val(node.menu_id);
                    getListNoInParent(node.menu_id);
                    //$('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
                },
                onNodeUnselected: function (event, node) {
                    $('.input-menu-parent-id-select').val('#');
                    $('.input-menu-parent-detail-select').val('ROOT');
                    $('#editIDHide').val('#');
                    getListNoInParent("#");
                    //$('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
                }
            });
        };
        var $selectableTree = initSelectableTree();

        var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [$('.input-menu-parent-id-select').val(), { ignoreCase: false, exactMatch: false }]);
        };
        var selectableNodes = findSelectableNodes();

        $('#treeview-selectable').treeview('expandAll', { levels: 20, silent: true });

        function getListNoInParent(menuId)
        {
            var url = '@Url.Action("GetListNoInParent", "Menu")'; // Don't hard code your url's!
            var ddl = $('#menu_Detail_MEU_LIST_NO'); // cache it
           
            $.getJSON(url, { menuParentID: menuId }, function (response) {
               
                ddl.empty(); // remove any existing options
                //ddl.append('<option value="">' + "Move to end" + '<option/>');
                ddl.append(new Option("Move to end", ""));
                $.each(response, function (index, item) {
                    //ddl.append($('</option>').text(item.Text).val(item.ID));
                    ddl.append(new Option(item.Text, item.Value));
                    //ddl.append('<option value="' + item.Value + '">' + item.Text + '<option/>');
                });
            });
           
        }
</script>