﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.MenuViewModel
@{
    ViewBag.Title = "Index";
}

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

@if (TempData["ReponseStatus"] != null && Convert.ToBoolean(TempData["ReponseStatus"]) == false)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#myModalAdd').modal({ backdrop: 'static', keyboard: false });
            $('#myModalAdd').modal('show');
        });
    </script>
}

@Html.HiddenFor(model => model.menuJSON, htmlAttributes: new { @class = "menuJson" })
<div class="page-header">
    <h1>Menu Management</h1>
</div>

<div class="container">
   
    @*<h2>Selectable Tree</h2>*@
    <div class="col-sm-4">
        <h2>Search Menu</h2>
        <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="text" class="form-control" id="input-select-node" placeholder="Identify node..." value="">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="btn-expand-all">Expand All</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info" id="btn-collapse-all">Collapse All</button>
        </div>

    </div>
    <div class="col-sm-8">
        <h2>List of Menu</h2>
        <div id="treeview-selectable" class="pre-scrollable"></div>
        <br/>
        <div class="form-group">
            <a id="btnAdd" class="btn btn-success" data-toggle="modal" data-target="#myModalAdd" role="button">Add</a>
            <input type="hidden" value="" id="editIDHide" />
            <a class="btn btn-warning" href="@Url.Action("Edit", "Menu")" id="editButton">Edit</a>
        </div>
        
    </div>
    
    
    @*<div class="col-sm-4">
        <h2>(Test Event)</h2>
        <div id="selectable-output"></div>
    </div>*@
</div>

<!-- Modal fo Add -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Menu</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Parent Menu:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.menu_Detail.MEU_PARENT_ID, htmlAttributes: new { @class = "form-control input-menu-parent-id", @placeholder = "Parent Menu", @readonly = "readonly", @required = "required" })
                    </div>
                </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Menu Name:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.menu_Detail.LNG_DESCRIPTION, htmlAttributes: new { @class = "form-control", @placeholder = "Menu Desciption", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Control Type:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.menu_Detail.MEU_CONTROL_TYPE, new SelectList(Model.ddl_ControlType, "Value", "Text"), "-- Select --", new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">URL:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.menu_Detail.MEU_URL, htmlAttributes: new { @class = "form-control", @placeholder = "URL" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">URL Redirect:</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.menu_Detail.MEU_URL_DIRECT, htmlAttributes: new { @class = "form-control", @placeholder = "URL Redirect" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Status:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.menu_Detail.MEU_ACTIVE, new SelectList(Model.ddl_Status, "Value", "Text"), new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
            </div>
            <div class="modal-footer">

                @Html.HiddenFor(model=>model.menu_Detail.MEU_IMG)

                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseAdd" >Close</button>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
}
    </div>
</div>

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    @Html.ActionLink("Close", "Index", new { controller = "Menu" }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">

    $("#editButton").click(function () {
        if ($('#editIDHide').val() == "")
        {
            alert("Please select Menu Item");
            return false;
        } else {
            $("#editButton").attr("href", $("#editButton").attr("href") + "/?menuID=" + $('#editIDHide').val());
        }
    });

    //$('.input-menu-parent-id').val("#");
  	//	    var jsonAllMenu = '';

  	//	    $.get("Menu/GetAllMenuJson", function (data, status) {
  	//	        //alert("Data: " + data + "\nStatus: " + status);
  	//	        jsonAllMenu = data;
  	//	    });

    //var defaultData = [
        //  {
        //    text: 'Parent 1',
        //    href: '#parent1',
        //    tags: ['4'],
        //    menu_url: "CPAIMVC/Scheduler/search?Type=GVanQz8ylOU=",
        //    menu_img: "#",
        //    menu_leve: "2",
        //    state: {
        //        expanded: false,
        //    },
        //    nodes: [
        //      {
        //        text: 'Child 1',
        //        href: '#child1',
        //        tags: ['2'],
        //        nodes: [
        //          {
        //            text: 'Grandchild 1',
        //            href: '#grandchild1',
        //            tags: ['0']
        //          },
        //          {
        //            text: 'Grandchild 2',
        //            href: '#grandchild2',
        //            tags: ['0']
        //          }
        //        ]
        //      },
        //      {
        //        text: 'Child 2',
        //        href: '#child2',
        //        tags: ['0']
        //      }
        //    ]
        //  },
        //  {
        //    text: 'Parent 2',
        //    href: '#parent2',
        //    tags: ['0'],
        //    nodes: [
        //    {
        //        text: 'Child 1',
        //        href: '#child1',
        //        tags: ['2'],
        //        nodes: [
        //          {
        //              text: 'Grandchild 1',
        //              href: '#grandchild1',
        //              tags: ['0']
        //          },
        //          {
        //              text: 'Grandchild 2',
        //              href: '#grandchild2',
        //              tags: ['0']
        //          }
        //        ]
        //    },
        //    {
        //        text: 'Child 2',
        //        href: '#child2',
        //        tags: ['0']
        //    }
        //    ]
        //  },
        //  {
        //    text: 'Parent 3',
        //    href: '#parent3',
        //     tags: ['0']
        //  },
        //  {
        //    text: 'Parent 4',
        //    href: '#parent4',
        //    tags: ['0']
        //  },
        //  {
        //    text: 'Parent 5',
        //    href: '#parent5'  ,
        //    tags: ['0']
        //  }
        //];

    //var json = '[' +
        //  '{' +
        //    '"text": "Parent 1",' +
        //    '"nodes": [' +
        //      '{' +
        //        '"text": "Child 1",' +
        //        '"nodes": [' +
        //          '{' +
        //            '"text": "Grandchild 1"' +
        //          '},' +
        //          '{' +
        //            '"text": "Grandchild 2"' +
        //          '}' +
        //        ']' +
        //      '},' +
        //      '{' +
        //        '"text": "Child 2"' +
        //      '}' +
        //    ']' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 2"' +
        //    '"nodes": [' +
        //    ']' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 3"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 4"' +
        //  '},' +
        //  '{' +
        //    '"text": "Parent 5"' +
        //  '}' +
        //']';

    //var alternateData = [
        //  {
        //    text: 'Parent 1',
        //    tags: ['2'],
        //    nodes: [
        //      {
        //        text: 'Child 1',
        //        tags: ['3'],
        //        nodes: [
        //          {
        //            text: 'Grandchild 1',
        //            tags: ['6']
        //          },
        //          {
        //            text: 'Grandchild 2',
        //            tags: ['3']
        //          }
        //        ]
        //      },
        //      {
        //        text: 'Child 2',
        //        tags: ['3']
        //      }
        //    ]
        //  },
        //  {
        //    text: 'Parent 2',
        //    tags: ['7']
        //  },
        //  {
        //    text: 'Parent 3',
        //    icon: 'glyphicon glyphicon-earphone',
        //    href: '#demo',
        //    tags: ['11']
        //  },
        //  {
        //    text: 'Parent 4',
        //    icon: 'glyphicon glyphicon-cloud-download',
        //    href: '/demo.html',
        //    tags: ['19'],
        //    selected: true
        //  },
        //  {
        //    text: 'Parent 5',
        //    icon: 'glyphicon glyphicon-certificate',
        //    color: 'pink',
        //    backColor: 'red',
        //    href: 'http://www.tesco.com',
        //    tags: ['available','0']
        //  }
        //];

    //var $searchableTree = $('#treeview-searchable').treeview({
        //  data: defaultData,
        //});

        var search = function (e) {
            var pattern = $('#input-search').val();
            var options = {
                ignoreCase: $('#chk-ignore-case').is(':checked'),
                exactMatch: $('#chk-exact-match').is(':checked'),
                revealResults: $('#chk-reveal-results').is(':checked')
            };
            var results = $searchableTree.treeview('search', [pattern, options]);

            var output = '<p>' + results.length + ' matches found</p>';
            $.each(results, function (index, result) {
                output += '<p>- ' + result.text + '</p>';
            });
            $('#search-output').html(output);
        }

        $('#btn-search').on('click', search);
        $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
            $searchableTree.treeview('clearSearch');
            $('#input-search').val('');
            $('#search-output').html('');
        });

        var initSelectableTree = function () {

        return $('#treeview-selectable').treeview({
              //data: alternateData,
              data: $('.menuJson').val(),
              color: "#428bca",
              expandIcon: 'glyphicon glyphicon-chevron-right',
              collapseIcon: 'glyphicon glyphicon-chevron-down',
              //data: defaultData, 
              showTags: true,
            
            //multiSelect: $('#chk-select-multi').is(':checked'),
            onNodeSelected: function(event, node) {
                $('.input-menu-parent-id').val(node.menu_id);
                $('#editIDHide').val(node.menu_id);
                $('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
                //$(this).treeview('selectNode', [node.nodeId, { silent: true }]);
                //$('.select-node').prop('disabled', !(selectableNodes.length >= 1));
            },
            onNodeUnselected: function (event, node) {
                $('.input-menu-parent-id').val("#");
                $('#editIDHide').val("");
                $('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
                //$(this).treeview('unselectNode', [node.nodeId, { silent: true }]);
            }
          });
        };

        var $selectableTree = initSelectableTree();

        var findSelectableNodes = function () {
            return $selectableTree.treeview('search', [$('#input-select-node').val(), { ignoreCase: false, exactMatch: false }]);
        };
        var selectableNodes = findSelectableNodes();

        $('#input-select-node').on('keyup', function (e) {
            selectableNodes = findSelectableNodes();
            //$('.select-node').prop('disabled', !(selectableNodes.length >= 1));
        });

        //$('#btn-unselect-node.select-node').on('click', function (e) {
        //    //alert(selectableNodes);
        //    $selectableTree.treeview('unselectNode', [selectableNodes, { silent: false }]);
        //});

        //// Expand/collapse all
        $('#btn-expand-all').on('click', function (e) {
            var levels = 99;//$('#select-expand-all-levels').val();
          $selectableTree.treeview('expandAll', { levels: levels, silent: $('#chk-expand-silent').is(':checked') });
        });

        $('#btn-collapse-all').on('click', function (e) {
            $selectableTree.treeview('collapseAll', { silent: $('#chk-expand-silent').is(':checked') });
        });


        $(document).ready(function () {
            $('#btnCloseAdd').click(function (e) {
                //alert('aaa');
                //Some code
                  ClearFormAdd();
                //$('#myModalAdd').modal('show');
            });

              function ClearFormAdd() {

                  //alert('bbb');
                  $('#treeview-selectable').treeview('clearSearch');
                  $('#input-search').val('');
                  $('#search-output').html('');
                  $('#menu_Detail_MEU_PARENT_ID').val('#');
                  $('#menu_Detail_LNG_DESCRIPTION').val('');
                  $('#menu_Detail_MEU_CONTROL_TYPE').val('');
                  $('#menu_Detail_MEU_URL').val('');
                  $('#menu_Detail_MEU_URL_DIRECT').val('#');
                  $('#menu_Detail_MEU_ACTIVE').val('ACTIVE');
              }
        });
      
       

</script>