﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCounterpartyEntryViewModel
@{
    ViewBag.Title = "Index";
   // Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();

    if (actionName == "CREATE")
    {
        ViewBag.Title = "Counterparty Entry";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Counterparty Entry";
    }
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }

    .divFileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }


</style>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}


@using (Html.BeginForm("Create", "HedgeCounterpartyEntry", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Counterparty Entry</h1>
    </div>
    <div class="row">
        @Html.HiddenFor(m=>m.cpe_Detail.row_id)
        @Html.HiddenFor(m=>m.cpe_Detail.pageMode)
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">

                    </div>
                    <div class="pull-right">
                        Version: @ViewBag.Version
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Counter Party<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.cpe_Detail.counterParty, new SelectList(Model.ddl_counterparty, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_Detail.counterParty) ? string.Empty : Model.cpe_Detail.counterParty)), new { @class = "form-control" , @required = "required" , @disabled = "true" })                           
                            @Html.HiddenFor(model=>model.cpe_Detail.counterParty)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status Trad<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.statustrading == "NORMAL")
                                                {
                                                    <input id="rdoStatusN" name="cpe_Detail.statustrading" value="NORMAL" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoStatusN" name="cpe_Detail.statustrading" value="NORMAL" type="radio" disabled="disabled" />
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoStatusN" name="cpe_Detail.statustrading" value="NORMAL" type="radio" checked />
                                            }
                                            <label for="rdoStatusN" style="padding-bottom: 1.5px;">
                                                NORMAL
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.statustrading == "SPECIAL")
                                                {
                                                    <input id="rdoStatusS" name="cpe_Detail.statustrading" value="SPECIAL" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoStatusS" name="cpe_Detail.statustrading" value="SPECIAL" type="radio" disabled="disabled" />
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoStatusS" name="cpe_Detail.statustrading" value="SPECIAL" type="radio" disabled="disabled" />
                                            }                                            
                                            <label for="rdoStatusS" style="padding-bottom: 1.5px;">
                                                SPECIAL
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.statustrading == "SUSPEND")
                                                {
                                                    <input id="rdoStatusSP" name="cpe_Detail.statustrading" value="SUSPEND" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoStatusSP" name="cpe_Detail.statustrading" value="SUSPEND" type="radio" disabled="disabled" />
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoStatusSP" name="cpe_Detail.statustrading" value="SUSPEND" type="radio" disabled="disabled" />
                                            }
                                            <label for="rdoStatusSP" style="padding-bottom: 1.5px;">
                                                SUSPEND
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2" id="Value">
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span style="color:red"></span></label>
                        <div class="col-md-6" style="padding-top: 8px;">
                            <a href="javascript:EnableRedio('cpe_Detail.statustrading')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Counter Party Name<span style="color:red">*</span></label>
                        <div class="col-md-8">
                           @Html.TextBoxFor(model => model.cpe_Detail.counterPartyName, htmlAttributes: new { @class = "form-control", @required = "required" ,@maxlength = "100" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Counter Party Full Name<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.cpe_Detail.counterPartyFullName, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "1000" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mapping CDS Counterparty<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.cpe_Detail.mappingCDS, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly", @maxlength = "1000" })
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span></label>
                                    <div class="col-md-6" style="padding-top: 8px;">
                                        <a href="javascript:EnableInput('cpe_Detail.mappingCDS')">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Latest CDS<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.cpe_Detail.latestCDS, new { @class = "form-control input-date-picker search-input", @placeholder = "DD/MM/YYYY", @maxlength = "11", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2" id="Value">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Value<span style="color:red">*</span></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.cpe_Detail.latestCDS_value, htmlAttributes: new { @class = "form-control", @required = "required", @maxlength = "50" })
                        </div>
                    </div>
                </div>
                
            </div>            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Credit Rating<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.cpe_Detail.creditRating, new SelectList(Model.ddl_creditRating, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_Detail.creditRating) ? string.Empty : Model.cpe_Detail.creditRating)),"--Select--", new { @class = "form-control", @disabled = "true", @required = "required" , @onchange="getCreditLimit();"})
                                <input type="hidden" name="cpe_Detail.creditRating" value="@Model.cpe_Detail.creditRating" />
                            </div>                            
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span></label>
                                    <div class="col-md-6" style="padding-top: 4px;">
                                        <a href="javascript:EnableInput('cpe_Detail.creditRating')">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="hidden" name="cpe_Detail.creditRating_NAFlag_h" value="@Model.cpe_Detail.creditRating_NAFlag_h" />
                    <div class="form-group">
                        <div class="col-md-3 checkbox" style="padding-top: 1px;">
                            @if (Model.cpe_Detail.creditRating_NAFlag != null && Model.cpe_Detail.creditRating_NAFlag == "on")
                            {
                                <input type="checkbox" id="cpe_Detail_creditRating_NAFlag" name="cpe_Detail.creditRating_NAFlag" class="checkbox_experts_areas_units_value" disabled="disabled" checked="checked">
                                
                            }
                            else
                            {
                                <input type="checkbox" id="cpe_Detail_creditRating_NAFlag" name="cpe_Detail.creditRating_NAFlag" class="checkbox_experts_areas_units_value" disabled="disabled">
                            }                
                            <label for="cpe_Detail_creditRating_NAFlag">Refer Credit Rating</label>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-7">
                                @Html.DropDownListFor(model => model.cpe_Detail.refer_CreditRating, new SelectList(Model.ddl_CounterpartyMapping, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_Detail.refer_CreditRating) ? string.Empty : Model.cpe_Detail.refer_CreditRating)),"--Select--", new { @class = "form-control", @disabled = "true", @required = "required", @onchange = "getReferCreditLimit();" })
                                @Html.HiddenFor(model => model.cpe_Detail.refer_CreditRating)
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span></label>
                                    <div class="col-md-6" style="padding-top: 4px;">
                                        <a href="javascript:EnableInput('cpe_Detail.refer_CreditRating')">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Credit Limit<span style="color:red">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.cpe_Detail.creditLimit, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" , @maxlength = "50" })
                        </div>
                        <div class="col-md-2">
                            USD
                        </div>
                    </div>
                </div>
                <div class="col-md-2" id="Value">
                    <div class="form-group">
                        <div class="col-md-12 checkbox">
                            @if (Model.cpe_Detail.creditLimit_UpdateFlag != null && Model.cpe_Detail.creditLimit_UpdateFlag == "on")
                            {
                                <input type="checkbox" id="cpe_Detail_creditLimit_UpdateFlag" name="cpe_Detail.creditLimit_UpdateFlag" class="checkbox_experts_areas_units_value" disabled="disabled" checked="checked">
                            }
                            else
                            {
                                <input type="checkbox" id="cpe_Detail_creditLimit_UpdateFlag" name="cpe_Detail.creditLimit_UpdateFlag" class="checkbox_experts_areas_units_value" disabled="disabled">
                            }
                            <label for="cpe_Detail_creditLimit_UpdateFlag">Do not update from import.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-6" style="padding-top: 4px;">
                            <a href="javascript:EnableInput('cpe_Detail.creditLimit')">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment Day<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.cpe_Detail.paymentDay, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.cpe_Detail.countDate, new SelectList(Model.ddl_countDate, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_Detail.countDate) ? string.Empty : Model.cpe_Detail.countDate)), new { @class = "form-control", @disabled = "true" })
                                @Html.HiddenFor(model=>model.cpe_Detail.countDate)
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><span style="color:red"></span></label>
                                    <div class="col-md-6" style="padding-top: 4px;">
                                        <a href="javascript:EnableInput('cpe_Detail.paymentDay')">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Rounding Decimal<span style="color:red">*</span></label>
                        <div class="col-md-6">
                           @Html.TextBoxFor(model => model.cpe_Detail.roundingDecimal, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly", @maxlength = "5" })
                        </div>                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">                        
                        <div class="col-md-8">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.status_roundingDecimal == "1")
                                                {
                                                    <input id="rdoBeforeConvert" name="cpe_Detail.status_roundingDecimal" value="BC" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoBeforeConvert" name="cpe_Detail.status_roundingDecimal" value="BC" type="radio" disabled="disabled" />
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoBeforeConvert" name="cpe_Detail.status_roundingDecimal" value="BC" type="radio" checked />
                                            }
                                            <label for="rdoBeforeConvert" style="padding-bottom: 1.5px;">
                                                Before Convert
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail.status_roundingDecimal == "0")
                                                {
                                                    <input id="rdoAfterConvert" name="cpe_Detail.status_roundingDecimal" value="AC" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoAfterConvert" name="cpe_Detail.status_roundingDecimal" value="AC" type="radio" disabled="disabled" />
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoAfterConvert" name="cpe_Detail.status_roundingDecimal" value="AC" type="radio" disabled="disabled" />
                                            }
                                            <label for="rdoAfterConvert" style="padding-bottom: 1.5px;">
                                                After Convert
                                            </label>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-md-6" style="padding-top: 4px;">
                                    <a href="javascript:EnableInput('cpe_Detail.roundingDecimal')">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Description</label>
                        <div class="col-md-8">    
                            @Html.TextAreaFor(model => model.cpe_Detail.description, htmlAttributes: new { @class = "form-control", @style= "min-height: 80px;" })                    
                        </div>
                    </div>
                </div>  
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.status == "ACTIVE")
                                                {
                                                    <input id="rdoStatusA" name="cpe_Detail.status" value="ACTIVE" type="radio" checked />
                                                }
                                                else
                                                {
                                                    <input id="rdoStatusA" name="cpe_Detail.status" value="ACTIVE" type="radio"/>
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoStatusA" name="cpe_Detail.status" value="ACTIVE" type="radio" checked />
                                            }
                                            <label for="rdoStatusA" style="padding-bottom: 1.5px;">
                                                ACTIVE
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            @if (Model.cpe_Detail.pageMode == "EDIT")
                                            {
                                                if (Model.cpe_Detail != null && Model.cpe_Detail.status == "INACTIVE")
                                                {
                                                    <input id="rdoStatusI" name="cpe_Detail.status" value="INACTIVE" type="radio" checked />
                                                }
                                                else
                                                {
                                                <input id="rdoStatusI" name="cpe_Detail.status" value="INACTIVE" type="radio"/>
                                                }
                                            }
                                            else
                                            {
                                                <input id="rdoStatusI" name="cpe_Detail.status" value="INACTIVE" type="radio"/>
                                            }
                                            <label for="rdoStatusI" style="padding-bottom: 1.5px;">
                                                INACTIVE
                                            </label>
                                        </div>
                                    </div>                               
                                </div>
                            </div>
                        </div>

                    </div>
                </div>              
            </div>
        </div>    
    </div>


    //TAB
    <ul class="nav nav-tabs">
        <li id="li_detail" class="active"><a href="#tab_credit_limit" data-toggle="tab">Credit Limit</a></li>
        <li id="li_data"><a href="#tab_cds" data-toggle="tab"> 5-ys CDS</a></li>
        <li id="li_data"><a href="#tab_history" data-toggle="tab">History</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab_credit_limit" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-4">
                    <h3 style="font-weight:bold">Credit Limit Specify period</h3>
                </div>

                <div class="col-md-4 pull-right">
                    <br />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Filter : </label>
                        <div class="col-md-4">
                            <select class="form-control" id="filter" onchange="filterData();" >
                                <option>ACTIVE</option>
                                <option>INACTIVE</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <table class="table" style="width: 1100px;">
                    <thead style="display: inline-block;">
                        <tr>
                            <th style="width: 497px;">Period</th>
                            <th style="width: 377px;">Credit Amount(USD)</th>
                            <th style="width: 526px;">Note</th>
                            <th style="width: 485px;">Update Date</th>
                            <th style="width: 475px;">Update By</th>
                            <th style="width: 522px;">Status</th>
                            <th style="width:174px;"></th>
                        </tr>
                    </thead>
                    <tbody id="CreditLimitSP" style="display: block;max-height:200px; overflow-y:scroll; overflow-x:hidden;">  
                        @if (Model.cpe_Detail.creditLimitSpecifyPeriod!=null && Model.cpe_Detail.creditLimitSpecifyPeriod.Any())
	                    {
                            for (int i = 0; i < Model.cpe_Detail.creditLimitSpecifyPeriod.Count(); i++)
                            {
                                <tr class="@Model.cpe_Detail.creditLimitSpecifyPeriod[i].status">
                                    @Html.HiddenFor(m=>m.cpe_Detail.creditLimitSpecifyPeriod[i].credit_limit_code)
                                    <td style="width:167px">
                                        @Html.TextBoxFor(m => m.cpe_Detail.creditLimitSpecifyPeriod[i].period, new { @class = "form-control input-date-picker search-input", @placeholder = "dd/MM/yyyy to dd/MM/yyyy", @maxlength = "24", @required = "required", @readonly = "readonly" })
                                    </td>
                                    <td style="width:170px">
                                        @Html.TextBoxFor(m=>m.cpe_Detail.creditLimitSpecifyPeriod[i].credit_amount,new {@class="form-control" , @readonly = "readonly", @maxlength = "50" })
                                    </td>
                                    <td style="width:166px">
                                        @Html.TextBoxFor(m => m.cpe_Detail.creditLimitSpecifyPeriod[i].note, new { @class = "form-control" , @readonly = "readonly" })
                                    </td>
                                    <td style="width:168px">
                                        @Html.TextBoxFor(m => m.cpe_Detail.creditLimitSpecifyPeriod[i].updated_date, new { @class = "form-control" , @readonly = "readonly" })
                                    </td>
                                    <td style="width:168px">
                                        @Html.TextBoxFor(m => m.cpe_Detail.creditLimitSpecifyPeriod[i].updated_by, new { @class = "form-control" , @readonly = "readonly" })
                                    </td>
                                    <td style="width:172px">
                                        @Html.DropDownListFor(m => m.cpe_Detail.creditLimitSpecifyPeriod[i].status, new SelectList(Model.ddl_MasterDDL, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_Detail.creditLimitSpecifyPeriod[i].status) ? string.Empty : Model.cpe_Detail.creditLimitSpecifyPeriod[i].status)), new { @class = "form-control", @disabled = "true", @required = "required"})
                                        @Html.HiddenFor(m=>m.cpe_Detail.creditLimitSpecifyPeriod[i].status)
                                    </td>
                                    <td style="width:38px">
                                        <div class="form-group">
                                            <a href="javascript:void(0)" onclick="return editCLS(@i);">
                                                <i class="fa fa-pencil" aria-hidden="true" style="font-size: 16px;"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="remRow" onclick="return confirmDeletRow();">
                                                <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 16px;"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }     
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <a class="btn btn-default addUnit" href="javascript:void(0);" role="button">Add</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="tab_cds" class="tab-pane fade in" >
            <br />
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Search Date</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.cpe_Detail.latestCDS, new { @id = "SearchCDS", @class = "form-control input-date-picker search-input", @placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", @maxlength = "24" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-6" style="padding-top: 4px;">
                        <a href="javascript:SearchDataCDS()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <table id="tableCDS" class="table" style="width: 1100px;">
                    <thead style="display: inline-block;">
                        <tr>
                            <th style="width:523px">Date</th>
                            <th style="width:486px">CDS Value</th>
                            <th style="width:502px">Updated Date</th>
                            <th style="width:508px">Updated By</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyCDS" style="display: block;max-height:200px; overflow-y:scroll; overflow-x:hidden;">
                        @if (Model.cpe_Detail.cds != null && Model.cpe_Detail.cds.Any())
                        {
                            for (int i = 0; i < Model.cpe_Detail.cds.Count(); i++)
                            {
                                <tr>
                                    <td style="width:500px">@Model.cpe_Detail.cds[i].date</td>
                                    <td style="width:500px">@Model.cpe_Detail.cds[i].value</td>
                                    <td style="width:500px">@Model.cpe_Detail.cds[i].updated_date</td>
                                    <td style="width:500px">@Model.cpe_Detail.cds[i].updated_by</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tab_history" class="tab-pane fade in">
            <div class="container">
                <br />
                <table id="historyResultTable" class="table table-hover " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date Time</th>
                            <th>By</th>
                            <th>Reason</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.cpe_Detail.history != null && Model.cpe_Detail.history.Any())
                        {
                            for (int i = 0; i < Model.cpe_Detail.history.Count(); i++)
                            {
                                <tr>
                                    @Html.HiddenFor(model=>model.cpe_Detail.history[i].history_id)
                                    <td>@Model.cpe_Detail.history[i].version</td>
                                    <td>@Model.cpe_Detail.history[i].date</td>
                                    <td>@Model.cpe_Detail.history[i].by</td>
                                    <td>@Model.cpe_Detail.history[i].reason</td>
                                    <td>
                                        <a href="javascript:addEmailForTable('@( Model.cpe_Detail.history[i].history_id)');">
                                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>            
            </div>
        </div>
    </div>



    //Pop Up
    <div class="modal fade" id="HistoryPopUp" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center">
            <div class="modal-content" style="height:550px;overflow:scroll;overflow-x:hidden;">
                <div class="modal-header">
                    <h1>History Log</h1>
                </div>
                <div class="modal-body " id="modal_detail">
                    @*Jah*@
                    <table id="historyLogResultTable"  class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Action</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>         
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="indexFor" />
                    <input type="button" value="Close" class="btn btn-default" id="ClosePopUp" name="ClosePopUp" onclick="closePopUp()" />
                </div>
            </div>
        </div>
    </div>


    //PopUp before save
    <div class="modal fade" id="ReasonPopUp" tabindex="-1" role="dialog" data-url=''>
        <div class="modal-dialog" role="document" @*style="width:80%; height:550px; text-align:center"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Confirm</h2>
                </div>
                <div class="modal-body " id="modal_detail">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-3 control-label">Reason for revise<span style="color:red">*</span></label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.cpe_History.reason, htmlAttributes: new { @class = "form-control", @style = "min-height: 80px;" , @required = "required" })
                                        @*@Html.TextBoxFor(model=>model.cpe_Detail.creditLimitSpecifyPeriod[0].period)*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <input type="hidden" id="indexFor" />
                <input type="submit" value="OK" class="btn btn-success" id="gotoSave" name="OK" />
                <input type="button" value="Close" class="btn btn-default" id="ClosePopUp" name="ClosePopUp" onclick="closeReasonPopUp()" />
            </div>
        </div>
    </div>
</div>



<div class="form-group">
    <div class="col-sm-12">
        <div class="text-center">
            @*@if (ViewBag.action_edit && actionName != "VIEW")
    {
        <button type="submit" class="btn btn-primary">SAVE</button>
    }*@
            <input type="button" value="SAVE" class="btn btn-success" onclick="saveData()" />
            @Html.ActionLink("BACK", "Index", new { controller = "HedgeCounterpartyEntry" }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Index",
                             "HedgeCounterpartyEntry", // controllerName
                                     //new
                                     //{                                                     // routeValues
                                     //    AreaCode = Model.area_Detail.AreaCode
                                     //},
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Index", new { controller = "HedgeCounterpartyEntry" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    @if (actionName == "CREATE") {
    <script>
        $("input").attr("readonly", false);

        $("#cpe_Detail_counterParty").attr("disabled", false);
        $("#cpe_Detail_creditRating").attr("disabled", false);
        $("#cpe_Detail_countDate").attr("disabled", false);
        $('.fa-pencil-square-o').parent().parent().parent().parent().hide()
        $('input[type="checkbox"]').attr("disabled", false);
        $("input[type='radio']").attr("disabled",false);
        //$('#actionButtonxxx').hide();
        //$('tfoot').hide();
        //$('textarea').attr("readonly", true);
        //$("select").attr("disabled", false);
    </script>
    }

<script>
    $(document).ready(function () {
        var table1 = $('#historyResultTable').DataTable({
            "targets": 'no-sort',
            "bSort": false,
            "searching": false,
            "lengthChange": false
        });

        var table2 = $('#CreditLimitSpecifyPeriodResultTable').DataTable({
            "targets": 'no-sort',
            "bSort": false,
            "searching": false,
            "lengthChange": false
        });
    });




    function saveData() {
        var actionName = '@actionName';
        if (actionName == 'CREATE') {
            $('#gotoSave').click();
        }
        else{
            $('#ReasonPopUp').modal({ backdrop: 'static', keyboard: false });
            $('#ReasonPopUp').modal('show');
        }

    };



    $('#cpe_Detail_latestCDS').dateRangePicker(
        {
            autoClose: true,
            singleDate: true,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false }
        });



    $('#SearchCDS').dateRangePicker(
        {
            autoClose: true,
            //singleDate: true,
            showShortcuts: false,
            format: 'DD/MM/YYYY',
            time: { enabled: false }
        });



    function addEmailForTable(id) {
        $.ajax({
            url: '@Url.Action("GetHistoryLog", "HedgeCounterpartyEntry")',
            type: 'GET',
            data: { "id": id },
            success: function (data) {
                //$('#modal_detail').html(data);
                $('#HistoryPopUp').modal({ backdrop: 'static', keyboard: false });
                $('#HistoryPopUp').modal('show');
                AddResult(data);
            }
        });

        function AddResult(data) {
            $('#historyLogResultTable').DataTable({
                "destroy": true,
                "data": data,
                searching: false, paging: true,
                "columns": [
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.order } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.title } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.action } },
                    { "data": null, "className": "dt-body-center", "mRender": function (data) { return data.history_note } },
                ],
            });
        };


                            @*$.ajax({
            url: '@Url.Action("GetDataHistory", "HedgeCounterpartyEntry")',
            type: 'POST',
            success: function (data) {
                $('#modal_detail').html(data);
                $('#HistoryPopUp').modal({ backdrop: 'static', keyboard: false });
                $('#indexFor').val(indexOfID);
                $('#HistoryPopUp').modal('show');
            }
    });*@
                        };

    function closePopUp() {
        $('#HistoryPopUp').modal('hide');
    };

    function closeReasonPopUp() {
        $('#ReasonPopUp').modal('hide');
    };

    $(".addUnit").click(function () {
        var dt = new Date();
        var d = dt.getDate();
        var m = dt.getMonth() + 1;
        var y = dt.getFullYear();
        var date =  d + '/' + m + '/' + y;
        $("#CreditLimitSP").append('<tr class="ACTIVE">' //unit_Detail_User_0__Order
               + '<td style="width:167px">'
               + '<input class="form-control input-date-picker search-input" id="cpe_Detail_creditLimitSpecifyPeriod_0__period" maxlength="24" name="cpe_Detail.creditLimitSpecifyPeriod[0].period" placeholder="dd/MM/yyyy to dd/MM/yyyy" type="text" value=""'
               + '</td>'
               + '<td style="width:170px">'
               + '<input class="form-control" id="cpe_Detail_creditLimitSpecifyPeriod_0__credit_amount" name="cpe_Detail.creditLimitSpecifyPeriod[0].credit_amount" type="text" value="">'
               + '</td>'
               + '<td style="width:166px">'
               + '<input class="form-control" id="cpe_Detail_creditLimitSpecifyPeriod_0__note" name="cpe_Detail.creditLimitSpecifyPeriod[0].note" type="text" value="">'
               + '</td >'
               + '<td style="width:168px">'
               + '<input class="form-control" id="cpe_Detail_creditLimitSpecifyPeriod_0__updated_date" name="cpe_Detail.creditLimitSpecifyPeriod[0].updated_date" type="text" value="' + date + '">'
               + '</td>'
               + '<td style="width:168px">'
               + '<input class="form-control" id="cpe_Detail_creditLimitSpecifyPeriod_0__updated_by" name="cpe_Detail.creditLimitSpecifyPeriod[0].updated_by" type="text" value="' + '@ViewBag.User' +'">'
               + '</td>'
               + '<td style="width:172px">'
               + '<select class="form-control" id="cpe_Detail_creditLimitSpecifyPeriod_0__status" name="cpe_Detail.creditLimitSpecifyPeriod[0].status">'
               + '<option>ACTIVE</option>'
               + '<option>INACTIVE</option>'
               + '</select>'
               + '<input id="cpe_Detail_creditLimitSpecifyPeriod_0__status" name="cpe_Detail.creditLimitSpecifyPeriod[0].status" type="hidden" value="ACTIVE">'
               + '</td>'
               + '<td style="width:38px">'
               + '<div class="form-group">'
               + '<a href="javascript:addEmailForTable()">'
               + '<i class="fa fa-pencil" aria-hidden="true" style="font-size: 16px;"></i>'
               + '</a>'
               + '<a href="javascript:void(0);" class="remRow" onclick="return confirmDeletRow();">'
               + '<i class="fa fa-trash-o" aria-hidden="true" style="font-size: 16px;" ></i>'
               + '</a>'
               + '</div>'
               + '</td>'
               + '</tr>'
           );

        $('#createForm').validator("update");
        $('#createForm').validator("validate");

        Reindex();
        var a = $("[name*='period']").length - 1;
        if ($("[name='cpe_Detail.creditLimitSpecifyPeriod[" + [a] + "].period']")) {
            $("[name='cpe_Detail.creditLimitSpecifyPeriod[" + [a] + "].period").dateRangePicker(
            {
                autoClose: true,
                singleDate: false,
                showShortcuts: false,
                format: "DD/MM/YYYY",
                time: { enabled: false }
            });
        }

    });


    function Reindex() {

        var itemIndex = 0;
        $('#CreditLimitSP tr').each(function () {
            var this_row = $(this);
            this_row.find('input[name*=".period"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].period');
            this_row.find('input[id*="period"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__period');
            this_row.find('input[name*=".credit_amount"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].credit_amount');
            this_row.find('input[id*="credit_amount"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__credit_amount');
            this_row.find('input[name*=".note"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].note');
            this_row.find('input[id*="note"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__note');
            this_row.find('input[name*=".updated_date"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].updated_date');
            this_row.find('input[id*="updated_date"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__updated_date');
            this_row.find('input[name*=".updated_by"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].updated_by');
            this_row.find('input[id*="updated_by"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__updated_by');
            this_row.find('select[name*=".status"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].status');
            this_row.find('select[id*="status"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__status');
            this_row.find('input[name*=".status"]').attr('name', 'cpe_Detail.creditLimitSpecifyPeriod[' + [itemIndex] + '].status');
            this_row.find('input[id*="status"]').attr('id', 'cpe_Detail_creditLimitSpecifyPeriod_' + itemIndex + '__status');

            itemIndex++;
        });
    }



    function confirmDeletRow() {
        var conf = confirm("Please confirm to Delete?");
        if (conf) {
            $("#CreditLimitSP").on('click', '.remRow', function () {
                $(this).parent().parent().parent().remove();

                Reindex();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    function EnableRedio(elementName) {
        $("input:radio[name='" + elementName + "']").attr('disabled', false);
    }

    function EnableInput(elementName) {
        if (elementName == 'cpe_Detail.paymentDay') {
            $('[name="' + elementName + '"]').removeAttr('readonly');
            $('select[name="cpe_Detail.countDate"]').attr('disabled', false);
        } else if (elementName == 'cpe_Detail.creditLimit') {
            $('[name="' + elementName + '"]').removeAttr('readonly');
            $('[name="cpe_Detail.creditLimit_UpdateFlag"]').attr('disabled', false);
        } else if (elementName == 'cpe_Detail.roundingDecimal') {
            $('[name="' + elementName + '"]').removeAttr('readonly');
            $("input:radio[name='cpe_Detail.status_roundingDecimal']").attr('disabled', false);
        } else if (elementName == 'cpe_Detail.refer_CreditRating') {
            $('[name="cpe_Detail.creditRating_NAFlag"]').attr('disabled', false);
        } else if (elementName == 'cpe_Detail.creditRating') {
            if ($('[name="cpe_Detail.creditRating_NAFlag"]').prop('checked') == false) {
                $('[name="' + elementName + '"]').attr('disabled', false);
                $('[name="cpe_Detail.creditRating_NAFlag"]').attr('disabled', true);
            } else {
                $('[name="cpe_Detail.creditRating_NAFlag"]').removeAttr('checked');
                $('[name="' + elementName + '"]').attr('disabled', false);
                $('[name="cpe_Detail.refer_CreditRating"]').attr('disabled', false);
                $('[name="cpe_Detail.creditRating_NAFlag"]').attr('disabled', false);
            }
        } else {
            $('[name="' + elementName + '"]').removeAttr('readonly');
        }
    }


    $('[name="cpe_Detail.creditRating_NAFlag"]').change(function () {
        if ($('#cpe_Detail_pageMode').val() == "ADD") {
            if (this.checked) {
                $('[name="cpe_Detail.creditRating"]').attr('disabled', true);
                $('[name="cpe_Detail.refer_CreditRating"]').attr('disabled', false);
            } else {
                 $('[name="cpe_Detail.creditRating"]').attr('disabled', false);
                $('[name="cpe_Detail.refer_CreditRating"]').attr('disabled', true);
            }
        } else {
            if (this.checked) {
                $('[name="cpe_Detail.creditRating"]').attr('disabled', true);
                $('[name="cpe_Detail.refer_CreditRating"]').attr('disabled', false);
            } else {
                // $('[name="cpe_Detail.creditRating"]').attr('disabled', false);
                $('[name="cpe_Detail.refer_CreditRating"]').attr('disabled', true);
            }
        }

    });

    function getCreditLimit() {
        var cr = $('#cpe_Detail_creditRating').val();
        $.ajax({
            url: '@Url.Action("GetCreditLimit", "HedgeCounterpartyEntry")',
            data: { "creditRating": cr },
            cache: false,
            type: "GET",
            success: function (data) {
                $('#cpe_Detail_creditLimit').val(data);
                $("input[id='cpe_Detail_creditRating']").val(cr);
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        });
    }


    function getReferCreditLimit() {
        var refcr = $('#cpe_Detail_refer_CreditRating').val();
        $.ajax({
            url: '@Url.Action("GetRefCreditLimit", "HedgeCounterpartyEntry")',
            data: { "refcreditRating": refcr },
            cache: false,
            type: "GET",
            success: function (data) {
                $('#cpe_Detail_creditLimit').val(data);
               // $("input[id='cpe_Detail_creditRating']").val(cr);
            },
            error: function (reponse) {
                alert("error : " + reponse.error());
            }
        });
    }


    function editCLS(index) {
        $("#CreditLimitSP").on('click', function () {
            $('#cpe_Detail_creditLimitSpecifyPeriod_' + index + '__period').removeAttr('readonly');
            $('#cpe_Detail_creditLimitSpecifyPeriod_' + index + '__credit_amount').removeAttr('readonly');
            $('#cpe_Detail_creditLimitSpecifyPeriod_'+index+'__note').removeAttr('readonly');
            $('#cpe_Detail_creditLimitSpecifyPeriod_'+index+'__updated_date').removeAttr('readonly');
            $('#cpe_Detail_creditLimitSpecifyPeriod_'+index+'__updated_by').removeAttr('readonly');
            $('#cpe_Detail_creditLimitSpecifyPeriod_' + index + '__status').attr('disabled', false);

            //var a = $("[name*='period']").length - 1;
            if ($("[name='cpe_Detail.creditLimitSpecifyPeriod[" + [index] + "].period']")) {
                $("[name='cpe_Detail.creditLimitSpecifyPeriod[" + [index] + "].period").dateRangePicker(
                {
                    autoClose: true,
                    singleDate: false,
                    showShortcuts: false,
                    format: "DD/MM/YYYY",
                    time: { enabled: false }
                });
            }
        });
    }


    function filterData() {
        var filter = $('#filter').val();
        if (filter == "ACTIVE") {
            $('.INACTIVE').hide();
            $('.ACTIVE').show();
        } else {
            $('.ACTIVE').hide();
            $('.INACTIVE').show();
        }
    }


    function SearchDataCDS() {
        var D = $('#SearchCDS').val();
        var Id = $('#cpe_Detail_row_id').val();
        $.ajax({
            url: '@Url.Action("SearchCDSByDate", "HedgeCounterpartyEntry")',
            data: { "date": D, "entryId": Id },
            cache: false,
            type: "GET",
            success: function (data) {
                $('#tableBodyCDS').children().remove();
                var newrow="";
                for (var i = 0; i < data.length; i++) {
                    newrow += '<tr>';                   
                    newrow+='<td style="width:500px">' + data[i].date + '</td>';
                    newrow+='<td style="width:500px">' + data[i].value + '</td>';
                    newrow+='<td style="width:500px">' + data[i].updated_by + '</td>';
                    newrow+='<td style="width:500px">' + data[i].updated_date + '</td>';
                    newrow+='<tr>';
                }
                $('#tableBodyCDS').append(newrow);
            },
            error: function (reponse) {

            }
        });
    }
</script>
