﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeCounterpartyEntryViewModel
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }

    .divFileUpload {
        position: relative;
        overflow: hidden;
    }

    .fileUpload {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
</style>

@using (Html.BeginForm("Search", "HedgeCounterpartyEntry", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Counterparty Entry</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-md-2 control-label">Counter Party :</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.cpe_search.scpeCounterparty, new { @class = "form-control" })
                </div>

                <label class="col-md-2 control-label">Credit Rating :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.cpe_search.scpeCreditRating, new SelectList(Model.ddl_creditRating, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_search.scpeCreditRating) ? string.Empty : Model.cpe_search.scpeCreditRating)),"--Select--", new { @class = "form-control" })
                </div>               
            </div>

           <div class="form-group">
               <label class="col-md-2 control-label">Credit Limit :</label>
               <div class="col-md-4">
                   @Html.TextBoxFor(model => model.cpe_search.scpeCreditLimit, new { @class = "form-control" })
               </div>

               <label class="col-md-2 control-label">CDS :</label>
               <div class="col-md-4">
                   @Html.TextBoxFor(model => model.cpe_search.scpeCDS, new { @class = "form-control" })
               </div>   
           </div>  
            
            <div class="form-group">
                <label class="col-md-2 control-label">Status :</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.cpe_search.scpeStatus, new SelectList(Model.ddl_MasterDDL, "Value", "Text", (string.IsNullOrEmpty(Model.cpe_search.scpeStatus) ? string.Empty : Model.cpe_search.scpeStatus)),"--Select--", new { @class = "form-control" })
                </div>     
            </div>          

        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">           
            @Html.ActionLink("Add", "Create", new { controller = "HedgeCounterpartyEntry" }, new { @class = "btn btn-success" })
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Search</button>  
            <button type="reset" class="btn btn-primary">Clear All</button>                    
            <div class="pull-right">
                @Html.ActionLink("Import CDS", "Create", new { controller = "HedgeCounterpartyEntry" }, new { @class = "btn btn-primary" })
            </div>                  
        </div>       
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>Counterparty</th>
            <th>Credit Rating</th>
            <th>Credit Limit</th>
            <th>CDS</th>
            <th>Status Trading</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Update Date</th>
            <th>Update By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.cpe_search == null)
            {

                <tr class="waiting">
                    <td colspan="7">Waiting for search</td>
                </tr>

            }
            else
            {
                if (Model.cpe_search.searchData.Count > 0)
                {
                    foreach (var v in Model.cpe_search.searchData)
                    {
                        <tr>
                            <td>@v.dCounterparty</td>
                            <td>@v.dCreditRating</td>
                            <td>@v.dCreditLimit</td>
                            <td>@v.dCDS</td>
                            <td>@v.dStatusTrad</td>
                            <td>@v.dStatus</td>
                            <td>@v.dReason</td>
                            <td>@v.dUpdatedDate</td>
                            <td>@v.dUpdatedBy</td>
                            <td width="100px">
                                @if (ViewBag.action_view)
                                {
                                    <a href="@Url.Action("ViewDetail", "HedgeCounterpartyEntry", new { EntryCode = @v.dEntryCode  })" title="View Detail">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                    </a>
                                }
                                @if (ViewBag.action_edit)
                                {
                                    <a href="@Url.Action("Edit", "HedgeCounterpartyEntry", new { EntryCode = @v.dEntryCode })" title="Edit">
                                        <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [9],
                    "orderable": false
                }
            ],   
        });
    });
</script>