﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeToolViewModel
@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Hedge Tool";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Hedge Tool";
    }
}
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 0 1.4em !important;
        margin: 0 0 0 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        display: block;
        margin-bottom: 0 !important;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        width: 0 !important;
        padding-right: 50px;
        padding-left: 5px;
        border-bottom: none;
    }

    .topics tr {
        line-height: 14px;
    }
</style>
@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}
@{
    ViewBag.Title = "Tool";
    if (Model.pageMode == null)
    {
        Model.pageMode = "EDIT";
    }
    //if (Model.buttonMode == null)
    //{
    //    Model.buttonMode = "AUTO";
    //}
    //if (Request.QueryString["Tran_Req_ID"] != null)
    //{
    //    Model.reqID = Request.QueryString["Tran_Req_ID"].ToString();
    //}
    //else
    //{
    //    Model.reqID = string.IsNullOrEmpty(Model.reqID) ? "" : Model.reqID;
    //}
    //if (Request.QueryString["FreightNo"] != null)
    //{
    //}
    //int txtExplanation_readmode = (Model.pageMode == "EDIT" || Model.pageMode == "EDIT_REASON") ? 0 : 1;
    //string type = ViewBag.Type == null ? "VESSEL" : ViewBag.Type;
}
<div class="wrapper-detail">
    @using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
   { { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" } }))
    {
        <div>
            <h1>Tool</h1>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                </div>
                <div class="pull-right">
                    @if (Model.tool_Detail != null && Model.tool_Detail.Version != null)
                    {
                        @Html.Label("Version : ")
                        @Model.tool_Detail.Version
                        @Html.HiddenFor(model => model.tool_Detail.Version)
                    }
                    else
                    {
                        @Html.Label("Version : 1")
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Code<span style="color:red">*</span>:</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.HiddenFor(model => model.tool_Detail.HMT_ROW_ID)
                            @Html.TextBoxFor(model => model.tool_Detail.Code, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Status<span style="color:red">*</span>:</label>
                    <div class="col-md-7">
                        @if (Model.tool_Detail != null && Model.tool_Detail.Status == "INACTIVE")
                        {
                            <input type="checkbox" class="checkboxStatus" id="chkActive" onchange="checkedStatus();" value="INACTIVE">
                        }
                        else
                        {
                            <input type="checkbox" class="checkboxStatus" id="chkActive" checked onchange="checkedStatus();" value="ACTIVE">
                        }
                        @Html.HiddenFor(model => model.tool_Detail.Status)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Name<span style="color:red">*</span>:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.tool_Detail.Name, new { @class = "form-control essential", @required = "required" })
                    </div>
                    <br />
                    <br />
                    <label for="inputEmail3" class="col-md-3 control-label">Desc:</label>
                    <div class="col-md-7">
                        @Html.TextAreaFor(model => model.tool_Detail.Description, htmlAttributes: new { @class = "form-control", @rows = "15", @maxlength = "200" })
                    </div>
                </div>
                <div class="col-md-6">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Feature</legend>
                        <div class="form-group">
                            <div class="col-sm-12 checkbox">
                                @if (Model.tool_Detail != null && Model.tool_Detail.FeatureTargetFlag == "Y")
                                {
                                    <input type="checkbox" id="target" name="target" checked="checked" onchange="checkedStatus();" />
                                }
                                else
                                {
                                    <input type="checkbox" id="target" name="target" onchange="checkedStatus();" />
                                }
                                <label for="target">Target redemption</label>
                                @if (Model.tool_Detail != null && Model.tool_Detail.FeatureSwapFlag == "Y")
                                {
                                    <input type="checkbox" id="swaption" name="swaption" checked="checked" onchange="checkedStatus();" />
                                }
                                else
                                {
                                    <input type="checkbox" id="swaption" name="swaption" onchange="checkedStatus();" />
                                }
                                <label for="swaption">Swaption</label>
                                @if (Model.tool_Detail != null && Model.tool_Detail.FeatureExtendFlag == "Y")
                                {
                                    <input type="checkbox" id="extendible" name="extendible" checked="checked" onchange="checkedStatus();" />
                                }
                                else
                                {
                                    <input type="checkbox" id="extendible" name="extendible" onchange="checkedStatus();" />
                                }
                                <label for="extendible">Extendible</label>
                                @if (Model.tool_Detail != null && Model.tool_Detail.FeatureCappedFlag == "Y")
                                {
                                    <input type="checkbox" id="capacity" name="capacity" checked="checked" onchange="checkedStatus();" />
                                }
                                else
                                {
                                    <input type="checkbox" id="capacity" name="capacity" onchange="checkedStatus();" />
                                }
                                <label for="capacity">Capacity</label>
                                @if (Model.tool_Detail != null && Model.tool_Detail.FeatureKnockInOutFlag == "Y")
                                {
                                    <input type="checkbox" id="knock" name="knock" checked="checked" onchange="checkedStatus();" />
                                }
                                else
                                {
                                    <input type="checkbox" id="knock" name="knock" onchange="checkedStatus();" />
                                }
                                <label for="knock">Knock In/Out</label>
                                @Html.HiddenFor(model => model.tool_Detail.FeatureTargetFlag)
                                @Html.HiddenFor(model => model.tool_Detail.FeatureSwapFlag)
                                @Html.HiddenFor(model => model.tool_Detail.FeatureExtendFlag)
                                @Html.HiddenFor(model => model.tool_Detail.FeatureCappedFlag)
                                @Html.HiddenFor(model => model.tool_Detail.FeatureKnockInOutFlag)
                            </div>
                            <fieldset class="scheduler-border" id="divKnock">
                                <legend class="scheduler-border" style="width:130px!important;padding-right:0!important;">Knock in/Knock out</legend>
                                <div class="col-md-12" style="overflow-y: scroll;max-height:300px;">
                                    <table class="table table-bordered PriceOfferTable topics">
                                        <thead>
                                            <tr>
                                                <th width="80px">No.</th>
                                                <th width="150px">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblToolSwitch">
                                            @if (Model.pageMode == "EDIT")
                                            {
                                                if (Model.tool_Detail != null && Model.tool_Detail.ToolSwitch != null && Model.tool_Detail.ToolSwitch.Count > 0)
                                                {
                                                    for (int i = 0; i < Model.tool_Detail.ToolSwitch.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Model.tool_Detail.ToolSwitch[i].Order
                                                            </td>
                                                            <td>
                                                                @Html.DropDownListFor(model => model.tool_Detail.ToolSwitch[i].Option, new SelectList(Model.ddlToolSwitch, "Value", "Text", Model.tool_Detail.ToolSwitch[i].Option), new { @class = "form-control" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.tool_Detail.ToolSwitch[0].Option, Model.ddlToolSwitch, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.tool_Detail != null && Model.tool_Detail.ToolSwitch != null)
                                                {
                                                    for (int i = 0; i < Model.tool_Detail.ToolSwitch.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Model.tool_Detail.ToolSwitch[i].Order
                                                            </td>
                                                            <td>
                                                                @Html.DropDownListFor(model => model.tool_Detail.ToolSwitch[i].Option, new SelectList(Model.ddlToolSwitch, "Value", "Text", Model.tool_Detail.ToolSwitch[i].Option), new { @class = "form-control", @disabled = "disabled" })
                                                                @Html.HiddenFor(model => model.tool_Detail.ToolSwitch[i].Option, Model.tool_Detail.ToolSwitch[i].Option)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.tool_Detail.ToolSwitch[0].Option, Model.ddlToolSwitch, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <br /><br /><br /><br />
                                <div>
                                    <div class="col-md-6">
                                        <input id="btnAddSwitch" type="button" value="+" class="btn btn-success" onclick="addSwitch(); return false;" />
                                        <input id="btnDelSwitch" type="button" value="-" class="btn btn-success" onclick="delSwitch(); return false;" />
                                    </div>
                                </div>
                                <br /><br />
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <h2>Option Condition<span style="color:red">*</span></h2>
        <div class="row">
            <div class="col-md-6">
                <input id="btnaddOption" type="button" value="ADD OPTION" class="btn btn-success" onclick="addOption(); return false;" />
            </div>
            <div class="col-md-6">
                <input id="btnFormula" type="button" value="FORMULA" class="btn btn-primary pull-right" onclick="addFormular();" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="overflow-y: scroll;max-height:300px">
                <div>
                    <table class="table table-bordered PriceOfferTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th rowspan="2" width="50px">No.</th>
                                <th rowspan="2" width="150px">Option</th>
                                <th colspan="2">Strategy</th>
                                <th rowspan="2" width="80px">Return</th>
                                <th rowspan="2" width="80px">Premium</th>
                                <th rowspan="2" width="50px">Delete</th>
                            </tr>
                            <tr>
                                <th width="300px">Condition</th>
                                <th width="300px">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblToolOption">
                            @if (Model.pageMode == "EDIT")
                            {
                                if (Model.tool_Detail != null)
                                {
                                    if (Model.tool_Detail.ToolOption != null)
                                    {
                                        for (int i = 0; i < Model.tool_Detail.ToolOption.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(m => m.tool_Detail.ToolOption[i].Order, Model.tool_Detail.ToolOption[i].Order)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].Option, new SelectList(Model.ddlToolOption, "Value", "Text", Model.tool_Detail.ToolOption[i].Option), new { @class = "form-control OptionCondition" })
                                                </td>
                                                <td id="rowConditionItemName_@i">
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Value_A, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Value_A), new { @class = "form-control" })</div>
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Operator, new SelectList(Model.ddlToolConditionOperator, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Operator), new { @class = "form-control" })</div>
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Value_B, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Value_B), new { @class = "form-control" })</div>
                                                        </div>
                                                    }
                                                    <div class="row">
                                                        <input id="btnAddCondition" type="image" src="~/Web/Images/btn-add-member.png" onclick="addCondition(@i); return false;">
                                                        <input id="btnDelCondition" type="image" src="~/Web/Images/btn-delete.png" onclick="delCondition(@i); return false;">
                                                    </div>
                                                </td>
                                                <td id="rowConditionItemAction_@i">
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Formula, new SelectList(Model.ddlToolFormular, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Formula), new { @class = "form-control" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.TextBoxFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Expression, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__ReturnFlag" name="tool_Detail.ToolOption[@i].ToolCondition[@j].ReturnFlag" onchange="checkedStatus();" />
                                                            <label for="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__ReturnFlag"></label>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__PremiumFlag" name="tool_Detail.ToolOption[@i].ToolCondition[@j].PremiumFlag" onchange="checkedStatus();" />
                                                            <label for="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__PremiumFlag"></label>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    <input type="image" src="~/Web/Images/btn-delete.png" onclick="delOption(this); return false;">
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.tool_Detail.ToolOption[0].Order, "1")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].Option, Model.ddlToolOption, new { @class = "form-control OptionCondition" })
                                        </td>
                                        <td id="rowConditionItemName_0">
                                            <div class="row">
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Value_A, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[0].ToolCondition[0].Value_A), new { @class = "form-control" })</div>
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Operator, new SelectList(Model.ddlToolConditionOperator, "Value", "Text", Model.tool_Detail.ToolOption[0].ToolCondition[0].Operator), new { @class = "form-control" })</div>
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Value_B, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[0].ToolCondition[0].Value_B), new { @class = "form-control" })</div>
                                            </div>
                                            <div class="row">
                                                <input id="btnAddCondition" type="image" src="~/Web/Images/btn-add-member.png" onclick="addCondition(0); return false;">
                                                <input id="btnDelCondition" type="image" src="~/Web/Images/btn-delete.png" onclick="delCondition(0); return false;">
                                            </div>
                                        </td>
                                        <td id="rowConditionItemAction_0">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Formula, Model.ddlToolFormular, new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Expression, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="tool_Detail_ToolOption_0__ToolCondition_0__ReturnFlag" name="tool_Detail.ToolOption[0].ToolCondition[0].ReturnFlag" onchange="checkedStatus();" />
                                                <label for="tool_Detail_ToolOption_0__ToolCondition_0__ReturnFlag"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="tool_Detail_ToolOption_0__ToolCondition_0__PremiumFlag" name="tool_Detail.ToolOption[0].ToolCondition[0].PremiumFlag" onchange="checkedStatus();" />
                                                <label for="tool_Detail_ToolOption_0__ToolCondition_0__PremiumFlag"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="image" src="~/Web/Images/btn-delete.png" onclick="delOption(this); return false;">
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                if (Model.tool_Detail != null)
                                {
                                    if (Model.tool_Detail.ToolOption != null)
                                    {
                                        for (int i = 0; i < Model.tool_Detail.ToolOption.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(m => m.tool_Detail.ToolOption[i].Order, Model.tool_Detail.ToolOption[i].Order)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].Option, new SelectList(Model.ddlToolOption, "Value", "Text", Model.tool_Detail.ToolOption[i].Option), new { @class = "form-control OptionCondition", @disabled = "disabled" })
                                                    @Html.HiddenFor(model => model.tool_Detail.ToolOption[i].Option, Model.tool_Detail.ToolOption[i].Option)
                                                </td>
                                                <td id="rowConditionItemName_0">
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Value_A, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Value_A), new { @class = "form-control", @disabled = "disabled" })</div>
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Operator, new SelectList(Model.ddlToolConditionOperator, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Operator), new { @class = "form-control", @disabled = "disabled" })</div>
                                                            <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Value_B, new SelectList(Model.ddlToolConditionOperand, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Value_B), new { @class = "form-control", @disabled = "disabled" })</div>
                                                        </div>
                                                    }
                                                    <div class="row">
                                                        <input id="btnAddCondition" type="image" src="~/Web/Images/btn-add-member.png" onclick="addCondition(@i); return false;">
                                                        <input id="btnDelCondition" type="image" src="~/Web/Images/btn-delete.png" onclick="delCondition(@i); return false;">
                                                    </div>
                                                </td>
                                                <td id="rowConditionItemAction_@i">
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Formula, new SelectList(Model.ddlToolFormular, "Value", "Text", Model.tool_Detail.ToolOption[i].ToolCondition[j].Formula), new { @class = "form-control" })
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Html.TextBoxFor(model => model.tool_Detail.ToolOption[i].ToolCondition[j].Expression, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__ReturnFlag" name="tool_Detail.ToolOption[@i].ToolCondition[@j].ReturnFlag" onchange="checkedStatus();" />
                                                            <label for="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__ReturnFlag"></label>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    @for (int j = 0; j < Model.tool_Detail.ToolOption[i].ToolCondition.Count; j++)
                                                    {
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__PremiumFlag" name="tool_Detail.ToolOption[@i].ToolCondition[@j].PremiumFlag" onchange="checkedStatus();" />
                                                            <label for="tool_Detail_ToolOption_@(i)__ToolCondition_@(j)__PremiumFlag"></label>
                                                        </div>
                                                    }
                                                </td>
                                                <td>
                                                    <input type="image" src="~/Web/Images/btn-delete.png" onclick="delOption(this); return false;">
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.tool_Detail.ToolOption[0].Order, "1")
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].Option, Model.ddlToolOption, new { @class = "form-control OptionCondition" })
                                        </td>
                                        <td id="rowConditionItemName_0">
                                            <div class="row">
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Value_A, Model.ddlToolConditionOperand, new { @class = "form-control" })</div>
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Operator, Model.ddlToolConditionOperator, new { @class = "form-control" })</div>
                                                <div class="col-md-4">@Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Value_B, Model.ddlToolConditionOperand, new { @class = "form-control" })</div>
                                            </div>
                                            <div class="row">
                                                <input id="btnAddCondition" type="image" src="~/Web/Images/btn-add-member.png" onclick="addCondition(0); return false;">
                                                <input id="btnDelCondition" type="image" src="~/Web/Images/btn-delete.png" onclick="delCondition(0); return false;">
                                            </div>
                                        </td>
                                        <td id="rowConditionItemAction_0">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Formula, Model.ddlToolFormular, new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.tool_Detail.ToolOption[0].ToolCondition[0].Expression, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="tool_Detail_ToolOption_0__ToolCondition_0__ReturnFlag" name="tool_Detail.ToolOption[0].ToolCondition[0].ReturnFlag" onchange="checkedStatus();" />
                                                <label for="tool_Detail_ToolOption_0__ToolCondition_0__ReturnFlag"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="tool_Detail_ToolOption_0__ToolCondition_0__PremiumFlag" name="tool_Detail.ToolOption[0].ToolCondition[0].PremiumFlag" onchange="checkedStatus();" />
                                                <label for="tool_Detail_ToolOption_0__ToolCondition_0__PremiumFlag"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="image" src="~/Web/Images/btn-delete.png" onclick="delOption(this); return false;">
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="wrapper-button" id="buttonDiv">
            @if (ViewBag.action_edit && actionName != "VIEW")
            {
                <input type="button" value="SAVE" class="btn btn-success" onclick="saveData()" />
            }
            @Html.ActionLink("BACK", "Search", new { controller = "HedgeTool" }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
        <div class="modal fade" id="ReasonPopUp" tabindex="-1" role="dialog" data-url=''>
            <div class="modal-dialog" role="document" @*style="width:80%; height:550px; text-align:center"*@>
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Confirm</h2>
                    </div>
                    <div class="modal-body " id="ReasonPopUp_detail">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-3 control-label">Reason for revise<span style="color:red">*</span></label>
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(model => model.tool_Detail.Reason, htmlAttributes: new { @class = "form-control", @style = "min-height: 80px;", @required = "required" })
                                            @*@Html.TextBoxFor(model=>model.cpe_Detail.creditLimitSpecifyPeriod[0].period)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="indexFor" />
                        <input type="submit" value="Save" class="btn btn-primary" id="gotoSave" name="Save" />
                        <input type="button" value="Close" class="btn btn-default" id="ClosePopUp" name="ClosePopUp" onclick="closeReasonPopUp()" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="FormularPopUp" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "form_formular" }))
            {
                <div class="modal-content" style="height:550px;overflow:scroll;overflow-x:hidden;">
                    <div class="modal-header">
                        <h1>Formular</h1>
                    </div>
                    <div class="modal-body " id="modal_detail">
                        @*Jah*@
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="indexFor" />
                        <input type="button" value="Save" class="btn btn-primary" id="Save" name="Save" />
                        <input type="button" value="Close" class="btn btn-default" id="ClosePopUp" name="ClosePopUp" onclick="closePopUp()" />
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>
                        @TempData["ReponseMessage"]
                    </p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Close", "Search", new { controller = "HedgeTool" }, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script>
   $(function () {
       $(".checkboxStatus").bootstrapToggle({
           on: 'ACTIVE',
           off: 'INACTIVE'
       });

       if ('@Model.pageMode' == "NEW") {
           $('#status').val("ACTIVE");
       }

       checkedStatus();
    });

    function saveData() {
        if ('@Model.pageMode' != "EDIT") {
            $('#tool_Detail_Reason').val("Create");
            $('#gotoSave').click();
        }
        else{
            $('#ReasonPopUp').modal({ backdrop: 'static', keyboard: false });
            $('#ReasonPopUp').modal('show');
        }
    };

   function checkedStatus() {
       if ($("#chkActive").is(":checked")) {
           $('#tool_Detail_Status').val("ACTIVE");
       } else {
           $('#tool_Detail_Status').val("INACTIVE");
       }

       if ($("#target").is(":checked"))  {
           $('#tool_Detail_FeatureTargetFlag').val("Y");
       } else {
           $('#tool_Detail_FeatureTargetFlag').val("N");
       }

       if ($("#swaption").is(":checked")) {
           $('#tool_Detail_FeatureSwapFlag').val("Y");
       } else {
           $('#tool_Detail_FeatureSwapFlag').val("N");
       }

       if ($("#extendible").is(":checked")) {
           $('#tool_Detail_FeatureExtendFlag').val("Y");
       } else {
           $('#tool_Detail_FeatureExtendFlag').val("N");
       }

       if ($("#capacity").is(":checked")) {
           $('#tool_Detail_FeatureCappedFlag').val("Y");
       } else {
           $('#tool_Detail_FeatureCappedFlag').val("N");
       }

       if ($("#knock").is(":checked")) {
           $('#tool_Detail_FeatureKnockInOutFlag').val("Y");
           $('#divKnock').show();
       } else {
           $('#tool_Detail_FeatureKnockInOutFlag').val("N");
           $('#divKnock').hide();
       }
    };

    $('#submit').click(function () {
        var values = [];
        $('#OptionCondition').each(
            function () {
                if (values.indexOf(this.value) >= 0) {
                    $(this).css("border-color", "red");
                } else {
                    $(this).css("border-color", ""); //clears since last check
                    values.push(this.value);
                }
            }
        );
    });

    function inputsHaveDuplicateValues(classname) {
        var i = 0;
        $('.' + classname).each(function () {
            var inputsWithSameValue = $(this).val();
            $('.' + classname).not(this).filter(function () {
                if ($(this).val() === inputsWithSameValue) {
                    addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                    i++;
                } else {
                    $("#" + $(this).attr("id")).removeClass("input-error");
                }
            });
        });
        return i;
    }

   function addOption() {
       var i = $("#tblToolOption tr").length;
       var newLine = '<tr>' +
           '<td><label for="tool_Detail_ToolOption_' + i + '__Order">' + (i + 1) + '</label></td>' +
           '<td><select class="form-control OptionCondition" id="tool_Detail_ToolOption_' + i + '__Option" name="tool_Detail.ToolOption[' + i + '].Option">' +
           @foreach (var option in Model.ddlToolOption)
           {
               @:'<option value="@option.Value">@option.Text</option>' +
           }
           '</select></td>' +
           '<td id="rowConditionItemName_' + i + '">' +
           '<div class="row">' +
           '<div class="col-md-4">' +
           '<select class="form-control" id="tool_Detail_ToolOption_' + i + '__ToolCondition_0__Value_A" name="tool_Detail.ToolOption[' + i + '].ToolCondition[0].Value_A">' +
           @foreach (var option in Model.ddlToolConditionOperand)
           {
               @:'<option value="@option.Value">@option.Text</option>' +
           }
           '</select>' +
           '</div>' +
           '<div class="col-md-4">' +
           '<select class="form-control" id="tool_Detail_ToolOption_' + i + '__ToolCondition_0__Operator" name="tool_Detail.ToolOption[' + i + '].ToolCondition[0].Operator">' +
           @foreach (var option in Model.ddlToolConditionOperator)
           {
               @:'<option value="@option.Value">@option.Text</option>' +
           }
           '</select>' +
           '</div>' +
           '<div class="col-md-4">' +
           '<select class="form-control" id="tool_Detail_ToolOption_' + i + '__ToolCondition_0__Value_B" name="tool_Detail.ToolOption[' + i + '].ToolCondition[0].Value_B">' +
           @foreach (var option in Model.ddlToolConditionOperand)
           {
               @:'<option value="@option.Value">@option.Text</option>' +
           }
           '</select>' +
           '</div>' +
           '</div>' +
           '<div><input id="btnAddCondition" type="image" src="/Web/Images/btn-add-member.png" onclick="addCondition(' + i + '); return false;" />' +
           '<input id="btnDelCondition" type="image" src="/Web/Images/btn-delete.png" onclick="delCondition(' + i +'); return false;" /></div>' +
           '</td>' +
            '<td id="rowConditionItemAction_' + i + '">' +
           '<div class="row">' +
           '<div class="col-md-6">' +
           '<select class="form-control" id="tool_Detail_ToolOption_' + i + '__ToolCondition_0__Formula" name="tool_Detail.ToolOption[' + i + '].ToolCondition[0].Formula">' +
           @foreach (var option in Model.ddlToolFormular)
           {
           @:'<option value="@option.Value">@option.Text</option>' +
           }
           '</select></div>' +
           '<div class="col-md-6">' +
           '<input class="form-control" id="tool_Detail_ToolOption_' + i +'__ToolCondition_0__Expression" name="tool_Detail.ToolOption[' + i + '].ToolCondition[0].Expression" readonly="readonly" type="text">'
           '</div></div>' +
           '</td>';
           newLine += '<td><input type="checkbox" id="swaption1" name="swaption1" checked="checked" /></td>';
           newLine += '<td><input type="checkbox" id="swaption1" name="swaption1" checked="checked" /></td>';
           newLine += '<td><input type="image" src="/Web/Images/btn-delete.png" onclick="delOption(this); return false;" /></td>' +
           '</tr>';
           $("#tblToolOption").append(newLine);
    }

    //Delete Option row
    function delOption(e) {
        if ($(e).parent().parent().children().length > 0) {
           var conf = confirm("Please confirm to Delete?");
           if (conf) {
               $(e).parent().parent().remove();
               ReIndexOption();
           }
        }
    }

    function ReIndexOption() {
        var itemIndex = 0;
        $('#tblToolOption tr').each(function () {
            var this_row = $(this);
            this_row.find("label[for$='Order']").text(itemIndex + 1);
            this_row.find('select[id$="_Option"]').attr('id', 'tool_Detail.ToolOption_' + itemIndex + '__Option');
            this_row.find('select[name$=".Option"]').attr('name', 'tool_Detail.ToolOption[' + itemIndex + '].Option');
            this_row.find('[id*="rowConditionItemName"]').attr('id', 'rowConditionItemName_' + itemIndex);
            this_row.find('[id*="rowConditionItemAction"]').attr('id', 'rowConditionItemAction_' + itemIndex);
            this_row.find('#btnAddCondition').attr("onclick", "addCondition(" + itemIndex + "); return false;");
            this_row.find('#btnDelCondition').attr("onclick", "delCondition(" + itemIndex + "); return false;");
            ReIndexOptionCondition(itemIndex);
            //this_row.find('input[name$=".Value"]').attr('name', 'CounterpartyCDS[' + itemIndex + '].Value');
            itemIndex++;
        });
    }

    function ReIndexOptionCondition(row) {
        i = 0;
        var this_row = $('#rowConditionItemName_' + row);
        this_row.find('[id*="__Value_A"]').each(function () {
            $(this).attr('id', 'tool_Detail_ToolOption_' + row + '__ToolCondition_' + i + '__Value_A');
            $(this).attr('name', 'tool_Detail.ToolOption[' + row + '].ToolCondition[' + i + '].Value_A');
            i++;
        });

        i = 0;
        this_row.find('[id*="__Operator"]').each(function () {
            $(this).attr('id', 'tool_Detail_ToolOption_' + row + '__ToolCondition_' + i + '__Operator');
            $(this).attr('name', 'tool_Detail.ToolOption[' + row + '].ToolCondition[' + i + '].Operator');
            i++;
        });

        i = 0;
        this_row.find('[id*="__Value_B"]').each(function () {
            $(this).attr('id', 'tool_Detail_ToolOption_' + row + '__ToolCondition_' + i + '__Value_B');
            $(this).attr('name', 'tool_Detail.ToolOption[' + row + '].ToolCondition[' + i + '].Value_B');
            i++;
        });

        i = 0;
        var this_row = $('#rowConditionItemAction_' + row);
        this_row.find('[id*="__Formula"]').each(function () {
            $(this).attr('id', 'tool_Detail_ToolOption_' + row + '__ToolCondition_' + i + '__Formula');
            $(this).attr('name', 'tool_Detail.ToolOption[' + row + '].ToolCondition[' + i + '].Formula');
            i++;
        })
    }

   function addSwitch() {
       var i = $("#tblToolSwitch tr").length;
       var newLine = '<tr><td>' + (i + 1) + '</td><td><select class="form-control" id="tool_Detail_ToolSwitch_' + i + '__Option" name="tool_Detail.ToolSwitch[' + i + '].Option">' +
           @foreach(var option in Model.ddlToolSwitch)
           {
               @:'<option value="@option.Value">@option.Text</option>' +
           }
       '</select></td></tr>';
       $("#tblToolSwitch").append(newLine);
   }
   function delSwitch() {
       if ($("#tblToolSwitch > tr").length > 1) {
           $("#tblToolSwitch > tr").last().remove();
       }
   }

   function addCondition(row) {
       var count_name = $("#rowConditionItemName_" + row).children().length - 1;
       var newObject_name = "";
       newObject_name += '<div class="row">' +
           '<div class="col-md-4"><select class="form-control" id="tool_Detail_ToolOption_' + row + '__ToolCondition_' + count_name + '_Value_A" name="tool_Detail.ToolOption[' + row + '].ToolCondition[' + count_name + '].Value_A">' +
                          @foreach (var option in Model.ddlToolConditionOperand)
                          {
                              @:'<option value="@option.Value">@option.Text</option>' +
                          }
                         '</select>' +
           '</div>' +
           '<div class="col-md-4"><select class="form-control" id="tool_Detail_ToolOption_' + row + '__ToolCondition_' + count_name + '_Operator" name="tool_Detail.ToolOption[' + row + '].ToolCondition[' + count_name + '].Operator">' +
                          @foreach (var option in Model.ddlToolConditionOperator)
                          {
                              @:'<option value="@option.Value">@option.Text</option>' +
                          }
                         '</select>' +
           '</div>' +
           '<div class="col-md-4"><select class="form-control" id="tool_Detail_ToolOption_' + row + '__ToolCondition_' + count_name + '_Value_B" name="tool_Detail.ToolOption[' + row + '].ToolCondition[' + count_name + '].Value_B">' +
                          @foreach (var option in Model.ddlToolConditionOperand)
                          {
                              @:'<option value="@option.Value">@option.Text</option>' +
                          }
                         '</select>' +
                         '</div>' +
                         '</div>';
       $("#rowConditionItemName_" + row).children("div").last().before(newObject_name);

       var newObject_Condition = "";
       newObject_Condition += '<div class="row">' +
                              '<div class="col-md-6">' +
           '<select class="form-control" id="tool_Detail_ToolOption_' + row + '__ToolCondition_' + count_name + '__Formula" name="tool_Detail.ToolOption[' + row + '].ToolCondition[' + count_name + '].Formula">' +
                              @foreach (var option in Model.ddlToolFormular)
                              {
                                  @:'<option value="@option.Value">@option.Text</option>' +
                              }
                              '</select>' +
                              '</div>' +
           '<div class="col-md-6">' +
           '<input class="form-control" id="tool_Detail_ToolOption_' + row + '__ToolCondition_' + count_name + '__Expression" name="tool_Detail.ToolOption[' + row + '].ToolCondition[' + count_name + '].Expression" readonly="readonly" type="text">' +
           '</div>' +
           '</div>';
       $("#rowConditionItemAction_" + row).children("div").last().after(newObject_Condition);
   }

    function delCondition(row) {
        var count_name = $("#rowConditionItemName_" + row).children().length - 1;
        if (count_name > 1) {
            $("#rowConditionItemName_" + row).children("div").last().prev().remove();
        }

        var count_desc = $("#rowConditionItemAction_" + row).children().length;
        if (count_desc > 1) {
            $("#rowConditionItemAction_" + row).children("div").last().remove();
        }
    }

   function addFormular() {
       //$('#FormularPopUp').modal({ backdrop: 'static', keyboard: false });
       //$('#FormularPopUp').modal('show');
       $.ajax({
           url: '@Url.Action("Formular", "HedgeFormular")',
           type: 'POST',
          // data: { "id": id },
           success: function (data) {
               $('#modal_detail').html(data);
               $('#FormularPopUp').modal({ backdrop: 'static', keyboard: false });
               $('#FormularPopUp').modal('show');
               //AddResult(data);
           }
       });
   }

   function closePopUp() {
       $('#FormularPopUp').modal('hide');
   };

   function AddRow() {
       $("#BodyFormular").append('<tr>'
              + '<td>'
              + '<label name="Formular_Detail[0].OrderFormular" id="Formular_Detail_0__OrderFormular" >0</label>'
              + '<input name="Formular_Detail[0].OrderFormular" id="Formular_Detail_0__OrderFormular"  type="hidden" value="0"/>'
              + '<input name="Formular_Detail[0].Row_Id" id="Formular_Detail_0__Row_Id"  type="hidden" value="0"/>'
              + '</td>'
              + '<td class="col-sm-2">'
              + '<input type="text" name="Formular_Detail[0].Name" id="Formular_Detail_0__Name" class="form-control"/>'
              + '</td >'
              + '<td class="col-sm-2">'
              + '<textarea type="text" name="Formular_Detail[0].Description" id="Formular_Detail_0__Description" style="background-color: #fff;color:black;" rows="3"></textarea>'
              + '</td>'
              + '<td class="col-sm-4">'
              + '<div class="col-sm-12" id="formular0">'
              + '</div>'
              + '<div>'
              + '<span style="background-color: ghostwhite;border-radius: 9px;">'
              + '<a href="javascript:void(0);" class="btn btnVar" onclick="AddValiable(0);">'
              + '<i class="fa fa-plus" aria-hidden="true" style="font-size: 16px;"></i>'
              + ' Variable'
              + '</a>'
              + '</span>'
              + '&nbsp;'
              + '<span style="background-color: ghostwhite;border-radius: 9px;">'
              + '<a href="javascript:void(0);" class="btn btnOper" onclick="return AddOperation(0);">'
              + '<i class="fa fa-plus" aria-hidden="true" style="font-size: 16px;"></i>'
              + ' Operation'
              + '</a>'
              + '</span>'
              + '&nbsp;'
              + '<span style="background-color: ghostwhite;border-radius: 9px;">'
              + '<a href="javascript:void(0);" class="btn btnNumb" onclick="return AddNumber(0);">'
              + '<i class="fa fa-plus" aria-hidden="true" style="font-size: 16px;"></i>'
              + ' Number'
              + '</a>'
              + '</span>'
              + '&nbsp;'
              + '<span style="background-color: ghostwhite;border-radius: 9px;">'
              + '<a href="javascript:void(0);" class="btn btnDel" onclick="return confirmDeletRow(0);">'
              + '<i class="fa fa-minus" aria-hidden="true" style="font-size: 16px;"></i>'
              + ' Delete'
              + '</a>'
              + '</span>'
              + '</div>'
              + '</td>'
              + '<td class="col-sm-2">'
              + '<textarea class="" style="background-color: #fff;color:black;" rows="3" name="Formular_Detail[0].Expression" id="Formular_Detail_0__Expression"></textarea>'
              + '</td>'
              + '<td>'
              + '<select class="form-control" id="Formular_Detail_0__Status" name="Formular_Detail[0].Status">'
              + '<option>ACTIVE</option>'
              + '<option>INACTIVE</option>'
              + '</select>'
              + '<input id="Formular_Detail_0__Status" name="Formular_Detail[0].Status" type="hidden" value="ACTIVE">'
              + '</td>'
              + '<td style="width:38px">'
              + '<div class="form-group">'
              + '<a href="javascript:void(0);" class="remRow" onclick="return DeleteExpression(this);return false;">'
              + '<i class="fa fa-trash-o" aria-hidden="true" style="font-size: 16px;" ></i>'
              + '</a>'
              + '</div>'
              + '</td>'
              + '</tr>'
          );
       Reindex();
   }

   function AddValiable(row) {
       var newSelect = '<select name="Formular_Detail[' + row + '].Formular_Exp[0].ValueEx" id="Formular_Detail_' + row + '__Formular_Exp_0__ValueEx" onchange="getExpresssion(this);" class="form-control" style="width: 50px; float:left;">';
       newSelect += '<option value="Zero">Zero</option>'
       newSelect += '<option value="Floating">Floating</option>'
       newSelect += '<option value="Fixed">Fixed</option>'
       newSelect += '<option value="Volumn">Volumn</option>'
       newSelect += '<option value="Premium">Premium</option>'
       newSelect += '<option value="Return">Return</option>'
       newSelect += '</select>'
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].OrderEX" id="Formular_Detail_' + row + '__Formular_Exp_0__OrderEX" value="0">'
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].TypeEX" id="Formular_Detail_' + row + '__Formular_Exp_0__TypeEX" value="VAR">'
       if ($('.Formular_Exp').length > 0) {
           $('.Formular_Exp').last().append(newSelect);
       } else {
           $('#formular' + row + '').append(newSelect);
       }
       ReIndexExpression(row);
       getExpresssion('Formular_Detail_' + row + '__Formular_Exp_0__ValueEx');
   }

   function AddOperation(row) {
       var newSelect = '<select name="Formular_Detail[' + row + '].Formular_Exp[0].ValueEx" id="Formular_Detail_' + row + '__Formular_Exp_0__ValueEx" onchange="getExpresssion(this);" class="form-control" style="width: 50px; float:left;">';
       newSelect += ' <option value="+">+</option>'
       newSelect += ' <option value="-">-</option>'
       newSelect += ' <option value="*">*</option>'
       newSelect += ' <option value="/">/</option>'
       newSelect += ' <option value="(">(</option>'
       newSelect += ' <option value=")">)</option>'
       newSelect += ' <option value="[-]">[-]</option>'
       newSelect += ' <option value="[abs]">[abs]</option>'
       newSelect += '</select>'
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].OrderEX" id="Formular_Detail_' + row + '__Formular_Exp_0__OrderEX" value="0">'
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].TypeEX"  id="Formular_Detail_' + row + '__Formular_Exp_0__TypeEX" value="OPR">'
       if ($('.Formular_Exp').length > 0) {
           $('.Formular_Exp').last().append(newSelect);
       } else {
           $('#formular' + row + '').append(newSelect);
       }
       ReIndexExpression(row);
       getExpresssion('Formular_Detail_' + row + '__Formular_Exp_0__ValueEx');
   }

   function AddNumber(row) {
       var newSelect = '<input type="text" name="Formular_Detail[' + row + '].Formular_Exp[0].ValueEx" id="Formular_Detail_' + row + '__Formular_Exp_0__ValueEx" onchange="getExpresssion(this);" class="form-control" style="width: 50px; float:left;"/>';
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].OrderEX" id="Formular_Detail_' + row + '__Formular_Exp_0__OrderEX" value="0">'
       newSelect += '<input type="hidden" name="Formular_Detail[' + row + '].Formular_Exp[0].TypeEX"  id="Formular_Detail_' + row + '__Formular_Exp_0__TypeEX" value="NUM">'
       if ($('.Formular_Exp').length > 0) {
           $('.Formular_Exp').last().append(newSelect);
       } else {
           $('#formular' + row + '').append(newSelect);
       }
       ReIndexExpression(row);
       getExpresssion('Formular_Detail_' + row + '__Formular_Exp_0__ValueEx');

   }

   function ReIndexExpression(row) {
       ReIndexValue(row);
       ReIndexOrder(row);
       ReIndexType(row);
   }

   function ReIndexValue(row) {
       i = 0;
       //var this_row = $('[id="Formular_Detail_' + row + '__Formular_Exp_0__ValueEx"]').parent();
       var this_row = $('#formular' + row + '');
       this_row.find('[id*="__ValueEx"]').each(function () {
           $(this).attr('id', 'Formular_Detail_' + row + '__Formular_Exp_' + i + '__ValueEx');
           $(this).attr('name', 'Formular_Detail[' + row + '].Formular_Exp[' + i + '].ValueEX');
           i++;
       })
   }

   function ReIndexOrder(row) {
       i = 0;
       //$('[id="Formular_Detail_' + row + '__Formular_Exp_0__OrderEX"]').parent().find('[id*="__OrderEX"]').each(function () {
       $('#formular' + row + '').find('[id*="__OrderEX"]').each(function () {
           $(this).attr('id', 'Formular_Detail_' + row + '__Formular_Exp_' + i + '__OrderEX');
           $(this).attr('name', 'Formular_Detail[' + row + '].Formular_Exp[' + i + '].OrderEX');
           $('[id="Formular_Detail_' + row + '__Formular_Exp_' + i + '__OrderEX"]').val(i);
           i++;
       });
   }

   function ReIndexType(row) {
       i = 0;
       //$('[id="Formular_Detail_' + row + '__Formular_Exp_0__TypeEX"]').parent().find('input[id*="__TypeEX"]').each(function () {
       $('#formular' + row + '').find('input[id*="__TypeEX"]').each(function () {
           $(this).attr('id', 'Formular_Detail_' + row + '__Formular_Exp_' + i + '__TypeEX');
           $(this).attr('name', 'Formular_Detail[' + row + '].Formular_Exp[' + i + '].TypeEX');
           i++;
       });
   }

   function Reindex() {
       var itemIndex = 0;
       $('#BodyFormular tr').each(function () {
           var this_row = $(this);
           this_row.addClass("Formular_Detail[" + itemIndex + "]");
           this_row.find('label[name*=".OrderFormular"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].OrderFormular');
           this_row.find('label[id*="OrderFormular"]').attr('id', 'Formular_Detail_' + itemIndex + '__OrderFormular');
           this_row.find('input[name*=".OrderFormular"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].OrderFormular');
           this_row.find('input[id*="OrderFormular"]').attr('id', 'Formular_Detail_' + itemIndex + '__OrderFormular');
           this_row.find('input[name*=".Row_Id"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Row_Id');
           this_row.find('input[id*="Row_Id"]').attr('id', 'Formular_Detail_' + itemIndex + '__Row_Id');
           $('#Formular_Detail_' + itemIndex + '__OrderFormular').text(itemIndex);
           this_row.find('input[id*="Order"]').val(itemIndex);
           this_row.find('input[name*=".Name"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Name');
           this_row.find('input[id*="Name"]').attr('id', 'Formular_Detail_' + itemIndex + '__Name');
           this_row.find('textarea[name*=".Description"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Description');
           this_row.find('textarea[id*="Description"]').attr('id', 'Formular_Detail_' + itemIndex + '__Description');
           this_row.find('[id*="formular"]').attr("id", "formular" + itemIndex + "");
           this_row.find('.btnVar').attr("onclick", "AddValiable(" + itemIndex + ");");
           this_row.find('.btnOper').attr("onclick", "AddOperation(" + itemIndex + ");");
           this_row.find('.btnNumb').attr("onclick", "AddNumber(" + itemIndex + ");");
           this_row.find('.btnDel').attr("onclick", "confirmDeletRow(" + itemIndex + ");");
           this_row.find('textarea[name*=".Expression"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Expression');
           this_row.find('textarea[id*="Expression"]').attr('id', 'Formular_Detail_' + itemIndex + '__Expression');
           this_row.find('select[name*=".Status"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Status');
           this_row.find('select[id*="Status"]').attr('id', 'Formular_Detail_' + itemIndex + '__Status');
           this_row.find('input[name*=".Status"]').attr('name', 'Formular_Detail[' + [itemIndex] + '].Status');
           this_row.find('input[id*="Status"]').attr('id', 'Formular_Detail_' + itemIndex + '__Status');
           $('#formular' + itemIndex + '').find('[id*="ValueEx"]').each(function () {
               ReIndexExpression(itemIndex);
               //$(this).attr('id', 'Formular_Detail_0__Formular_Exp_0__ValueEx')
           });
           itemIndex++;
       });
   }

   function getExpresssion(element) {
       var elementID;
       if (element.id == undefined) {
           elementID = element;
       } else {
           elementID = element.id;
       }

       var item = $('#' + elementID + '').parent().find('[id*="__ValueEx"]');
       var valueArray = new Array();
       for (var i = 0; i < item.length; i++) {
           valueArray[i] = $('#' + elementID + '').parent().find('[id*="Formular_Exp_' + i + '__ValueEx"]').val();
       }
       if (valueArray != null && valueArray != undefined) {
           var text = valueArray.join(' ');
       }
       var indexEx = elementID.substring(16, 17);
       $('#Formular_Detail_' + indexEx + '__Expression').text(text);
   }

   //Delete formular row
   function DeleteExpression(e) {
       if ($(e).parent().parent().parent().parent().parent().parent().children().length > 0) {
           var conf = confirm("Please confirm to Delete?");
           if (conf) {

               var id = $(e).parent().parent().parent().find('[id*="__Row_Id"]').val();
               if (id==0) {
                   $(e).parent().parent().parent().remove();
                   Reindex();
               } else {
                   $.ajax({
                       type: "GET",
                       url: '@Url.Action("DeleteFormular", "HedgeFormular")',
                       data: { "id": id },
                       success: function (data) {
                           if (data == "success") {
                               $(e).parent().parent().parent().remove();
                               Reindex();
                           } else {
                               alert(data);
                           }
                       },
                       error: function (xhr) {
                       }
                   });
               }
           }
       }
   }

   //Delete expression in formular row
   function confirmDeletRow(row) {
       var elementId = $('[id*="Formular_Detail_' + row + '__Formular_Exp"]').last().attr('id');
       var item = elementId.substring(32, 33);
       if (item != null && item != undefined) {
           $('[id*="Formular_Detail_' + row + '__Formular_Exp_' + item + '"]').remove();
       }
       ReIndexExpression(row);

       var item = $('[id*="formular' + row + '"]').find('[id*="__ValueEx"]');
       var valueArray = new Array();
       for (var i = 0; i < item.length; i++) {
           valueArray[i] = $('[id*="formular' + row + '"]').find('[id*="Formular_Exp_' + i + '__ValueEx"]').val();
       }
       if (valueArray != null && valueArray != undefined) {
           var text = valueArray.join(' ');
       }
       $('#Formular_Detail_' + row + '__Expression').text(text);
    }

   $('#Save').click(function () {
       var AllowSave = false;
       AllowSave = beforeSaveData(AllowSave);
       if (AllowSave==true) {
           saveDataFormular();
       }
   });

   function beforeSaveData(AllowSave) {
       
       $('#BodyFormular').find('[id*="Expression"]').each(function () {
           var d = $(this).val();
           var formular = new RegExp(/[-!$%^&*()+|~=`{}\[\]:";'<>?,.\/]/g);

           if (formular.test(d)) {
               AllowSave = true;
           } else {
               alert('Can not save data! Plase make sure about your expression.');
               AllowSave = false;
               return AllowSave;
           }
           
       })
       return AllowSave;
   }

   function saveDataFormular() {
       var testVM = $('#form_formular').serialize();
       var urlSearch = "@Html.Raw( @Url.Action("SaveData", "HedgeFormular"))";
       $.ajax({
           type: "POST",
           url: urlSearch,
           data: testVM,
           
           success: function (xhr) {
               if (!xhr.Success) {
                   alert(xhr.Message);
               }
               else {
                   closePopUp();
               }

           },
           error: function (xhr) {
           }
       });

   }

</script>