﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeToolViewModel

@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

@if (TempData["ReponseStatus"] != null && TempData["ReponseMessage"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<style type="text/css">
    .clearIcon {
        cursor: pointer;
        color: red;
    }

    .createByField {
        font-family: Arial,sans-serif;
        font-size: 12px;
    }

    .select.input-sm {
        width: 50px;
    }
</style>

<div class="wrapper-detail">
    <div>
        <h1>Tool</h1>
    </div>

    @using (Html.BeginForm("Search", "HedgeTool", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Code</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.tool_Search.sCode, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Name</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.tool_Search.sName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Desc</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.tool_Search.sDesc, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Status</label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.tool_Search.sStatus, Model.ddlStatus, "Select All", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Option</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.tool_Search.sOption, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Update Date:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.tool_Search.sUpdateDate, new { @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY to DD/MM/YYYY" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Update by:</label>
                    <div class="col-md-7 createByField">
                        @Html.HiddenFor(model => model.tool_Search.sSelectUpdateBy)
                        @Html.DropDownListFor(model => model.tool_Search.sSelectUpdateBy, Model.ddlUser, new { @class = "form-control", @multiple = "multiple", @id = "UpdateBy" })
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4 pull-left">
                    <a class="btn btn-success" href="~/CPAIMVC/HedgeTool" id="addBtn" name="addBtn" role="button">New</a>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" value="Reset" class="btn btn-default" onclick="resetForm()">Clear All</button>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn btn-primary">Formula</button>
                </div>
            </div>
        </div>

    }
    <div class="task-box">
        <div class="wrapper-table collapse in" id="collapseJuly">
            <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th width="180px">Code</th>
                        <th width="150px">Name</th>
                        <th width="200px">Desc</th>
                        <th width="250px">Option</th>
                        <th width="100px">Status</th>
                        <th width="100px">Version</th>
                        <th width="150px">Update Date</th>
                        <th width="150px">Update By</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.tool_Search == null)
                    {
                        <tr class="waiting">
                            <td colspan="9">Waiting for search</td>
                        </tr>
                    }
                    else
                    {

                        if (Model.tool_Search.sSearchData != null && Model.tool_Search.sSearchData.Count > 0)
                        {
                            foreach (var v in Model.tool_Search.sSearchData)
                            {

                                <tr class="drafts">
                                    <td>@v.dCode</td>
                                    <td>@v.dName</td>
                                    <td>@v.dDesc</td>
                                    <td>@v.dOption</td>
                                    <td>@v.dStatus</td>
                                    <td>@v.dVersion</td>
                                    <td>@v.dUpdateDate</td>
                                    <td>@v.dUpdateBy</td>
                                    <td>
                                        @if (ViewBag.action_view)
                                        {
                                            <a href="@Url.Action("View", "HedgeTool", new { HedgeToolID = @v.dHedgeToolID  })" title="View Detail">
                                                <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                            </a>
                                        }
                                        @if (ViewBag.action_edit)
                                        {
                                            <a href="@Url.Action("Edit", "HedgeTool", new { HedgeToolID = @v.dHedgeToolID })" title="Edit">
                                                <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                            </a>
                                        }
                                        <a title="Delete" style="cursor: pointer;">
                                            <img class="clickable-delete" data-href="@v.dHedgeToolID" alt="Widget View" src="@Url.Content("../../Content/images/Delete-file-icon.png")">
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="waiting">
                                <td colspan="9">Data not found</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="pMsg">
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    $(function () {
            var strTD = @Html.Raw(Json.Encode(@Model.tool_Search.sSelectUpdateBy));
            if (strTD != null)
            {
                var arTD = strTD.split("|");
                $("#UpdateBy").val(arTD).trigger('change');
            }

        $('#tool_Search_sUpdateDate').dateRangePicker(
        {
            startOfWeek: 'monday',
            format: 'DD-MM-YYYY',
        });
        $("#UpdateBy").select2();
        $('#UpdateBy').change(function () {
            var create = "";
            $("#UpdateBy option:selected").each(function () {
                create = create + $(this).val() + "|";
            });
            $("#tool_Search_sSelectUpdateBy").val(create.substr(0, create.length - 1));

            $('.select2-search__field').keydown(function (e) {

                if ($(this).val() == "") {
                    if (e.keyCode == 8) {
                        return false;
                    }
                }
            });
        });
        $(".clickable-delete").click(function () {
            var data = $(this).data("href");
            if (data.length > 0) {
                var RowId = data;
                $("#deleteRowId").val(RowId);
            }
            bootbox.confirm({
                message: "Are you sure to delete?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#btnDelete").click();
                        LoadingProcess();
                    }
                }
            });
        });

    });

    //function resetForm() {
    //    $("#sCode").val('');
    //    $('#sName').val('');
    //    $("#sDesc").val('');
    //    $('#sOption').val('');
    //    $("#sStatus").val('');
    //    $("#sUpdateDate").val('');
    //    $("#sSelectUpdateBy").val('');
    //    $("#UpdateBy").select2("val", "");
    //}

</script>