﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Search";
}

<div class="page-header">
    <h1>Customer</h1>
</div>

@using (Html.BeginForm("Search", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CUSTOMER CODE</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.cust_Search.sCustCode, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">COUNTRY</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sCountry, new SelectList(Model.ddl_Country, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">COMPANY</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sCompany, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">SYSTEM</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sSystem, new SelectList(Model.ddl_System, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">STATUS</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CUSTOMER NAME</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.cust_Search.sCustName, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CREATE TYPE</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sCreateType, new SelectList(Model.ddl_CreateType, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">NATION</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sNation, new SelectList(Model.ddl_Nation, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">CUSTOMER TYPE</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.cust_Search.sType, new SelectList(Model.ddl_Type, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Customer" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>CUSTOMER CODE</th>
            <th>CUSTOMER NAME</th>
            <th>COMPANY</th>
            <th>NATION</th>
            <th>COUNTRY</th>
            <th>SYSTEM</th>
            <th>CUSTOMER TYPE</th>
            <th>CREATE TYPE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.cust_Search == null)
        {

            <tr class="waiting">
                <td colspan="10">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.cust_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.cust_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dCustCode</td>
                        <td>@v.dCustName</td>
                        <td>@v.dCompany</td>
                        <td>@v.dNation</td>
                        <td>@v.dCountry</td>
                        <td>@v.dSystem</td>
                        <td>@v.dType</td>
                        <td>@v.dCreateType</td>
                        <td>@v.dStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("ViewDetail", "Customer", new { customerCode = @v.dCustCtrlID })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")"></a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Customer", new { customerCode = @v.dCustCtrlID })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")"></a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [9],
                    "orderable": false
                }
            ]
        });
    });
</script>