﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>





@using (Html.BeginForm("Search", "Role", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Role</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">ROLE NAME:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.role_Search.sRoleName, new SelectList(Model.ddl_RoleName, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">ROLE DESCRIPTION:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.role_Search.sRoleDescription, new SelectList(Model.ddl_RoleDesc, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">STATUS:</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.role_Search.sRoleStatus, new SelectList(Model.ddl_Status, "Value", "Text"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <div class="pull-left">
            @if (ViewBag.action_create)
            {
                @Html.ActionLink("Add", "Create", new { controller = "Role" }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="pull-right">
            @if (ViewBag.action_search)
            {
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
}

<div class="page-header">
    <h1>Search Result</h1>
</div>
<table id="searchResultTable" class="table table-hover display" cellspacing="0">
    <thead>
        <tr>
            <th>ROLE NAME</th>
            <th>ROLE DESCRIPTION</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.role_Search == null)
        {

            <tr class="waiting">
                <td colspan="7">Waiting for search</td>
            </tr>

        }
        else
        {
            if (Model.role_Search.sSearchData.Count > 0)
            {
                foreach (var v in Model.role_Search.sSearchData)
                {
                    <tr>
                        <td>@v.dRolName</td>
                        <td>@v.dRolDesc</td>
                        <td>@v.dRolStatus</td>
                        <td width="100px">
                            @if (ViewBag.action_view)
                            {
                                <a href="@Url.Action("View", "Role", new { RoleID = @v.dRolID  })" title="View Detail">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695949_file.png")">
                                </a>
                            }
                            @if (ViewBag.action_edit)
                            {
                                <a href="@Url.Action("Edit", "Role", new { RoleID = @v.dRolID  })" title="Edit">
                                    <img alt="Widget View" src="@Url.Content("../../Content/images/1480695860_edit.png")">
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>


    $(document).ready(function () {
        $('#searchResultTable').DataTable({
            "columnDefs": [
                //Disble sort on Action Colum
                {
                    "targets": [3],
                    "orderable": false
                }
            ]
        });
    });


</script>