﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ThroughputViewModel
@{
    var page_title = "";

    if (!String.IsNullOrEmpty(Model.ThroughputFeeTransaction.sTripNo))
    {
        ViewBag.Title = "Edit";
        page_title = "Edit Throughput Fee Transacction";
    }
    else
    {
        ViewBag.Title = "Add ";
        page_title = "Add new Throughput Fee Transacction";
    }
}

@if (TempData["ReponseStatus"] != null)
{
    // if POST check Response and Disble background layout of Modal Popup
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "formControl" }))
{
    @Html.HiddenFor(a => a.pageMode)
    <div class="form-group">
        <div class="col-md-4">
            <label class="col-md-4 control-label">Trip No. :</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Throughput_Detail.dTripNo, new { @class = "form-control", @id = "txtTripNo" })
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-4 control-label">Customer :</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Throughput_Detail.dCustomer, new SelectList(Model.ddl_Customer, "Value", "Text", Model.Throughput_Detail.dCustomer), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-4 control-label">Vessel :</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Throughput_Detail.dVesselID, new SelectList(Model.ddl_Vessel, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlVessel" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="col-md-4 control-label">Completed Date:</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Throughput_Detail.dCompleteDate, new { @class = "form-control", @id = "txtCompletedDate" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Throughput_Detail.dHour, new SelectList(Model.ddl_Hour, "Value", "Text", Model.Throughput_Detail.dHour), "--", new { @class = "form-control", @id = "ddlHour", @style = "width:50px;float:left" })
                <label style="float:left"> : </label>
                @Html.DropDownListFor(model => model.Throughput_Detail.dMin, new SelectList(Model.ddl_Min, "Value", "Text", Model.Throughput_Detail.dMin), "--", new { @class = "form-control", @id = "ddlMin", @style = "width:50px" })
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-4 control-label">Due Date:</label>
            <div class="col-md-8">

                @*@Html.TextBoxFor(model => model.Throughput_Detail.dDueDate, Model.Throughput_Detail.dDueDate, new { @class = "form-control", @id = "txtDueDate" })*@
                <input class="form-control" id="txtDueDate" name="Throughput_Detail.dDueDate" type="text" value="@Model.Throughput_Detail.dDueDate">
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-4 control-label">Sales Unit:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Throughput_Detail.dSalesUnit, new SelectList(Model.ddl_Unit, "Value", "Text"), new { @class = "form-control", @id = "ddlSalesUnit" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="addItem()">Add</button>
    </div>

    <div>
        <table id="ThroughputTable" class="table table-hover display " cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 120px;">Price Status</th>
                    <th style="width: 120px;">Net Outturn QTY (BBL)</th>
                    <th style="width: 120px;">Net Outturn QTY (MT)</th>
                    <th style="width: 120px;">Net Outturn QTY (ML)</th>
                    <th>Fix Rate (USD)</th>
                    <th>Total Amount (USD)</th>
                    <th style="width: 250px;">Exchange Rate</th>
                    <th style="width: 100px;">Exchange Rate Type</th>
                    <th style="width: 120px;">Exchange Rate Value</th>
                    <th>Total Amount (THB)</th>

                </tr>
            </thead>
            <tbody id="TBItem">
                @if (Model.Throughput_Detail.ItemList != null)
                {
                    var index = 0;
                    foreach (var item in Model.Throughput_Detail.ItemList)
                    {
                        <tr id="tr_@index">
                            <td>
                                @Html.HiddenFor(model => model.Throughput_Detail.ItemList[index].iIndex)
                                <input type="image" src="../../Web/Images/icon-delete.gif" onclick="delItem('@index'); return false;">
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Throughput_Detail.ItemList[index].iPriceStatus, new SelectList(Model.ddl_PriceStatus, "Value", "Text", item.iPriceStatus), new { @class = "form-control", @id = "ddlPriceStatus" + index, @onchange = "OnChengeStatus(" + index + ")" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Throughput_Detail.ItemList[index].iQtyBBL, item.iQtyBBL, new { @class = "numberOnly  form-control", @id = "txtiQtyBBL" + index })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Throughput_Detail.ItemList[index].iQtyMT, item.iQtyMT, new { @class = "numberOnly  form-control", @id = "txtiQtyMT" + index })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Throughput_Detail.ItemList[index].iQtyML, item.iQtyML, new { @class = "numberOnly  form-control", @id = "txtiQtyML" + index })
                            </td>
                            <td>
                                @item.iFixRate
                                <input length="4" id="Throughput_Detail_ItemList_0__iFixRate" name="Throughput_Detail.ItemList[@index].iFixRate" type="hidden" value="@item.iFixRate">
                                @*@Html.HiddenFor(model => model.Throughput_Detail.ItemList[index].iFixRate, item.iFixRate)*@
                            </td>
                            <td>
                                @item.iTotalAmountUSD
                                <input length="5" id="Throughput_Detail_ItemList_0__iTotalAmountUSD" name="Throughput_Detail.ItemList[@index].iTotalAmountUSD" type="hidden" value="@item.iTotalAmountUSD">
                                @*@Html.HiddenFor(model => model.Throughput_Detail.ItemList[index].iTotalAmountUSD, item.iTotalAmountUSD)*@
                            </td>
                            <td>
                                <input class="form-control input-date-picker" id="iExchangeRatePeriod_@index" maxlength="24" name="Throughput_Detail.ItemList[@index].iExchangeRatePeriod" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value="@item.iExchangeRatePeriod">
                                @*@Html.TextBoxFor(model => model.Throughput_Detail.ItemList[index].iExchangeRatePeriod, new { @id = "iExchangeRatePeriod" + index, @class = "form-control input-date-picker", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24" })*@
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Throughput_Detail.ItemList[index].iExchangeRateType, new SelectList(Model.ddl_ExchangeRate_Type, "Value", "Text", item.iExchangeRateType), new { @id = "iExchangeRateType" + index, @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Throughput_Detail.ItemList[index].iExchangeRate, item.iExchangeRate, new { @class = "numberOnly  form-control", @id = "txtExchangeRate" + index })
                            </td>
                            <td>
                                @item.iTotalAmountTHB
                                <input length="6" id="Throughput_Detail_ItemList_0__iTotalAmountTHB" name="Throughput_Detail.ItemList[@index].iTotalAmountTHB" type="hidden" value="@item.iTotalAmountTHB">
                                @*@Html.HiddenFor(model => model.Throughput_Detail.ItemList[index].iTotalAmountTHB, item.iTotalAmountTHB)*@
                            </td>
                        </tr>
                        index++;
                    }

                }
                else
                {
                    <tr class="waiting">
                        <td colspan="6">Data not found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">
            <button type="button" class="btn btn-primary" onclick="funccheckCal()">Calculate</button>
            <button type="button" class="btn btn-primary" onclick="funccheckValidate()">Save</button>
            <button id="btnSave" type="submit" class="btn btn-primary" name="action:Save" style="display: none;">Save</button>
            <button id="btnCal" type="submit" class="btn btn-primary" name="action:Calculate" style="display: none;">Save</button>
            <button type="button" class="btn btn-primary" onclick="clearFields('@Model.pageMode')" name="">Clear</button>
            @Html.ActionLink("BACK", "Search", new { controller = "Throughput" }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>

}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="pMsg">
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.pageMode' != "NEW") {
            $('#txtTripNo').prop('readonly', true);
            $('#ddlCustomer').prop('readonly', true);
        }
        $('#txtCompletedDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });

        $('#txtDueDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY",
            singleDate: true,
            autoClose: true
        });
        debugger;
        var Count = parseInt('@Model.Throughput_Detail.ItemList.Count()')-1;
        for (var index = 0; index <= Count; index++) {
            $('#iExchangeRatePeriod_' + index).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                autoClose: true
            });
        }
    });

    function clearFields(status) {
        if (status == "NEW") {
            $('#txtTripNo').val('');
            $('#txtTripNo').text('');
            $("select#ddlCustomer")[0].selectedIndex = 0;
            $('#txtCompletedDate').val('');
            $("select#ddlVessel")[0].selectedIndex = 0;
            $('#txtQTYBBL').val('');
            $('#txtQTYMT').val('');
            $('#txtQTYML').val('');
            $("select#ddlSalesUnit")[0].selectedIndex = 0;
            $("select#ddlShipTo")[0].selectedIndex = 0;
            $('#txtDueDate').val('');
            //$('#ThroughputTable tbody').empty();
        }
    }

    function funccheckCal() {
        updateIndex();
        $("#btnCal").click();
    }

    function OnChengeStatus(row) {
        $("#ddlPriceStatus" + row).change(function () {
            debugger;
            var status = this.value;
            if (status == "1" || status == "3") {
                $("#iExchangeRateType" + row).val("Buying").change();
            }
            else {
                $("#iExchangeRateType" + row).val("Average").change();
            }
        });
    }

    $(".numberOnly").focus(function () {
        $(this).val($(this).val().replace(/,/g, ''));
    });

    $(".numberOnly").blur(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    $(".numberOnly").each(function () {
        var value = parseFloat($(this).val().replace(/,/g, ''));
        if (!isNaN(value)) {
            if (value > 999999999999) {
                value = 999999999999;
            }
            var tmp = $(this).val().split(".");
            var lng = tmp.length;
            var digit = 0;
            if (lng > 1) {
                digit = tmp[1].length;
            }
            $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
        }
        else
            $(this).val("");
    });

    function addItem() {
        var rowCount = $('table#ThroughputTable tr:last').index() + 1;
        rowCount++;
        if ((rowCount) < 6) {
            var index = $('#ThroughputTable tbody tr').length;
            var trHTML = '';
            trHTML += '<tr id="tr_' + index + '">'
            trHTML += '<td><input id="Throughput_Detail_ItemList_' + index + '__iIndex" name="Throughput_Detail.ItemList[' + index + '].iIndex" type="hidden" value="' + (index + 1) + '"> <input type="image" src="../../Web/Images/icon-delete.gif" onclick="delItem(' + index + '); return false;"></td>';
            trHTML += '<td><select class="form-control" id="ddlPriceStatus' + index + '" name="Throughput_Detail.ItemList[' + index + '].iPriceStatus"><option value="1">Provisional QTY (FX M9)</option><option value="2">Adjust FX Agreement</option><option value="3">Actual QTY (FX M9)</option><option value="4">Final Adjust FX Agreement</option></select></td>';
            trHTML += '<td><input class="numberOnly  form-control" id="txtiQtyBBL' + index + '" name="Throughput_Detail.ItemList[' + index + '].iQtyBBL" type="text" value=""></td>';
            trHTML += '<td><input class="numberOnly  form-control" id="txtiQtyMT' + index + '" name="Throughput_Detail.ItemList[' + index + '].iQtyMT" type="text" value=""></td>';
            trHTML += '<td><input class="numberOnly  form-control" id="txtiQtyML' + index + '" name="Throughput_Detail.ItemList[' + index + '].iQtyML" type="text" value=""></td>';
            trHTML += '<td>0<input length="1" id="Throughput_Detail_ItemList_' + index + '__iFixRate" name="Throughput_Detail.ItemList[' + index + '].iFixRate" type="hidden" value="0"></td>';
            trHTML += '<td>0<input length="1" id="Throughput_Detail_ItemList_' + index + '__iTotalAmountUSD" name="Throughput_Detail.ItemList[' + index + '].iTotalAmountUSD" type="hidden" value="0"></td>';
            trHTML += '<td><input class="form-control input-date-picker" id="iExchangeRatePeriod_' + index + '" maxlength="24" name="Throughput_Detail.ItemList[' + index + '].iExchangeRatePeriod" placeholder="DD/MM/YYYY to DD/MM/YYYY" type="text" value=""></td>';
            trHTML += '<td><select id="iExchangeRatePeriod' + index + '" name="ddlStorage" class="form-control"><option value="">Buying</option><option value="">Average</option></select></td>';
            trHTML += '<td><input class="numberOnly  form-control" id="txtExchangeRate' + index + '" name="Throughput_Detail.ItemList[' + index + '].iExchangeRate" type="text" value=""></td>';
            trHTML += '<td>0<input length="1" id="Throughput_Detail_ItemList_' + index + '__iTotalAmountTHB" name="Throughput_Detail.ItemList[' + index + '].iTotalAmountTHB" type="hidden" value="0"></td>';

            trHTML += '</tr>';
            $("#ThroughputTable").append(trHTML);
            $('#iExchangeRatePeriod_' + index).dateRangePicker({
                startOfWeek: 'monday',
                format: "DD/MM/YYYY",
                autoClose: true
            });
            updateNumberValidate();
        }
    }

    function delItem(row) {
        $("#tr_" + row).remove();
        updateIndex();
    }

    function updateIndex() {
        var i = 0;
        debugger;
        $('#TBItem tr').each(function () {
            var newObject = $(this);
            newObject.find('select[name$=".iPriceStatus"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iPriceStatus');
            newObject.find('select[name$=".iPriceStatus"]').attr('id', 'Throughput_Detail_ItemList_' + i + '__iPriceStatus');
            newObject.find('input[name$=".iFixRate"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iFixRate');
            newObject.find('input[name$=".iTotalAmount"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iTotalAmount');
            newObject.find('input[name$=".iCurrency"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iCurrency');
            newObject.find('input[name$=".iExchangeRate"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iExchangeRate');
            newObject.find('input[name$=".iExchangeRatePeriod"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iExchangeRatePeriod');
            newObject.find('input[name$=".iQtyBBL"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iQtyBBL');
            newObject.find('input[name$=".iQtyML"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iQtyML');
            newObject.find('input[name$=".iQtyMT"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iQtyMT');
            newObject.find('input[name$=".iTotalAmountUSD"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iTotalAmountUSD');
            newObject.find('input[name$=".iTotalAmountTHB"]').attr('name', 'Throughput_Detail.ItemList[' + i + '].iTotalAmountTHB');
            i++;
        });
    }

    function createUUID() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    function actionDeletePrice(controlID) {
        $('#' + controlID).remove();
    }

    function updateNumberValidate() {
        $(".numberOnly").focus(function () {
            $(this).val($(this).val().replace(/,/g, ''));
        });

        $(".numberOnly").blur(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                //$(this).val(value.toLocaleString('en-US', { minimumFractionDigits: 4, maximumFractionDigits: 4 }));
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

        $(".numberOnly").each(function () {
            var value = parseFloat($(this).val().replace(/,/g, ''));
            if (!isNaN(value)) {
                if (value > 999999999999) {
                    value = 999999999999;
                }
                var tmp = $(this).val().split(".");
                var lng = tmp.length;
                var digit = 0;
                if (lng > 1) {
                    digit = tmp[1].length;
                }
                $(this).val(value.toLocaleString('en-US', { minimumFractionDigits: digit, maximumFractionDigits: digit }));
            }
            else
                $(this).val("");
        });

    }

    function funccheckValidate() {
        if ($('#txtTripNo').val() != "") {
            $("#btnSave").click();
        } else {
            var modal = $('#resultPopup');
            var containingDiv = $('#pMsg', modal);
            containingDiv.html("Plese enter Trip No.");
            modal.modal('show');
        }
    }
</script>
