﻿@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

<div class="row">
    <div class="verify-box col-md-12">
        <div class="wrapper-table collapse in">
            <table id="hedgeDealVerifyTable" class="table table-hover display" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">No.</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Checklist</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Status</span></th>
                        <th style="padding-top: 0px;padding-bottom: 0px;"><span class="head-subtitle">Remark</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="drafts">
                        <td><span>1</span></td>
                        <td><span>Credit Rating</span></td>
                        <td><span>PASS</span><input type="checkbox" value="true" style="margin-left: 10px;"/><span>By pass</span></td>
                        <td>
                            @Html.TextBox("remark", string.Empty, new { @class = "form-control essential", @style= "display: inline; width: 80%;" })
                            <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
                        </td>
                    </tr>
                    <tr class="drafts">
                        <td><span>2</span></td>
                        <td><span>Credit Limit</span></td>
                        <td><span>PASS</span><input type="checkbox" value="true" style="margin-left: 10px;" /><span>By pass</span></td>
                        <td>
                            @Html.TextBox("remark", string.Empty, new { @class = "form-control essential", @style = "display: inline; width: 80%;" })
                            <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
                        </td>
                    </tr>
                    <tr class="drafts">
                        <td><span>3</span></td>
                        <td><span>5-ys CDS</span></td>
                        <td><span>PASS</span><input type="checkbox" value="true" style="margin-left: 10px;" /><span>By pass</span></td>
                        <td>
                            @Html.TextBox("remark", string.Empty, new { @class = "form-control essential", @style = "display: inline; width: 80%;" })
                            <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
                        </td>
                    </tr>
                    <tr class="drafts">
                        <td><span>4</span></td>
                        <td><span>Hedging Framework</span></td>
                        <td><span>PASS</span><input type="checkbox" value="true" style="margin-left: 10px;" /><span>By pass</span></td>
                        <td>
                            @Html.TextBox("remark", string.Empty, new { @class = "form-control essential", @style = "display: inline; width: 80%;" })
                            <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-2">
                <input type="checkbox" value="true" style="margin-left: 10px;" /><span>By pass all</span>
            </div>
            <div class="col-md-6">
                @Html.TextBox("remark", string.Empty, new { @class = "form-control essential" })
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-info button-small" onclick="onSelectFile()">Select File</button>
            </div>
        </div>
    </div>
</div>
