﻿@using System.Globalization
@using System.Collections
@using System.Linq
@using ProjectCPAIEngine.Utilities
@using ProjectCPAIEngine.Areas.CPAIMVC.ViewModels

@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeDealKeyinMainViewModel
@{
    ViewBag.Title = "Deal Main";
    var isNewStatus = string.IsNullOrEmpty(Model.Status) || Model.Status.Equals("NEW", StringComparison.OrdinalIgnoreCase);
}

<style>
    h2:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 17px;
        height: 17px;
        left: 0;
        background: url(/Content/images/bg/bg-collap.png) no-repeat;
        background-size: 17px 17px;
        transform: rotate(1deg);
        margin-right: 10px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray;
    }
    h2.collapsed:before {
        transform: rotate(-90deg);
    }
    h2.complete:before {
        background-color: lawngreen;
    }
    .text-right {
        text-align: right !important;
    }
    .text-status {
        text-align: right;
        margin-top: 40px;
        font-size: 26px;
    }
    .text-info {
        padding-top: 3px !important;
    }
    .text-label {
        background: transparent;
        background-color: transparent !important;
        border: 0px solid transparent !important;
        box-shadow: none;
        cursor: auto !important;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
    }
    .text-volumn {
        background-color: lightgreen !important;
    }
    .trimright {
        padding-right: 0px !important;
    }
    .trimleft {
        padding-left: 0px !important;
    }
    .button-history {
        text-align: right;
        padding-right: 0px;
        margin-top: 10px;
    }
    .button-set {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: rgba(128, 128, 128,0.2);
        padding-top: 5px;
        padding-bottom: 7px;
        margin-bottom: 0px;
        border: 1px lightgray solid;
        z-index: 2;
    }
    .btn-info{
        height:40px !important;
    }
    .wrapper-detail {
        margin-bottom: 60px;
    }
    .wrapper-table {
        padding: 5px;
    } 
    .footer {
        position: fixed !important;
        bottom: 0px !important;
        width: 100% !important;
        display: none;
    }
    div.col-md-3 > label {
        display: inline;
    }
    .require{
        color:red;
    }
    hr {
        background-image: linear-gradient(to right,#737373 40%,rgba(255,255,255,0) 20%);
        background-position: bottom;
        background-size: 15px 1px;
        background-repeat: repeat-x;
        height: 1px;
        border: 0;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .hidden{
        display:none;
    }
    .visible {
        display: block;
    }
    .button-small {
        max-height: 30px !important;
        padding-top: 1px;
        max-width: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<div class="wrapper-detail">
    @*Deal information*@
    <div class="col-md-12 trimleft trimright">
        <div class="col-md-6 trimleft">
            <h1><span style="cursor:pointer;">Deal</span></h1>
        </div>
        <div class="col-md-6 trimright @(isNewStatus ? "hidden" : "visible")">
            @Html.LabelFor(model => model.Status, "Status: " + Model.Status, new { @class = "col-md-12 control-label text-status" })
        </div>
    </div>
    <div class="form-horizontal @(isNewStatus ? "hidden" : "visible")">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.PreDealNo, "Pre-Deal No.", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.PreDealNo, new { @class = "form-control essential", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.DealNo, "Deal No.", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.DealNo, new { @class = "form-control essential", @disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.TicketNo, "Ticket No.", new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.TicketNo, new { @class = "form-control essential", @disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Revision, "Revision: " + Model.Revision, new { @class = "col-md-12 control-label text-right text-info" })
                    @Html.LabelFor(model => model.CreatedBy, "Created by: " + Model.CreatedBy, new { @class = "col-md-12 control-label text-right text-info" })
                    @Html.LabelFor(model => model.CreatedDate, "Created date: " + Model.CreatedDate, new { @class = "col-md-12 control-label text-right text-info" })
                    @Html.LabelFor(model => model.UpdatedBy, "Updated by: " + Model.UpdatedBy, new { @class = "col-md-12 control-label text-right text-info" })
                    @Html.LabelFor(model => model.UpdatedDate, "Updated date: " + Model.UpdatedDate, new { @class = "col-md-12 control-label text-right text-info" })

                    <div class="col-md-12 button-history">
                        <button type="button" class="btn btn-info" onclick="onHistory()">History</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Deal Header*@
    <div id="sectionDealHeader">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealHeader" href="#dealHeader"><span style="cursor:pointer;">Header</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealHeader" aria-expanded="true">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.Company, "Company", new { @class = "control-label" })
                            <span class="require">*</span>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Header.Company, Model.Header.Companies, "--- Select ---", new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.TradeDates, "Trade Date", new { @class = "control-label" })
                            <span class="require">*</span>
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Header.TradeDates, new { @class = "form-control essential input-date-picker", type = "text", placeholder = "DD-MMM-YYYY to DD-MMM-YYYY", maxlength = "26" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.TradingBook, "Trading Book", new { @class = "control-label" })
                            <span class="require">*</span>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Header.TradingBook, Model.Header.TradingBooks, "--- Select ---", new { @class = "form-control essential", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.TradingBook, "Trade For", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 trimleft trimright">
                            <div class="col-md-1">
                                @Html.CheckBoxFor(m => m.Header.IsTradeFor)
                            </div>
                            <div class="col-md-2">
                                @Html.Label("Fee", new { @class = "control-label" })
                                <span class="require">*</span>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Header.FeeValue, new { @class = "form-control essential" })
                            </div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Header.UnitPrice, new SelectList(Model.Header.UnitPrices, "Value", "Text", Model.Header.UnitPrice), string.Empty, new { @class = "form-control essential" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.Counterparty, "Counterparty", new { @class = "control-label" })
                            <span class="require">*</span>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.Header.Counterparty, new SelectList(Model.Header.Counterparties, "Value", "Text", Model.Header.Counterparty), string.Empty, new { @class = "form-control essential" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Header.IsUnwind, "Unwind", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7 trimleft trimright">
                            <div class="col-md-1">
                                @Html.CheckBoxFor(m => m.Header.IsUnwind)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Deal Committee Framework*@
    <div id="sectionDealCommittee">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealCommittee" href="#dealCommittee"><span style="cursor:pointer;">Committee Framework</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealCommittee" aria-expanded="true">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.CommitteeFramework.RefNo, "Ref Committee FW No.", new { @class = "control-label", @style = "font-size: 17px;" })
                            <span class="require">*</span>
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.CommitteeFramework.RefNo, new { @class = "form-control essential", @disabled = "disabled" })
                        </div>
                        <div class="col-md-1">
                            <a href="javascript:void(0);" style="cursor:pointer" onclick="onSearchCommitteeFW();"><span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">                
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CommitteeFramework.DealTypeSell, "Deal Type", new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    <div class="col-md-6">
                                        @Html.RadioButtonFor(model => model.CommitteeFramework.DealTypeSell, Model.CommitteeFramework.DealTypeSell.IsSelected, new { @disabled = "disabled", @name = "DealType" })
                                        @Html.LabelFor(model => model.CommitteeFramework.DealTypeSell, Model.CommitteeFramework.DealTypeSell.DealType.ToDescription(), new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.RadioButtonFor(model => model.CommitteeFramework.DealTypeBuy, Model.CommitteeFramework.DealTypeBuy.IsSelected, new { @disabled = "disabled", @name = "DealType" })
                                        @Html.LabelFor(model => model.CommitteeFramework.DealTypeBuy, Model.CommitteeFramework.DealTypeBuy.DealType.ToDescription(), new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CommitteeFramework.HedgeType, "Hedge Type", new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CommitteeFramework.HedgeType, new { @class = "form-control essential", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CommitteeFramework.Tenor, "Tenor", new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CommitteeFramework.Tenor, new { @class = "form-control essential", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CommitteeFramework.TotalVolumn, "Total Volumn", new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CommitteeFramework.TotalVolumn, new { @class = "form-control essential", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.CommitteeFramework.Unit, "Unit", new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CommitteeFramework.Unit, new { @class = "form-control essential text-label", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Deal Type", new { @class = "control-label" })
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(m => m.CommitteeFramework.DealM1M.IsSelected, new { @disabled = "disabled" })
                                    @Html.LabelFor(model => model.CommitteeFramework.DealM1M, Model.CommitteeFramework.DealM1M.DealFlagType.ToDescription(), new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(m => m.CommitteeFramework.DealTimeSpread.IsSelected, new { @disabled = "disabled" })
                                    @Html.LabelFor(model => model.CommitteeFramework.DealTimeSpread, Model.CommitteeFramework.DealTimeSpread.DealFlagType.ToDescription(), new { @class = "control-label" })
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.CommitteeFramework.DealTimeSpreadConsecutive, Model.CommitteeFramework.DealTimeSpreadConsecutive.IsSelected, new { @disabled = "disabled", @name = "TimeSpread" })
                                        @Html.LabelFor(model => model.CommitteeFramework.DealTimeSpreadConsecutive, "Consecutive", new { @class = "control-label" })
                                    </div>
                                    <div class="row">
                                        @Html.RadioButtonFor(model => model.CommitteeFramework.DealTimeSpreadNonConsecutive, Model.CommitteeFramework.DealTimeSpreadNonConsecutive.IsSelected, new { @disabled = "disabled", @name = "TimeSpread" })
                                        @Html.LabelFor(model => model.CommitteeFramework.DealTimeSpreadNonConsecutive, "Non-Consecutive", new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Deal Underlying*@
    <div id="sectionDealUnderlying" class="@(Model.Underlying.HasPackage ? "visible" : "hidden")">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealUnderlying" href="#dealUnderlying"><span style="cursor:pointer;">Underlying</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealUnderlying" aria-expanded="true">
            @{ 
                ViewData["UnderlyType"] = "Main";
            }
            @Html.Partial("_UnderlyingPackage", Model.Underlying, ViewData)
        </div>
    </div>

    @*Deal Extend Underlying*@
    <div id="sectionDealExtend" class="@(Model.ExtendUnderlying.HasPackage ? "visible" : "hidden")">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealExtend" href="#dealExtend"><span style="cursor:pointer;">Extend Underlying</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealExtend" aria-expanded="true">
            @{
                ViewData["UnderlyType"] = "Extend";
            }
            @Html.Partial("_UnderlyingPackage", Model.ExtendUnderlying, ViewData)
        </div>
    </div>

    @*Deal Tool*@
    <div id="sectionDealTool" class="@(Model.Tool.HasTool ? "visible" : "hidden")">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealTool" href="#dealTool"><span style="cursor:pointer;">Tool</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealTool" aria-expanded="true">
            @Html.Partial("_Tool", Model.Tool, ViewData)
        </div>
    </div>

    @*Deal Deal Detail*@
    <div id="sectionDealDetail" class="@(Model.DealDetail.HasItem ? "visible" : "hidden")">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealDetail" href="#dealDetail"><span style="cursor:pointer;">Deal Detail</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealDetail" aria-expanded="true">
            @Html.Partial("_DealDetail", Model.DealDetail, ViewData)
        </div>
    </div>

    @*Deal Verify*@
    <div id="sectionDealVerify">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealVerify" href="#dealVerify"><span style="cursor:pointer;">Verify</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealVerify" aria-expanded="true">
            @Html.Partial("_DealVerify", null, ViewData)
        </div>
    </div>

    @*Deal Contract*@
    <div id="sectionDealContract">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealContract" href="#dealContract"><span style="cursor:pointer;">Contract</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealContract" aria-expanded="true">
            @Html.Partial("_DealContract", null, ViewData)
        </div>
    </div>

    @*Note*@
    <div id="sectionDealNote">
        <h2 data-toggle="collapse" aria-expanded="true" aria-controls="dealNote" href="#dealNote"><span style="cursor:pointer;">Note</span></h2>
        <div class="form-horizontal wrapper-table collapse in" id="dealNote" aria-expanded="true">
            <div class="row">
                <div class="col-md-12">
                    @Html.TextArea("txtDealNote", new { @class = "form-control txtExplanation" })
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sectionDialog">
    @Html.Partial("Dialogs/_DialogSearchCommitteeFW", Model.CommitteeFrameworkCriteria, ViewData)
    @Html.Partial("Dialogs/_DialogConfirm", null, ViewData)    
    @{
        if (!isNewStatus)
        {
            Html.Partial("Dialogs/_DialogHistory", null, ViewData);
        }
    }
</div>

@section ContentOption
{
    <div class="form-group button-set">
        <div class="col-md-12">
            <div class="col-md-4 text-left">
                <button type="button" class="btn btn-primary" onclick="onSaveDraft()">Save Draft</button>
                <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit</button>
                <button type="button" class="btn btn-primary" onclick="onRevise()">Revise</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-default" onclick="onDelete()">Delete</button>
                <button type="button" class="btn btn-default" onclick="onReject()">Reject</button>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-info" onclick="onComplete()">Complete</button>
                <button type="button" class="btn btn-info" onclick="onAmend()">Amend</button>
                <button type="button" class="btn btn-info" onclick="onBack()">Back</button>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script type="text/javascript">
        OpenBoxPopup(@Html.Raw(Json.Encode(Model.ErrorMessage)));
    </script>
}

<script>
    $(function () {
        $('#Header_TradeDates').dateRangePicker({ autoClose: true, singleDate: false, showShortcuts: false, format: 'DD-MMM-YYYY', time: { enabled: false } });

        $('#Header_Company').change(function (e) {
            if ($(this).val() != "") {
                $('#Header_TradingBook').prop('disabled', false);
            }
            else {
                $('#Header_TradingBook').prop('disabled', true).val("");
            }
        });
    });
    
    function onHistory() {
        $('#dgDealHistory').modal({ backdrop: 'static', keyboard: false });
    }
    function onSearchCommitteeFW() {
        $('#dgSearchCommitteeFW').modal({ backdrop: 'static', keyboard: false });
    }
    function onSaveDraft() { }
    function onSubmit() { }
    function onRevise() { }
    function onDelete() {
        $('#dgDealConfirm').modal({ backdrop: 'static', keyboard: false });
        $('#ReasonTitle').text('Reason for Delete');
        $('#txtDealReason').val('').parent().removeClass("has-warning");
    }
    function onReject() {
        $('#dgDealConfirm').modal({ backdrop: 'static', keyboard: false });
        $('#ReasonTitle').text('Reason for Reject');
        $('#txtDealReason').val('').parent().removeClass("has-warning");
    }
    function onComplete() { }
    function onAmend() { }
    function onBack() { }
</script>