﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.DocumentManagemantViewModel
@{
    ViewBag.Title = " Add Document Management";
}

@using (Html.BeginForm("Create", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.filePath);
    <div class="wrapper-detail">
        <h1>@ViewBag.Title</h1>
    </div>
    <hr />
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button id="uploadSupportingDocumentFile" class="btn btn-default" type="button" onclick="UploadFileSupportingDocument()">Select Files</button>
                    <input type="file" id="fileSupportingDocumentFile" name="fileSupportingDocumentFile" multiple="multiple" style="display:none;" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .msg" />
                </div>
            </div>
        </div>
        <div id="fileSupportingDocumentUploaded"></div>
    </div>

    <div class="wrapper-button" id="buttonDiv">
        @if (Model.filePath != "")
        {
            @Html.Hidden("fileSupportingDocument", Model.filePath as object)
        }
        else
        {
            @Html.Hidden("fileSupportingDocument")
        }

        <input type="submit" value="SAVE" id="btnSave" class="btn btn-default" onclick="OpenBoxBungerPrompt('Comment :', 'Save'); return false;" />
        <input type="submit" value="CLEAR" class="btn btn-default" onclick="DeleteAllFile(); return false;" />
        <input type="submit" value="SUBMIT" id="btnSubmit" class="btn btn-default" style="display:none;" name="action:SaveDocument" />
        <input type="submit" value="BACK" id="btnBack" class="btn btn-default" name="action:Back" />

    </div>
}

@if (TempData["res_message"] != null)
            {
                if (TempData["returnPage"] != null)
                {
        <script type="text/javascript">
                        OpenBoxPopupLink((@Html.Raw(Json.Encode(TempData["res_message"]))), @Html.Raw(Json.Encode(TempData["returnPage"]))).done(function() {
                            $("#EventButton").val("0");
                        });
        </script>
    }
    else
    {
        <script type="text/javascript">
                        OpenBoxPopup(@Html.Raw(Json.Encode(TempData["res_message"])));
        </script>
    }
}

<script type="text/javascript">
                // DOCUMENT READY //
                $(function() {
                    LoadFileSupportingDocument();
                    getWebSitePath();
                    DataReIndex();
                });

                // GET WEB SITE PATH //
                function getWebSitePath() {
                    var _location = document.location.toString();
                    var applicationNameIndex = _location.indexOf('/', _location.indexOf('://') + 3);
                    var applicationName = _location.substring(0, applicationNameIndex) + '/';
                    var webFolderIndex = _location.indexOf('/', _location.indexOf(applicationName) + applicationName.length);
                    var webFolderFullPath = _location.substring(0, webFolderIndex).toString().replace('/CPAIMVC', '');
                    return webFolderFullPath;
                }

                // CONFIRMATION BEFORE SAVE //
                function OpenBoxBungerPrompt(MSG, Event) {
                    // SAVE FILE SUPPORTING DOCUMENT //
                    SaveFileSupportingDocument();

                    // CASE: SUBMIT
                    if (Event.toUpperCase() == "SAVE") {

                        var i = 0;
                        i += ValidateEssential();
                        i += inputsHaveDuplicateValuesCreate();
                        console.log(i);
                        if (i==0) {
                            bootbox.confirm({
                                message: "Are you sure to save?",
                                buttons: {
                                    confirm: {
                                        label: 'Yes',
                                    },
                                    cancel: {
                                        label: 'No',
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        $('form').attr('target', '_self');
                                        $("#btnSubmit").click();
                                        LoadingProcess();
                                    }
                                }
                            });
                        }
                    }
                }

                // SAVE ITEM: FILE SUPPORTING DOCUMENT //
                function SaveFileSupportingDocument() {
                    $('#fileSupportingDocument').val('');
                    var supportingDocument = "";
                    $('.uploadifyQueue').each(function () {
                        $(this).find('.SupportingDocument').each(function () {
                            var supportingDocumentType = $(this).closest('tr').find('.SupportingDocumentType').val();
                            supportingDocument += $(this).attr('value') + ":" + supportingDocumentType + "#";
                        });
                        $(this).find('#Data tr').each(function () {
                            $(this).find('[id*="crudeName"]').each(function(){
                                var crudename_id = $(this).attr("id");
                                var cuntry_id = crudename_id.replace("crudeName","country");
                                supportingDocument += $("#" + crudename_id + " option:selected").text() + "&";
                                supportingDocument += $("#" + cuntry_id).val() + "!";
                            });
                        });
                        supportingDocument += "|";
                    });
                    $('#fileSupportingDocument').val(supportingDocument);
                }

                function inputsHaveDuplicateValuesCreate() {
                    var index = 0;
                    $('.uploadifyQueue').each(function () {
                        var data = [];
                        $(this).find('#Data tr').each(function () {
                            $(this).find('[id*="crudeName"]').each(function () {
                                var crudename_id = $(this).attr("id");
                                var cuntry_id = crudename_id.replace("crudeName", "country");
                                data.push({ CrudeNameSameValue: $("#" + crudename_id).val(), CuntrySameValue: $("#" + cuntry_id).val(), crudename_id: crudename_id, cuntry_id: cuntry_id });
                            });
                        });

                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < data.length; j++) {
                                if (i == j) {
                                    continue;
                                }
                                if (data[i].CrudeNameSameValue == data[j].CrudeNameSameValue && data[i].CuntrySameValue == data[j].CuntrySameValue) {
                                    addValidMessageError($("#" + data[j].crudename_id), "Please input Value.");
                                    addValidMessageError($("#" + data[j].cuntry_id), "Please input Value.");
                                    index++;
                                }
                            }
                        }
                    });
                    return index;
                }

                // LOAD ITEM: FILE SUPPORTING DOCUMENT //
                function LoadFileSupportingDocument() {
                    if ($('#fileSupportingDocument').val()) {
                        var ItemFile = $('#fileSupportingDocument').val().split("|");
                        for (var i = 0; i < ItemFile.length; i++) {
                            if (ItemFile[i] != "") {
                                var splitVal = ItemFile[i].split(":");
                                $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(splitVal[0], splitVal[1]));
                            }
                        }
                        DeleteFileSupportingDocument();
                    }
                }

                var doc_count = 0;
                // MAKE ITEM: FILE SUPPORTING DOCUMENT //
                function MakeUploadFileSupportingDocument(filePath, fileType) {
                    var i = 0, length = filePath.length;
                    var tmpFilePath = filePath;
                    for (i; i < length; i++) {
                        tmpFilePath = tmpFilePath.replace("/", "|").replace("\\", "|")
                    }
                    var fullFileName = tmpFilePath.split("|");
                    var fileName = fullFileName[fullFileName.length - 1];
                    var itemFileSupportingDocument = '<div class="row" >';
                    itemFileSupportingDocument += '<div class="col-md-12">';
                    itemFileSupportingDocument += '<div class="form-group">';
                    itemFileSupportingDocument += '<div id=\"' + filePath + '\" class=\"uploadifyQueue\" >';
                    itemFileSupportingDocument += '<table><tr><td>';
                    itemFileSupportingDocument += '<div class=\"uploadifyQueueItem SupportingDocument\" value=\"' + filePath + '\"  style="margin-right:20px;">';
                    itemFileSupportingDocument += '<div class="cancel">';
                    itemFileSupportingDocument += '<span class="glyphicon glyphicon-remove "></span>';
                    itemFileSupportingDocument += '</div>';
                    itemFileSupportingDocument += '<a target="_blank" href="' + getWebSitePath() + "/" + filePath + '">' + fileName + '</a>';
                    itemFileSupportingDocument += '</div>';
                    itemFileSupportingDocument += '</td><td>';
                    itemFileSupportingDocument += '<select class="form-control SupportingDocumentType" id="SupportingDocumentType_' + doc_count + '" name="SupportingDocumentType" >';
                    @foreach (var option in Model.ddlFileType)
                    {
                        @:optionType = "@option.Value";
                        @:if(optionType == fileType) { itemFileSupportingDocument += '<option selected="selected" value="@option.Value">@option.Text</option>'; } else{ itemFileSupportingDocument += '<option value="@option.Value">@option.Text</option>'; }
                    }
                    itemFileSupportingDocument += '</select>';
                    itemFileSupportingDocument += '</td><tr><table>';
                    itemFileSupportingDocument += '</div></div></div>';
                    itemFileSupportingDocument += '<br />';
                    itemFileSupportingDocument += '<div class="row">';
                    itemFileSupportingDocument += '<div class="col-md-6">';
                    itemFileSupportingDocument += '<table class="table">';
                    itemFileSupportingDocument += '<thead>';
                    itemFileSupportingDocument += '<tr>';
                    itemFileSupportingDocument += '<th class="col-md-5">Crude Name</th>';
                    itemFileSupportingDocument += '<th class="col-md-5">Country</th>';
                    itemFileSupportingDocument += '<th class="col-md-2">Action</th>';
                    itemFileSupportingDocument += '</tr>';
                    itemFileSupportingDocument += '</thead>';
                    itemFileSupportingDocument += '<tbody id="Data">';
                    itemFileSupportingDocument += '<tr>';
                    itemFileSupportingDocument += '<td class="col-md-5">';
                    itemFileSupportingDocument += '<div>';
                    itemFileSupportingDocument+= '<select class="form-control essential" id="crudeName0" name="crudeName0" class="crudeName" onchange="GetCountry(0);"><option value="0" selected >-- Select --</option>' +
                    @foreach (var option in Model.ddlCrudeName)
                    {
                        @:'<option value="@option.Value">@option.Text</option>' +
                    }
                    + '</select>';
                    itemFileSupportingDocument += '</div>';
                    itemFileSupportingDocument += '</td>';
                    itemFileSupportingDocument += '<td class="col-md-5">';
                    itemFileSupportingDocument += '<div>';
                    itemFileSupportingDocument+= '<select class="form-control essential" id="country0" name="country0" class="country" ><option value="0" selected >-- Select --</option></select>';
                    itemFileSupportingDocument += '</div>';
                    itemFileSupportingDocument += '</td>';
                    itemFileSupportingDocument += '<td class="col-md-2">';
                    itemFileSupportingDocument += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-add-member.png" onclick="addData(this); return false;" />';
                    itemFileSupportingDocument += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-delete.png" onclick="delData(this); return false;" />';
                    itemFileSupportingDocument += '</td>';
                    itemFileSupportingDocument += '</tr>';
                    itemFileSupportingDocument += '</tbody>';
                    itemFileSupportingDocument += '</table>';
                    itemFileSupportingDocument += '</div>';
                    itemFileSupportingDocument += '</div>';
                    return itemFileSupportingDocument;
                }

                // DELETE ITEM: FILE SUPPORTING DOCUMENT //
                function DeleteFileSupportingDocument() {
                    $('.glyphicon-remove').click(function () {
                        $(this).parent().parent().parent().parent().parent().parent().parent().remove();
                        DataReIndex();
                    });
                }

                function DeleteAllFile(){
                    $('.uploadifyQueue').remove();
                    DataReIndex();
                }

                // UPLOAD FILE SUPPORTING DOCUMENT //
                function UploadFileSupportingDocument() {
                    $("#fileSupportingDocumentFile").click();
                }

                $('#fileSupportingDocumentFile').change(function (e) {
                    var files = e.target.files;
                    if (files.length > 0) {
                        if (window.FormData !== undefined) {
                            for (var x = 0; x < files.length; x++) {
                                var data = new FormData();
                                data.append("file" + x, files[x]);
                                $.ajax({
                                    type: "POST",
                                    url: getWebSitePath() + "/Web/Api/UploadFileAPI.aspx?Type=CRUDE|F10000040",
                                    contentType: false,
                                    processData: false,
                                    data: data,
                                    success: function (response) {
                                        var index = response.indexOf('<!DOCTYPE html>');
                                        var json = response.substring(0, index);
                                        var data = JSON.parse(json.trim());
                                        $('#fileSupportingDocumentUploaded').append(MakeUploadFileSupportingDocument(data.file_path,''));
                                        DeleteFileSupportingDocument();
                                        DataReIndex();
                                    },
                                    error: function (event, queueID, fileObj, errorObj) {
                                        alert(errorObj.type + ' Error: ' + errorObj.info);
                                        if (fileObj.size > 4194304) { alert('File size too large.'); }
                                        else { alert('Someting wrong.'); }
                                    }
                                });
                                data = null;
                            }
                        } else {
                            alert("This browser doesn't support HTML5 file uploads!");
                        }
                    }
                    $(this).val('');
                });

                function GetCountry(i){
                    var crude_name = $("#crudeName" + i).find("option:selected").text();
                    $.ajax({
                        url: '@Url.Action("GetCountryRef", "DocumentManagement")',
                        data: { "crude" : crude_name},
                        cache: false,
                        type: "GET",
                        success: function (data) {
                            var markup = "<option value='0' selected >-- Select --</option>";
                            if (data.length < 1) {
                                $("#country" + i).attr("disabled", true);
                            } else {
                                $("#country" + i).attr("disabled", false);
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + " >" + data[x].Text + "</option>";
                                }
                                $("#country" + i).html(markup).show();
                            }
                        },
                        error: function (reponse) {
                            alert("error : " + reponse.error());
                        }
                    })
                }

                function addData(e) {
                    var current_row = $(e).closest('tr');
                    var new_row = '<tr>';
                    new_row += '<td class="col-md-5">';
                    new_row += '<div>';
                    new_row+= '<select class="form-control essential" id="crudeName0" name="crudeName0" class="country" onchange="GetCountry(0);"><option value="0" selected >-- Select --</option>' +
                    @foreach (var option in Model.ddlCrudeName)
                    {
                        @:'<option value="@option.Value">@option.Text</option>' +
                        }
                    + '</select>';
                    new_row += '</div>';
                    new_row += '</td>';
                    new_row += '<td class="col-md-5">';
                    new_row += '<div>';
                    new_row += '<select class="form-control essential" id="country0" name="country0" class="country" ><option value="0" selected >-- Select --</option> </select>';
                    new_row += '</div>';
                    new_row += '</td>';
                    new_row += '<td class="col-md-2">';
                    new_row += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-add-member.png" onclick="addData(this); return false;" />';
                    new_row += '<input type="image" class="margin_top" src="' + getWebSitePath() + '/Web/Images/btn-delete.png" onclick="delData(this); return false;" />';
                    new_row += '</td>';
                    new_row += '</tr>';
                    current_row.after(new_row);
                    DataReIndex();
                }

                function delData(e) {
                    if ($("#Data tr").length > 1) {
                        var conf = confirm("Please confirm to Delete?");
                        if (conf) {
                            $(e).parent().parent().remove();
                            DataReIndex();
                        }
                    }
                }

                function DataReIndex() {
                    var i = 0;
                    $('#Data tr').each(function () {
                        $(this).find('[id*="country"]').each(function () {
                            $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                            $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                        });
                        $(this).find('[id*="crudeName"]').each(function () {
                            $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                            $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                            if ($(this).attr("onchange") != null) {
                                $(this).attr("onchange", $(this).attr("onchange").replace(/\d+/, i));
                            };
                        });
                        i++;
                    });

                    if (i>0) {
                        $('#btnSave').removeAttr('disabled');
                    } else {
                        $('#btnSave').attr('disabled','disabled');
                    }
                }

                function ValidateEssential() {
                    RemoveValidateEssential();
                    var i = 0;
                    $(".essential").each(function() {
                        if ($.trim($(this).val()) == "0") {
                            i++;
                            addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                        }
                    });
                    return i;
                }

                function RemoveValidateEssential() {
                    $(".essential").removeClass("input-error");
                }
</script>
