﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.HedgeProductViewModel

@{
    Layout = "~/Areas/CPAIMVC/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-menu-item {
        font-size: 14px;
        font-family: 'tahoma';
    }
</style>


<div class="wrapper-detail">
    <div>
        <h1>Product</h1>
    </div>
    @using (Html.BeginForm("SaveProduct", "HedgeProduct", FormMethod.Post, new { @class = "form-horizontal", @id = "frm_SaveProduct" }))
    {
        @Html.HiddenFor(a => a.pageMode)
        @Html.HiddenFor(a => a.rowId)
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Code:</label>
                    <div class="col-md-7">
                        <div class="box-date">
                            @Html.TextBoxFor(model => model.code, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Status:</label>
                    <div class="col-md-7">
                        @if (Model.status == "INACTIVE")
                        {
                            <input type="checkbox" class="checkboxStatus" onchange="checkedStatus();" value="INACTIVE">
                        }
                        else
                        {
                            <input type="checkbox" class="checkboxStatus" id="chkActive" checked onchange="checkedStatus();" value="ACTIVE">
                        }
                        @Html.HiddenFor(model => model.status)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Name:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.name, new { @class = "form-control essential" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail3" class="col-md-3 control-label">Full Name:</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.fullName, new { @class = "form-control essential" })
                    </div>
                </div>
            </div>         
        </div>

        <A HREF="javascript:history.go(0)">Click to refresh the page</A>

        <div class="row">
            <div class="form-group">
                <div class="col-md-11">
                    <label for="inputEmail3" class="col-md-1 control-label">Description:</label>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.description, htmlAttributes: new { @class = "form-control", @rows = "5", @maxlength = "200" })
                    </div>
                </div>
            </div>
        </div>

        <h2>Mapping Market Price</h2>
        <div id="divMappingMarket">
            @if (Model.MappingMarketPriceList == null)
            {
                    <div class="col-md-12" style="overflow-x: scroll;">
                        <div>
                            <table class="table table-bordered" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th rowspan="2">No.</th>
                                        <th colspan="4">Mapping Actual</th>
                                        <th colspan="2" style="display:none">Mapping Forward</th>
                                        <th colspan="2">Product</th>
                                        <th rowspan="2">CF($BBL)</th>
                                        <th rowspan="2">Show</th>
                                        <th rowspan="2">Delete</th>
                                    </tr>
                                    <tr>
                                        <th>First price(Settle)</th>
                                        <th>Unit</th>
                                        <th>Second price(MTM)</th>
                                        <th>Unit</th>
                                        <th style="display:none"></th>
                                        <th style="display:none">Unit</th>
                                        <th>Display Name</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="waiting">
                                        <td colspan="12">Waiting for Add DLK MKT</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            }
            else
            {
                <div class="col-lg-12 col-md-12 col-xs-12" id="divPartial">
                    @Html.Partial("_MappingMarketPrice", Model)
                </div>
            }

                </div>

        <div class="row">
            <div class="col-md-6">
                <input id="btnaddDLYMKT" type="button" value="ADD DLY MKT" class="btn btn-success" onclick="addDLYMKT(); return false;" />
            </div>
            <div class="col-md-6">
                <input id="addFRWMKT" type="button" value="ADD FRW MKT" class="btn btn-primary pull-right" onclick="addForward(); return false;" />
            </div>
        </div>
        <div class="wrapper-button" id="buttonDiv">
            <input id="btnSave" type="submit" value="SAVE" class="btn btn-default" name="action:Submit" onclick="OpenBoxBungerPrompt('Comment :', 'Submit'); return false;" />
            <input type="submit" value="SUBMIT" id="btnSubmit" style="display: none;" name="action:Submit" />
            @Html.ActionLink("BACK", "Search", new { controller = "HedgeProduct" }, htmlAttributes: new { @class = "btn btn-default" })      
        </div>
    }

</div>


<div class="modal fade" id="AddMarketPopup" tabindex="-1" role="dialog" data-url='@Url.Action("SearchAddMarket","HedgeProduct")'>
    <div class="modal-dialog" role="document" style="width:80%; height:550px; text-align:center">
        <div class="modal-content" style="height:550px;overflow:scroll;overflow-x:hidden;">
            <div class="modal-header">
                <h1>Search Market Data</h1>
            </div>
            <div class="modal-body " id="modal_detail">

            </div>
            <div class="modal-footer">
                <input type="button" value="OK" class="btn btn-success" id="addselectdeal" name="OK" onclick="AddMarket()" />
                <input type="button" value="Close" class="btn btn-default" id="CloseMarket" name="CloseMarket" onclick="CloseMarket()" />
            </div>
        </div>
    </div>
</div>

<script>
    var table;
    $(function () {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
        // $('#addFRWMKT').prop('disabled', true);
        if('@Model.pageMode' == "NEW")
        {
            $('#status').val("ACTIVE");
        }

        if ('@Model.pageMode' == "VIEW") {
            $('#btnSave').prop('disabled', true);
            $('#chkActive').prop('disabled', true);
            $('#name').prop('disabled', true);
            $('#fullName').prop('disabled', true);
            $('#description').prop('disabled', true);
            $('#btnaddDLYMKT').prop('disabled', true);
            $('#addFRWMKT').prop('disabled', true);
        }

    });

    function checkedStatus() {
        if ($("#chkActive").is("checked")) {
            $('#status').val("ACTIVE");
        } else {
            $('#status').val("INACTIVE");
        }
    };

    function addDLYMKT() {
        var addDLYMKTData = $('#frm_SaveProduct').serialize();
        $.ajax({
            url: '@Url.Action("AddDLYMKT", "HedgeProduct")',
            data: addDLYMKTData,
            type: 'POST',
            success: function (data) {
                $('#modal_detail').html(data);
                $('#AddMarketPopup').modal({ backdrop: 'static', keyboard: false });
                $('#AddMarketPopup').modal('show');
            }
        });
    };

    function AddMarket() {

        var rowcollection =  table.$("[name='checklist']:checked", {"page": "all"});
        var a = "";
        rowcollection.each(function(index,elem){
            a += $.trim($(elem).val()) + ","; 
        });

        $("#SelectedProduct").val(a);
        var addDLYMKTData = $('#frm_AddMarket').serialize();
        var urlSearch = "@Html.Raw( @Url.Action("AddMarketPrice", "HedgeProduct"))";
        $.ajax({
            data: addDLYMKTData,
            url: urlSearch,
            type: 'POST',
            success: function (data) {
                $('#divMappingMarket').html(data);
                $('#')
            }
        });
        $('#AddMarketPopup').modal('hide');

    }

    function CloseMarket() {
        $('#AddMarketPopup').modal('hide');
    };

    function addForward() {
        //extend table length.
        $("#MappingMarketPriceGrid").css("width", "+=200");
        //generate head table.
        var roundNo = ($("#tblMappingMarketPrice tr:nth-child(2) th").length - 6) / 2;
        $("#tblMappingMarketPrice tr:first th:nth-child(3)").attr("colspan", (roundNo + 1) * 2);
        $("#tblMappingMarketPrice tr:nth-child(2) th:nth-last-child(3) input").replaceWith('');
        $("#tblMappingMarketPrice tr:nth-child(2) th:nth-last-child(3)").after('<th width="500px"><input class="form-control" id="MappingMarketPriceList_0__MappingForwardList_' + roundNo + '__Name" name="MappingMarketPriceList[0].MappingForwardList[' + roundNo + '].Name" type="text" value=""></th><th width="220px">Unit <input type="image" src="../../Web/Images/icon-delete.gif" onclick="delForward(); return false;"></th>');
        var test = ($("#tblMappingMarketPrice tr:nth-child(2) th").length - 6) / 2;
        $('.DataTable').each(function () {
            var count = $(this).attr("id").match(/\d+/);
            var item = '<td><input class="form-control" id="MappingMarketPriceList_' + count + '__MappingForwardList_' + roundNo + '__ProductName" name="MappingMarketPriceList[' + count + '].MappingForwardList[' + roundNo + '].ProductName" onchange="funChangeTextNewFW(' + count + ',' + roundNo + ');" type="text" value=""><input id="MappingMarketPriceList_' + count + '__MappingForwardList_' + roundNo + '__ProductId" name="MappingMarketPriceList[' + count + '].MappingForwardList[' + roundNo + '].ProductId" type="hidden" value=""></td><td><input readonly="true" class="form-control" id="MappingMarketPriceList_' + count + '__MappingForwardList_' + roundNo + '__Unit" name="MappingMarketPriceList[' + count + '].MappingForwardList[' + roundNo + '].Unit" type="text" value=""></td>';
            $(this).find("td:nth-last-child(6)").after(item);
            $("#MappingMarketPriceList_" + count + "__MappingForwardList_" + roundNo + "__ProductName").autocomplete({
                source: '@Url.Action("Autocomplete", "HedgeProduct")'
            });
            count++;
        });
    };


    function OpenBoxBungerPrompt(MSG, Event) {
        if (Event.toUpperCase() == "SUBMIT") {
            if (!ValidateBeforeSave())
                return false;
            bootbox.confirm({
                message: "Are you sure to submit?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No',
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('form').attr('target', '_self');
                        $("#btnSubmit").click();
                        LoadingProcess();
                    }
                }
            });
        }
    };

    function ValidateBeforeSave() {
        RemoveValidateEssential();
        var i = 0;
        $(".essential").each(function () {
            if ($.trim($(this).val()) == "" && document.getElementById($(this).attr("id")).disabled != true) {
                i++;
                addValidMessageError($("#" + $(this).attr("id")), "Please input Value.");
                $("#"+ $(this).attr("id")).focus();
            }
        });

        if (i > 0)
        {
            return false;
        }
        return true;
    };

    function RemoveValidateEssential() {
        $(".essential").removeClass("input-error");
    }
    function delForward() {
        var roundNo = ($("#tblMappingMarketPrice tr:nth-child(2) th").length - 6) / 2;
        $("#tblMappingMarketPrice tr:first th:nth-child(3)").attr("colspan", (roundNo - 1) * 2);
        $("#tblMappingMarketPrice tr:nth-child(2) th:nth-last-child(3)").remove();
        $("#tblMappingMarketPrice tr:nth-child(2) th:nth-last-child(3)").remove();

        $('.DataTable').each(function () {
            $(this).find("td:nth-last-child(6)").remove();
            $(this).find("td:nth-last-child(6)").remove();
        });

        if ((roundNo - 1) > 1) {
            $("#tblMappingMarketPrice tr:nth-child(2) th:nth-last-child(3)").append('<input type="image" src="../../Web/Images/icon-delete.gif" onclick="delForward(); return false;">');
            $('#MappingMarketPriceGrid').css('width', '-=200');
        } else {
            $('#MappingMarketPriceGrid').css('width', '-=200');
        }
    }

    function delRowMapping(row)
    {
        $("#MappingMarketPriceList_" + row + "__Delete").val("TRUE");
        //$("#tblData_" + row).hide();
        var deleteDLYMKTData = $('#frm_SaveProduct').serialize();
        var urlSearch = "@Html.Raw( @Url.Action("DeleteMarketPrice", "HedgeProduct"))";
        $.ajax({
            data: deleteDLYMKTData,
            url: urlSearch,
            type: 'POST',
            success: function (data) {
                //  $('#addFRWMKT').prop('disabled', false);
                $('#divMappingMarket').html(data);
            }
        });
    }

    function funChangeTextNewFW(count,roundNo)
    {
        var mmmPRODUCT = @Html.Raw(Json.Encode((Model.MMMPRODUCT_List).Select(a => new { Id = a.Id, Name = a.Name, MarketId = a.MKT_MST_MOPS_MARKET_ID, Unit = a.Unit })));
        var nameProduct = $("#MappingMarketPriceList_"+ count +"__MappingForwardList_"+roundNo+"__ProductName").val();
        for(var i=0;i<'@Model.MMMPRODUCT_List.Count';i++)
        {
            if(mmmPRODUCT[i].Name == nameProduct)
            {
                $("#MappingMarketPriceList_"+ count +"__MappingForwardList_"+roundNo+"__Unit").val(mmmPRODUCT[i].Unit);
                $("#MappingMarketPriceList_"+count+"__MappingForwardList_"+roundNo+"__ProductId").val(mmmPRODUCT[i].Id);
            }
        }
    }

</script>