﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.SOClearLineViewModel
@{
    ViewBag.Title = "Search";

    var page_title = "Search Clear Line Transaction";
}

<div class="page-header">
    <h3>@page_title</h3>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-md-1 control-label">Trip No.</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.SOClearLine_Search.sTripNo, new { @class = "form-control", @id = "txtTripNo" })                    
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label">Vessel Name</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.SOClearLine_Search.sVesselName, new SelectList(Model.ddl_Vessel, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlVessel" })
                </div>
            </div>
            <div>
                <label class="col-md-1 control-label">Delivery Date</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SOClearLine_Search.sDeliveryDate, new { @id = "txtDeliveryDate", @class = "form-control input-date-picker date-range-start ", @placeholder = "DD/MM/YYYY to DD/MM/YYYY", @maxlength = "24", @Style = "width:230px" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div>
                <label class="col-sm-4 col-md-1 control-label">Crude</label>
                <div class="col-sm-8 col-md-2">
                    @Html.DropDownListFor(model => model.SOClearLine_Search.sCrude, new SelectList(Model.ddl_Crude, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCrude" })
                </div>
            </div>
            <div>
                <label class="col-sm-4 col-md-1 control-label">Customer</label>
                <div class="col-sm-8 col-md-2">
                    @Html.DropDownListFor(model => model.SOClearLine_Search.sCustomer, new SelectList(Model.ddl_Customer, "Value", "Text"), "-- Select --", new { @class = "form-control", @id = "ddlCustomer" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="padding-top:10px">
        <div style="text-align:center">            
            <button type="submit" class="btn btn-primary" name="action:Search">Search</button>
            <button type="button" class="btn btn-primary" onclick="clearSearch()"  name="">Clear</button>
        </div>
    </div>

    <div class="page-header">
        <h3>Create Sales Order</h3>
    </div>

    <div class="row" style="overflow-x:scroll;overflow-y:scroll;">
        <table id="searchResultTable" class="table table-hover display" cellspacing="0" >
            <thead>
                <tr>
                    <th style="width:160px"></th>
                    <th style="width:270px;text-align:center">Trip No.</th>
                    <th style="width:300px;text-align:center">Customer</th>
                    <th style="width:200px;text-align:center">Delivery Date</th>
                    <th style="width:100px;text-align:center">Plant</th>
                    <th style="width:220px;text-align:center">Product</th>
                    <th style="width:200px;text-align:center">Volume (BBL)</th>
                    <th style="width:200px;text-align:center">Volume (MT)</th>
                    <th style="width:200px;text-align:center">Volume (Litres)</th>
                    <th style="width:200px;text-align:center">Price</th>
                    <th style="width:200px;text-align:center">Amount</th>
                    <th style="width:200px;text-align:center">US4</th>
                    <th style="width:200px;text-align:center">PO No.</th>
                    <th style="width:200px;text-align:center">Exchange Rate</th>
                    <th style="width:280px;text-align:center">Sale Order</th>
                    <th style="width:200px;text-align:center">MEMO No.</th>
                    <th style="width:160px;text-align:center">DO</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SOClearLine_Search.SearchData != null)
                {
                    if (Model.SOClearLine_Search.SearchData.Count() > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.SOClearLine_Search.SearchData)
                        {
                            <tr>
                                <td >                                    
                                    @*@Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dTripNo, "Create S/O", new { @id = "CreateSO" + @i, @Style = "width:80px;text-decoration:underline;", @OnClick = "createSO('" + @item.dTripNo + "','" + i + "')" })*@

                                    <input type="button" id="CreateSOClearLine"@item.dTripNo value="CreateSO" onclick="createSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;" >

                                    @*@Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dTripNo, "Update S/O", new { @id = "UpdateSO" + @i, @Style = "width:80px;text-decoration:underline;", @OnClick = "updateSO('" + @item.dTripNo + "','" + i + "')" })*@
                                    <input type="button" id="UpdateSOClearLine"@item.dTripNo value="UpdateSO" onclick="updateSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;" >

                                    @*@Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dTripNo, "Cancel S/O", new { @id = "CancelSO" + @i, @Style = "width:80px;text-decoration:underline;", @OnClick = "cancelSO('" + @item.dTripNo + "','" + i + "')" })*@
                                    <input type="button" id="CancelSOClearLine" @item.dTripNo value="CancelSO" onclick="cancelSO('@item.dTripNo','@i')" style="background: transparent; border-style: none;text-decoration: underline; color: blue; padding-bottom: 10px;">

                                    @Html.HiddenFor(m => m.selectedTripNo, new { @id = "hSelectedTripNo" + @i }) 
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dSaleUnitType)
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dInvoiceFigureType)                                   
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dTripNo, item.dTripNo, new { @id = "TripNo" + @i, @Style = "width:130px;" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dTripNo, new { @id = "hTripNo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dCustomer, item.dCustomer, new { @id = "Customer" + @i, @Style = "width:200px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dCustomer, new { @id = "hCustomer" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dDeliveryDate, item.dDeliveryDate, new { @id = "DeliveryDate" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dDeliveryDate, new { @id = "hDeliveryDate" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dPlant, item.dPlant, new { @id = "Plant" + @i, @Style = "width:60px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dPlant, new { @id = "hPlant" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dProduct, item.dProduct, new { @id = "Product" + @i, @Style = "width:130px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dProduct, new { @id = "hProduct" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dVolumeBBL, item.dVolumeBBL, new { @id = "VolumeBBL" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dVolumeBBL, new { @id = "hVolumeBBL" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dVolumeMT, item.dVolumeMT, new { @id = "VolumeMT" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dVolumeMT, new { @id = "hVolumeMT" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dVolumeLitres, item.dVolumeLitres, new { @id = "VolumeLitres" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dVolumeLitres, new { @id = "hVolumeLitres" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dPrice, item.dPrice, new { @id = "Price" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dPrice, new { @id = "hPrice" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dAmount, item.dAmount, new { @id = "Amount" + @i, @Style = "width:150px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dAmount, new { @id = "hAmount" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dUS4, item.dUS4, new { @id = "US4" + @i, @Style = "width:50px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dUS4, new { @id = "hUS4" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dPONo, item.dPONo, new { @id = "PONo" + @i, @Style = "width:120px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dPONo, new { @id = "hPONo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dExchangeRate, item.dExchangeRate, new { @id = "ExchangeRate" + @i, @Style = "width:80px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dExchangeRate, new { @id = "hExchangeRate" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dSaleOrder, item.dSaleOrder, new { @id = "SaleOrder" + @i, @Style = "width:130px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dSaleOrder, new { @id = "hSaleOrder" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dMEMONo, item.dMEMONo, new { @id = "MEMONo" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dMEMONo, new { @id = "hMEMONo" + @i })
                                </td>
                                <td>
                                    @Html.LabelFor(m => m.SOClearLine_Search.SearchData[i].dDO, item.dDO, new { @id = "DO" + @i, @Style = "width:100px" })
                                    @Html.HiddenFor(m => m.SOClearLine_Search.SearchData[i].dDO, new { @id = "hDO" + @i })
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Result Popup -->
    <div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="pMsg">
                        @TempData["ReponseMessage"]
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="btnCreate" name="action:Create">Yes</button>  
                    <button type="submit" class="btn btn-default" id="btnUpdate" name="action:Update">Yes</button>  
                    <button type="submit" class="btn btn-default" id="btnCancel" name="action:Cancel">Yes</button>                 
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <input id="selectedTripNo" name="SOClearLine_Search.sTripNo_Select" type="hidden" value="">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}



<script type="text/javascript">
    $(document).ready(function () {

        $('#txtDeliveryDate').dateRangePicker({
            startOfWeek: 'monday',
            format: "DD/MM/YYYY"
        });
        
    });

    //var selectedTripNo = "";
    function createSO(TripNo, i) {
        debugger;
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').show();
        $('#btnUpdate').hide();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to create sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function updateSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').show();
        $('#btnCancel').hide();
        $('#pMsg').text('Are you sure to update sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function cancelSO(TripNo, i) {
        $('#selectedTripNo').val(TripNo);
        $('#hSelectedTripNo' + i).val(TripNo);
        $('#btnCreate').hide();
        $('#btnUpdate').hide();
        $('#btnCancel').show();
        $('#pMsg').text('Are you sure to cancel sale order in SAP? ');

        $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
        $('#resultPopup').modal('show');
    }

    function getAutoCompleteJSON(ctrlID) {

        var dataTemp = "";
        if (ctrlID == "txt_sVessel") {
            dataTemp = $("#hid_sVessel").val();
        }
        else if (ctrlID == "txt_sCrude") {
            dataTemp = $("#hid_sCrude").val();
        }
        else if (ctrlID == "txt_sCustomer") {
            dataTemp = $("#hid_sCustomer").val();
        }
        else if (ctrlID == "") {
            dataTemp = '[{"value":"Test"}]';
        }

        var availableData = JSON.parse(dataTemp);

        //alert(availableData.length);

        //alert($(".companyCodeJsonData").val());
        $("#" + ctrlID).autocomplete({

            source: function (request, response) {
                //debugger;
                var results = $.ui.autocomplete.filter(availableData, request.term);
                response(results.slice(0, 10));

                //var re = $.ui.autocomplete.escapeRegex(request.term);
                //var matcher = new RegExp("^" + re, "i");
                //response($.grep(($.map(availableData, function (v, i) {
                //    return {
                //        label: v.value,
                //        value: v.value
                //    };

                //})), function (item) {
                //    return matcher.test(item.value);
                //}))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function clearSearch() {
        $('#txtTripNo').val('');
        $('#txtTripNo').text('');
        //$('#txt_sVessel').val('');
        //$('#txt_sVessel').text('');
        $('#txtDeliveryDate').val('');
        $('#txtDeliveryDate').text('');
        //$('#txt_sCustomer').val('');
        //$('#txt_sCustomer').text('');
        $('#ddlVessel').val('').change();
        $('#ddlCrude').val('').change();
        $('#ddlCustomer').val('').change();
        $('#searchResultTable tbody').empty();
    }

</script>


