.tab-month {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 12px 0px 2px 10px;
}
.tab-month h4 {
	display: inline-block;
	font-family: 'HelvethaicaX-45Li';
	font-size: 32px;
	color: #252525;
	margin: 0;
}
.tab-month .borderright {
	display: inline-block;
	margin: 0 20px;
    height: 18px;
	border-right: 1px solid #d5d5d5;
}
.tab-month .data-month {
	display: inline-block;
	font-family: 'HelvethaicaX75Bd';
	font-size: 34px;
	color: #0a7ab1;
	margin-right: 20px;
	line-height: 1;
}
.tab-month .btn-prevmonth, .tab-month .btn-nextmonth {
	position: relative;
	display: inline-block;
	top: 5px;
	width: 34px;
	height: 29px;
	cursor: pointer;
}
.tab-month .btn-prevmonth {
	background-image: url(../images/btn-prev-month.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tab-month .btn-nextmonth {
	background-image: url(../images/btn-next-month.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.tab-month .btn-prevmonth:hover {
	background-image: url(../images/btn-prev-month-hover.png);
}
.tab-month .btn-nextmonth:hover {
	background-image: url(../images/btn-next-month-hover.png);
}
.tab-month #select-date {
	display: inline-block;
	
	width: 265px;
	height: 29px;
	margin-top: 10px;
	background-image: url(../images/arrow-dropdown.png);
	background-repeat: no-repeat;
	background-position: 245px center;
}

.tab-month .btn-search {
	display: inline-block;

	top: 5px;
	width: 30px;
	height: 30px;
    margin-top: 10px;
	cursor: pointer;
    position: relative;
}


 .tab-month .select-vessel{
            margin-top: 10px;
            font-family: 'HelvethaicaX75Bd';
            font-size: 14px;
            display: inline-block;
            
}



.chart {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 0px;
	padding-left: 5px;
}
.chart h3 {
	position: absolute;
	left: 10px;
	font-family: 'HelvethaicaMonX-65Med';
	font-size: 34px;
	color: #252525;
	margin-top: 10px;
}
.ganttview-hzheader-months {
	display: normal;
}
.ganttview-hzheader-days {
	margin-top: 15px;
}
.wrapper-detail {
	padding-left: 14px;
	clear: both;
}
.btn-selectdate {
	background-image: url(../images/bg/bg-date-picker.png);
	background-repeat: no-repeat;
	background-position: 222px center;
}
.days-unit {
	position: absolute;
	top: 0px;
	right: 11%;
	width: 68px;
	height: 30px;
	font-family: 'HelvethaicaX-45Li';
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #0971a5;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.hours-unit {
	position: absolute;
	top: 0px;
	right: 10%;
	width: 48px;
	height: 30px;
	font-family: 'HelvethaicaX-45Li';
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #0971a5;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.col-xs-3 {
    width: 40%;
}
.column-right .col-xs-3 {
    width: 15%;
}
.add-new-activity .column-right .col-xs-3 {
    width: 25%;
}
.add-new-activity .column-left .col-xs-3 {
    width: 29%;
}
.add-new-activity .form-group{
	margin-bottom: 19px;
}
.colortab {
	display: block;
	width: 18px;
	height: 18px;
	background-color: #c69c6d;
}
.form-control {
	/*width: 251px;*/
	width: 90%;
}
.form-horizontal{
	padding-right: 30px;
}
.inputhours {
	/*font-size: 12px;*/
	/*width: 270px;*/
}
.number-title {
	position: absolute;
	left: 0px;
	font-family: 'HelvethaicaX75Bd';
	font-size: 48px;
	font-style: italic;
	width: 74px;
	height: 74px;
	line-height: 74px;
	border-radius: 74px;
	text-align: center;
	padding-right: 5px;
	color: #333333;
	background-color: #e5e5e5;
}
.number-title.blank{
	background-color: transparent;
}
.add-new-activity .col-xs-6 {
	position: relative;
}
.add-new-activity .control-label{
	padding-left: 100px;
}
.add-new-activity .form-control{
	margin-bottom: 15px;
}
.wrapper-button .col-xs-6 {
	float: none;
	display: block;
	margin: 0 auto;
}
.main-content .main-content-area .wrapper-detail .title{
	padding: 15px 0 0;
	margin: 0 0 15px;
}
.form-control[disabled], fieldset[disabled] .form-control {
	/*font-family: 'HelvethaicaX-45Li';*/
	font-size: 13px;
}
.btn-addmore {
	float: left;
	font-family: 'HelvethaicaMonX-65Med';
	font-size: 20px;
	color: #e21789;
}
.btn-addmore a {
	color: #e21789;
	text-decoration: none;
}
.btn-addmore img {
	margin-right: 10px;
}
.tooltip {
	z-index: 899;
}
#Jul11 {
	background-color: #0a7ab1;
	color: #fff;
}