﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.VesselActivityViewModel
@{
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    if (actionName == "CREATE")
    {
        ViewBag.Title = "Add Vessel Activity";
    }
    else if (actionName == "EDIT")
    {
        ViewBag.Title = "Edit Vessel Activity";
    }
}
<style type="text/css">
    .full-spectrum .sp-palette {
        max-width: 200px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
</style>

@if (TempData["ReponseStatus"] != null)
{
    <script>
        $(document).ready(function () {
            $('#resultPopup').modal({ backdrop: 'static', keyboard: false });
            $('#resultPopup').modal('show');
        });
    </script>
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("", "", FormMethod.Post, new Dictionary<string, object>
{ { "role","form" }, { "class","form-horizontal"}, { "data-toggle", "validator" }, { "id","createForm" } }))
{

    <div class="row">
        <div class="col-md-12">
           
            <div class="form-group">
                <label class="control-label col-sm-2">VA ID:</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Detail.VARowID, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">VA CODE :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Detail.VACode, htmlAttributes: new { @class = "form-control tagsCode", @required = "required", @onfocus = "getCodeJSON()", @autocomplete = "off" })
                    @Html.HiddenFor(model => model.mva_CodeJSON, htmlAttributes: new { @id = "CodeJSON" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">STD PHRASE EN :<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.mva_Detail.VAStdPhraseEN, htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
               
            </div>
            <div class="form-group">
                
                <label class="control-label col-sm-2">STD PHRASE TH :<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.mva_Detail.VAStdPhraseTH, htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">VA KEY :<span style="color:red">*</span></label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Detail.VAKey, htmlAttributes: new { @class = "form-control tagsKey", @required = "required", @onfocus = "getKeyJSON()", @autocomplete = "off" })
                    @Html.HiddenFor(model => model.mva_KeyJSON, htmlAttributes: new { @id = "KeyJSON" })
                </div>
                <label class="control-label col-sm-2">STD TIME :</label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.mva_Detail.VAStdTime, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">MIN USE :</label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.mva_Detail.VAMinUseFlag, new { @id = "checkboxStatusMinUse", @class = "checkboxFlag" })
                </div>
                <label class="control-label col-sm-2">REF :</label>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(model => model.mva_Detail.VARefFlag, new { @id = "checkboxStatusRef", @class = "checkboxFlag" })
                </div>
            </div>
                                    <script>
                                            $(function () {
                                                checkboxFlagToogle();
                                            });
                                           
                                    </script>

            <div class="form-group">
                <label class="control-label col-sm-2">CONTROLLER :<span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <script>
                        var count = 0;
                        var id = 0;
                        var rowNo = 1;
                    </script>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Type.</th>
                                <th>Color.</th>
                                <th>Status.</th>
                                <th>Action.</th>

                            </tr>
                        </thead>
                        <tbody id="systemArr">
                            @Html.HiddenFor(model => model.mva_SystemJSON, htmlAttributes: new { @id = "SystemJSON" })
                            @Html.HiddenFor(model => model.mva_TypeJSON, htmlAttributes: new { @id = "TypeJSON" })
                            @for (int i = 0; i < Model.mva_Detail.Control.Count; i++)
                            {
                                var s = "checkboxStatus" + i;
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.mva_Detail.Control[i].VACSystem, htmlAttributes: new { @class = "form-control tagsSystem", @required = "required", @onfocus = "getSystemJSON()", @autocomplete = "off", @maxlength = "32" })
                                    </td>
                                    <td>@Html.TextBoxFor(model => model.mva_Detail.Control[i].VACType, htmlAttributes: new { @class = "form-control tagsType", @required = "required", @onfocus = "getTypeJSON()", @autocomplete = "off", @maxlength = "4" })</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.mva_Detail.Control[i].VACColor, new SelectList(Model.ddl_Color, "Value", "Text", 1), new { @class = "colorpicker-picker-option-selected colorPi" + @i, @required = "required" })
                                        @Html.HiddenFor(model => model.mva_Detail.Control[i].VACColor, htmlAttributes: new { @id = "colorPi" + @i })
                                        @if (Model.mva_Detail.Control[i].VACColor != "" && Model.mva_Detail.Control[i].VACColor != null)
                                        {
                                            <script>
                                                function setDefaultColorPickerField(color, id) {
                                                    $('.colorpicker-picker-option-selected').simplecolorpicker({ picker: true, theme: 'glyphicons' });
                                                    $('.colorPi'+@i).simplecolorpicker('selectColor', color);
                                                }
                                                setDefaultColorPickerField($('#colorPi'+@i+'').val(), @i);
                                            </script>
                                        }

                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.mva_Detail.Control[i].VACRowID)

                                        @if (Model.mva_Detail.Control[i].VACStatus == "ACTIVE")
                                        {

                                            <input type="checkbox" class="checkboxStatus" id="@s" checked onchange="checkedStatus(@i);">
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="checkboxStatus" id="@s" onchange="checkedStatus(@i);">
                                        }
                                        @Html.TextBoxFor(model => model.mva_Detail.Control[i].VACStatus, "", htmlAttributes: new { @hidden = "hidden", @required = "required" })
                                    </td>
                                    <td>
                                        <script>
                                            $(function () {
                                                setColorPickerField();
                                                checkboxToogle();
                                            });
                                            count++
                                        </script>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a class="btn btn-default addCF" href="javascript:void(0);" role="button">Add</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary actionButton">SAVE</button>
                        <button type="reset" class="btn btn-default actionButton">CLEAR</button>
                        @Html.ActionLink("BACK", "Search", new { controller = "VesselActivity" }, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (actionName == "VIEWDETAIL")
{
    <script>
        $("input").attr("readonly", true);
        $("select").attr("disabled", true);
        $('textarea').attr("readonly", true);
        $('input[type="checkbox"]').attr("disabled", true);
        $('.actionButton').hide();
        $('tfoot').hide();
    </script>
}

<!-- Result Popup -->
<div class="modal fade" id="resultPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>
                    @TempData["ReponseMessage"]
                </p>
            </div>
            <div class="modal-footer">
                @if (TempData["ReponseStatus"] != null && TempData["ReponseStatus"].ToString().ToUpper() == "FALSE")
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                }
                else
                {
                    if (actionName.ToUpper() == "EDIT" || actionName.ToUpper() == "CREATE")
                    {
                        @Html.ActionLink(
                             "Close",
                             "Edit",
                             "VesselActivity", // controllerName
                             new
                             {                                                     // routeValues
                                 VARowID = Model.mva_Detail.VARowID
                             },
                             htmlAttributes: new { @class = "btn btn-default" });
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Search", new { controller = "VesselActivity" }, htmlAttributes: new { @class = "btn btn-default" })
                    }

                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    function setColorPickerField() {
        $('.colorpicker-picker-option-selected').simplecolorpicker({ picker: true, theme: 'glyphicons' });
    }

    function changecolorPicker(value, count) {
        var objHidden = document.getElementById("mva_Detail_Control_" + count + "__VACColor");
        objHidden.value = value;
    }

    function checkboxFlagToogle() {
        $(".checkboxFlag").bootstrapToggle({
            on: 'YES',
            off: 'NO'
        });
    }

    function checkboxToogle() {
        $(".checkboxStatus").bootstrapToggle({
            on: 'ACTIVE',
            off: 'INACTIVE'
        });
    }

    function ReindexController()
    {
        
        var itemIndex =0;
        $('#systemArr tr').each(function(){
            var this_row = $(this);
            this_row.find('input[name$=".VACSystem"]').attr('name','mva_Detail.Control[' + itemIndex + '].VACSystem');//replace name of input that ends the name BRANCH
            this_row.find('input[name$=".VACType"]').attr('name','mva_Detail.Control[' + itemIndex + '].VACType');
            this_row.find('input[name$=".VACColor"]').attr('name', 'mva_Detail.Control[' + itemIndex + '].VACColor');
            this_row.find('input[name$=".VACRowID"]').attr('name', 'mva_Detail.Control[' + itemIndex + '].VACRowID');
            this_row.find('input[name$=".VACStatus"]').attr('name', 'mva_Detail.Control[' + itemIndex + '].VACStatus');
            this_row.find('select[name$=".VACColor"]').attr('name', 'mva_Detail.Control[' + itemIndex + '].VACColor');
            itemIndex ++;
        });
    }

    function confirmDeletSystemRow() {
        var conf = confirm("Please confirm to Delete?");
        if(conf) {
            $("#systemArr").on('click', '.remCF', function () {
                $(this).parent().parent().remove();

                ReindexController();

                $('#createForm').validator("update");
                $('#createForm').validator("validate");
            });
        }
    }

    function checkedStatus(count) {
        if ($("#checkboxStatus" + count).prop("checked")) {
            $('#mva_Detail_Control_' + count + '__MACStatus').val("ACTIVE");
        } else {
            $('#mva_Detail_Control_' + count + '__MACStatus').val("INACTIVE");
        }
   }

    $(".addCF").click(function () {
        $("#systemArr").append('<tr>'
                    + '<td><input class="form-control tagsSystem" id="mva_Detail_Control_' + count + '__VACSystem" name="mva_Detail.Control[' + count + '].VACSystem" required="required" type="text" value="" onfocus="getSystemJSON()" autocomplete="off" /></td>'
                    + '<td><input class="form-control tagsType" id="mva_Detail_Control_' + count + '__VACType" name="mva_Detail.Control[' + count + '].VACType" required="required" type="text" onfocus="getTypeJSON()" autocomplete="off" />'
                    + '<td><input class="colorPicker" id="mva_Detail_Control_' + count + '__VACColor" name="mva_Detail.Control[' + count + '].VACColor" type="hidden" required="required" value="#8f8f8f" />'
                    + '<select name="selectColorPicker" class="colorpicker-picker-option-selected" required="required" onchange="changecolorPicker(this.value, ' + count + ')">'
                    + @foreach (var option in Model.ddl_Color)
                        {
                            @:'<option value="@option.Value">@option.Text</option>' +
                        }
                    + '</select>'
                    + '</td>'
                    + '<td>'
                    + '<input type="checkbox" class="checkboxStatus" id="checkboxStatus' + count +'" checked onchange="checkedStatus('+ count +');" >'
                    + '<input hidden="hidden" id="mva_Detail_Control_' + count + '__VACStatus" name="mva_Detail.Control[' + count + '].VACStatus" type="text" value="ACTIVE" />'
                    + '</td>'
                    + '<td><a href="javascript:void(0);" class="remCF" onclick="return confirmDeletSystemRow();"><img src="../../Web/Images/btn-delete.png" /></a>'
                    + '</td>'
                    + '</tr>');
        //$('.mva_Detail_Control_' + count + '__Color').simplecolorpicker('selectColor', "#8f8f8f");
        $('#createForm').validator("update");
        $('#createForm').validator("validate");
        rowNo++;
        setColorPickerField();
        checkboxToogle();
        count++;
        ReindexController();
    });

    function getSystemJSON() {
        var availableData = JSON.parse($("#SystemJSON").val());
        $(".tagsSystem").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");

                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.System,
                        value: v.System
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getTypeJSON() {
        var availableData = JSON.parse($("#TypeJSON").val());

        $(".tagsType").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");
                response($.grep(($.map(availableData, function (v, i) {
                    return {
                        label: v.Type,
                        value: v.Type
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getCodeJSON() {
        var availableData = JSON.parse($("#CodeJSON").val());
        $(".tagsCode").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");

                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.Value,
                        value: v.Value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    function getKeyJSON() {
        var availableData = JSON.parse($("#KeyJSON").val());
        $(".tagsKey").autocomplete({
            source: function (request, response) {
                var re = $.ui.autocomplete.escapeRegex(request.term);
                var matcher = new RegExp("^" + re, "i");

                response($.grep(($.map(availableData, function (v, i) {

                    return {
                        label: v.Value,
                        value: v.Value
                    };
                })), function (item) {
                    return matcher.test(item.value);
                }))

            },
            minLength: 0,
        }).click(function () {
            $(this).autocomplete("search");
        });
    }

    $('#createForm').validator("update");

</script>