﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.ReverseFIDocumentViewModel
@{
    ViewBag.Title = "Vat Reverse FI Document";
}


@using (Html.BeginForm("Search", "ReverseVatFIDocument", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="page-header">
        <h1>Reverse FI Document for Vat</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-sm-2">Fiscal Year:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Year, htmlAttributes: new { @class = "form-control", @required = "required" })
                </div>
                <label class="control-label col-sm-2">Company:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(model => model.ComCode, new SelectList(Model.ddl_Company, "Value", "Text"), "-- Select --", new { @class = "form-control", @Id = "ddlCompany", @required = "required" })
                    @*@Html.TextBoxFor(model => model.ComCode, htmlAttributes: new { @class = "form-control" })*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">FI Document No:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Document, new { @class = "form-control", @Id = "document", @required = "required" })
                </div>
                @*<label class="control-label col-sm-2">Type:</label>
                    <div class="col-sm-3">
                        <select id="ddlType" name="ddlType" class="form-control">
                            <option value="IPE">Intercompany Purchase Entry</option>
                            <option value="PPT">PCF Purchase Entry - Train</option>
                            <option value="PPV">PCF Purchase Entry - Vessel</option>
                        </select>
                    </div>*@
            </div>

            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="pull-right">
                </div>
            </div>
        </div>
    </div>

}


