﻿@model ProjectCPAIEngine.Areas.CPAIMVC.ViewModels.CustomVatViewModel
@{
    ViewBag.Title = "Data Confirmation for Reverse FI Document";
    bool foundResult = false;
    if (Model.CustomVat_Calc != null && Model.CustomVat_Calc.Count > 0)
    {
        foundResult = true;
    }
}

<div id="divDataConfirmation">
    @using (Html.BeginForm("Send", "ReverseVatFIDocument", FormMethod.Post, new { @class = "form-horizontal" }))
    {        
        @Html.HiddenFor(model => model.sTripNo)
        @Html.HiddenFor(model => model.sMatItemNo)
        <h1>Data Confirmation for Reverse FI Document</h1>
            <div style="overflow:auto">
                <table id="calcResultTable" class="table table-hover display" cellspacing="0">
                    <thead>
                        <tr>                            
                            <th width="60px" align="center">No.</th>
                            <th width="200px">PO No.</th>
                            <th width="400px">Crude(Supplier)</th>
                            <th width="100px">ROE</th>
                            <th width="250px">QTY(BBL)</th>
                            <th width="250px">QTY(MT)</th>
                            <th width="250px">QTY(ML)</th>
                            <th width="100px">Customs Price</th>
                            <th width="350px">FOB</th>
                            <th width="350px">FRT</th>
                            <th width="350px">CFR</th>
                            <th width="100px">INS</th>
                            <th width="400px">CIF(SUM INS)</th>
                            <th width="200px">Premium (INS + VAT 7%)</th>
                            <th width="400px">Total USD 100%</th>
                            <th width="450px">BAHT 100%</th>
                            <th width="450px">BAHT 105%</th>
                            <th width="400px">VAT 7%</th>
                            <th width="400px">Tax Base</th>
                                                        
                            @if (Model.GLAccountVAT == null)
                            {
                                <th width="350px">Correct VAT </th>
                                <th width="350px">Import Duty </th>
                                <th width="350px">Excise Tax </th>
                                <th width="350px">Municipal Tax </th>
                                <th width="350px">Oil fuel fund </th>
                                <th width="300px">Deposit of Import Duty </th>
                                <th width="300px">Deposit of Excise Tax </th>
                                <th width="300px">Deposit of Municipal Tax </th>
                                <th width="300px">Energy oil fuel fund</th>
                            }
                            else
                            {
                                if (Model.GLAccountVAT.Count() > 0)
                                {

                                    foreach (var v in Model.GLAccountVAT)
                                    {
                                        switch (v.Type.ToUpper())
                                        {
                                            case "VAT":<th width="350px">Correct VAT <font color="red">@v.GLAccount</font></th>; break;
                                            case "IMPORT_DUTY":<th width="350px">Import Duty <font color="red">@v.GLAccount</font></th>; break;
                                            case "EXCISE_TAX":<th width="350px">Excise Tax <font color="red">@v.GLAccount</font></th>; break;
                                            case "MUNICIPAL_TAX":<th width="350px">Municipal Tax <font color="red">@v.GLAccount</font></th>; break;
                                            case "OIL_FUEL_FUND":<th width="350px">Oil fuel fund <font color="red">@v.GLAccount</font></th>; break;
                                            case "DEPOSIT_OF_IMPORT_DUTY":<th width="300px">Deposit of Import Duty <font color="red">@v.GLAccount</font></th>; break;
                                            case "DEPOSIT_OF_EXCISE_TAX":<th width="300px">Deposit of Excise Tax <font color="red">@v.GLAccount</font></th>; break;
                                            case "DEPOSIT_OF_MUNICIPAL_TAX":<th width="300px">Deposit of Municipal Tax <font color="red">@v.GLAccount</font></th>; break;
                                            case "ENERY_OIL_FUEL_FUND":<th width="300px">Energy oil fuel fund <font color="red">@v.GLAccount</font></th>; break;
                                        }
                                    }
                                }
                                else
                                {
                                    <th width="350px">Correct VAT </th>
                                    <th width="350px">Import Duty </th>
                                    <th width="350px">Excise Tax </th>
                                    <th width="350px">Municipal Tax </th>
                                    <th width="350px">Oil fuel fund </th>
                                    <th width="300px">Deposit of Import Duty </th>
                                    <th width="300px">Deposit of Excise Tax </th>
                                    <th width="300px">Deposit of Municipal Tax </th>
                                    <th width="300px">Energy oil fuel fund</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CustomVat_Calc == null)
                        {
                            <tr class="waiting">
                                <td colspan="28">Waiting for search</td>
                            </tr>
                        }
                        else
                        {
                            if (Model.CustomVat_Calc.Count > 0)
                            {
                                foreach (var i in Model.CustomVat_Calc)
                                {
                                    <tr>
                                        <td>@i.No</td>
                                        <td>@i.PoNo</td>
                                        <td>@i.CrudeSupplier</td>
                                        <td>@i.ROE</td>
                                        <td>@i.QtyBBL</td>
                                        <td>@i.QtyMT</td>
                                        <td>@i.QtyML</td>
                                        <td>@i.CustomsPrice</td>
                                        <td>@i.FOB</td>
                                        <td>@i.FRT</td>
                                        <td>@i.CFR</td>
                                        <td>@i.INS</td>
                                        <td>@i.CIF</td>
                                        <td>@i.Premium</td>
                                        <td>@i.TotalUSD100</td>
                                        <td>@i.Baht100</td>
                                        <td>@i.Baht105</td>
                                        <td>@i.VAT</td>
                                        <td>@i.TaxBase</td>
                                        <td>@i.CorrectVAT</td>
                                        <td>@i.ImportDuty</td>
                                        <td>@i.ExciseTax</td>
                                        <td>@i.MunicipalTax</td>
                                        <td>@i.OilFuelFund</td>
                                        <td>@i.DepositOfImportDuty</td>
                                        <td>@i.DepositOfExciseTax</td>
                                        <td>@i.DepositOfMunicipalTax</td>
                                        <td>@i.EnergyOilFuelFund</td>                                        
                                    </tr>                                    
                                }
                                <tr role="row" >
                                    <td colspan="3" style="white-space:nowrap; text-align:center;">NET</td>
                                    <td ></td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalQtyBBL)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalQtyMT)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalQtyML)</td>
                                    <td ></td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalFOB)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalFRT)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalCFR)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalINS)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalCIF)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalPremium)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalTotalUSD100)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalBaht100)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalBaht105)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalVAT)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalTaxBase)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalCorrectVAT)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalImportDuty)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalExciseTax)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalMunicipalTax)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalOilFuelFund)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalDepositOfImportDuty)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalDepositOfExciseTax)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalDepositOfMunicipalTax)</td>
                                    <td style="white-space:nowrap; text-align:right;">@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalEnergyOilFuelFund)</td>
                                </tr>
                                <tr role="row" >
                                    <td colspan="26"></td>
                                    <td colspan="2" style="white-space:nowrap; text-align:right;" >@string.Format("{0:#,0.00}", @Model.CustomVat_Calc_Total.totalAll)</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="waiting">
                                    <td colspan="28">Data not found</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        <br />
        <div id="divButton">
            @if (foundResult)
            {
                <input type="submit" class="btn btn-primary" value="Reverse" />
            }
            <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
        </div>
    }
</div>